[2022-09-26 01:10] humphrey commented on #268
Hey, just stumbled across this thread as I was curious how getting to v1.0 was going?  As a new Strawberry user, it already feels significantly more mature and polished than other projects (such as graphene-django).  The documentation for the core project is amazing, so good job!

As graphene-django hasn't had an update in a couple of years, it would be great to have the confidence to spend the ti

[2022-09-26 03:18] patrick91 commented on #268
Hi @humphrey! thanks for the kind words. I've been meaning to update this roadmap issue (or create a new one). At the moment we are treating the library as if it were a v1.0, expect for some small things we've been trying to deprecate features instead of removing them directly for example 😊

I'll see if I can make some time to update this issue in the month or so, but some of the things that we sh

[2022-09-26 04:02] humphrey commented on #268
Awesome!  Thanks for the update :)  It sounds like most of those things are internal, and won't majorly affect usage which is sweet!  So I'll treat it like a 1.0.

Yes, this was one of the big things I noticed was missing.  I did dig through the source code and worked out a few things, and created my own couple of helper functions to help me tweak it to my liking (as I wanted to use Django forms f

[2022-09-26 08:53] Luferov commented on #2183
This is a great idea. I would suggest writing an extension that injects the fastapi dependency into the resolvers.

[2022-09-26 09:57] fredgido opened #2202 "Support for | operator between StrawberryUnion and None"
Would be great to be able to do :

[code]

currently it returns error
TypeError: unsupported operand type(s) for |: 'ScalarWrapper' and 'NoneType'

[2022-09-27 08:21] conao3 commented on #2063
If it is defined as `Any`, please emit `String` as GraphQL schema and serialize it with `str()`?

For my case, I am not making a class for Strawberry, I am converting a Pydantic class, and I have to use `Any` when I use Python because of some library. Could you please reconsider this?

[2022-09-27 14:44] #1460 closed

[2022-09-28 10:50] patrick91 opened #2208 "Document breaking changes"
In #1187 @jkimbo and I were discussing how to document breaking changes. We could see if we can implement something like this: https://react-native-community.github.io/upgrade-helper/ and maybe a page that lists all the breaking changes (and maybe the deprecations too).

Not sure how to implement something like the upgrade helper for react native, but I think it might be a nice thing to have.

In

[2022-09-28 10:53] jkimbo commented on #2208
@patrick91 maybe the first step would just be to have a page on the website with 2 inputs: what version are you on and what version do you want to upgrade to and then a list of all changes between those versions, ideally highlighting any breaking changes. Maybe this is already possible with GitHub releases?

[2022-09-28 10:54] patrick91 commented on #2208
changes as in the release notes?

[2022-09-28 11:10] jkimbo commented on #2208
Yes, the release notes.

[2022-09-28 12:02] nrbnlulu commented on #1224
fixed by #2207

[2022-09-29 19:44] #1224 closed

[2022-10-01 10:46] devkral opened #2221 "strawberry UnsetType regression starting with 0.133.1"
Starting with strawberry 0.133.1 I get following error

[code]

Definition of SecretgraphConfig:

[code]

Note: I use strawberry-django-plus but it seems to be an error with core strawberry, as the gql.type is a pass-through to strawberry.type.
Removing relay.Node or initializing a variable like: `_config = SecretgraphConfig()` doesn't fix the issue

[2022-10-01 11:01] patrick91 commented on #2221
@devkral thanks for the bug report! Do you have a minimal reproduction?

It seems to work for me: https://play.strawberry.rocks/?gist=ac6ef9d60916c9d2e039c39c02b3b11b

[2022-10-01 13:44] Retr0Sushi commented on #2095
I would like to work on this if it's still open !

[2022-10-01 13:58] patrick91 commented on #2095
sure :) feel free to ping me on discord if you need any help

[2022-10-01 14:04] Retr0Sushi commented on #2095
ok! can you just share a link with me for the server  ? :)

[2022-10-01 14:22] patrick91 commented on #2095
https://strawberry.rocks/discord

[2022-10-02 21:22] devkral commented on #2221
Sadly no, I am not even sure if it is strawberry issue or a strawberry-django-plus issue.
I have currenlty not much time. But I will try to provide you more information.

[2022-10-05 15:11] estyxx commented on #2208
Frist easy step can be adding just the CHANGELOG in the docs site

[2022-10-06 23:31] tyoung-patreon opened #2234 "asyncio.gather() adds significant overhead"
We're in the process of migrating from https://github.com/quora/asynq to asyncio using dataloaders. Without getting too into the details, asynq provides the same general premise of batching and caching as dataloaders do, but it uses python generators and a custom scheduler to achieve it over the asyncio event loop.

In our fairly large application switching to asyncio dataloaders adds significant

[2022-10-07 13:27] devkral commented on #2221
nailed it down to a  strawberry-django-plus issue.

[2022-10-07 13:27] #2221 closed

[2022-10-07 17:48] helderco commented on #2181
👍 here too!

I need to serialize/deserialize resolver results and Pydantic is a great fit for that, but the current DX isn't good enough. My use case is that every model would be used for the API, I'm not exposing a subset of it. So that means creating the schema from Pydantic models instead of dataclasses naturally.

[2022-10-07 18:06] ThirVondukr commented on #2234
Dataloaders mostly used in a different way, if you need to load a lot of objects in single place - just do it directly.
They're are great when it comes to loading related items/small collections for a lot of objects, for example like this:

[code]

[2022-10-07 21:40] tyoung-patreon commented on #2234
Hi @ThirVondukr - I understand that a batch invocation through dataloader.load_many is not usual practice. That was only used to describe the generality of the problem. Here is a less trivial demonstration of the principle at play;

[code]

Hopefully this demonstrates the fan-out I mention and necessity of `gather` (aka load_many). I realize this example is still fairly trivial, but we can imagine

[2022-10-08 05:04] ThirVondukr commented on #2234
Did you try running your application with [uvlop](https://github.com/MagicStack/uvloop) and see if it makes a difference? Just curious.
For that aggregation you could write separate dataloader that loads your balance sum by user id:
[code]

[2022-10-10 13:18] hepi commented on #2071
Should be closed @patrick91 ?

[2022-10-10 13:21] #2071 closed

[2022-10-10 15:32] tyoung-patreon commented on #2234
Yeah I had tried uvloop to no measurable improvement

[2022-10-10 16:21] ronaldnwilliams opened #2241 "Bug: Can't have a list of Type on Input Type."
## Describe the Bug
When I try to add a list field to an Input type, I get a TypeError.

[code]

Stacktrace
[code]

## System Information

 - Operating system: MacOs Monterey
 - Strawberry version (if applicable): 0.133.5

[2022-10-10 16:39] patrick91 commented on #2241
Hi @ronaldnwilliams, input fields can only be input types or scalars (this is from the GraphQL spec). To fix your example you need to change `OtherType` to use `strawberry.input` :)

https://play.strawberry.rocks/?gist=7d868d9480a54735f0236c5f1dd92eee

let me know if that doesn't work for you!

[2022-10-10 16:47] ronaldnwilliams commented on #2241
@patrick91  that makes sense. Thank you!

[2022-10-10 23:55] whova commented on #268
Hi Patrick @patrick91 ,

It is really exciting to know that v1.0 is coming.
Is there an estimated timeline for the v1.0 release? Our company is looking to adopt GraphQL in production, and strawberry seems like the top choice after comparing a few existing libraries. Any information on the timeline would be appreciated! Thanks a lot.

[2022-10-11 13:53] jkimbo commented on #844
Solve in https://github.com/strawberry-graphql/strawberry/pull/2190

[2022-10-11 13:53] #844 closed

[2022-10-11 13:57] jkimbo commented on #996
Fixed in https://github.com/strawberry-graphql/strawberry/pull/1507

[2022-10-11 13:57] #996 closed

[2022-10-11 14:00] jkimbo commented on #439
Fixed in https://github.com/strawberry-graphql/strawberry/pull/2128

[2022-10-11 14:14] #1841 closed

[2022-10-11 14:14] jkimbo commented on #1942
Looks like this issue is solved. Closing.

[2022-10-11 14:14] #1942 closed

[2022-10-11 14:20] jkimbo commented on #1914
Is this still an issue?

[2022-10-11 14:22] patrick91 commented on #1914
@jkimbo I don't think so, let's close for now 😊

[2022-10-11 14:22] #1914 closed

[2022-10-11 14:25] jkimbo commented on #1917
Is this still an issue?

[2022-10-11 14:27] patrick91 commented on #1917
@jkimbo I'd say yes, we did some isolation for Starlette and Django, but I think we might be better off by using nox/tox[1] since at the moment we depend on GitHub actions' features and I'd love to test different versions of Python (and libraries) locally too.

[1] another option is [hatch](https://hatch.pypa.io/latest/config/environment/advanced/#matrix) but I don't if we'll migrate to it 😊

[2022-10-11 16:27] jkimbo commented on #2202
That would be cool! Any idea how we can do it @fredgido?

[2022-10-11 16:31] TimPansino commented on #1917
@patrick91 If you're open to a PR adding tox I can write one and lay the foundation.

[2022-10-11 16:31] DoctorJohn commented on #1914
It's on my list of things I want to add to our docs. Could help some windows users.

[2022-10-11 19:33] patrick91 commented on #268
Hey @whova! I don't have a timeline just yet! I'll see if I can make some time to make a clear timeline during DjangoCon sprints 😊

In any case we are trying to treat v0.x as v1, trying not to have breaking changes without doing any deprecations first. Maybe I can drop some of the requirements and make the release of v1 earlier. I'll think about that in the next few weeks!

[2022-10-11 22:16] whova commented on #268
Thanks for the info, Patrick! Appreciate it.

I registered your tutorial at DjangoCon. See you there soon!

[2022-10-11 22:16] fredgido commented on #2202
I weeks ago tried writing a __or__ for the strawberry types that makes it Union with the class next to it.
It worked but was very shortsighted as it only works with 2 types and None has to be on the write as to trigger the left class __or__.
I am really not sure this is a solid way. I guess None can be replaced by a custom NoneType from strawberry or something as last possibility.

[2022-10-12 09:09] patrick91 commented on #1941
@gcemaj I'll close the issue since this is something you can do via unicorn or your web framework of choice 😊

If you meant something different, let us know!

[2022-10-12 09:09] #1941 closed

[2022-10-12 09:09] patrick91 commented on #1905
LazyTypes have been document here: https://strawberry.rocks/docs/types/lazy#lazy-types 😊

[2022-10-12 09:09] #1905 closed

[2022-10-12 09:10] patrick91 commented on #1878
I'm going to close this as I think we'll migrate to PDM once autopub supports it 😊

[2022-10-12 09:10] #1878 closed

[2022-10-12 09:10] patrick91 commented on #1872
Going to close this, I'll do some work on the website around december and hopefully I'll get around some of these things 😊

[2022-10-12 09:10] #1872 closed

[2022-10-12 09:13] patrick91 commented on #1651
@Speedy1991 did that work? :)

[2022-10-12 10:14] jkimbo commented on #268
IMO a couple of things to add to the list of things for v1:

* https://github.com/strawberry-graphql/strawberry/issues/1864
* https://github.com/strawberry-graphql/strawberry/issues/872
* Guide on how to migrate from Graphene (https://github.com/strawberry-graphql/strawberry/issues/1042)
* Adding `return_type` to `strawberry.field` as an alternative to annotating the resolver
* Also improving the

[2022-10-12 10:43] jkimbo commented on #2168
I think we should go for the Field Extension classes that @nrbnlulu suggested. I would modify the API slightly to something like this:

[code]

A more complicated example:

[code]

I think this API allows you to easily modify field arguments, return types and executions while being easy to apply multiple extensions. It also pairs nicely with our existing Schema Extensions (where could actually dep

[2022-10-12 10:52] patrick91 commented on #2168
I think that looks good, if I want to add description to argument will it look like this?

[code]
?

I think this might not work in extensions like the ones for tracing

[2022-10-12 11:15] jkimbo commented on #2168
Yes I guess so. Though it might be worth making this work:

[code]

Or we could add a helper function:

[code]

---

Good point. We can shelve this idea for now then. It's not essential.

[2022-10-12 11:26] patrick91 commented on #2168
Yes, I'd love to have either! I think I'm in favour of the second option for the time being. The reason is that if we allow the first one, we should also make this use case work:

[code]

but unfortunately this is not allowed by any type checkers (and might never be) :(

So it might be easier to have a dedicated function (which might be just an alias to using Annoated) for the time being 😊

[2022-10-12 19:20] nrbnlulu commented on #2168
Where should we start working on this? My PR is getting older and older :)

[2022-10-13 15:52] Speedy1991 commented on #1651
Yea works like a charm. Thanks for the idea :)

[2022-10-13 15:52] #1651 closed

[2022-10-13 18:22] ronaldnwilliams opened #2249 "Extension method request_on_start handles errors differently"
## Describe the Bug

Found a difference between the resolve and on_request_start method of custom extensions. If I raise an error in the resolve method, the client get back a 200 and a nice error message. If I raise an error in on_request_start the server crashes. For example, if I raise a ValueError() in each of them I get the following.

resolve response:
200 status code
[code]

on_request_start

[2022-10-13 19:15] patrick91 commented on #2021
hi @s3rius, sorry for the late reply!

Looks like this is happening when doing websockets connections, which might not happen anymore in your case (we upgraded to GraphiQL 2 and it doesn't do a WS connection until needed).

But you'll still get this issue for subscriptions, since we don't pass the request in that case (we use `ws`). I wonder if we should change this and use `request` for both ws a

[2022-10-14 06:42] Kludex commented on #2021
Do you have a minimal reproducible example?

[2022-10-14 07:48] benzolium opened #2252 "Use pydantic model as a scalar with `strawberry.auto`"
Add way of using pydantic model scalars without manually defining fields - just by using `strawberry.auto`

## Feature Request Type

- [x] Alteration (enhancement/optimization) of existing feature(s)

## Description

I have a pydantic model, lets say:
[code]

And I have a scalar:
[code]

I have a model which has uses that scalar:
[code]

When I'm trying to create a type from it:
[code]
I'm getting

[2022-10-14 08:05] cake-monotone commented on #2249
I found the same issue on `on_executing_start` and `on_executing_end` etc.

I think `strawberry` executes the methods in `Extension` (except `resolve`) without exception handling.

[2022-10-14 08:26] s3rius commented on #2021
The code I attached to the pull request is an MRE.

[2022-10-14 08:34] jkimbo commented on #2249
Thanks for the report @ronaldnwilliams . The resolve method is handled differently because it gets executed inside each field resolver and so any error gets handled like an error thrown inside a resolver (note the location and path metadata on the error when it's thrown in the resolve function).

The other extension methods are called outside of the query resolution and they currently don't have a

[2022-10-14 08:42] jkimbo commented on #2168
@nrbnlulu I think the first step is to add support for field extensions that can implement the `resolve` method only. That will already provide some benefit and is small enough to review in one go.

Basic requirements:
* be able to pass a list of field extensions to a field
* a field extension can modify the return value of a field using the resolve method
* the FieldExtension.resolve method can m

[2022-10-14 11:07] patrick91 commented on #2021
@Kludex I reproduced this by using the fastapi template provided above and trying to do a subscription, I can see if I can make a more minimal reproduction in the next week :)

The code above is missing the code for `get_redis_connection`, which is where the exception happens (it is a function that accepts requests as a parameter)

[2022-10-14 11:13] patrick91 commented on #2249
do you think this should be the case **also** for on on_executing_start/on_executing_end?

I was chatting with @ronaldnwilliams and they wanted to make an extension for permissions, but it would check for permissions at the start of the request/execution, and raise if the permissions are invalid.

I think at least in on_executing_start/end we should treat errors the same way we treat them in the r

[2022-10-14 11:15] patrick91 opened #2253 "Add pyupgrade to pre-commit"
It might be nice to have this as a pre-commit hook: https://github.com/asottile/pyupgrade

We support python 3.7+ 😊

[2022-10-14 11:36] jkimbo commented on #2249
We could catch exceptions and convert them to `GraphQLError`s without a location or path so that it's consistent with how errors are handled in resolvers. I think thats judgment call, I can see arguments for both ways. We should do it with all the extension hooks though, I don't see why `on_executing_{start,end}` should be special.

[2022-10-14 11:38] patrick91 commented on #2249
You're! I was thinking that on_request_start/end might be the one that is handled differently, since it is wraps the whole execution[1]

[1] and maybe it is a good place for us to allow setting custom status_codes?

[2022-10-14 11:41] jkimbo commented on #2249
`on_request_{start,end}` is the hook that wraps the whole execution (including parsing and validating the query). If we want to set status codes anywhere I think thats where we should do it. The naming also makes more sense if it becomes tied to the http request layer.

[2022-10-14 11:48] patrick91 commented on #2249
Yup, I think we should open a discussion around that, also to define what on_request_start/end means in other context (websockets, sse and whatever comes next) 😊

[2022-10-14 18:08] #1709 closed

[2022-10-15 12:04] devkral commented on #1780
solved

[2022-10-15 12:04] #1780 closed

[2022-10-16 17:00] #2253 closed

[2022-10-17 19:53] bperkins24 commented on #2170
This seems helpful and would like to know if it would support resolvers.  Here is a simple example:

[code]

In the above example, dict_data["desk_pl"] will be a method and you have to call it to get the result, e.g.:

[code]

The same issue exists with dataclasses support in Pandas.  The same behavior occurs with pd.DataFrame([Position(1,2)]).

I can see it may be challenging to implement built-i

[2022-10-17 23:32] rabbittsoup commented on #1234
@coady You are right, I had a typo in my example.  However, this was not the point of the issue.  I corrected the example.

[2022-10-17 23:41] rabbittsoup commented on #1234
Obviously I haven't looked at this in quite some time, ha!  It appears #1371 may have fixed the crux of the issue, me thinks.

[2022-10-18 01:20] coady commented on #2175
Duplicate of #439, and fixed in #2128.

[2022-10-18 01:31] #2175 closed

[2022-10-18 16:41] jimmybutton commented on #539
This repository contains some great ideas on how to use strawberry extensions to provide a database session to your queries: https://github.com/strawberry-graphql/examples/blob/main/fastapi-sqlalchemy/api/schema.py

[2022-10-18 19:02] jerber commented on #2249
For FastAPI this can be handled with a middleware. Here is mine that is working:

[code]

[2022-10-18 19:43] ronaldnwilliams commented on #2249
@patrick91 good to close or did you want to discuss this more / reuse?

[2022-10-19 05:02] nrbnlulu commented on #2168
@jkimbo I like the idea though I think the code base needs re-factorization and it would be harder to do after adding more features. so it is either to go with my big PR with the changes needed, or create a new PR jsut for refactoring and then start working on this one.

[2022-10-19 09:02] jkimbo commented on #2168
@nrbnlulu any refactoring should definitely be in it's own PR because it becomes complicated to review both new features and refactoring at the same time. I'm happy to spend some time working on a first pass of field extensions (as I described above) if you want to carry on with the refactoring? I would also highly recommend splitting out your refactoring work into multiple changes if possible so

[2022-10-19 09:05] jkimbo commented on #2170
@bperkins24 it's not really possible to support resolvers in any kind of strawberry type serialisation because resolvers have to be called in the context of a GraphQL execution since they can rely on the `info` object: https://strawberry.rocks/docs/types/resolvers#accessing-execution-information

[2022-10-19 09:24] nrbnlulu commented on #2168
@jkimbo O.K, currently I have no time but if I will hopefully I'll start working on splitting things up there.

[2022-10-19 15:26] estyxx opened #2264 "Improve SelectedFields API"
## Feature Request Type

- [ ] Core functionality
- [x] Alteration (enhancement/optimization) of existing feature(s)
- [ ] New behavior

## Description

Atm `Info.selected_fields` expose only the graphQL CamelCase of the fields, would be nice to expose the `python_name` in snake_case as well.

Also `InlineFragment` doesn't have the `name` attribute like `SelectedField` and `FragmentSpread`. This m

[2022-10-20 16:38] patrick91 commented on #539
@jimmybutton was this the right issue you wanted to comment on? 😊

I'll close this issue for now, we added `init` to `strawberry.field` because it was needed for type checkers (it's used in dataclass_transform). We can open another issue for partial types in future if needed 😊

[2022-10-20 16:38] #539 closed

[2022-10-20 16:40] patrick91 commented on #559
@gonzalezzfelipe sorry I missed your comment! what issue are you having exactly? We did a few improvements on typing since we opened this issue. Can you post a reproduction example? :)

[2022-10-20 16:42] patrick91 commented on #610
This might have been resolved, I've just tested your code @ossareh and it didn't fail for me. I'll close the issue, happy to reopen it if this still happens for you :)

[2022-10-20 16:42] #610 closed

[2022-10-20 16:43] patrick91 commented on #624
I think this was fixed when we refactored the ws integrations 😊

[2022-10-20 16:43] #624 closed

[2022-10-20 16:46] patrick91 commented on #448
@BryceBeagle I think this is fixed, @jordangarside's example works well now too, shall we close?

[2022-10-20 16:51] patrick91 commented on #577
I'm going to close this, I don't think it is a priority and we can also wait for this PEP to be implemented by mypy: https://peps.python.org/pep-0681/. Having that PEP implemented means we'll remove a lot of code from our mypy plugin 😊

[2022-10-20 16:51] #577 closed

[2022-10-20 16:55] patrick91 commented on #727
I'm going to close this issue, we have support for renaming arguments and we didn't have people asking for something like this 😊 We can always revisit it in future :)

[2022-10-20 16:55] #727 closed

[2022-10-20 16:56] patrick91 commented on #711
I removed the good first issue label, I think this might not be easy to get started with, also it will probably be stale once we do #2000 :)

[2022-10-20 16:58] patrick91 commented on #767
@N-Maas this should be fixed! Let me know if this is still a problem for you, and sorry for not letting you know earlier 😊

[2022-10-20 16:58] #767 closed

[2022-10-20 16:59] BryceBeagle commented on #448
Sounds good to me 👍

[2022-10-20 17:00] #448 closed

[2022-10-20 17:40] patrick91 commented on #1006
@Ambro17 is this still valid for you? You want the schema to print the root types at the top right?

I wonder if we can take this opportunity to also maybe order the rest of types

[2022-10-20 17:49] jimmybutton commented on #539
Yeah true, it's probably not related to this issue. But this thread came up in the search results when I was looking for a solution to provide a database session to the resolvers. The example repo has some great patterns for this problem, so I wanted to leave a trace for others people coming here with a similar issue. 😊

[2022-10-20 17:50] patrick91 commented on #1362
@holtergram I think this might have been fixed, I can't reproduce it anymore, let me know if it is still an issue for you!

[2022-10-20 17:50] #1362 closed

[2022-10-20 17:50] patrick91 commented on #539
@jimmybutton gotcha! thanks for that 😊

[2022-10-20 17:55] patrick91 commented on #1329
@jkimbo we have documented this in our docs https://strawberry.rocks/docs/extensions/add-validation-rules#more-examples

[2022-10-20 17:57] jkimbo commented on #1329
@patrick91 that's true but do you think it warrants a dedicated extension?

[2022-10-20 17:59] patrick91 commented on #1329
definitely 😊 that should also make it easier to find it

[2022-10-20 18:02] patrick91 commented on #1327
This has been fixed recently I think. @emosenkis can you open a new issue for that, I'm pretty sure using strawberry.field shouldn't mark a field as optional

[2022-10-20 18:02] #1327 closed

[2022-10-20 18:23] jkimbo commented on #1006
This function from graphql-core might be useful here: https://github.com/graphql-python/graphql-core/blob/5f6a1944cf6923f6249d1575f5b3aad87e629c66/src/graphql/utilities/lexicographic_sort_schema.py

[2022-10-20 18:31] patrick91 commented on #1657
I think we need to add support for default_factory inside strawberry.argument

[2022-10-20 18:39] patrick91 commented on #1633
I'm going to close this issue since there's a way to do this, even if it is not recommended 😊

[2022-10-20 18:39] #1633 closed

[2022-10-20 18:43] patrick91 commented on #1025
This works now 😊 https://play.strawberry.rocks/?gist=056bfb79740da07d07f8c50911e4f93b

[2022-10-20 18:43] #1025 closed

[2022-10-20 18:46] patrick91 commented on #2073
@benzolium can you show me what happens when you only enable the strawberry plugin? does it crash?

[2022-10-20 18:47] patrick91 commented on #1901
we should provide a better error, I don't think we should treat it as list[Any] 😊

[2022-10-20 20:45] patrick91 commented on #2107
Reproduction here: https://play.strawberry.rocks/?gist=6ac38ba61d3c1836e723c20857cee8b0

[2022-10-20 23:28] #2107 closed

[2022-10-21 04:45] benzolium commented on #2073
@patrick91 I'm getting:
[code]
for every line with `@strawberry.experimental.pydantic.type`

[2022-10-21 16:50] #1221 closed

[2022-10-21 18:36] patrick91 opened #2270 "Check returned status codes in various integrations and cases"
in #1809 and #2266 I've changed the views to all have the same response codes for all cases, but I'm not 100% sure the status code make a lot of sense for all cases.

I think we can use this issue to discuss what the view should return on the various cases, for example when doing a `GET` to `/graphql` with graphiql disable return 404, but it returns 200 when sending a valid query and we allow quer

[2022-10-23 16:38] TimPansino commented on #1917
For anyone from the future interested there is a lot of further discussion in #2247

[2022-10-23 21:53] jerber opened #2276 "Ability to dynamically set `status_code` on Response from `MaskErrors` extension"
## Feature Request Type

- [ ] Core functionality
- [ ] Alteration (enhancement/optimization) of existing feature(s)
- [x] New behavior

## Description

`MaskErrors` is great but I also want to be able to set the Response `status_code` dynamically based on the error.

For example, internal errors that I am now masking should return `500` status codes whereas visible errors should return `400` stat

[2022-10-24 08:37] jkimbo commented on #2270
We should follow the draft HTTP spec: https://github.com/graphql/graphql-over-http/blob/main/spec/GraphQLOverHTTP.md#status-codes

[2022-10-24 21:41] mgasner opened #2282 "Support for pydantic.dataclasses.dataclass?"
It would be nice if strawberry's support for pydantic included models defined using `pydantic.dataclasses.dataclass` (and not just those that inherit from `pydantic.BaseModel`. At present, this gives an error:

[code]

```AttributeError: type object 'Foo_' has no attribute '__fields__'```

[2022-10-25 17:52] vamshiaruru-virgodesigns commented on #2282
You can directly use

`@strawberry.field` on your pydantic dataclass. Strawberry.field decorator works on any dataclass :)

[2022-10-26 00:12] coady opened #2285 "Generic types are not supported as inputs."
## Describe the Bug
[code]

## System Information

N/A

## Additional Context
If `arg: T` is replaced with a regular type, the generic output type works.

[2022-10-26 05:56] patrick91 commented on #2285
ah, interesting, I never thought of this use case! I wonder how long it could take to implement it though 🤔

[2022-10-26 23:09] huonw commented on #1164
We handle this by avoiding using `strawberry.ID`, and instead having a custom ID type:

[code]

Unfortunately, if someone accidentally uses `strawberry.ID`, there's a pretty opaque error about having two `ID` types. We have the following comment where we call `strawberry.Schema` (since that's where the error is thrown) to make it (slightly) easier to track down:

[code]

[2022-10-26 23:15] patrick91 commented on #1164
@huonw I've just tried this in the [playground](https://play.strawberry.rocks/) and doesn't seem to work for me 🤔

we have a scalar_overrides param on schema, maybe we can get it to support this use case better?

[2022-10-26 23:26] huonw commented on #1164
Our code is something like: https://play.strawberry.rocks/?gist=a3d6d1600c1bda2166238ff89837697c . I think I tried `scalar_overrides` but it didn't work quite right (I cannot remember why, sorry).

For us, this works fine, except...

We use some other values as IDs, in addition to UUIDs: the client doesn't/shouldn't have to care about the distinction (as in, being opaque `ID` is appropriate), but

[2022-10-27 22:49] skilkis commented on #2285
@patrick91 I believe it's an easy fix, I had to recently implement this functionality for a use-case in my thesis. We would have to modify `TypeDefinition.copy_with`. I've currently implemented this in my use-case as a pre-processing step for root-types such as Query, Mutation, Subscription types before schema conversion. However, it makes more sense to implement this re-usably for any type in the

[2022-10-27 22:57] patrick91 commented on #2285
ah neat! thanks for the pointer 😊 feel free to work on it when you have time (and after resting from your thesis)

[2022-10-28 03:03] coady commented on #2154
Found a workaround: call `StrawberryAnnotation(...).resolve()` on the subscripted type explicitly.

Also of note that the same problem exists if the root `Query` type itself is generic, though that's probably a rare use case.

[2022-10-28 08:28] motherofcoconuts commented on #1833
Hey @thejaminator Any progress on this? I know we spoke back in April and this problem is still a pain for me.

[2022-10-30 12:59] capital-G opened #2290 "Django `AsyncGraphQLView` ignores setting additional http response headers (CORS issue)"
As Graphql is used as an API it is crucial to access it from different origins, such as an JS frontend from the browser which runs on a different port (or even IP).
When doing a request to another origin (e.g. from `localhost:3000` (JS frontend) to `localhost:8000`(django server)) the browser will verify the [`Access-Control-Allow-Origin`](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/

[2022-10-30 20:37] coady opened #2291 "Allow a subscripted generic type to be subclassed."
## Feature Request Type

- [ ] Core functionality
- [x] Alteration (enhancement/optimization) of existing feature(s)
- [ ] New behavior

## Description
[code]

This would allow reusing generics while also being able to extend behavior. It could also supersede #1921 and #2131, as it would provide a intuitive way to customize name, description, etc.

[2022-10-30 20:52] coady opened #2292 "Support new `Self` type as an annotation."
## Feature Request Type

- [ ] Core functionality
- [x] Alteration (enhancement/optimization) of existing feature(s)
- [ ] New behavior

## Description
Python 3.11 introduced [the `Self` type](https://docs.python.org/3/library/typing.html#typing.Self), allowing methods to explicitly annotate that they return the same type as the instance. It would especially help when an implementation has no need

[2022-10-31 10:55] jkimbo commented on #2290
@capital-G are you sure you've setup [django-cors-headers](https://github.com/adamchainz/django-cors-headers) correctly? The middleware should intercept all OPTION requests before they hit the Strawberry view: https://github.com/adamchainz/django-cors-headers/blob/c452118a208de50435cf55bb8e32be2f5e966aa8/src/corsheaders/middleware.py#L94-L100

[2022-10-31 16:41] judahrand opened #2298 "FastAPI custom context doesn't work with `strawberry server`"
## Describe the Bug

The context doesn't get passed to the requests when using `strawberry server`. When using the `starlette.testclient.TestClient` it does work.

Having read more about this it is almost certainly not supposed to work. However, the fact that this is undocumented makes it tricky to work out what is going on.

## System Information

 - Operating system: MacOS 13.0
 - Strawberry ver

[2022-11-01 01:19] coady commented on #2285
#2293 isn't working right, because it modifies the argument. The test should include 2 subscripts.

[2022-11-01 08:10] skilkis commented on #2285
@coady you're indeed right, the snippet I posted above wasn't meant to be production ready yet. `StrawberryArgument` can implement a `copy_with` method to return a new argument to prevent side-effecting 😊

[2022-11-01 23:26] fireteam99 opened #2302 "Annotating types using python unions"
## Feature Request Type

- [ ] Core functionality
- [x] Alteration (enhancement/optimization) of existing feature(s)
- [ ] New behavior

## Description
It seems like python (`typing`) union types don't work with the lazy annotations documented here: https://strawberry.rocks/docs/types/lazy.
If i have two types that need to import from each other: Kennel and Pet(union of Cat and Dog) . I will get t

[2022-11-02 22:15] N-Maas opened #2305 "strawberry.enum_value breaks input parsing"
## Describe the Bug

If `strawberry.enum_value` is used for an enum variant, parsing this variant as input of a query fails.

Consider the following example:
[code]

Output:
[code]

## System Information

 - Strawberry version: 0.138.1
 - Python version: 3.9.2
 - Operating system: Debian 11

[2022-11-02 22:47] patrick91 commented on #2305
@N-Maas thank you very much for the detailed report!

I'll make a fix soon 😊

[2022-11-02 23:10] patrick91 commented on #2305
Hey @N-Maas, here's a pre-release: https://github.com/strawberry-graphql/strawberry/pull/2306#issuecomment-1301473705

not 100% sure of the fix, but worth testing it already:)

[2022-11-03 09:25] vjrasane opened #2307 "'DataLoader' object has no attribute 'clear'"
DataLoader object is missing the documented 'clear' functionality, which causes the above error when trying to invalidate cache.

Prime functionality is also missing.

## System Information

Strawberry version: 0.138.1

[2022-11-03 09:30] vjrasane commented on #2307
Nevermind, version was older after all.

[2022-11-03 09:30] #2307 closed

[2022-11-03 12:27] patrick91 opened #2308 "Duck typing / being allow to override the field types 🦆"
I'm opening this issue to document how we can make it easier to override return types.

## Problem description

When using a framework like Django, you tend to directly return models in resolvers, for example:

[code]

Assuming that `UserType` has a subset of models.User fields, this will work at runtime as we don't do a type check of the returned type[1].

Unfortunately this break type checking (

[2022-11-03 12:30] jkimbo commented on #2308
(it was actually @aryaniyaps that suggested it first here: https://discord.com/channels/689806334337482765/741575032257511485/1027417798839914546 )

[2022-11-03 16:58] N-Maas commented on #2305
Thank you for the quick fix @patrick91, the pre-release works for my use cases :)

[2022-11-04 03:07] coady commented on #2291
`test_generic_extending_with_type_var` looks like it was intended to test this feature, but only passes because it doesn't use the generic in its fields.

[2022-11-07 07:41] wholmen opened #2317 "Add Support for Pydantic Discriminated Union"
Since Pydantic 1.9, pydantic has supported the use of discriminated unions as a way to force what union type Pydantic evaluates an object by. Pydantic models with discriminated unions raise an error, at least because the typing.Literal is not supported

## Feature Request Type

- [ ] Core functionality
- [x] Alteration (enhancement/optimization) of existing feature(s)
- [ ] New behavior

## Descri

[2022-11-07 12:12] agatahn opened #2318 "Strawberry field issue in mypy checker"
When running mypy check the error regarding untyped decorator call `is shown when strawberry field decorator is used with the description.

This version does not give any mypy issue:
[code]

This version:
[code]
gives the following mypy issue:
`error: Untyped decorator makes function "function" untyped`

Package versions:
- mypy = 0.981
- strawberry-graphql = 0.105.1

[2022-11-07 17:39] dfee opened #2320 "Interfaces without Strawberry instances"
## Feature Request Type

- [x] Core functionality
- [ ] Alteration (enhancement/optimization) of existing feature(s)
- [ ] New behavior

## Description
The docs suggest that the only way to resolve a type of interface is to return an instance of the strawberry class.
Well, I'd prefer not to do that: it requires a bunch of needless mapping from DTOs to Strawberry models.

How can I resolve a type w

[2022-11-08 15:16] Zlira opened #2322 "After the 0.135.0 release, invalid GraphQL queries are not logged as errors"
## Describe the Bug
Before the 0.135.0 invalid queries were logged as errors. For example, given following schema:
[code]
When executing a query: `query { v }` the error will be logged:
[code]
After the update to 0.135.0 the log is silent on this.

## System Information

 - Operating system: Fedora Linux 36
 - Strawberry version (if applicable): >=0.135.0

[2022-11-08 16:00] #2322 closed

[2022-11-08 18:03] #2305 closed

[2022-11-08 19:52] tsmith023 commented on #2298
I think you're right that you need to infer from the docs that this won't work. Case-in-point, https://strawberry.rocks/docs/guides/server says `Sometimes you need to quickly prototype an API and don’t really need to use a framework like Flask or Django.` from which it must be inferred that this also applies to FastAPI.

This is where the `strawberry server` command is defined: https://github.com/

[2022-11-08 20:39] #2298 closed

[2022-11-10 10:40] patrick91 opened #2334 "Expose validation errors in extensions"
This was a feature request from discord: https://discord.com/channels/689806334337482765/1039625586378809365

We should make it easier to get the validation errors when they happen

we can either update the extension to have that on a property, or add a new hook specific for when the validation fails

[2022-11-10 19:04] jkimbo commented on #2276
Going to close this issue for the reasons outlined in the corresponding PR

[2022-11-10 19:04] #2276 closed

[2022-11-12 01:54] #2292 closed

[2022-11-12 10:47] patrick91 opened #2338 "Update query depth limiter ?"
we received this on discord

[2022-11-15 05:59] ArtemConstantinov commented on #2097
In my project, I also need a symmetrical interface of extensions between ``schema.execute(...)`` and ``schema.subscribe(...)``. I come up with a not ideal solution that works for my project. There is definitely a need for more discussion about extensions
interface for giving answers to questions as:
- "Does it relevant to use on_request_... if we wanna use unified extensions for subscriptions and

[2022-11-15 09:05] vjrasane opened #2346 "Support for ABAC compatible permission classes"
Currently permission classes seem to be geared towards a RBAC authorization scheme.

The permission classes defined for a resolver are run before the result of the resolver is available, i.e. the source object is None for the initial permission check. The source object is only available when checking permissions for fields of the source object. This makes it difficult to check for the ownership of

[2022-11-15 16:32] patrick91 opened #2347 "Datadog Extension - capture query and variables"
At the moment we don't send the query and the variables to Datadog when using the built-in extensions.

I'm opening this issue to discuss how we should implement this.

Sending the query is fine, unless there are inline variables which might result in data leaks[1].
For arguments/variables it's the same, but we “solve” this in the opentelemetry extension with an argument filter.

[1] password, ema

[2022-11-15 20:47] fireteam99 opened #2348 "Lazy type annotations using relative paths don't work outside of strawberry classes"
## Describe the Bug

Trying to assign a lazy type annotation using a relative path outside of a strawberry class will result in a type error. This doesn't happen when using an absolute path.

[code]
results in:
[code]

## System Information

 - Operating system: MacOS/Linux
 - Strawberry version (if applicable): `==0.133.5`

## Additional Context

Discord thread: https://discord.com/channels/68980

[2022-11-16 09:48] patrick91 commented on #2346
hi @vjrasane do you have any idea of how this would look like?

I think this could be probably implemented with extensions and schema directive, but I want to hear your thoughts too, especially since I'm not too familiar with ABAC permissions

[2022-11-16 15:47] paulo-raca opened #2350 "Combining permissions with -OR-"
In my project I have resolvers that should be acessible if at least one of multiple conditions is met -- aka "OR".

I'm currently implementing it in a single permission class, but it would be ideal if I could combine them. A few examples:

[code]

[code]

## Feature Request Type

- [ ] Core functionality
- [x] Alteration (enhancement/optimization) of existing feature(s)
- [ ] New behavior

[2022-11-16 19:53] krauss opened #2351 "context on Subscription Info object does not bring custom headers from GraphiQL"
## Describe the Bug

Custom headers sent through GraphiQL interface don't come up within the Info object (`info.context['request'].headers.items()`) of a Subscription. However, they do come up when you run a Query. Am I missing something here or is this really a bug?

## System Information

 - Operating system: Fedora Linux 36
 - Strawberry version (if applicable): 0.142.2
 - FastAPI version: 0.87

[2022-11-17 04:55] ArtemConstantinov commented on #2202
An observation...

The optional type will work if define the scalar with the next construction:
[code]

Won't work if to use:
[code]

[2022-11-22 14:56] krauss commented on #2351
Yes it does. By the way, I am using python 3.11  as well. There is one dependency you must install in order for Subscriptions to work. It is the websockets lib.

`pip install websockets`

[2022-11-27 00:56] XChikuX opened #2362 "ContrainedFloatValue from pydantic needs support"
## Describe the Bug

I am trying to import the below into a strawberry type

[code]

However, I run into this error:

TypeError: Coordinates fields cannot be resolved. Unexpected type '<class 'schema.ConstrainedFloatValue'>'

If, I change `latitude: float= Field(...,gt=-90,lt=90)` into `latitude: int= Field(...,gt=-90,lt=90)`

Then importing using the below works:

[code]

[2022-11-27 01:02] XChikuX commented on #2181
@gazorby Integration using the method you suggested would benefit me highly. Are you actively working on this?

Definitely need the first class support for pydantic !!

[2022-11-28 17:06] nrbnlulu commented on #449
This should probably re-opened @patrick91 ?

[2022-11-28 23:50] sirrus233 commented on #2169
At the risk of stating the obvious -- this type bug only occurs when the resolver function in question has parameters.

[2022-11-29 02:23] vamshiaruru-virgodesigns commented on #2169
If I remember correctly, this has been fixed in the recent versions of strawberry.

[2022-11-29 02:23] #2169 closed

[2022-11-29 12:12] patrick91 commented on #2169
@vamshiaruru-virgodesigns I think so, @sirrus233 do you still get it with the latest version of Strawberry?

[2022-11-29 17:19] DoctorJohn commented on #2351
After a quick investigation I feel like this could be specific to the fastapi integration. @tsmith023 do you have an idea what's happening? Asking because it looks like you worked on the related code a lot and I'm slightly overwhelmed by the `__get_context_getter` method :)

[2022-11-29 17:25] DoctorJohn commented on #2350
I thought about this a few times before. Kinda tempting to mimic the way it's implemented in the django-rest-framework. So far I always ended up implementing separate permission classes for basically all my migrations. Guess this could be a nice feature enabling more shared code.

I think we were discussing the state of permissions in our roadmap to v1 before. Personally, I would welcome related P

[2022-11-29 17:39] DoctorJohn commented on #2302
Unions have names in graphql, that's why `strawberry.union` exists. It allows us to specify the unions name (`Pet` in your example). Unfortunately there is no way to extract the unions name from `Pet = Union[Cat, Dog]`, since `Pet` is a variable and it's name is not accessible to us :)

Feel free to reopen if I missed something :)

[2022-11-29 17:46] fireteam99 commented on #2302
Thanks for the explanation @DoctorJohn! Would it be worth adding this to the documentation?

[2022-11-29 18:11] tsmith023 commented on #2351
Thanks for bringing me into this one @DoctorJohn :grin:

This reminds me of an issue that I saw a few weeks back: https://github.com/strawberry-graphql/strawberry/issues/2021, so I wonder if the same problem is occurring here.

Regardless, I'll look into whether it could be as a result of the `__get_context_getter` implementation. In the meantime, @krauss, do you also observe this error if you ope

[2022-11-29 18:13] tsmith023 commented on #2338
I can take a stab at this one @patrick91, unless someone else has claimed it on discord already!

[2022-11-29 18:17] tsmith023 commented on #2021
@patrick91, there seems to be a similar issue as I just linked. I will look into how the GraphiQL interface passes request-level data to the FastAPI server and the `context_getter` implementation.

[2022-11-29 18:36] DoctorJohn commented on #2302
Good point @fireteam99, while checking the documentation I noticed that I actually missed something: We support union creation without `strawberry.union` by just using `typing.Union`. In this case the graphql union name is generated based on the types passed as union arguments. Considering this it should be possible for strawberry to support the code you posted.

Reopening the issue (sorry for clo

[2022-11-29 18:40] krauss commented on #2351
I do. My front-end, a Vue.js based application which uses Apollo client to consume my GraphQL API, is experiencing the same issue. Although we send the custom header "Authorization" in the subscription, nothing comes up in the back-end.

[2022-11-29 19:23] fireteam99 commented on #2302
No worries thanks for re-opening!

[2022-11-29 20:17] sirrus233 commented on #2169
Nope! After updating to `0.142.2` the issue no longer occurs.

[2022-11-30 00:07] patrick91 commented on #2338
@tsmith023 go for it 😊

[2022-11-30 10:47] marekrydlewski commented on #2318
Hey guys, do you have any idea how to fix?

[2022-11-30 10:52] patrick91 commented on #2318
@marekrydlewski what version of strawberry are you using?

[2022-11-30 10:54] patrick91 commented on #2318
I don't get this error:

[code]

@marekrydlewski if you can put a reproduction somewhere I'll be happy to test :)

[2022-11-30 14:17] fabien-michel opened #2368 "Fail to resolve string type hint"
When using string type annotation to avoid circular reference, it fail to resolve with `AttributeError: module 'path.to.module' has no attribute 'types'`. Where `types` is a module containing `strawberry.type` things

Not sure if it is a bug or a misuse but this was working with strawberry `0.140`.

## Describe the Bug

Have this directory structure:
[code]
**schema.py**
[code]

**types/__init__.p

[2022-11-30 17:46] XChikuX opened #2369 "Allow strawberry input type to output type conversion"
Currently implementing the following class:
[code]

Adding Queries and Mutations should be straightforward from an input type
[code]

## Feature Request Type

- [x] Core functionality
- [x] Alteration (enhancement/optimization) of existing feature(s)
- [x] New behavior

## Description

However, this returns the following error

`TypeError: Query fields cannot be resolved. Field type must be an out

[2022-11-30 21:01] tsmith023 commented on #2351
@krauss, I believe that the error you're encountering is as a result of the Websockets API exposed within the browser. If you inspect the console in the browser you'll see that your custom headers aren't even being attached to the request.

![Screenshot from 2022-11-29 21-40-10](https://user-images.githubusercontent.com/66489849/204904091-ce5285ba-c023-4727-b920-3245820c3415.png)

It seems that cu

[2022-11-30 21:10] tsmith023 commented on #2021
Here's an MRE that I'm using for anyone else to try:
[code]

[2022-11-30 21:31] DoctorJohn commented on #2351
Connection params are actually supported by strawberry, they are part of the graphql over websocket specification we implement. The connection params can be accessed by subclassing the `GraphQLTransportWSHandler`. Here is an example with the aiohttp integration but it basically works the same with other integrations:

[code]

[2022-11-30 23:19] tsmith023 commented on #2351
@DoctorJohn
That's great news, thanks for letting me know!

@krauss
I'll open a PR that implements this as a feature of the FastAPI integration and hopefully get it merged in the coming days.