[2019-02-28 21:07] patrick91 opened #3 "Add support for scalar types"
- [x] String: str
- [x] Int: int
- [x] Float: float
- [x] Boolean: bool
- [x] ID: strawberry.ID

[2019-02-28 21:08] patrick91 opened #4 "Add support for unions"
- [x] Anonymous unions
- [x] Named unions

[2019-02-28 21:08] patrick91 opened #5 "Add support for queries"

[2019-02-28 21:08] patrick91 opened #6 "Add support for mutations"

[2019-02-28 21:09] patrick91 opened #7 "Add a debug server"
- [x] strawberry run app.py
- [x] graphql playground
- [x] console logging

[2019-03-01 01:45] patrick91 opened #9 "Mark arguments with default values as optional"
[code]

[2019-03-01 17:52] #7 closed, assigned to nobody

[2019-03-01 17:53] #3 closed, assigned to nobody

[2019-03-01 17:53] #5 closed, assigned to nobody

[2019-03-02 02:55] patrick91 opened #12 "Refactor CLI folder structure"

[2019-03-02 02:55] patrick91 opened #13 "Allow to specify host and port in dev server"

[2019-03-02 02:56] patrick91 opened #14 "Improve starting message for dev server"
Right now it doesn't tell the user that the dev server is running, and it also shows this message which is not really helpful:

[2019-03-02 02:57] patrick91 opened #15 "Move starlette custom GraphQL app to contrib"

[2019-03-02 03:15] #15 closed, assigned to nobody

[2019-03-02 14:48] patrick91 opened #17 "Support forward references"
See: https://www.python.org/dev/peps/pep-0563/#forward-references

Right now the following code would break:

[code]

This is the error we get:

[code]

[2019-03-02 17:13] #14 closed, assigned to nobody

[2019-03-02 17:13] #13 closed, assigned to nobody

[2019-03-02 18:57] patrick91 opened #19 "Add option to enable/disable logging in server"

[2019-03-02 19:03] patrick91 opened #20 "Add support for description in fields"
[code]

[code]

We also need a way to define descriptions on simple fields

[code]

[code]

See:
- https://www.python.org/dev/peps/pep-0257/
- https://stackoverflow.com/a/20529741/169274
- http://www.sphinx-doc.org/en/master/usage/extensions/autodoc.html#directive-autoattribute

[2019-03-02 19:31] patrick91 opened #21 "Add support for enums"

[2019-03-13 23:10] patrick91 opened #24 "Move site outside this repo"
I'll move this repo to an organisation so it makes sense to move the website to a new repo as well :)

[2019-03-13 23:22] #24 closed, assigned to nobody

[2019-03-24 00:01] #17 closed, assigned to nobody

[2019-03-24 21:00] #6 closed, assigned to nobody

[2019-03-31 22:28] patrick91 opened #31 "Add tests for subscription"

[2019-03-31 22:28] patrick91 opened #32 "Add tests for starlette server"

[2019-03-31 22:31] patrick91 opened #33 "Subscriptions are returning data not wrapped into a field"
It should return:

[code]

![image](https://user-images.githubusercontent.com/667029/55296087-f77cc200-540c-11e9-9492-9aae63722765.png)

Repro:

[code]

[2019-04-06 09:12] #33 closed, assigned to nobody

[2019-04-06 09:14] patrick91 opened #35 "Automate deployment and housekeeping"
We should automate publishing to PyPI if possible :)

Might be nice to have this action to delete the branches on merge:

https://github.com/jessfraz/branch-cleanup-action

[2019-04-07 15:39] #31 closed, assigned to nobody

[2019-04-07 18:31] patrick91 opened #36 "Convert field names to camel case"
Currently, when creating a field with underscores it will be kept with underscores. We should convert them to camel case by default, and allow users to change that if they want :)

[code]

Returns:

[code]

[2019-04-07 21:53] patrick91 opened #37 "Support for field permissions & visibility"
Would be nice to have a simple way to require permission for specific fields and also hide them from the schema (visibility).

Permission example (borrowed from DRF)

[code]

Visibility example, what this should do is to completely hide the field from the schema if the client is not able to see it (so not even shown when doing introspection).

[code]

[2019-04-07 21:59] patrick91 opened #38 "Schema merging support for remote schemas"
This might make Strawberry a good API gateway tool, the idea is to allow merging of multiple GraphQL schemas into one, and delegating the execution of queries to those APIs when requested.

The API might look like this:

[code]

We might want to think of transforming the schemas when needed, for example when names are conflicting or when we want to add fields (extending types)

[2019-04-07 22:01] patrick91 opened #39 "Investigate caching options and Apollo Cache Control"
https://github.com/apollographql/apollo-cache-control [deprecated]
https://www.apollographql.com/docs/apollo-server/performance/caching/

Caching in GraphQL is not super easy, we might add some utilities for it :)

## Upvote & Fund

- We're using [Polar.sh](https://polar.sh/strawberry-graphql) so you can upvote and help fund this issue.
- We receive the funding once the issue is completed & confir

[2019-04-07 22:02] patrick91 opened #40 "Support for Apollo Tracing"
This should allow tracing performance problems in APIs made with Strawberry:

https://github.com/apollographql/apollo-tracing

[2019-04-13 09:13] patrick91 opened #43 "Convert Starlette App to ASGI 3"

[2019-04-14 09:04] #21 closed

[2019-04-14 21:53] #20 closed

[2019-04-15 13:23] patrick91 commented on #36
Closing this for now, we can make this optional later, if needed :)

[2019-04-15 13:23] #36 closed

[2019-04-25 22:08] marcoacierno commented on #35
See pr #51

[2019-04-30 21:43] patrick91 commented on #35
Closing this as we merged #51! :D

[2019-04-30 21:43] #35 closed

[2019-04-30 21:45] patrick91 opened #53 "Add AUTHORS file"
I think it would be nice to acknowledge all the contributors and add them to the AUTHORS file, as Django does. Maybe we can automate this with the deploy script, we could also mention people in the release notes, that would be really nice :D

https://github.com/django/django/blob/master/AUTHORS

[2019-04-30 22:32] adamchainz commented on #53
FYI I removed authors files from my projects recently because after further contributions, they were out of sync. I'm not even sure the Django one is a good idea at this point, there are 1700 GitHub contributors and just 900 in the authors file. Although there may be duplicate GitHub accounts, and simple contributions like a few typo fixes, a lot of contributors have probably missed the file and g

[2019-04-30 23:23] patrick91 commented on #53
Uh, that's a good point :)

I'll close this for now, maybe we can add a page on the website in the future (and use GitHub's API to fetch the contributors :) )

[2019-04-30 23:23] #53 closed

[2019-05-09 02:38] patrick91 opened #54 "Add support for interfaces"
We should be able to define interfaces with strawberry, something like this:

[code]

[2019-05-09 13:51] #54 closed

[2019-05-09 13:59] patrick91 opened #56 "Add support for renaming fields"
We should be able to specify a custom name for a field when needed, like this:

[code]

[2019-05-09 14:42] #56 closed

[2019-06-07 21:32] patrick91 opened #83 "Document release process"
Currently only me and @marcoacierno know that we can automatically release strawberry on PyPI. We should document this, and maybe make a bot that suggests to add a Release file :)

[2019-06-07 21:45] patrick91 commented on #83
We could use this for the bot: https://probot.github.io/

[2019-06-07 22:17] jaydenwindle opened #84 "Add Django Support"
I'd love to see strawberry support Django as a first class citizen via a contrib package. To start, it could be as simple as adding a Django view that exposes a GraphQL endpoint and the GraphQL Playground. From there, a lot of other neat features could be added, such as:

- Django authentication integration
- Out of the box subscription support using Django channels
- Automatic type generation fro

[2019-06-07 23:29] jaydenwindle commented on #40
There's been some discussion about this in the Graphene project (see https://github.com/graphql-python/graphene/issues/476), and it looks like fully supporting tracing will require changes to `graphql-core-next` in order to properly measure `parsing` and `validation` times, since middleware at the moment are limited to wrapping resolvers.

However, we should be able to measure resolver-level traci

[2019-06-08 01:00] jaydenwindle commented on #38
Apollo just released [Apollo Federation](https://www.apollographql.com/docs/apollo-server/federation/introduction/), which looks like their attempt at solving this problem. I'll need to dive into the source code a little more to find out how it's implemented, but we might be able to port their solution to python and include it.

Their implementation also looks like it supports merging local and re

[2019-06-08 11:55] patrick91 commented on #38
@jaydenwindle yes, I had a quick look at that, not sure we should port it to python, at least for now[1] :)

What we could implement is the federation spec so strawberry APIs can be used with Apollo federation: https://www.apollographql.com/docs/apollo-server/federation/federation-spec/

[1] I'm guessing if people do schema stitching they might be fine with a gateway in node, not sure though, I do

[2019-06-08 11:57] patrick91 commented on #84
Yes totally! I'd love to see this happen (I'd love to use strawberry for some Django side project I have).

I'm currently focused on finishing ASGI support (mainly adding tests and a better structure of the code), would you like to work on this? :)

[2019-06-08 19:08] jaydenwindle commented on #84
I'd love to work on this! I'll throw up some PRs in the next couple of days :)

[2019-06-10 19:33] jaydenwindle commented on #84
I've been giving this some thought, and I think that Django support would make more sense as it's own package (similar to how Graphene is set up). That way we don't have to worry about managing extra dependencies or releasing changes to strawberry that affect only the Django package.

I'll spin up a repo with the Django extensions and we can add it to the strawberry org when it's ready to release.

[2019-06-10 20:34] patrick91 commented on #84
@jaydenwindle I'm a bit opposed to that, to be honest, there were some talks of merging some of the libraries back to the graphene repo. For example, if we do changes to strawberry "core" we need to update all the other packages probably.

For dependencies we could do something like:

`pip install strawberry[django]`

or even have a metapackage that does that for you:

`pip install strawberry-djan

[2019-06-10 20:49] jaydenwindle commented on #84
Oh interesting - I didn't know there were discussions around that in Graphene. In that case I'll add it directly to this repo :)

[2019-06-10 20:54] patrick91 commented on #84
@jaydenwindle :) thanks!

Hopefully it won't be a bad idea!

[2019-06-20 16:24] jaydenwindle commented on #4
@patrick91 I'd love to take a crack at this - can you provide a little more info?

[2019-06-20 20:22] patrick91 commented on #4
Sure! Currently, we only support "anonymous" unions[1], I mean unions declared inline:

[code]

this would create a new union type with name "A", not sure I like this as we can easily end up with conflicting union types (maybe we can namespace them with the type name, so "ExampleA").

Anyway, I was thinking that maybe we should support named unions, like this:

[code]

or maybe like this, not sure

[2019-06-22 16:21] patrick91 commented on #38
@jaydenwindle I'm going to close this for now, we should talk about getting federation support in, seems something quite useful!

[2019-06-22 16:21] #38 closed

[2019-06-22 16:22] #9 closed

[2019-06-24 19:48] jaydenwindle opened #96 "Allow raw types as subscription definition type annotations"
Currently it appears that when defining a subscription the return type annotation must be set to `typing.AsyncGenerator[str, None]`, like so:

[code]

Do we need to use `typing.AsyncGenerator` as the return type for subscription definitions? I'm not sure that I love that dev experience. Would it be bad practice to use raw types as the return type? Something like:
[code]

Or maybe a we could use a

[2019-06-25 07:47] patrick91 commented on #96
@jaydenwindle yes, that's a very good point, I don't like that too, not sure what our best options are.

The reason why I was using `typing.AsyncGenerator` is because MyPy was complaining :D

I'd say I like your last suggestion, but maybe it should look like this:

[code]

so it looks more like a python typing type ;)

We should maybe also have a look at MyPy plugins, like the one for dataclasses:

[2019-06-25 16:54] jaydenwindle commented on #96
I like that option too!

I'll have to look a little deeper into how MyPy does its magic, but I think if we define `strawberry.SubscriptionResult` as a custom type that's just a wrapper around `typing.AsyncGenerator` it should keep MyPy from complaining.

[2019-06-25 17:39] #19 closed

[2019-06-25 17:39] #32 closed

[2019-06-25 17:39] #43 closed

[2019-07-07 18:18] johnchuks commented on #37
Hi @patrick91! great package you have here. I have been working with graphene-python more than a year now. I really like how you are utilising python dataclasses. I am interested in contributing to your project. Do you mind if I take a crack at this issue?

[2019-07-07 18:35] patrick91 commented on #37
@johnchuks not at all :) let me know how it goes! :D

Are you on Graphene's slack? I'm usually there if you want to chat :)

[2019-07-07 18:41] johnchuks commented on #37
Awesome! - Thank you. I am not on there actually - I will join it now

[2019-07-16 06:42] #37 closed

[2019-07-18 03:38] japrogramer opened #109 "Custom directives"
I need a way to declare custom directives.

@key (fields: ...)
@external
@requires(fields: ...)

for reference this is how some of graphql-python's directives are declared
https://github.com/graphql-python/graphql-core/blob/master/graphql/type/directives.py

[2019-07-18 08:48] marcoacierno commented on #4
What about using `NewType` to define named unions?

Something like:

[code]

[2019-07-19 15:16] marcoacierno opened #112 "Mutation level permissions"
It would be great to have a way to specify permissions for a mutation, something similar to what we did for the fields

[2019-07-21 10:34] marcoacierno opened #114 "Custom scalars"
Sometimes it's useful to define custom scalar types in your schema, the examples I can think of right now are DateTime and Date.

That's how I implemented them in a project

[code]

It would be cool to have a decorator like `strawberry.scalar` that allows you to automatically define and register a new type + scalar:

[code]

I'm not sure how the interface might look to define `serialize`, `parse_v

[2019-07-26 16:43] patrick91 opened #115 "Apollo Federation Support"
I was thinking of adding support for Apollo Federation, in order to make this happen the following TODOs need to be tackled:

- [ ] Allow support for custom directives #109
	not really true, but having a pythonic way of defining directives will help
- [ ] Output types in schema even if they are not used by a query
	Right now we only output fields that are used (directly and indirectly) in a query.

[2019-07-26 18:10] patrick91 commented on #115
Another example, a bit more abstracted:

[code]

[2019-07-28 08:12] ethe commented on #115
I think `author: User = strawberry.field(directives=[provides(fields="username")])` does not make sense to Python semantics. `strawberry.field(directives=[provides(fields="username")])` is not a field default value to `Review.author`.

[2019-08-15 12:14] conatus commented on #84
Would love to see this!

[2019-08-30 22:46] patrick91 opened #127 "Lists being marked as Optional"
When defining a list the resulting schema marks the list as optional (or nullable in GraphQL terms) even if it wasn't wrapped in `typing.Optional`, we should fix that :)

[2019-08-31 08:03] #127 closed

[2019-09-05 19:41] #84 closed

[2019-09-06 22:28] patrick91 opened #141 "Types representation is not helpful"
Currently the representations for types and enums aren't really helpful, especially while debugging:

[code]

I think we should move the current representation to be used only when using the class and not an instance, for the instances we can keep what dataclasses is giving us:

    ... class Example:
    ...     arg: str
    ...

    Example(arg='abc')

[2019-09-06 22:38] patrick91 opened #142 "ASGI app broken with asyncio"
Our ASGI app is currently broken with async io stuff. The implementation I made needs a bit of love :) We might have a look at how Ariadne is doing this :)

Here's a test that fails:

[code]

[2019-09-06 22:49] jaydenwindle opened #143 "Add Graphene compatibility"
It would be awesome to be able to incrementally adopt strawberry types into an existing Graphene project. That way users don't have to re-write their existing GraphQL APIs if they want to try strawberry.

Perhaps we could create a way for users to merge Graphene and strawberry schemas, and serve the combined schema from a single endpoint.

This may be easier to implement now that both libraries us

[2019-09-07 00:07] jaydenwindle opened #144 "Add Enum generation for Django choice fields"
It would be great to support generating enum return types for Django `CharField`s where `choices` are defined. Currently strawberry resolves all `CharField` values to a `String` type.

We'll need to make sure that we don't define duplicate enum types or use names that would clash with other types in the schema.

See https://github.com/graphql-python/graphene-django/issues/185#issuecomment-38863998

[2019-09-08 23:11] sciyoshi commented on #141
This isn't really possible to do using a class decorator, since customizing the `repr` for a type involves metaclasses and you can't change that after the type has been created. There's a few alternatives here:

1. Introduce a metaclass + base class instead of the `strawberry.type` decorator, which would let you do this. Changes how you use the library, diverges from how you expect dataclasses to

[2019-09-09 09:23] patrick91 commented on #141
We could have a custom print that works with our types, I don't think graphql-core will want to change behaviours :)

So I'd do 3 plus a utility function that knows how to print our types. I think in future we will probably customise the printer anyway (to support schema directives), so I think it is fine using a custom function :)

[2019-09-13 20:52] davidroeca opened #149 "Add integration for flask and quart"
Any plans for implementations targeting [flask](https://github.com/pallets/flask) or [quart](https://gitlab.com/pgjones/quart/)?

Alternatively, is there a standard way a third party could write a plugin for strawberry that targets an alternative framework? Asking because I like the design of `strawberry` models, but switching the entire framework leads to a pretty big migration rather than just s

[2019-09-13 20:56] davidroeca commented on #149
:man_facepalming: forgot that [flask-graphql](https://github.com/graphql-python/flask-graphql) just targets a schema. Closing

[2019-09-13 22:08] patrick91 commented on #149
@davidroeca I think it might still be worth adding a view like the one we did for Django, so you don't need to install another package for this :)

[2019-09-21 09:04] patrick91 opened #153 "Debug option for Django view"
Would be nice to have the ability to see queries and responses directly from the django shell, I was trying to debug an error on CI and it would have been helpful :)

[2019-09-21 22:17] lucasvazq commented on #143
What does strawberry contribute that graphene doesn't?

[2019-09-22 17:35] gokceneraslan opened #154 "Loading schema from SDL file"
Hi, thanks for this great package.

I was wondering if there is convenient way to automatically populate Schema objects using a json/SDL file e.g. something similar to the build_schema function in graphql-core-next https://graphql-core-next.readthedocs.io/en/latest/usage/sdl.html ?

[2019-09-22 17:46] patrick91 commented on #154
Hi @gokceneraslan, this is something we are not planning on implementing, do you have any particular reason why you'd want this in Strawberry?

Have you already seen [Ariadne](https://github.com/mirumee/ariadne)? Might be what you're looking for!

We were thinking of adding support for converting a SDL to strawberry types (without resolvers), so you could import an SDL as a one time operation, wou

[2019-09-22 17:55] patrick91 commented on #143
@lucasvazq at the moment we don't really offer much more than Graphene, we are mainly playing with a nicer API and trying to add new functionalities (like field permissions) :)

[2019-09-22 19:27] gokceneraslan commented on #154
Oh I didn't know about it, thanks!

That'd be awesome thanks!

[2019-09-22 19:27] #154 closed

[2019-09-24 13:10] agritheory commented on #143
I'm new to both these packages, but doesn't graphene support `class MyClass(object)`-flavored classes, as opposed to _just_ dataclasses? I can image additional class methods beyond just a data store would be helpful (event hooks, data validation that requires a database connection, duplication...)

[2019-09-24 13:15] agritheory commented on #114
Additional examples might include Decimal (or a similar custom currency type) and uuid?

[2019-09-24 13:22] agritheory commented on #144
Does this have to be Django specific? A choice-to-enum pattern/utility would be helpful regardless of framework or database.

[2019-09-24 14:07] patrick91 commented on #114
@agritheory good point! I think I saw somewhere also a Currency scalar :)

We definitely want to support this, we are currently using a hack for this for PyCon Italy's website: https://github.com/pythonitalia/pycon/blob/master/backend/api/scalars.py

but we'll add first class support for this soon!

[2019-09-24 14:08] patrick91 commented on #144
@agritheory we do support python enums already! See here: https://github.com/strawberry-graphql/strawberry/blob/master/tests/test_enum.py

I've asked a friend to work on the design for the new website+docs so hopefully we'll start working on documentation soon :)

[2019-09-24 14:10] patrick91 commented on #143
You can still do that with data classes, like:

[code]

is that what you meant? :)

[2019-09-24 14:24] agritheory commented on #143
This is going to sound dumb, but I didn't think that dataclasses allowed methods. The "mutable namedtuples with default" description would make you think that _wasn't_ a feature. Happy to be wrong about this.

[2019-09-24 15:11] patrick91 commented on #143
@agritheory you can have methods on dataclasses (and I think also on named tuples when using them as `class X(NamedTuple)`) :)

<img width="373" alt="image" src="https://user-images.githubusercontent.com/667029/65521863-2d958d00-deea-11e9-8c76-55d2225099bf.png">

[2019-09-24 19:34] agritheory opened #156 "Update wiki"
Because GitHub does not support PR's against wikis, please review the changes at:
https://github.com/agritheory/strawberrywiki

I added what was to me the next obvious step, which was documenting interactions with the strawberry dev server.

I plan to continue to add add tutorial-ish pages, next with a nested data example and a fragment.

[2019-09-24 19:48] patrick91 commented on #156
@agritheory oh that looks like a good start! would like to add a PR using Mkdocs?

I was speaking with @jaydenwindle about using Gatsby for the new website, but that's going to take a bit of time (as I'm waiting for a design), but I'm sure we can re-use the mkdocs things :D

[2019-09-24 20:20] agritheory commented on #156
Really any markdown-friendly static site generator will work, right? Having it read the md from here does two things: it synchronizes the wiki and the documents but still allows you to host project documentation in the style you want to on an independent site (presumably with other features if needed, like a independent dev blog or something). GitHub pages would work for this, I would think.

[2019-09-24 20:25] patrick91 commented on #156
@agritheory yes, so my idea was, add docs here, so one could read on GitHub (or even locally if you downloaded the repo).

Make a new repo for the website and automatically pull docs from this repo (should be easy with Gatsby). So all the docs will live here, but the code for the site will be in another repo :)

I can setup an example in the next few days to show how this would work :)

[2019-09-25 13:04] PythonLinks opened #157 "Lightning Talk on Strawberry"
i watched the excellent talk on GraphQL and strawberry at EuroPython 1019.  This library makes a lot of sense to me.  But sadly people want 5 minute lightning talks.  Has anyone created one.  I want to add it to PythonLinks.info.

[2019-09-25 13:36] patrick91 commented on #157
@PythonLinks I did one here: https://youtu.be/TAhBIzOjo2c?t=1047 hope that's good enough :)

[2019-09-25 15:30] patrick91 commented on #157
I'll close this for now, let me know if there's any other question!

[2019-09-25 15:30] #157 closed

[2019-09-25 15:35] patrick91 opened #158 "Setup docs with mkdocs"
https://www.mkdocs.org

A friend of mine is working on a design for the new website which will also include the docs, but for now I think we can start with mkdocs. The new website will pull the documentation from this repo so no work will be wasted in case we start this before the new website :)

[2019-09-25 15:39] patrick91 opened #159 "Add SDL to strawberry conversion tool"
It would be nice to have a command to convert an SDL to strawberry types, something like:

[code]

[code]

[code]

This should support description and directives if possible :)

[2019-09-25 15:53] Jatinbalodhi96 commented on #159
@patrick91 I want to work on this. How to get started on this?

[2019-09-25 16:59] patrick91 commented on #159
@Jatinbalodhi96 I'll assign you to this issue :)

We have a small contribution guide here: https://github.com/strawberry-graphql/strawberry/blob/master/CONTRIBUTING.md#contributing-to-code

We also have a cli setup (which should be refactored I reckon): https://github.com/strawberry-graphql/strawberry/blob/master/strawberry/cli/__init__.py

So maybe you can start from that, what do you think?

[2019-09-25 19:09] Jatinbalodhi96 commented on #159
thanks, @patrick91 I followed the guide but while running I faced two errors:

1.  `poetry run pytest tests` it gives me `ModuleNotFoundError: No module named 'termios'` error, after searching figure out that this library is for Linux only.
2. While `import strawberry` I got `no Module named 'graphql'` even I already ran poetry install which ran.

Also tried running on linux env git below error
![

[2019-09-25 20:34] patrick91 commented on #159
@Jatinbalodhi96 uh, never seen that error, what os and python version are using?

[2019-09-25 20:41] Jatinbalodhi96 commented on #159
I'm using python 3.7 on windows 10, Now I'm able to run
- I'm able run strawberry now but i installed graphql seperately using `pipenv install --pre "graphql-core>=3a"`

The error I sent earlier was because I was installing graphql using `poetry add graphql`, I'm not sure if it works same for all.

[2019-09-25 20:45] patrick91 commented on #159
@Jatinbalodhi96  oh interest, I never tried strawberry or event GraphQL core on windows, I'll see if I can add tests for that, I don't have a windows machine at the moment, so it might take me a while to test this :)

[2019-09-25 21:25] Jatinbalodhi96 commented on #159
@patrick91 I've never used poetry before but is this correct way to build the dev version.
![image](https://user-images.githubusercontent.com/10434201/65640881-fe297200-e008-11e9-9c60-a936dd3a9220.png)

because I'm unable to run strawberry cli, but able to import strawberry.

[2019-09-25 21:26] patrick91 commented on #159
@Jatinbalodhi96 yes :)

can you try with

`poetry run strawberry` ?

[2019-09-25 21:46] Jatinbalodhi96 commented on #159
@patrick91 thanks this command run cli, but also I'm unable to import strawberry if I'm outside the directory, so like we do with pip for dependency installation `pip install -e .`

[2019-09-25 21:50] patrick91 commented on #159
@Jatinbalodhi96 yes, poetry works a bit differently than pip, here's the docs on add: https://poetry.eustace.io/docs/cli/#add

do use it like `pip install -e .` you need another poetry project as far as I understand :)

[2019-09-26 09:01] johnchuks commented on #149
@patrick91 I would love to take a crack at this issue.

[2019-09-26 09:21] patrick91 commented on #149
@johnchuks assigned to you! :)

[2019-09-26 09:23] patrick91 opened #160 "Move CI to GitHub actions and add tests on windows"
There's a PR open for this, might be worth picking it up again: https://github.com/strawberry-graphql/strawberry/pull/148

So we can use GitHub Actions to run tests on windows as well as linux and Mac OS :)

TODO

- [x] Run release on github actions (currently it is on circle ci)
- [ ] Run tests on windows

[2019-09-26 09:42] johnchuks commented on #149
Awesome!

[2019-09-26 18:42] patrick91 opened #161 "Expose DirectiveLocation from strawberry.directives"
Our changelog has this example for directives:

[code]

but we don't have `strawberry.directives` package :)

[2019-09-26 18:43] patrick91 commented on #161
Ok, we have strawberry.directive, we should probably rename it or update the changelog :D

[2019-09-26 18:47] patrick91 opened #162 "Add DirectivesMiddleware to Django"
Currently directives are not working when using the Django view, like we have done for the ASGI app:

https://github.com/strawberry-graphql/strawberry/commit/92d8f5de1f4f9f88c8e4b38fca5538d2a56424c7#diff-d6a364f593ab251cd7ee3024456f07f5R17-R44

[2019-09-29 17:20] patrick91 commented on #141
I've found a way to do this, but is not that nice: https://stackoverflow.com/a/56123966, but for now I'll remove the custom repr :)

[2019-09-29 17:26] #141 closed

[2019-09-30 21:37] mohatagarvit commented on #161
Hi, is the issue still persistent? If yes, can i work on the issue?

[2019-09-30 22:36] LeptoSpira commented on #158
Just as a note, we can also use other tools such as [Docusaurus](https://docusaurus.io/) and [DocFX](https://dotnet.github.io/docfx/)

[2019-09-30 22:37] LeptoSpira commented on #158
If I were to have a go at this, would I be able to use any of these other tools?

[2019-10-01 01:01] LeptoSpira commented on #149
Is there still help wanted for this?

[2019-10-01 08:12] patrick91 commented on #158
@LeptoSpira hi there! My only requirement is that the docs source are in markdown files :)

The end goal would be to have documentation files here and maybe in the meantime use a tool like mkdocs (the only one I tried) or similar to have a documentation site and the migrate to the new website which is going to use Gatbsy JS (a friend of mine is working on the design for it).

The idea is to have a

[2019-10-01 08:31] patrick91 commented on #149
Let's wait a couple of days for @johnchuks to answer :) otherwise I think you can work on this :)

[2019-10-01 08:32] patrick91 commented on #161
@mohatagarvit yup, still present :) feel free to send a PR

[2019-10-01 10:48] parikshitgupta1 commented on #162
Are the directives active now?
92d8f5d#diff-d6a364f593ab251cd7ee3024456f07f5R17-R44

[2019-10-01 10:50] patrick91 commented on #162
@parikshitgupta1 no :) the `execute` function linked there is only used in the ASGI middleware, but not in django, see here:

https://github.com/strawberry-graphql/strawberry/blob/master/strawberry/contrib/django/views.py#L52

we need to make a custom graphql_sync I think :)

[2019-10-01 11:11] Erfaniaa commented on #161
Please review my pull request.

[2019-10-01 11:19] #161 closed

[2019-10-01 12:54] KIRA009 opened #170 "Can't install using pip"
I tried installing the module using pip
`pip3 install strawberry-graphql`

This was the response
[code]

[2019-10-01 14:20] patrick91 commented on #170
Just tried this on my server:

[code]

@KIRA009 I'm not sure how to debug this issue, but can you comment with some information about:

1. python version
2. pip version
3. os version
4. result of `pip3 config list`

hope to help!

[2019-10-01 14:46] KIRA009 commented on #170
Thanks for replying quickly. I will definitely update you with required info.

Also looking forward to solving the `hacktober` labelled issues

[2019-10-01 16:42] Ultra-Instinct-05 commented on #158
Hello @patrick91. Can I take up this issue ? I had documented one of my previous projects with mkdocs.

[2019-10-01 18:49] patrick91 commented on #158
@Ultra-Instinct-05 yes!

[2019-10-02 03:53] Ultra-Instinct-05 commented on #158
@patrick91 . How should I proceed with this ? Anything specific to remember before implementing this ?

[2019-10-02 05:11] patrick91 commented on #158
@Ultra-Instinct-05 other that what has been mentioned here not really, feel free to send a draft PR when you have one and I'll review the approach ;)

I'll take care of deploy the docs too :)

[2019-10-03 13:35] susw12 commented on #153
I might be able to help out with this. Could you please provide a little bit more information about what you are looking for?

[2019-10-04 10:08] patrick91 commented on #153
Hi @susw12, not really to be honest we also have a pretty printer we use for the ASGI server: https://github.com/strawberry-graphql/strawberry/blob/master/strawberry/utils/debug.py#L11

But not sure how that would look in django, maybe we can use django's logging mechanism?

[2019-10-04 15:08] Kerl1310 commented on #109
I'd be willing to look into this

[2019-10-04 16:10] patrick91 commented on #109
@Kerl1310 nice! this seems to be a non easy task, so happy to see someone wanting to contribute :)

I was trying to create directives for apollo federation here: https://github.com/strawberry-graphql/strawberry/issues/115

but I noticed that graphql-core doesn't support server directives, so I think we'd need to extend graphql-core for that

[2019-10-05 02:03] harry-7 commented on #12
Can you elaborate a bit on what you meant by refactor?

[2019-10-05 02:51] agritheory commented on #149
I asked about Strawberry + Quart over on the Quart gitter channel and Phil (Quart's author) had this interesting pattern:

    class SplitMount:
        def __init__(self, base, extra, path):
            self.base = base
            self.extra = extra
            self.path = path

        async def __call__(self, scope, receive, send):
            if scope["path"].startswith(self.path):

[2019-10-05 21:06] patrick91 commented on #12
@harry-7 hi there!

Currently our CLI consist of only one file: https://github.com/strawberry-graphql/strawberry/blob/master/strawberry/cli/__init__.py

Would be nice to move to multiple files as we are going to have multiple commands in future. I'd love to fix the reloader too, which seems to be a bit broken at the moment.

[2019-10-05 21:06] zhidelev commented on #160
Hello, @patrick91 , I would like to work on this issue.  I decided to run tests on Windows and mypy tests failed because of the pytest_mypy plugin using https://pypi.org/project/capturer which does not support Windows. So I will think about a workaround for this case. Other test cases passed on Windows.

[2019-10-05 21:14] patrick91 commented on #160
@zhidelev thanks! that's really appreciated!

[2019-10-06 00:07] harry-7 commented on #12
Hello. So I don't see what else I need to move that directory.

[2019-10-08 21:49] un33k commented on #143
Graphene is meant to remain in the past.   This seems to be a lean and clean fresh start.  Bloating it with logic to look into the past will cost energy that can be put in forward looking features.  Such as pagination etc.

[2019-10-08 21:53] un33k opened #175 "Add pagination support"
[ x ] Feature Request
[ x ] Documentation

If pagination is supported, be nice to include it in documentations.  If there is no plan to support it, it'd be nice to provide an example for developers to role their own.  Otherwise, let's keep this issue around to track the pagination feature.

[2019-10-11 08:11] Hispar commented on #170
I'm having the same problem:
1. Python 3.6.8
2. Pip 19.0.3
3. Ubuntu 18.04.3
4. pip3 config list doesn't output anything. pip3 list output is
`pip   19.0.3`
`setuptools 40.8.0`

[2019-10-11 09:58] marcoacierno commented on #170
I think it might be caused by the fact that we require python 3.7?

[2019-10-11 10:14] Hispar commented on #170
@marcoacierno thanks for the answer didn't know that.
Maybe add a requirements line in the README will avoid this kind of errors.

[2019-10-11 10:17] marcoacierno commented on #170
I don't think we need to restrict to python 3.7 actually, as we only use the f-strings which is available from 3.6. We can definitely change the restriction to >=3.6

[2019-10-11 10:25] KIRA009 commented on #170
I am running Python 3.7 in my system

[2019-10-12 09:40] marcoacierno commented on #170
@KIRA009 Ah! I saw the same error when I tried to install strawberry on python2 that's why I connected the two things.

Can you try running the commands @patrick91 sent?

[2019-10-14 16:00] tomasmor42 commented on #158
Looks like this one doesn't have any movement for a while, so I'm starting working on it.

[2019-10-14 18:32] #142 closed

[2019-10-14 19:34] jaydenwindle commented on #175
Right now there are no specific utilities designed to support pagination (as far as I know). It would definitely be neat to support this though!

One way to implement basic pagination would be to use something like this:
[code]

This approach could be abstracted into a decorator for use in multiple queries as well.

If you'd like to add support for pagination using this approach, or write some doc

[2019-10-14 19:57] patrick91 commented on #175
@jaydenwindle thanks for answering 😊 at PyCon DE someone asked for Relay support, maybe we could write some helpers for that, I kinda this something here:

https://github.com/strawberry-graphql/strawberry-swapi/blob/master/utils.py

I think Graphene has something for arrays already, so we could import that. I don't really have much experience with Relay, so I'd happy to see someone working on this

[2019-10-15 02:18] un33k commented on #162
@patrick91 please have in mind that Django 3.0 is around the corner. With full async support, as per their [roadmap](https://github.com/andrewgodwin/deps/blob/async/draft/0009-async.rst)

[2019-10-15 09:43] patrick91 commented on #162
@un33k I think django 3.0 won't support async views. Support for that will arrive later :)

[2019-10-15 13:31] Kerl1310 opened #186 "Add pull request and issue templates"

[2019-10-16 12:26] #186 closed

[2019-10-17 14:30] dev-zero opened #190 "Add test for/document interface type resolution"
I switched over from graphene for a small test and have a hard time figuring out how to solve the

[code]

error message.

What I have so far is:

[code]

if I do something like:

[code]

I can write a query like:

[code]

but the following fails:

[code]

with

[code]

On the other hand, when I use the interface as return type:

[code]

I get:

[code]

but I am a bit at a loss here on where/how t

[2019-10-17 17:33] jaydenwindle commented on #190
I've been able to reproduce the issue you're having in a local environment.

I'm not 100% sure how interfaces are intended to work in strawberry, so I can't determine if this is a bug or expected behavior (@patrick91 can potentially provide some more information here).

In the meantime, you should be able to query the information you're looking for by using an inline fragment on `NodeIface` like s

[2019-10-17 17:53] jgosmann commented on #114
Is anyone already working on this? I'd be interested in taking a stab at this.

[2019-10-17 18:48] patrick91 commented on #114
@jgosmann  don't think anyone is working on this, feel free to take it :)

[2019-10-21 09:05] dev-zero commented on #190
@jaydenwindle thanks for the confirmation and the hint, I think I found a solution for it, see PR #193

[2019-10-24 03:11] bryanculver commented on #12
✋ I raised a PR regarding this.

[2019-10-28 13:18] #190 closed

[2019-10-30 10:43] patrick91 commented on #143
I'm going to close this for now, not sure support Graphene type is valuable at the moment, we can always reopen this in future :)

[2019-10-30 10:43] #143 closed

[2019-10-30 19:06] #114 closed

[2019-10-31 06:18] #12 closed

[2019-11-16 15:42] musavirchukkan opened #213 "mutation"
It would be great to have a way to specify permissions for a mutation, something similar to what we did for the fields

[2019-11-16 15:43] musavirchukkan commented on #213
It would be great to have a way to specify permissions for a mutation, something similar to what we did for the fields

[2019-11-16 19:41] jaydenwindle commented on #112
@marcoacierno This should be doable without any changes to strawberry, since `strawberry.mutation` is just a wrapper around `strawberry.field`. The following implementation works for me:

[code]
<img width="1066" alt="Image 2019-11-16 at 1 38 44 PM" src="https://user-images.githubusercontent.com/10178895/68998334-7fb5b780-0876-11ea-9067-7c673ae1fbed.png">

Is this what you had in mind?

[2019-11-16 19:42] jaydenwindle commented on #213
Hey @musavirchukkan! This looks like a duplicate of #112, so I'm going to close it for now. Please have a look at the solution proposed there and let me know if that works for you.

[2019-11-16 19:42] #213 closed

[2019-11-17 04:58] musavirchukkan opened #214 "directives"
Our changelog has this example for directives:

import strawberry
from strawberry.directives import DirectiveLocation

@strawberry.type
class Query:
    cake: str = "made_in_switzerland"

@strawberry.directive(
    locations=[DirectiveLocation.FIELD], description="Make string uppercase"
)
def uppercase(value: str, example: str):
    return value.upper()

schema = strawberry.Schema(query=Query, dir

[2019-11-18 16:23] jaydenwindle commented on #214
Duplicate of #169. Please don't open new issues that are word-for-word duplicates of existing (closed) issues :)

[2019-11-18 16:23] #214 closed

[2019-11-24 22:40] denizdogan commented on #175
Are there any simple examples of how to implement a decorator that's meant to be used in combination with `@strawberry.field`? I gave it a half-assed shot, but quickly got lost in type annotation jungle. I only recently started trying out this library, but it seems that type annotations are very central to the Strawberry library?

Any help would be appreciated, even just a simple example :) Sorry

[2019-11-24 23:05] patrick91 commented on #175
@denizdogan what did you try already? I'd like to know mainly because I'd like to make the library as user friendly as possible :)

I'll try to come up with an example tomorrow :)

[2019-11-24 23:38] denizdogan commented on #175
@patrick91 As I said, I didn't really try very hard :) But I slapped together a simple example which shows where I get stuck:

[code]

The above style gives me the following error:

`strawberry.exceptions.MissingReturnAnnotationError: Return annotation missing for field "replacement", did you forget to add it?`

So this is when I realize that I have to take care to not lose the type annotations, s

[2019-11-24 23:45] patrick91 commented on #175
oh, when we use `@strawberry.field` we add an attribute on the function, so that we can find it later (to created the field), but maybe this approach is not the best one as this is breaking in this case.

This is where we do it:

https://github.com/strawberry-graphql/strawberry/blob/master/strawberry/field.py#L175-L176

one solution (for now) would be do put that attribute yourself, but it is not

[2019-11-24 23:58] denizdogan commented on #175
If I switch the order of the decorators, I get:

[code]

Whenever you get the time and strength to give this a go, I'm very interested, but it's not really a pressing issue for me right now, so don't sweat it :)

I've been considering that maybe using a decorator for this kind of thing is not really the ideal way to implement something like pagination. I could see us wrapping the return value in s

[2019-11-28 09:16] guettli opened #222 "Homepage: Client or Server"
If you look at this page, then you don't know if this project provides a graphQL client or server.

I would add this to this page:

https://strawberry.rocks/

[2019-11-28 09:31] patrick91 commented on #222
@guettli that's a very good feedback! we are working on the new site at the moment: https://github.com/strawberry-graphql/strawberry.rocks/pull/3

you can see a preview here: https://strawberryrocks-git-feature-v2.strawberry-graphql.now.sh/

Do you think the new landing page is clear? :)

[2019-11-28 09:40] guettli commented on #222
Feedback: For you"inspired by dataclasses." says everything. For me it says nothing. I don't know dataclasses. I would not use that in the first sentance everybody reads.

[2019-11-28 09:44] guettli commented on #222
Feedback2: I don't care much about code. I love data. How does data get stored in strawberry?

[2019-11-28 11:04] KIRA009 commented on #170
The issue is solved, it was probably something to do with python aliases in my system

Also

[2019-11-28 11:05] patrick91 commented on #170
@KIRA009 thanks for the feedback! Maybe you can send a PR to update the Readme? :D

I'll close this now 😊

[2019-11-28 11:05] #170 closed

[2019-12-05 09:56] ma-9 opened #227 "Stickers"

[2019-12-05 10:59] #227 closed

[2019-12-11 16:33] blaggacao commented on #83
Somebody seemed to already got inspired: https://github.com/autopub/autopub

[2019-12-11 18:50] blaggacao commented on #83
I'm just gathering the bits (for what it's worth):
- Comment: https://octokit.github.io/rest.js/#octokit-routes-pulls-create-comment
- Delete a file: https://octokit.github.io/rest.js/#octokit-routes-repos-delete-file
- Get contents: https://octokit.github.io/rest.js/#octokit-routes-repos-get-contents
- Creat or Update: https://octokit.github.io/rest.js/#octokit-routes-repos-create-or-update-file

[2019-12-12 13:12] patrick91 commented on #83
@blaggacao I think at some point we should move to autopub (and also migrate everything off of circle-ci).

what do you mean with this? :)

PS. I think maybe we could close this issue for now, as we have a bot that comments and tells contributors to add a RELEASE.md file, that might suffice for now :)

[2019-12-12 15:16] blaggacao commented on #83
I noticed that both, CHANGELOG modification & RELEASE deletion would produce a commit through github API, autopub / your solutins.

A bot would still be nice (eg. hosted on now.sh) just for the sake of easy adoption... But that's probably not something for your todo list, I'd agree with that. :)

[2020-01-02 21:52] patrick91 opened #244 "Improve permissions support"
Right now permissions are working well, but I think we can improve them a bit.

- [ ] (1) Return an exception or warning if field with permission classes is not optional
- [ ] (2) Right now we return errors for each field that you don't have permissions to (see screenshot)

For (1) we currently don't do anything if the field that has permission classes is not optional, this breaks when we don't re

[2020-01-14 20:04] yngvarsh opened #250 "Include and skip directives bug"
Having the following code:

[code]

And the following query:

[code]

with variables:

[code]

We'll receive this response:

[code]

[2020-01-14 20:14] yngvarsh opened #251 "Autogenerated `return` directive argument bug"
Having the following code:

[code]

And the following query:

[code]

We'll receive this response:

[code]

[2020-01-19 22:43] #251 closed

[2020-01-21 23:59] #250 closed

[2020-01-23 17:15] patrick91 opened #257 "Only pass info when resolver asks for it"
I was thinking of making the API slightly easier for resolvers

so instead of having:

[code]

we could have this:

[code]

the difference is minimal, but it should make the library slightly more user-friendly 😊

[2020-01-23 17:53] mtszsobczak commented on #257
one example of practical usage of `info` is queries optimization like in here https://github.com/tfoxy/graphene-django-optimizer

[2020-01-23 19:03] patrick91 commented on #257
Yup, info is also useful for getting the current user for example. The idea here is to only pass it when it is in the resolver signature, kinda like dependency injection. If you use info it will be there, if you don’t use it, then you don’t have to put in the function signature.

Same for the root object when using function resolvers (as opposed to method resolvers).

Hope this is clearer (I’m on

[2020-01-24 07:18] mtszsobczak commented on #257
Cool, in general, I like that concept. What about queries with arguments and the order of arguments? Could `info` be placed in whatever position or always after self?

[2020-01-24 09:32] patrick91 commented on #257
@mtszsobczak we would pass info as a keyword argument, so the position won't matter anymore:

[code]

[code]

[code]

[code]

I think where this gets even nicer is with function resolvers:

[code]

[code]

[2020-01-24 12:12] mtszsobczak commented on #257
It simplifies basic usage and it does not limit the API :+1: . My only concern is that users might be confused by the dynamic position of info. But it might not be an issue after all.

[2020-02-04 23:09] patrick91 opened #266 "Automatically convert datetime, date and time"
We have custom scalars for datetime, date and time:

[code]

that we can use when declaring types, but it would be much better to support
python types directly :)

so we can do this:

[code]

instead of

[code]

[2020-02-07 23:54] patrick91 opened #268 "Roadmap for v1"
Hi everyone, I think it is time to start talking about a roadmap for version 1 of strawberry. I've been using the library on a few side projects and most importantly on [PyCon Italia's new website](https://pycon.it/). That has helped a lot in fixing bugs and making sure the API is nice and consistent. Also, we have had contributions from many different people (thank you so much!)[1].

In addition

[2020-02-09 20:45] patrick91 commented on #112
This already works fine, I'll close the issue :) Thanks @jaydenwindle  for checking 😊

[2020-02-09 20:45] #112 closed

[2020-02-10 22:15] marcoacierno commented on #244
I think (1) ((1) Return an exception or warning if a field with permission classes is not optional) feels more natural and intuitive without "magic" (i.e why my type becomes optional without me saying it in the dataclass definition?).

So basically: throw an exception/warning so the user can update the field and be aware of what is going on, instead of just changing it without saying anything...

[2020-02-11 14:05] denizdogan commented on #268
Looks good, I think you should add the #175 pagination support to the list :)

[2020-02-12 08:42] #266 closed

[2020-02-12 17:46] davidroeca commented on #149
More motivation for this - https://github.com/graphql-python/graphene-sqlalchemy/issues/248#issuecomment-584981555

Support for graphql-core async in flask-graphql is blocked by graphene 3.0

[2020-02-14 17:41] srbiotik commented on #159
Hey, I'm interested in working on this too, this would be my first contribution ever...
Is it possible for two people to be working the same issue?

[2020-02-14 18:17] patrick91 commented on #159
@srbiotik no one is working on this at the moment, feel free to try! Ping me if you need some help 😉

[2020-02-14 20:51] srbiotik commented on #159
@patrick91 Thanks a bunch, can't wait to sink my teeth into this!

[2020-02-15 18:25] srbiotik commented on #159
@patrick91 Hey, I'm implementing an optional recursive parameter for resolving import statements. This would allow for large schemes to be split up into files and still get parsed without calling the command multiple times. What do you think about this?

[2020-02-15 23:22] patrick91 commented on #159
@srbiotik large graphql schemas? that's interesting!

Personally I'd focus on being able to import a whole schema (even if it is one single file) and then add the support for import statements :)

[2020-02-19 22:21] srbiotik commented on #159
@patrick91 I'm working on distinguishing required fields from optional.
I approached the problem by comparing swapi graphql schema and split it into files which are located at `tests/cli/helpers` folder, since I can compare my output to the your swapi repository. There is one thing that kind of bugs me, why do some optional fields have `= None`  and others not?
When I look at the SDL there is no d

[2020-02-20 09:39] patrick91 commented on #159
The swapi repository I've worked on is quite outdated 😊

Anyway, the main reason there's `= None` in some places is because dataclasses don't set a default value for the field passed as optional:

![image](https://user-images.githubusercontent.com/667029/74920814-aed34c00-53c4-11ea-88ca-5cc82896eacc.png)

It shouldn't make a difference for the SDL though, regarding SDL to Strawberry types, maybe w

[2020-02-20 20:58] sarendsen commented on #257
How about context variables? https://docs.python.org/3/library/contextvars.html#module-contextvars

It would require 3.7+ but that wouldn't be a bad thing for such a young project.

[code]

[2020-02-21 09:50] patrick91 commented on #257
@sarendsen interesting, I'm not familiar with contextvars, at a quick glance it looks a bit like flask's request object, am I right?

[2020-02-21 10:26] sarendsen commented on #257
The idea is similar. But context vars being async safe.

[2020-02-21 12:50] patrick91 commented on #257
@sarendsen I see, I'm a bit conflicted, to be honest, I like the idea, but it feels a bit magic 😊

Do you have a strong opinion on this? I'd personally chose the function params if I have to :)

@jaydenwindle @marcoacierno @mtszsobczak what do you think?

[2020-02-21 13:18] mtszsobczak commented on #257
Hey, context vars look cool, but as you mentioned a bit magic.

I would also prefer function params as they look easier to reason about and test + the flow of information is explicit. But I didn't put much time for thinking about the context vars and using global context concept. I am curious to see how both approaches would scale taking into account testing :cat:

[2020-02-21 13:29] sarendsen commented on #257
I think the magic feeling lies in the fact that its a quit new python feature?
I actually quit like it and expect it to see it a lot more in the async world.

Heres a more complete example that hopefully shows that the use is actually not that magical.

[code]

[code]

[2020-02-21 15:40] jaydenwindle commented on #268
This is great @patrick91!

I definitely agree with focusing on stability and ease-of-use for v1. I think writing comprehensive docs is the biggest lift right now. Do we have a plan for what we want to document? I've started to work on some basic docs for queries and mutations, but it would be great to have a list of all of the areas we want to cover.

The other thing I'd really like to land for v1

[2020-02-21 22:55] patrick91 commented on #257
it is more about having request information coming from a "global" variable, if that makes sense

I'm going to read a bit about this, I'm +1 on using new features, but not sure in this case we really need it 😊

[2020-02-21 22:58] patrick91 commented on #268
So in my head I'd love to have the docs as user friendly as possible, maybe even teaching users some GraphQL concepts while reading our docs.

I need a bit of time to think about this, maybe we can open an issue for docs, but I guess what I'd like to see is:

1. getting started
2. tutorial
3. query
4. mutation
5. subscription
6. integration with django/flask
7. permissions
8. tips (how to make que

[2020-02-26 23:04] srbiotik commented on #159
Sure no problem, already implemented that, I'm wondering though about the description of the optional field. If a field has a description doesn't it need :
[code]
Further more, I think i should add a name argument if the snake_case version of the field name differs from the original name.

[2020-02-28 16:14] patrick91 commented on #159
I think it is not have `= None` :)

ID is usually self explicatory, but we should be able to do this:

[code]

[2020-03-08 02:38] coady opened #276 "Incompatibility with graphql-core 3.1."
[graphql-core 3.1](https://pypi.org/project/graphql-core/#history) is in beta, and causes an error on import.
[code]

[2020-03-25 13:50] patrick91 commented on #276
@coady fixed here #282! Will merge later today 😊

Sorry for the delay!

[2020-03-27 11:06] #276 closed

[2020-03-29 18:31] Ambro17 commented on #115
I would like to help in any task available to give support to Apollo federation to strawberry. I personally prefer the first alternative as it is more easily translatable to the SDL

[2020-03-29 21:41] patrick91 commented on #115
Hey @Ambro17! I did an initial PR here: https://github.com/strawberry-graphql/strawberry/pull/259

Would you like to give me a review? Code isn't great, but it worked with a simple test-scenario 😊

[2020-03-29 23:48] Ambro17 opened #286 "Add kwarg to override type name"
As per comment [here](https://github.com/strawberry-graphql/strawberry/pull/259/files#r371763048) we should offer the possibility to change the sdl type to other than the class name.

[2020-04-05 15:40] Ambro17 commented on #115
Hello Patrick, the other day I looked over the PR and made some comments

[2020-04-05 18:10] patrick91 commented on #115
@Ambro17 don't see any comments 🤔 I saw your issue, but no comments on the PR

[2020-04-05 19:18] Ambro17 commented on #115
My bad, I thought that merely writing the comments was enough, but apparently github requires to end your review with a comment/request changes/approve. Now you should be able to see my comments

[2020-04-05 22:13] patrick91 commented on #115
No worries! It happened to me as well a few times ^^ Thanks for the comments. By the way, I put federation on hold at the moment as I was trying to understand how to make a pagination API. By the way I was thinking of using discord and maybe livestream/pair with other people since we are all at home nowadays :D Here’s the link: https://discord.gg/ZkRTEJQ if you want to join ^^

[2020-04-11 12:11] srbiotik commented on #159
Hey @patrick91 sorry for not being very active on this for a while, I've been buried at work an life :).
So,  I am up to a point where I could use somebody with more xp to look at what I've done so far, so what is the procedure how do present my work so far?

[2020-04-14 23:02] patrick91 commented on #159
@srbiotik can you do a PR? we can also chat on discord if you want :) https://discord.gg/ZkRTEJQ

[2020-04-18 16:14] patrick91 opened #292 "Replace playground with GraphiQL"
When I added the playground I mainly did it because it supported subscription, but it looks like now GraphiQL supports them as well: https://github.com/graphql/graphiql/tree/master/packages/graphiql

It might also be nice to add the explorer plugin by default, since it provides a really nice dev experience: https://github.com/OneGraph/graphiql-explorer

We should also consider whether to disable t

[2020-04-18 20:04] sarendsen commented on #292
How about a separate flag to enable/disable graphiql. I can imagine wanting to have debug off but but graphiql on.

[code]

[2020-04-18 20:06] patrick91 commented on #292
@sarendsen yes!

We'd need this for our django, flask and asgi apps :)

[2020-04-18 20:12] sarendsen commented on #292
I should be able to create a initial PR for this somewhere this week if that's fine by you.

[2020-04-18 20:12] patrick91 commented on #292
Sure!

[2020-04-19 19:57] #292 closed

[2020-04-22 11:12] patrick91 opened #301 "Add support for converting UUID"
They should be converted to ID :)

[code]

[2020-04-25 02:21] cprinos commented on #268
this looks like a promising start.  I would take a look at Pydantic too as you may get some ideas (or direct use) it in the way the base model classes are defined (like how FastAPI use it for REST APIs)

Here's a starter Glitch project people can use to play with strawberry -- [Python GraphQl server with Strawberry](https://glitch.com/edit/#!/strawberry-graphql?path=README.md:1:0)

[2020-04-25 08:32] patrick91 commented on #268
@cprinos oh wow, didn't know Glitch supported python 3.7! THAT'S AWESOME! Thanks for the link!

Yes, we'll consider Pydantic support! I'll create an issue for that!

https://discord.gg/ZkRTEJQ

[2020-04-25 08:37] patrick91 opened #302 "Pydantic support?"
Pydantic[1] seems to be gaining popularity (also thanks to Fast API).

It would be interesting to support Pydantic for input types, I suspect it might already work for basic cases. I wonder if we need to support advanced features from the start[2].

[1] https://pydantic-docs.helpmanual.io/
[2] For example: https://pydantic-docs.helpmanual.io/usage/model_config/

[2020-04-25 08:37] sarendsen commented on #268
Pydantic support would be a killer feature.

[2020-04-29 01:48] coady opened #306 "Consistent handling of input types and args across optionals, nullables, and defaults."
Input args are using default values to indicate a nullable field, but not setting the `default_value` on the GraphQL object:
[code]
Whereas input types are using `Optional` to indicate a nullable field, and default values are ignored.
[code]
But in GraphQL, being nullable is orthogonal to having a default.  All 4 combinations are supported on types and args.
[code]
So I think the consistent way to

[2020-04-29 20:34] #257 closed

[2020-04-30 19:57] coady commented on #306
Looking at this a bit more, I have a simpler proposal.  Based on the observations:
* `String! = null` isn't allowed, which makes sense.
* `String = null` is allowed, but seems useless. A default `null` doesn't communicate anything to the client.
* `String = ""` is allowed, but an edge case.  It would imply that an explicit `null` actually behaves differently than a missing field.  And it's a code

[2020-04-30 20:54] patrick91 commented on #306
@coady good points, I'd say that we should be as close as the spec as possibile.

What worries me a bit is that GraphQL allows complex object as default values for input fields, for example:

[code]

which is a bit an anti-pattern in python (since Dict is mutable)

we also need to support this (we don't support default factory yet)

[code]

[2020-05-04 23:04] patrick91 opened #313 "Rewrite how we create the GraphQL types"
This has been bugging me for a bit, I'm not really happy on how we currently create the GraphQL Types (the GraphQL-core ones). The code is an evolution of a prototype I made a while ago, which is ok, but I think it can be improved.

I'd propose to delegate the generation of the types (and schema) to `strawberry.Schema`.

This (updated) class would traverse the Graph and create the schema based on

[2020-05-10 00:48] coady opened #315 "Root object is not set in service."
There doesn't appear to be a way to actually set the `root_value`, as it isn't passed through to `execute`.  Examples like this from `test_schema`:
[code]
work because it's passed directly to the GraphQL operation.  But the same code run as a service throws `'NoneType' object has no attribute 'name'`.

[2020-05-10 12:15] patrick91 commented on #315
Uhm, we have this for the Django view:

https://github.com/strawberry-graphql/strawberry/blob/master/strawberry/django/views.py#L34-L35

We need it for flask and ASGI though

[2020-05-10 13:17] ogrodnek opened #316 "Ability to set per request context info"
I'd like to be able to set per-request context information (e.g. who is the current logged in user, etc.).  Ideally you could pass in a function that would take the current request and return context info that gets passed to resolvers.

It would be nice if it worked with the development workflow, i.e. using `strawberry server`... but I guess also allowing something to be passed in to the GraphQLVi

[2020-05-10 20:56] patrick91 commented on #316
@ogrodnek oh interesting, we provide something like that for Django already, as we pass the request[1]:

https://github.com/strawberry-graphql/strawberry/blob/master/strawberry/django/views.py#L63-L74

Is this what you intended? Or something else? We definitely need to do this for ASGI and Flask :)

[1] I'd love to use a dataclass for this in future :)

[2020-05-10 22:38] ogrodnek commented on #316
Hey thanks @patrick91 ! I think you have a similar thing for ASGI/flask where the request is provided.

I want to be able to add additional context info based on the request, almost like middleware, something like

[code]
(I can pass in my own context provider)

then

[code]

and so in my code I could do something like

[code]

and then in my resolvers I'd have access to not just the request, but

[2020-05-12 00:24] #315 closed

[2020-05-15 18:43] patrick91 opened #321 "Use sentinel value for input parameters that aren't sent by the clients"
When using input types with optional fields we cannot differentiate by fields that have sent as null and fields that haven't been sent at all.

So I think we should use a sentinel value that tells the field is unset, and also behaves as falsy:

[code]

then we can use this class when instantiating the input types for a resolver:)

[2020-05-17 07:40] SanketDG commented on #301
I'd be interested in taking this up! What files/functions should I be looking for?

[2020-05-17 11:33] Rwothoromo commented on #321
I would like to take this up @patrick91 but I'm still wondering where to get started.

[2020-05-17 11:41] patrick91 commented on #321
@Rwothoromo awesome!

So, I think the place where we should do this is here:
https://github.com/strawberry-graphql/strawberry/blob/master/strawberry/utils/arguments.py#L55-L66

we use this function here: https://github.com/strawberry-graphql/strawberry/blob/c1f9bec4c2605a3526a6a4c9678ac6e02bd36196/strawberry/field.py#L223

I'd start by adding a test here:
https://github.com/strawberry-graphql/stra

[2020-05-17 11:43] Rwothoromo commented on #321
Thank you @patrick91 . I'll take a look and let you know if I get stuck.

[2020-05-17 11:46] patrick91 commented on #301
This pr might be useful: https://github.com/strawberry-graphql/strawberry/pull/267

We also do the conversion of all the other types here: https://github.com/strawberry-graphql/strawberry/blob/master/strawberry/type_converter.py#L26

Let me know if this helps :)

[2020-05-18 21:29] SanketDG commented on #301
I am a little confused on this.

I naively understand that I have to put some sort of check in https://github.com/strawberry-graphql/strawberry/blob/ae863ee8464b2c13f5b31ce20cd2aea23b634290/strawberry/type_converter.py#L85 but I am not sure if this is the right place.

[2020-05-18 21:36] #321 closed

[2020-05-18 21:39] patrick91 commented on #301
@SanketDG I would start by writing a test and see where it fails, that should help!

We also have a discord server if that's easier to chat: https://discord.gg/qWpCDkG

[2020-05-21 00:35] japrogramer commented on #115
Relay does pagination fairly well. I made a pagination that extends relay

connection_type(
            edges=edges,
            page_info=page
        )

where connection_type returns an object type with fields edges and page_info,
the connection takes a page and per_page argument by default.

edges is an array of types and page_info is a type that describes the results

[code]

[2020-05-21 11:31] patrick91 commented on #115
@japrogramer did mean to write a comment here: https://github.com/strawberry-graphql/strawberry/issues/175?

[2020-05-21 11:35] patrick91 commented on #175
Quick update on this, we recently released support for generic types with the goal of making it easier to create pagination types. They'd work like this:

[code]

and you'd use them like this:

[code]

This would create the PaginatedUser type for you.

We plan to add relay pagination and a simple page pagination as built-in :)

[2020-05-22 00:45] japrogramer commented on #115
@patrick91 I was responding to your comment in this issue, was not aware of #175

[2020-05-22 08:51] patrick91 commented on #115
@japrogramer my bad, I forgot what I wrote :D

[2020-05-23 01:05] #306 closed

[2020-05-23 10:53] patrick91 opened #327 "Add support for uploading files"
I think we’d benefit from having built-in support for upload files, similar to what Apollo server does: https://www.apollographql.com/blog/file-uploads-with-apollo-server-2-0-5db2f3f60675

I did implement something like this in a side project, so shouldn’t be too hard to do.

Support should be available for Flask, Django and ASGI :)

- [x] Django
- [x] Flask
- [x] ASGI
- [ ] Sanic

[2020-05-23 10:55] patrick91 commented on #158
I’ll close this as we will be using Gatsby for the docs :)

[2020-05-23 10:55] #158 closed

[2020-05-23 10:55] patrick91 commented on #156
I’ll close this as we will be using Gatsby for our website and docs.

[2020-05-23 10:55] #156 closed

[2020-05-23 10:57] patrick91 commented on #4
This is done, we will need a better support for MyPy, but it seems that’s not doable at the moment, so I’ll close this for now :)

[2020-05-23 10:57] #4 closed

[2020-05-23 10:58] patrick91 commented on #83
I’m going to close this as it seems the bot is being quite helpful :D

[2020-05-23 10:58] #83 closed

[2020-05-23 11:02] patrick91 commented on #109
Support for schema directives has been available for quite a while now: https://github.com/strawberry-graphql/strawberry/blob/master/CHANGELOG.md#0140---2019-08-14

We also have experimental support for federation, so I think we can close this issue.

[2020-05-23 11:02] #109 closed

[2020-05-23 17:03] patrick91 opened #328 "Documentation meta issue"
## General

- [x] Getting started (https://strawberry.rocks/docs/)
- [x] Schema Basic (https://strawberry.rocks/docs/schema-basics)
- [x] Query Basics @jaydenwindle (https://strawberry.rocks/docs/queries)
- [x] Mutation Basics (https://strawberry.rocks/docs/mutations)
- [x] Subscriptions Basics
- [x] Why strawberry (code first, batteries included, dataclasses) #603

## Types

- [ ] Fields (#450)

[2020-05-23 21:47] japrogramer commented on #327
This is how one graphene implementation that I use in production does it.

Pretty simple
https://github.com/lmcgartland/graphene-file-upload/blob/master/graphene_file_upload/django/__init__.py

[2020-05-24 12:37] patrick91 commented on #115
This is done, we'll add documentation and examples soon, I'll close this now 😊

[2020-05-24 12:37] #115 closed

[2020-05-25 16:14] Ambro17 commented on #159
Hello, I'd be interested in helping with this if you need some peer review

[2020-05-26 07:52] srbiotik commented on #159
Yeah I need some help with this :). Thanks!

[2020-05-26 11:56] Ambro17 commented on #159
Do you have your code hosted in github so we can review it together?

[2020-05-30 15:48] patrick91 opened #332 "Add code of conduct"

[2020-06-02 19:47] ssrjs opened #334 "GraphiQl explorer tries to use websockets and falls with 500 error and “Connection reset by peer” (with Django)"
There is a path to Graph**i**Ql explorer in `urls.py:`:

[code]
And while there is an active browser tab with `http://127.0.0.1:8000/graphql`, it continuously makes requests to `ws://127.0.0.1:8000/graphql` each 10 seconds, that causes next errors on back each request:

[code]

**So, can it be disabled of fixed somehow? It's annoying, but everything works**

P.S. There is no such thing using Graph

[2020-06-02 21:10] patrick91 commented on #334
@ssrjs oh, good catch! I'll check! I think we can disable it when using Django!

I'll try to make a PR today or tomorrow, unless someone else does it first :)

[2020-06-08 16:09] BryceBeagle opened #340 "Forward references with non-builtin types"
I see that in #17, support for forward references was added, but is this fully implemented?

If I enable PEP563 and define a field that uses a non-builtin type, I get an exception. Here I took the example from the Getting Started page, imported the annotations future feature, and changed age to an Optional field. This exception doesn't occur when the future feature is not imported.

[code]

[code]

[2020-06-08 16:18] patrick91 commented on #340
@BryceBeagle yes, I remember this failure, I didn't really have time to debug it, but I left a test:

https://github.com/strawberry-graphql/strawberry/blob/master/tests/test_forward_references.py#L1-L25

I'll see if I can fix this, not sure when though :) Do you use

[code]

a lot?

[2020-06-08 16:32] BryceBeagle commented on #340
I'm just getting started with Strawberry actually, so I don't really use _anything_ a lot yet :). I was trying to split all my types into separate files and wanted to use forward references while doing so.

[2020-06-08 16:33] patrick91 commented on #340
I mean in general. Personally I haven’t used them much 😊

The alternative would be to use quotes around types, which I think should work

[2020-06-09 06:50] BryceBeagle commented on #340
Yeah I don't use it forward references all that much, but I was thinking this could have been a good reason to try them out.

Using quotes appears to be working

[2020-06-09 14:46] patrick91 commented on #159
@srbiotik any updates on this? I might need to implement it soon for something I'm working on, don't want to waste your time 😊

[2020-06-09 19:21] srbiotik commented on #159
Hey, sorry for being passive about this I've been entangled by some other stuff. I'll push my version of code so far at this [repository](https://github.com/srbiotik/strawberry)

[2020-06-10 09:53] #334 closed

[2020-06-10 09:53] patrick91 commented on #334
@ssrjs sorry it took me a bit, but it is done now :)

[2020-06-10 10:47] patrick91 opened #345 "Improve Django, Flask and ASGI views"
Our views are quite basic right now, would be great to be able to extend it without having to change the dispatch method.

We should provide the following method to extend:

- get_root_value(self, request)
- get_context(self, request)

and something to format/handle errors, related to #248

This should apply to all our views, so, django, flask and asgi :)

[2020-06-11 06:37] BryceBeagle opened #349 "Can't pass a @classmethod when declaring a field with a resolver"
As it exists below, this code snippet runs fine. However, if I switch the commented lines in the Query class I get an exception. Is this to be expected?

[code]

[code]

[2020-06-11 08:09] patrick91 commented on #349
Oh interesting bug! Will have a look at it tonight :)

[2020-06-11 21:07] patrick91 commented on #349
Oh, this is a bit more complicated than expected since we assign a property to the resolvers to let strawberry know, but I think we can do two things:

1. Wrap the resolver (which I don't like)
2. Rewrite how we generate the types: https://github.com/strawberry-graphql/strawberry/issues/313

I think option 2 would be the best. But it will take me a bit of time to get to that :)

[2020-06-29 21:41] Ambro17 opened #361 "Add schema visibility fillters"
Ruby has its way of hiding fields
https://graphql-ruby.org/authorization/visibility.html

Java has its way too
https://www.graphql-java.com/documentation/v12/fieldvisibility/

Javascript too
https://www.apollographql.com/docs/apollo-server/features/schema-transforms/

The main goal of this is to hide experimental or in progress types from clients, but to allow to include them for testing or stagin

[2020-06-29 21:43] patrick91 commented on #361
I'll mark this as blocked as I'm doing a rewrite on the internals :)

Should be easier to implement this after that 🤞

[2020-07-01 09:26] patrick91 opened #363 "Add a public function to get graphql-core type for a strawberry class"
From this discussion https://graphenetools.slack.com/archives/CBFAJ502C/p1593595408041700?thread_ts=1593589607.026600&cid=CBFAJ502C

In summary, it would be nice to have a function to get the graphql-core field generated by strawberry, so we could use it with Graphene:

[code]

[2020-07-08 16:04] BryceBeagle opened #370 "Use @strawberry.enum value instead of name"
I was a bit surprised that the following code snippet prints `{'userType': 'BLAH'}` instead of `{'userType': 'c'}`
[code]

Is there a way to have the response use the Enum's value instead of its name? If the name is supposed to be used, is there any reason to define values instead of using `Enum.auto()`?

[2020-07-08 21:38] patrick91 commented on #370
yeah that's a very good question! I spoke about this with @jkimbo as he has had more experience with enums (in Graphene expecially).

The confusion comes from GraphQL not having values for enums. So we need to make a choices when creating the enum. I think it makes sense to use the name instead of the value, which, as you mentioned, could also be coming from `auto()` and I wouldn't really like to

[2020-07-08 21:45] BryceBeagle commented on #370
I think by default `auto()` assigns an integer value to the enum. I wonder if `@strawberry.enum` could define a `_generate_next_value_()` on the wrapped enum that takes the enum name and uses it as the value.

Then we could allow/enforce the user to use only strings or `auto()` for the values. If they use strings, the value is used; if they use `auto()`, the name is used.

[2020-07-08 21:49] patrick91 commented on #370
this sounds a bit confusing.

What would be advantage of using the name? I guess we could also have an option, like this:

[code]

[2020-07-08 22:05] BryceBeagle commented on #370
So, I wasn't aware that `SCREAMING_SNAKE_CASE` was the standard for GraphQL enums. Currently, the json structure I'm trying to migrate to graqhql uses `snake_case` pseudo-enums, and I just stuck with that. I'll probably makes changes to adhere to the standard in the future.

I think this could be a decent option. Now that I'm aware that there's a standard for enum naming, I wonder if it would be b

[2020-07-09 08:33] patrick91 commented on #370
uhm, let's see if other people have other feedbacks as well :) I don't use enums that much to be honest :)

[2020-07-09 12:33] marcoacierno commented on #370
I would go for the name and then in the code you can get the value of the enum or strawberry could convert it back to an enum instance (so you don't get "BLAH" as string, but Enum BLAH.name/BLAH.value)

It's more consistent with how enums are in Strawberry and "pythonic" enough

Or, isn't it a bit confusing to use the value? If you are debugging an enum you can't search for the value you send to t

[2020-07-09 16:11] BryceBeagle commented on #370
My idea was to use something along the lines of the following, but using the `@strawberry.enum` decorator

[code]
This would set the value to be the same as the name. (I actually took this example from the `_generate_next_value` [docs](https://docs.python.org/3/library/enum.html#using-automatic-values))

As a result of this discussion, I agree that using the name is probably the best way of doing

[2020-07-10 08:47] patrick91 commented on #370
Related: https://github.com/graphql-python/graphene/pull/1153

We could also have enums like this:

[code]

so they are more inline with GraphQL :)

[2020-07-10 13:32] patrick91 opened #374 "Move context out from info and expose it as a parameter"
Being able to request info (and root) only when needed is a nice feature, but considering we haven't exposed a type for info yet, it might be nice to all to request for context as well

So, from this:

[code]

to this:

[code]

[2020-07-10 19:04] EmiM opened #375 "Add support for field deprecation"
I was looking in the code and I couldn't find a way to mark field as deprecated. I also didn't find any issues regarding this.
I know that it is handled by `deprecation_reason` in graphql's `GraphQLField` but how I mark a field as deprecated in strawberry-graphql?

[2020-07-10 19:48] patrick91 commented on #375
We don't support that at the moment, but should be easy to add :)

[code]

something like this.

I'm finishing up a rewrite of strawberry, I'll see if I can add this in before finishing that, or after, anyway I don't see this taking too much time to be supported :)

[2020-07-12 19:09] LiGuoV opened #376 "where is GraphQL Playground"
in docs>Getting started with Strawberry>step6 say:
'Strawberry comes with a tool called GraphQL Playground.'
but But i got GraphiQL....
(maby i need to wait...)

[2020-07-12 19:39] patrick91 commented on #376
@LiGuoV oh, we removed GraphQL Playground because it didn't support subscriptions well and didn't have the explorer. I'll update the docs as soon as I can :)

[2020-07-12 20:00] BryceBeagle opened #377 "Cannot create type with multiple Unions"
[code]

[code]

Removing either `field1` or `field2` allows the schema to be created

[2020-07-12 20:09] patrick91 commented on #377
Oh nice, thanks for the report. This is fixed in the rewrite I'm doing -> #352.

If it is a deal breaker I can do another PR to fix it, so you don't have have to wait for the rewrite :)

PS.Is there a reason why the types are defined inside the CoolType class? :)

[2020-07-12 20:19] BryceBeagle commented on #377
That would be quite appreciated. I was trying to figure out how I was going to find a workaround for this issue.

I just have a practice where I try to keep my namespaces minimal. In hindsight, it wasn't necessary for this example, but the code I was making the example from had it going on, where the analogous nested types are only used with the parent type. I prefer doing `[module.]CoolType.Union

[2020-07-12 20:33] patrick91 commented on #377
oh I see, I'd use python modules for that, but that's my preference :) But I understand the thinking about the type being only used with the parent type.

I'll try to see if I can make a quick PR now to fix the issue with current master :)

[2020-07-13 09:24] EmiM commented on #375
That would be great!! Thank you very much :D

[2020-07-14 08:11] #377 closed

[2020-07-17 11:32] Rocamonde commented on #84
Hi @patrick91! Does Django support at this stage also imply the automatic conversion of a QuerySet into the dataclass-like structure that Strawberry uses? So a resolver can return a model instance or a QuerySet, and this is converted to the appropriate type and handled accordingly by GraphQL.

[2020-07-17 11:39] patrick91 commented on #84
@Rocamonde so, we don't do any implicit conversion, but duck typing works. If you return anything that looks like the GraphQL type then things work :)

So for example this works:

[code]

we don't check what type is being returned in the resolvers. So this works, and works for lists too.

I think the only place where this doesn't work is Union types, because we need to understand what type we are

[2020-07-24 21:10] #313 closed

[2020-07-24 21:10] #349 closed

[2020-07-25 11:19] patrick91 opened #388 "Improve MyPy support for LazyTypes"
We've introduced LazyType["TypeName", "module.path"] as a way to use types that depend on each other but are defined in different modules, ie:

[code]

[code]

There's an example of this here: https://github.com/strawberry-graphql/strawberry/tree/master/tests/test_cyclic

As you can see from the tests, we have to import the module where the type was defined for mypy to not complain. I wonder if we

[2020-07-25 19:59] #340 closed

[2020-07-25 23:56] coady opened #391 "Type and field descriptions no longer defaulting to docstrings."
Prior to 0.28, docstrings were used as descriptions when not explicitly supplied.

[2020-07-26 10:18] patrick91 commented on #391
Uhm, that was an intentional change. We had leaked internal information because not everyone realised docstrings where going to be used as GraphQL description. So I'm not sure we should support this again. What do you think?

[2020-07-26 16:02] coady commented on #391
Oh, well I thought it was nicely readable, just like using `__name__`.  What if it's opt-in: `use_docstring=False`?

[2020-07-26 16:04] patrick91 commented on #391
@coady I'd prefer a global setting (disabled by default), what do you think?

[2020-07-29 09:09] patrick91 opened #396 "Improve how we fetch the type for fields with resolvers"
To define a type for a field we use the approach used by dataclasses:

[code]

But we also allow to use `strawberry.field` to pass a resolver:

[code]

Now, we could allow to omit the type on the field, like this:

[code]

And we'll use the type coming from the resolver, like we do when using `@strawberry.field` as a decorator.

This shouldn't be too difficult to achieve, I think the only complexi

[2020-07-29 17:16] BryceBeagle commented on #396
You might also want to consider what will happen with

[code]

[2020-07-29 21:34] patrick91 commented on #396
@BryceBeagle That was supposed to be my second example, ironically I forgot the type hint 😂

I'd throw an error in this case

[2020-07-29 21:36] BryceBeagle commented on #396
Well I specifically chose `int` and `float` because of [PEP484](https://www.python.org/dev/peps/pep-0484/#the-numeric-tower)

[2020-07-29 22:30] patrick91 commented on #396
oh, that’s a good point. I wonder, to me it doesn’t seem explicit enough, and I’d prefer to thrown an error.

Happy to be change my opinion though, if there’s a use case for this. But I guess one could use an intermediate function for this :)

[2020-07-29 23:23] BryceBeagle commented on #396
I agree -- I think as long as we include a note being pretty explicit that no number coercion occurs, explicit is better than implicit in this case

[2020-07-30 08:41] patrick91 commented on #396
@BryceBeagle yes, good idea! We can add some notes in the exception message too :)

[2020-08-01 15:41] Ambro17 opened #402 "Error adding more than one implementation of an interface"
**Observed Behaviour**: When i try to add two implementations of an interface, i get a duplicated type name exception

**Expected Behaviour**: Instead of trying to recreate the interface type again, reuse it.

**Steps to reproduce**:
1. Create an interface
2. Create two types which implement the interface
3. Launch `strawberry server app`
4. See it fails with ` Schema must contain uniquely named t

[2020-08-01 16:54] patrick91 commented on #402
My bad, will fix today or tomorrow :)

[2020-08-01 16:55] Ambro17 commented on #402
Thank you Patrick! Let me know if I can be of any help testing or perhaps with code review 🙂

[2020-08-01 17:19] patrick91 commented on #402
@Ambro17 a review would be helpful! :D

[2020-08-01 17:36] patrick91 opened #404 "Raise an exception if creating a type with the same name"
See https://github.com/strawberry-graphql/strawberry/pull/403/files#r463982907 for context.

Right now when creating a type we check if it is already in our type schema, if it is there we use it, but we don't check for duplicates

[2020-08-01 18:52] Ambro17 commented on #402
Done!

[2020-08-01 18:55] #402 closed

[2020-08-02 13:54] Ambro17 commented on #370
I bring one (perhaps) related question that maybe brings something else to the conversation.
Currently i'm trying to define year enum likeso:
[code]
Obviously this doesn't work becuase `2020` and  `2019` are not valid identifiers. My workaround was:
[code]
But with the current approach 'Value is the enum name' my workaround leaks into the api response and i get `_2020` instead of the desired `2020

[2020-08-02 13:59] patrick91 commented on #370
Good idea! I’m not sure about the name, maybe it is better to have `strawberry.enum.value`, but not 100% sure.

I feel like enums in GraphQL are more like Unions and Literal in python: https://www.python.org/dev/peps/pep-0586/#shortening-unions-of-literals

Didn’t expect unions to be this painful :D

I’ll think about this a bit more, happy to hear more feedbacks

[2020-08-02 14:01] marcoacierno commented on #370
Is `2020` a valid enum identiifer for GraphQL? I think you would have the same issue looking here: https://spec.graphql.org/June2018/#sec-Names

[2020-08-02 14:08] Ambro17 commented on #370
Mmm great reference. It seems that even if we provide the custom name option, it wouldn't be able to start with a number..
I think it can provide value nevertheless. For example if i have an enum name called `from` or `with` or any name that might clash with python syntax that we would want to avoid

[2020-08-03 12:58] patrick91 commented on #327
First version for django is here, we'll test this in our repo and then add support for ASGI and Flask :)

https://github.com/strawberry-graphql/strawberry/pull/407

[2020-08-06 19:24] hyzyla opened #413 "N + 1 problem - Support for dataloaders?"
Hi 👋

How to solve N+1 problem when using strawberry?

[2020-08-06 22:00] patrick91 commented on #413
Hello! Good question, you might be able to use the same dataloader that works for Graphene, but not 100% sure as I have never used it.

We are doing some work around N+1 at work with Strawberry, so we might add some support for this.

I need to get familiar with dataloaders, but I guess that would be one solution :)

@hyzyla can you provide more context on what you're doing? maybe there's other wa

[2020-08-07 06:45] hyzyla commented on #413
Currently, I just seeking a library for a new project and this library seems promising. I have experience in solving the N+1 problem for Graphene by using [aiodatalodaer](https://github.com/syrusakbary/aiodataloader). But the solution was non-intuitive and solved just by adopting some tutorials from the web for non-async data loader.

As example I can give you most iconic version of query for blog

[2020-08-07 08:37] patrick91 commented on #413
Yeah, from what I've seen you either need async or to use a Promise library. I'll think about this a bit, for example we use Django and using async is not possible with the database right now, so we need some other solution for this. 🤔

[2020-08-07 14:39] jkimbo commented on #413
Looks like you can get around the async DB issue in Django by using the `async_to_sync` wrapper:

[code]

https://github.com/graphql-python/graphene-django/issues/705#issuecomment-670511313

[2020-08-07 22:01] patrick91 commented on #413
@jkimbo that's a good point, but I guess when wouldn't be able to use that with old version of django, right?

Plus it needs to work with the async view (which we aren't providing yet[1]), so might not be that easy.

I wonder if we can make this work without requiring async, I mean with django we can still do bulk fetching of data, no? I was naively thinking that we could have some sort of sync da

[2020-08-10 21:51] #391 closed

[2020-08-10 21:52] patrick91 commented on #388
I need to test if this works:

[code]

if it works, we don't need LazyType at all

[2020-08-10 21:52] patrick91 commented on #332
This has been done today 😊

[2020-08-10 21:52] #332 closed

[2020-08-10 21:53] patrick91 commented on #301
This has been done and merged!

[2020-08-10 21:53] #301 closed

[2020-08-10 21:57] patrick91 commented on #413
I'm going to mark this issue as required for v1. I think it is pretty important to have it, at least a basic support for dataloaders :)

[2020-08-10 22:01] patrick91 commented on #361
@Ambro17 I'm wondering if we should go with something similar to our permission:

[code]

not really sure about the names to be honest

[2020-08-10 22:03] patrick91 commented on #316
@ogrodnek would be enough to being able to extend the GraphQLView like this?

[code]

[2020-08-10 22:05] patrick91 commented on #286
I think this is done now :)

https://github.com/strawberry-graphql/strawberry/blob/master/strawberry/type.py#L57

[2020-08-10 22:05] #286 closed

[2020-08-10 22:06] patrick91 commented on #149
I'll close this issue for now as we have a Flask view now. We can always add a Quart view later, if needed (not sure if it is different from Flask) :)

[2020-08-10 22:06] #149 closed

[2020-08-10 22:48] Ambro17 commented on #361
Didn't know about s trawberry's permissions support!
That would certainly be enough for the use case i was thinking when i opened the issue, i would keep the issue open until we get documentation on usage. Perhaps not only showing its usage as a permission based filter, but as a tool to maintain public and private parts of the schema

[2020-08-10 22:51] patrick91 commented on #361
Yeah, visibility filters would be to hide the fields based on the clients that are requesting the schema.

Permissions don't do anything around that, they only check if you can access a field or not ;)

[2020-08-10 22:54] Ambro17 commented on #361
Oh i see, they are not read on schema build time then. I guess we would have to offer a similar api then to avoid including them on the schema

[2020-08-10 23:01] patrick91 commented on #361
Yes, but I think everything will happen during the request, as that's the only time when you have access to information about the clients (headers, etc).

Not sure yet how this could be implemented, as I need to check the internals of GraphQL-core, but I think it might be a nice feature :)

[2020-08-10 23:08] Ambro17 commented on #361
I think we are considering two different use cases of schema visibility.
1. I'm thinking about filtering schema types on build time based on for example on environment variables.
2. You are proposing a more flexible approach, to control schema introspection on query time, and allowing new fields if a certain authorization header is passed for example.

I think both use cases would benefit from vis

[2020-08-10 23:10] patrick91 commented on #361
Uhm good point on deleting the types, I was only thinking about hiding the fields at the moment. Will think about this too

[2020-08-11 17:28] #376 closed

[2020-08-12 07:02] jkimbo commented on #363
@patrick91 I created a function to do this in my project:

[code]

Then I can do:

[code]

Have I missed any cases here?

[2020-08-12 08:49] patrick91 commented on #363
@jkimbo that should be enough! I guess maybe we should move the union check inside `get_type_for_annotation`.

I wonder if need to support also using Graphene types, like this:

[code]

I think it might be doable without a lot of effort :)

[2020-08-12 10:23] jkimbo commented on #363
I'm not sure that would be possible @patrick91 because converting a Graphene type to a graphql-core type requires a Graphene schema. There is an issue for it: https://github.com/graphql-python/graphene/issues/1238

[2020-08-12 10:29] patrick91 commented on #363
oh, that's interesting, maybe it's not worth looking into it, until someone needs it :)

[2020-08-16 17:03] #345 closed

[2020-08-16 17:07] patrick91 commented on #316
@ogrodnek  this should be good now, let me know if you need more ;)

[2020-08-16 17:07] #316 closed

[2020-08-16 17:08] patrick91 opened #424 "Allow to process response in our views"
In https://github.com/strawberry-graphql/strawberry/pull/423 we improve our views to support for passing context and root value to the schema, an additional improvement we can do is to allow for customising the response, most likely for customising and logging errors.

We do this at work to hide some internal errors. We currently do this by overriding the dispatch method in the django view. But we

[2020-08-19 15:16] patrick91 opened #430 "Add flake8-eradicate"
This plugin might have been useful in the past as I forgot to uncomment some code, I guess it is worth adding it :)

https://github.com/sobolevn/flake8-eradicate

[2020-08-26 20:07] #424 closed

[2020-08-27 09:47] hyzyla commented on #413
Hi, I created an [example](https://gist.github.com/hyzyla/68d42951cf5788dd4fc7331d98c4a2be) of using aiodataloader with strawberries. May be helpfull for async integration of strawberry

[2020-08-27 09:50] patrick91 commented on #413
That's pretty cool! I'm going to check it in the next few days. I need to work on caching some of our data on redis and I think we'll probably use the dataloader pattern for that. so this snipped will be handy. I definitely want to add first class support for dataloaders in strawberry, but I need to work with them first (I'm still unfamiliar with them).

I also saw this blog post that might useful

[2020-08-28 16:29] hyzyla opened #437 "aiohttp integration"
It would be nice to see [aiohttp](https://docs.aiohttp.org/en/stable/) integration with your library.

[2020-08-28 18:10] patrick91 commented on #437
@hyzyla doesn't aiohttp support asgi? (never used it)

[2020-08-28 20:34] hyzyla commented on #437
No, there is not resolved closed issue about ASGI support for aiohttp https://github.com/aio-libs/aiohttp/issues/2902

[2020-08-30 02:38] BryceBeagle opened #438 "Redundant fields for resolver on strawberry.field"
`strawberry.field` has [redundant arguments](https://github.com/strawberry-graphql/strawberry/blob/96c4b0d1989eca24d3dcf0b7594839834399f946/strawberry/field.py#L65) for the resolver, one (`f`) for when strawberry.field is used as a decorator, and one (`resolver`) for when it is used as a function.

This is an issue to link to PR #429

[2020-08-30 03:13] BryceBeagle opened #439 "FieldDefinition.default_value should use dataclasses.MISSING instead of a custom object"
Currently, the default value of `FieldDefinition.default_value` is a custom object called `undefined`. We should switch this to `dataclasses.MISSING`. This would keep the `strawberry.field` implementation closer to the standard dataclass implementation

[2020-08-30 03:26] BryceBeagle commented on #396
Here are a couple more corner cases that we need to decide if they should be valid or not.

[code]

[2020-09-04 00:22] flpStrri commented on #430
Can I give it a try? So I can familiarize with the the repo. 😃

[2020-09-04 08:03] patrick91 commented on #430
@flpStrri sure! feel free to ping me on discord if you need any help!

[2020-09-04 10:56] flpStrri commented on #430
I simply installed it and it is returning `1` when calling `flake8`. Great. But I think it is marking as an error some comments that were not supposed to be marked, like this:
<img width="449" alt="Captura de Tela 2020-09-04 às 07 55 34" src="https://user-images.githubusercontent.com/13003392/92231937-05493900-ee84-11ea-92df-69a29339e40a.png">

[2020-09-04 11:18] flpStrri commented on #430
But it works. 😄
<img width="483" alt="Captura de Tela 2020-09-04 às 08 17 43" src="https://user-images.githubusercontent.com/13003392/92233731-2e1efd80-ee87-11ea-9509-1946362ceb26.png">

[2020-09-04 11:32] patrick91 commented on #430
@flpStrri nice, can you send a PR?

[2020-09-04 18:16] flpStrri opened #445 "Generic edge declaration have some dependencies on node declaration order"
I was restoring a failing test on #443 and found out that the node declaration order was making the test fail — at least on generic types. I don't think this is something that should happened.
To help us to squash this 🐛 I crafted this tests:

[code]
When swapping `node: B` and `info: A` position the test breaks:
[code]

**Environment:**
- Strawberry version: Forked from `master` → `6a13118e8cc487

[2020-09-04 18:48] patrick91 commented on #445
Awesome bug report! Will have a look at it soon! :)

[2020-09-05 21:26] BryceBeagle opened #447 "Fields (with resolvers) missing both type annotation and resolver return type annotation should raise MissingFieldAnnotationError instead of MissingReturnAnnotationError"
(Issue will be introduced with the merge of PR #429)

[code]

Currently this raises a `MissingReturnAnnotationError`. It should raise a `MissingFieldAnnotationError` instead

[2020-09-05 21:44] BryceBeagle opened #448 "Fields declared with strawberry.field function with resolver from same class are not created properly"
(Issue will be introduced with the merge of PR #429)

[code]

This fails:
[code]

This also fails. Only `adios` is added as a field to the schema, which is not what we want:
[code]

[2020-09-06 15:18] Ambro17 commented on #361
I think this issue is a nice read https://github.com/graphql/graphql-js/issues/113 to have a mental model of the problem and the tradeoff of each approach.
Basically, it seems dynamic visibility filters will never reach graphql as they would increase complexity in testing all possible combinations of the schema. The client would also suffer by having a different schema on different requests so the

[2020-09-06 21:08] patrick91 commented on #361
I don't think there's an easy for this, I'll need to try and see if I can come up with something clever for it.

Yeah, this makes sense. I guess if you only have two variants it might be ok (internal and external). Maybe I'll try to find someone that has done this in the past and see how they're doing 😊

[2020-09-06 21:23] patrick91 opened #449 "Improve public interface of TypeDefinition"
We internally use TypeDefinition to generate an intermediate GraphQL type what will later used to create GraphQL-core types.

This TypeDefinition should be improve in order to allow developers to programmatically create types when needed. For example this will be useful for adding support to pydantic.

Something we need to improve for sure are:

- the `_fields` init param should be `fields`
- we s

[2020-09-17 08:06] BryceBeagle opened #461 "Investigate the necessity of comparing against NoneType in UnionDefinition.types"
Currently, `UnionDefinition.types` returns all de-generified types, after filtering those that are `NoneType` (`None.__class__`)
https://github.com/strawberry-graphql/strawberry/blob/8126ec0b6a7acf0edf553752d703bcd1f6273ac4/strawberry/union.py#L18-L22

@patrick91 explained that the `NoneType` filter was added to handle `Optional[...]` (which expands to `Union[..., NoneType]`), but this may not be

[2020-09-18 19:20] AndrewIngram commented on #413
A non-async dataloader is installed with Graphene, it's part of the author's [promise](https://github.com/syrusakbary/promise) library, I used it with some success. I don't _think_ it should require any special magic to use it with Strawberry instead. `aiodataloader` is from the same person and has basically the same API but without the underlying promise implementation.

[2020-09-21 16:46] jkimbo commented on #413
@AndrewIngram graphql-core v3 dropped support for the promise library so it won't work with Strawberry. The aiodataloader does work but because Django doesn't have full async support getting it working with the orm is a problem. All the solutions I've come across require code changes in the application and not the just in Strawberry which is not great.

[2020-09-22 06:50] BryceBeagle commented on #430
#443 should have closed this, right?

[2020-09-22 07:11] patrick91 commented on #430
Yes 😊 I'll close this now :)

[2020-09-22 07:11] #430 closed

[2020-09-22 07:34] BryceBeagle commented on #438
This was closed in #429

[2020-09-22 07:34] #438 closed

[2020-09-22 07:51] BryceBeagle commented on #370
This issue been added to the v1 milestones, but what I'm having trouble parsing the following from the discussion:
* What was the conclusion on use the python Enum value vs name as the GraphQL enum name?
* What feature are we aiming to implement by v1? Is it the `strawberry.enum_value` that @Ambro17 suggested?

[2020-09-25 01:47] dependabot-preview[bot] opened #468 "Dependabot couldn't authenticate with https://pypi.python.org/simple/"
Dependabot couldn't authenticate with https://pypi.python.org/simple/.

You can provide authentication details in your [Dependabot dashboard](https://app.dependabot.com/accounts/strawberry-graphql) by clicking into the account menu (in the top right) and selecting 'Config variables'.

[View the update logs](https://app.dependabot.com/accounts/strawberry-graphql/update-logs/48547338).

[2020-09-25 07:27] BryceBeagle commented on #468
Seems to be related to this
https://github.com/dependabot/dependabot-core/issues/2550

[2020-09-25 09:00] patrick91 commented on #468
@BryceBeagle shall we install the new app for dependabot then?

[2020-09-25 20:29] #468 closed

[2020-09-25 20:34] BryceBeagle commented on #468
According to that issue thread, Dependabot was gonna close this issue itself; which it just did. I'm not too familiar with the behind-the-scenes for Dependabot, though. What "new app" are you referring to?

[2020-09-25 20:51] patrick91 commented on #468
@BryceBeagle I might have read it badly, but I thought they mentioned a new version of dependabot. Anyway, it looks ok now 😊

[2020-09-26 11:17] AndrewIngram commented on #413
😢

[2020-09-30 16:23] #40 closed

[2020-10-01 08:48] patrick91 opened #478 "Tracing - ignore introspection and default resolvers"
We just merged support for Apollo tracing, but we can improve it to not trace introspection queries and default resolvers (tracing all the resolvers will probably be too expensive, and also it is not a useful information).

The check should be done in both async and non-async `resolve`: https://github.com/strawberry-graphql/strawberry/blob/master/strawberry/extensions/tracing/apollo.py#L132

[2020-10-01 10:34] flpStrri commented on #478
It is easy to figure out with the self, _next and root what is being done? I can help here.

[2020-10-01 10:56] patrick91 commented on #478
@flpStrri we migth need to add an attribute on the resolver, here's where we fallback to gettattr: https://github.com/strawberry-graphql/strawberry/blob/master/strawberry/resolvers.py#L50-L52

this is our version of default resolver, it might not be easy to understand if it is default resolver though (unless we can access `field.base_resolver`), so we might need a bit of restructuring of the code,

[2020-10-01 10:59] flpStrri commented on #478
Would be great. You ping me at Discord so we can set a time? Now that JetBrains released their [pair programming extension](https://blog.jetbrains.com/blog/2020/09/28/code-with-me-eap/), it will be much better!

[2020-10-01 14:39] patrick91 opened #481 "Tracing - add support for opentracing"
Similar to apollo tracing we should make an extension to add tracing using opentracing.

Apollo tracing code: https://github.com/strawberry-graphql/strawberry/blob/master/strawberry/extensions/tracing/apollo.py

We need to use the opentracing python package (as optional install) for this.

[2020-10-01 15:25] anoopmsivadas commented on #481
Can I work on this @patrick91

[2020-10-02 15:07] patrick91 opened #485 "Add mypy plugin for strawberry.union"
We have a function to create union types and also add name and description that are used when generating the GraphQL schema[1].

Unfortunately MyPy complains when using the annotation, since it doesn't recognise it as a type, here's an example:

[code]

Error:

[code]

[1] This is why we can't use typing.Union directly, as we can't pass arguments to it

[2020-10-03 16:07] Ambro17 opened #487 "Add option to install using poetry"

[2020-10-03 16:08] Ambro17 commented on #487
Wrong repo, sorry

[2020-10-03 16:08] #487 closed

[2020-10-05 09:45] #485 closed

[2020-10-05 17:07] #478 closed

[2020-10-11 00:29] Ambro17 commented on #481
Hello, i installed `strawberry` today and i get the following error running `poetry run pytest`
[code]
It appears that is listed as an optional dependency, but tests need it to run properly.

Perhaps we could add it as a dev dependency or skip those tests if the lib is not installed.

[2020-10-11 00:57] Ambro17 commented on #361
I have a new idea that i will test tomorrow to see if we can hide them dynamically

[2020-10-12 14:15] patrick91 commented on #481
@Ambro17 that’s been fixed now ^^ I added the dependency as dev dep :)

Also I forgot to close this issue! Will do now :)

[2020-10-12 14:15] #481 closed

[2020-10-15 13:18] jkimbo opened #509 "Feature request: Be able to add descriptions to field arguments"
Currently it isn't possible (I don't think) to add descriptions to field arguments. This would be a useful feature to help document a GraphQL schema.

Not sure what the api for this should look like but here is one example:

[code]

Which would result in the following schema:

[code]

[2020-10-15 13:43] patrick91 commented on #509
@jkimbo yes, I think that's the best API, fastapi does something similar too, so I think we go this way :)

[2020-10-18 11:08] jkimbo commented on #509
After some discussion on Discord we're going use the new [`Annotated`](https://docs.python.org/3/library/typing.html#typing.Annotated) type to add extra metadata to an argument:

[code]

[2020-10-18 11:54] patrick91 commented on #509
annotated is available in typing_extensions for python < 3.9, I wonder if we should expose it from strawberry too, but maybe not :)

https://github.com/python/typing/blob/master/typing_extensions/src_py3/typing_extensions.py#L1781

[2020-10-18 12:37] jkimbo commented on #509
I don't think it's necessary to expose it directly from strawberry @patrick91 since typing_extensions is part of the dependencies anyway.

[2020-10-19 08:34] #509 closed

[2020-10-19 08:34] jkimbo commented on #509
#513 has been released

[2020-10-20 16:37] patrick91 opened #517 "MyPy - Support for dynamic enums is broken at the moment"
Annoyingly this bit of code doesn't work:

[code]

As it raises the following error:

[code]

I'm not sure how to fix, since this error is deep inside mypy, and it seems to fail because the node we send to it is not a TypeInfo (it is a var node if I understood correctly). I wonder if we can check the type of node we have and then do something based on that 🤔

[2020-10-21 11:48] #517 closed

[2020-10-21 15:59] patrick91 opened #521 "Deprecate strawberry.union('name', types=(A, B)) in favour of using Annoted"
So, I though having our own way of defining union type was a good idea, but turns out it is quite hard to make a mypy plugin that understands this syntax:

[code]

also this won't really be supported in other type checkers, so the alternative is this:

[code]

which is not that bad, also this allows to define named unions on fields directly:

[code]

which isn't the best thing to ready, but might

[2020-10-21 16:42] BryceBeagle commented on #521
what about this requires a mypy extension? Or does the _usage_ of `Result` cause problems?

[2020-10-21 21:16] patrick91 commented on #521
@BryceBeagle so, we need the plugin to tell mypy that result now is a Type, more specifically a `TypeAlias` so that you can do things like `A: Result`.

Unfortunately our current plugin seems to break in some cases, and I'm having a hard time finding a solution, basically here:

https://github.com/strawberry-graphql/strawberry/blob/master/strawberry/ext/mypy_plugin.py#L55

one of the type breaks `

[2020-10-21 21:29] BryceBeagle commented on #521
Does [PEP-613](https://www.python.org/dev/peps/pep-0613/) not work for this case?

[code]

[2020-10-21 21:31] patrick91 commented on #521
@BryceBeagle didn't know about that one! I think the problem would still be that mypy doesn't know the actual type of Result :(

[2020-10-21 21:42] patrick91 commented on #521
Oh well, turns out we can't do this for now, as mypy doesn't support it, from https://github.com/python/mypy/issues/9315

[2020-10-27 21:32] patrick91 commented on #521
We might not deprecate `strawberry.union`, but we might introduce support for the annotated version, when the next release of mypy gets released :)

[2020-10-27 21:33] patrick91 opened #537 "Allow to deprecate enums values"
We should be able to deprecate enum fields :) as per spec, GraphQL allows to deprecate enum values by passing a directive: https://spec.graphql.org/June2018/#sec-Enums

GraphQL-core allows that too: https://github.com/graphql-python/graphql-core/blob/4dbb9d4a5b1ed33c988c55ad277022aa9f850c8f/src/graphql/type/definition.py#L1204-L1210

This is where we process enum definitions: https://github.com/st

[2020-10-27 21:34] #375 closed

[2020-10-28 15:46] patrick91 opened #539 "Allow to use init=False on fields"
Pretty much like dataclasses we should allow to skip fields from being included in the __init__ method, like this:

[code]

We should be able to do this:

[code]

Edit:

We should also support `default` and `default_factory` on `strawberry.field`

[2020-10-28 16:32] jkimbo commented on #539
@patrick91 when would you want to do this?

[2020-10-28 16:35] patrick91 commented on #539
@jkimbo I don't really have a usecase for it, it came through a conversation with @srbiotik :)

I guess it might be useful in combination with `strawberry.Private` 🤔

[2020-10-28 22:25] patrick91 opened #540 "Alllow to customise how data is returned in our views"
Currently we allow to customise how we get the context and root value for our views (asgi, django and flask). We should allow to return data differently, like for example using ujson instead of json.

I think extracting the code that renders the response to a method should be enough:

https://github.com/strawberry-graphql/strawberry/blob/master/strawberry/django/views.py#L85-L87

https://github.co

[2020-10-28 22:29] patrick91 opened #541 "Add support for sanic"
Sanic seems to be quite popular for performance reasons, might be nice to add built-in support for it, should be similar to asgi :)

https://github.com/huge-success/sanic

[2020-10-29 04:19] jordangarside opened #542 "Make camelCasing optional"
Would be nice if we could make camelCasing optional:

`schema = strawberry.Schema(query=Query, auto_camelcase=False)`

https://github.com/strawberry-graphql/strawberry/issues/36

[2020-10-29 05:55] jordangarside commented on #539
Say I have a model like:
[code]

And a resolver like this:
[code]

And I try to query:
[code]

This _should_ work fine, but you'll get an error saying that you didn't init c:
`"__init__() missing 1 required positional arguments: 'c'"`

`c` is not `Optional`, it's just not implemented yet.
Currently, if I were to do `MyNode(a="", b="", c="")` or if I added a field resolver to `c` then this query wo

[2020-10-29 05:57] jordangarside commented on #539
I actually don't think `dataclasses.field(init=False)` really solves this problem since once you add that you can no longer pass `c` in when constructing the class -- and it also doesn't solve the unnecessary calling of fields unrelated to the query.

[2020-10-29 06:42] jordangarside commented on #448
This is related to not being able to use the same function for multiple resolvers correct?

[code]

Only `id` will be added to the schema.

[2020-10-29 06:55] BryceBeagle commented on #448
Yes I believe this is related. It also provides a bit clearer of a picture for the source of the problem:

https://github.com/strawberry-graphql/strawberry/blob/ebcf62a8b91130d98ef98cf795b6d251effec2cb/strawberry/field.py#L39-L49

When a resolver is added to a field (either immediately using the `strawberry.field` argument, or deferred using `StrawberryField.__call__`), what's returned is the reso

[2020-10-29 10:05] patrick91 commented on #539
This is already what's happening 😊

We don't call field resolver unless requested :)

I'm a bit wary of this, it does make sense, but I feel like it break the premise of using dataclasses and also it would break usage of objects in pure python 🤔

What do you think @jkimbo @BryceBeagle?

would something like:

[code]

`implemented=False`[1] would basically keep c into `__init__` but it would it giv

[2020-10-29 10:39] jkimbo commented on #539
I can't really see the use case for defining a field on a type but not implementing it. If you don't want to implement the field then you can assign a default value to it which should avoid the type error:

[code]

Am I missing something @jordangarside ?

---

I think it **is** reasonable for this to be a type error because you are using the type as a data container and if you miss a field that is

[2020-10-29 10:50] jordangarside commented on #539
Ohh gotcha, that's my bad. I assumed this was the case because this was working for queries that don't fetch the title:

[code]
I was thinking this was calling the field resolver and that's why it was fulfilling the query. But, I just realized that the reason this works is because `title` is not an explicit field anymore. i.e. I can no longer do:
[code]
which I guess is expected, but that's not re

[2020-10-29 11:00] patrick91 commented on #539
What's the usecase for this? The resolver would always get called when executing the GraphQL query

Regarding the errors, we have a mypy plugin, it is described here: https://github.com/strawberry-graphql/strawberry#type-checking

I only want to mention that it's still beta/alpha, so it might crash in some instances, but I'm happy yo try to fix any issue with mypy 😊

[2020-10-29 11:14] jordangarside commented on #539
You can set your resolver up to default to the value passed in on `self`/`root`. That way if you already have the value from the parent context you can just pass it in. You might want to do this if the field is expensive to calculate.

Ohh sorry, I wasn't clear here. I meant rather I would expect this to be a static type error rather than runtime. The issue with it being a runtime type error is th

[2020-10-29 11:19] jordangarside commented on #539
Yeah I added the plugin, just not seeing any type errors around instantiating a class with missing/incorrect fields.

I'll try to take a look at this more a later.

[2020-10-29 11:24] jordangarside commented on #539
I'll try to lay this out a bit more concisely later as well.

[2020-10-29 12:05] jkimbo commented on #539
@jordangarside I think I understand now, thanks for explaining. IMO raising a runtime error when loading a type with partial data is the right behaviour because the server doesn't control the fields the client selects and so I would rather it broke earlier (ideally at type checking time) than later. If the data for a field could be missing then the field should either be optional or have a default

[2020-10-29 13:29] patrick91 commented on #539
@jordangarside thanks for explaining! maybe we could allow types to be partially initialised, like this:

[code]

or even more explicit:

[code]

I throwing out ideas here, as I agree with @jkimbo here:

but I think we can allow for partial initalization since there's usecases for it, I just would like to make it as explicity as possible, what do you think?

[2020-10-29 21:02] shinybrar commented on #541
Hi @patrick91 ,
I would happy to help with this issue, since I use Sanic for a lot of my production software and want to promote the use of Strawberry within our organization. If you can guide me in the right direction -- I can take the rest from there.

[2020-10-29 23:00] patrick91 commented on #541
@shinybrar nice! thanks for wanting to help (and promote strawberry)! 😊

I'm not familiar with sanic, but it shouldn't be too different than how we did Flask support: https://github.com/strawberry-graphql/strawberry/tree/master/strawberry/flask

or even better ASGI (since it is async): https://github.com/strawberry-graphql/strawberry/tree/master/strawberry/asgi

so I create a new namespace `strawb

[2020-10-30 14:05] srbiotik commented on #539
The second one feels better. Saves the pain of defining init for each field also.

[2020-10-30 20:42] sadielbartholomew commented on #537
Hi @patrick91, I am looking for an Issue to contribute to for Hacktoberfest since another I started towards it will take longer than October. Please can I take this one on, if someone isn't planning to do it already? I am fairly sure I know what to do and can strive to put up a PR before the end of tomorrow.

[2020-10-30 20:45] patrick91 commented on #537
Awesome! No one is working on this as far as I know!

Feel free to join our discord in case you have questions! https://discord.gg/ZkRTEJQ

[2020-10-30 20:53] sadielbartholomew commented on #537
Excellent, thanks :) I'll ask on the forum if I get stuck in some way otherwise put up a PR shortly.

[2020-10-31 23:55] bhargavasomya commented on #540
Hey, @patrick91! I would like to contribute to this project. Can you please assign this issue to me? Thanks.

[2020-11-01 00:47] patrick91 commented on #540
@bhargavasomya done!

[2020-11-01 01:56] Ambro17 opened #553 "[BUG] Can't create interfaces that implement other interfaces"
After RFC https://github.com/graphql/graphql-spec/pull/373 was merged, not its possible in graphql-js and in the python port to create interfaces that implement interfaces.
The classic example are relay `Connection` Types, but a more simple example is listed below:
[code]

I also have a PR with an attempt to fix this

[2020-11-02 15:21] sadielbartholomew commented on #537
Hi, just to provide an update, I've missed the chance to finish this for Hacktoberfest because I was busier than I thought over the weekend, but I still plan to address this with a PR. I am perhaps halfway there.

Due to other priorities I estimate it will be towards the end of the week (most likely Friday) before I can finish it and open the PR. I hope that is still okay and sorry for the delay r

[2020-11-02 15:39] patrick91 commented on #537
@sadielbartholomew no worries! Thanks for the update!

I think we will still send Strawberry stickers to new contributors if they want 😊

[2020-11-05 22:27] #553 closed

[2020-11-06 11:44] patrick91 opened #559 "Improve mypy support for strawberry.field"
I think it is time to make a full copy of the mypy dataclasses plugin: https://github.com/python/mypy/blob/a6c3e0740fb7ddf65a89c1742c9d10c5fe2ed604/mypy/plugins/dataclasses.py

Our plugin reuses it but it doesn't work with `strawberry.field`, since dataclasses don't know anything about strawberry.field.

Currently we get this error:

[code]

[code]

so we need to tell mypy that this is what we exp

[2020-11-06 11:49] #413 closed

[2020-11-06 11:50] patrick91 opened #560 "Improve dataloader"
Here's some tasks I didn't do while implementing dataloaders:

- [ ] Custom caching
- [ ] Priming/Clearing cache
- [ ] Batch schedule function

And maybe some more error checking :)

Everything is up for discussion, do we need all of them? Do we need more? :)

[2020-11-06 12:47] fiercebrake opened #561 "Could not determine type of stream"
A good day to you,

When using my own oauth clientid, and "Hi resolution", Strawberry complaints with "Could not determine type of stream".

This does not happen if using a working API token.

On terminal, i get the logs down below for that error.

Any advise ?

`06:36:22.064 DEBUG MainWindow:1002                  Started QThread(0x55db3ab85c80)
06:36:22.076 INFO  DeviceManager:442

[2020-11-06 12:52] patrick91 commented on #561
Hi there @fiercebrake!

[code]

This doesn't seem like an error coming from strawberry, would be able to post some code to reproduce this? :)

[2020-11-06 13:00] fiercebrake commented on #561
Sure, let me know what you would require

[2020-11-06 13:02] patrick91 commented on #561
@fiercebrake I checked the issue better, and it seems that maybe you're in the wrong repo?

Are you this maybe? https://github.com/strawberrymusicplayer/strawberry

[2020-11-06 13:06] fiercebrake commented on #561
Ah! my apologies

yes indeed I am in the wrong repo, sorry about that

[2020-11-06 13:06] #561 closed

[2020-11-06 19:48] AndrewIngram commented on #560
I'm wondering if the first two can be tackled by simple accepting an optional init param which is an instance of something that implement the Mapping protocol, if it's not provided just default to creating a dict as things are now.

I'd even consider removing the cache bool param because I don't actually know a reason why you wouldn't want _at least_ query-level memoization-style caching within Gr

[2020-11-06 19:58] AndrewIngram commented on #560
Hm, I'm possibly oversimplifying regarding priming and clearing.

From past experience, the main use case i've had for priming is when one loader affects another. So if I had a User type and there's `userByIdLoader` and a `userByUsernameLoader`; once one of them successfully loads a batch of users, it should have enough information to be able to prime the other for those same users.

The catch her

[2020-11-10 20:37] patrick91 opened #565 "Import for apollo tracing extension requires telemetry"
If you do:

[code]

You will get this error:

[code]

[2020-11-11 22:14] kristofgilicze opened #566 "Merging schemas, schema stitching"
I have seen the issue https://github.com/strawberry-graphql/strawberry/issues/38 which addresses remote schemas, i believe this is slightly different.

Most Django projects written in the pattern where the project is split into several smaller 'apps'..

**What I do right now**
[code]
create these for every app, then assemble my schema at the project level.

**Proposal**
Ideally I would like to hav

[2020-11-11 22:59] patrick91 commented on #566
Oh, interesting, at work we are doing one big app that contains all the API code 😊
but that's just another way of doing it :)

What I do is this:

[code]

not great, but it works. But I think we could provide a way for merging/stitching schemas, shouldn't be too complicated[1]

we could provide an API like:

[code]

or something better, @jkimbo do you have any suggestion? :)

How do you do that in

[2020-11-12 11:05] jkimbo commented on #566
but that's just another way of doing it :)

This is the way I do it as well but it's interesting to see other ways of structuring projects.

This would essentially be the same as `class Query(AppAQuery, AppBQuery):` but with extra checking for collisions @patrick91 ?

This might be a good use case for a registry pattern. For example something like this:

[code]

Or could do something similar to [a

[2020-11-12 11:56] Ambro17 commented on #566
I like the `merge_schemas` api a little better since there would be a single place to look when we want to customize the result.
That function will probably end with some optional arguments (based on how schema stitching works on Javascript) and I feel like having them decorating query objects that may not be on the same place might make harder to understand what's happening and why

[2020-11-12 12:37] jkimbo commented on #566
That is a good point @Ambro17 . Having a `merge_schemas` function makes sense though my concern is that that function could get quite complicated (for example https://www.graphql-tools.com/docs/stitch-type-merging is pretty scary). IMO the registry pattern has other benefits for structuring your code but maybe this is not the right place for it.

I didn't follow why Apollo decided to drop Schema S

[2020-11-12 12:58] kristofgilicze commented on #566
_Thanks! Soo this is basically the same as Graphene, using inheritance._

Having an exception raised upon collision seems useful.

Using registry pattern the 'apps' would be dependent on a import from the main `api.schema` module.
This way the app is not decoupled from the project, so it is not as simple to reuse in a different project.

Ideally the app level schema could be used standalone, then

[2020-11-12 13:52] jkimbo commented on #566
Yep very true. Sounds like a `merge_schemas` function is the way forward here. Maybe under a `.tools` namespace (like the graphql-tools project).

[2020-11-16 17:10] LouisAmon opened #569 "Parity with `dataclasses.field`"
While starting to use Strawberry 🍓  and admittedly being a beginner, I noticed I had to make a choice : I have to choose between Strawberry features on my fields via `strawberry.field` (e.g. adding a description) and using native `dataclasses.field` features.

Some of the native `dataclasses.field` attributes that I do use on my dataclasses are `default_factory` and `metadata` (which allows me to

[2020-11-16 17:46] LouisAmon commented on #569
FYI [pydantic does have](https://pydantic-docs.helpmanual.io/usage/schema/#field-customisation) parity with `dataclasses.field`, mostly by allowing `**` extra kwargs in their field function

They consider `default_factory` to be a [beta](https://pydantic-docs.helpmanual.io/usage/models/#field-with-dynamic-default-value) feature tho

[2020-11-16 18:03] patrick91 commented on #569
I personally want to add these feature, there's a small discussion on adding support for init -> https://github.com/strawberry-graphql/strawberry/issues/539

We'll also need `default_factory` too (this will affect the schema generation too as we expose default values on the schema).

Not sure about metadata, I guess it won't hurt to add it, but I wonder if users would get confused by it?
What do u

[2020-11-16 18:16] LouisAmon commented on #569
I personally use it to define my data generator, for which I opened a different discussion [here](https://github.com/strawberry-graphql/strawberry/discussions/570) as I believe it is its own topic :)

Looks something like this:
[code]

The `metadata` field, although a bit inexpressive, was literally intended for that usage by the Python core team:

In theory, I guess Strawberry should claim it's o

[2020-11-16 19:07] patrick91 opened #571 "Raise error when using Scalars (or non strawberry types) with Union"
If we do something any of the following:

[code]

we should get an error informing that:

1. you can't use unions with scalars (not supported by GraphQL)
2. you can only use union with strawberry types

[2020-11-17 21:52] patrick91 opened #577 "Improve structure of mypy plugin"
Would be ideal to split it into multiple files as now it is a big mess :D

[2020-11-17 21:55] BryceBeagle commented on #577
A specific desire would be to split the code copied from external sources/libraries into their own files, for code separation purposes.

[2020-11-17 21:58] patrick91 commented on #577
we do modify the data classes plugin though, does that change your idea?

[2020-11-17 22:02] BryceBeagle commented on #577
Somewhat, but I think it would be best to not have external code embedded in first-party code, because then it can become unclear what comes from where, especially if refactoring is done by someone unaware of the original source.

[2020-11-18 08:36] jkimbo opened #579 "Validate schema early"
Currently graphql-core doesn't validate the schema until execution time (to allow for partial schema generation). Since strawberry doesn't support partial generation at the moment it would make sense to validate the schema as soon as it's instantiated so that any issues are raised early.

~~As a bonus it would be nice to be able to specify which validators to run.~~ Actually the schema validation

[2020-11-18 10:26] patrick91 opened #580 "Expose GraphQLError from our namespace"
It would be nice to expose GraphQLError from `strawberry.errors` or something like that. So we can improve it if needed in future.

We should also add docs for how to use errors and how to change them if needed :)

[code]

[2020-11-18 15:06] #571 closed

[2020-11-18 20:06] #302 closed

[2020-11-18 21:45] ossareh opened #583 "v0.43.0 requires pydantic, but is marked optional"
Attempting to start a very simple server results in:

[code]

Even though pyproject.toml has pydantic marked as optional: https://github.com/strawberry-graphql/strawberry/blob/master/pyproject.toml#L37

app.py is:

[code]

[2020-11-18 22:05] ossareh commented on #583
can confirm the bug does not exist on v0.42.7

[2020-11-18 22:25] patrick91 commented on #583
@ossareh thank you for report! Will make a fix soon :)

[2020-11-18 23:14] #583 closed

[2020-11-18 23:17] patrick91 commented on #583
Should be good now in 0.43.1 :)

<img width="432" alt="image" src="https://user-images.githubusercontent.com/667029/99599875-2980d480-29f4-11eb-9efc-45e3f1002f3d.png">

[2020-11-18 23:57] ossareh opened #586 "(dev server) support for Subscriptions requires `uvicorn[standard]`"
To use `Subscription` websockets are required, to enable websockets you need to install `uvicorn[standard]`. Currently `pyproject.toml` / `poetry` is only installing `uvicorn`. Not having the "standard" extra results in a failure to upgrade the HTTP request to WebSocket, you can see this by increasing the uvicorn log_level in [`cli/commands/server.py`](https://github.com/strawberry-graphql/strawbe

[2020-11-19 00:05] BryceBeagle commented on #586
Can we create an `extras` group that includes `uvicorn[standard]`? Does poetry support this?

[code]

I agree that better documentation is needed regardless.

[2020-11-19 00:07] ossareh commented on #586
Oh, that would absolutely work!

On Wed, Nov 18, 2020 at 18:05 ignormies <notifications@github.com> wrote:

[2020-11-19 00:08] BryceBeagle commented on #586
Wait just realized a flaw here. `uvicorn_standard` isn't a real package. Not sure if poetry supports aliases

[2020-11-19 00:15] BryceBeagle commented on #586
https://github.com/python-poetry/poetry/issues/1978

[2020-11-19 10:12] patrick91 commented on #586
What about making the whole debug server optional as well? So if you want to use the debug server you'd need to run:

[code]

or something similar? Then we can provide all the dependencies we need :) I'm a bit worried that this might not be really user friendly though

[2020-11-19 11:56] jkimbo commented on #586
+1 on making the debug server optional. I use Strawberry with Django in my project and don't need the extra things that Strawberry requires to host the debug server.

[2020-11-19 12:35] lijok commented on #586
+1 on making the debug server optional as well. We host a strawberry with django server in AWS lambda, and the smaller the packaged up system is, the faster it loads

[2020-11-19 16:01] ossareh commented on #586
That makes things easier for sure; they’re can be a couple of extras:

 * debug-server
 * debug-server-ws

Allowing for the inclusion of Cython if necessary. It does complicate the
0-60 installation somewhat so I’m still interested in hearing whether this
is a good change in the spirit of the v1 roadmap which talks about making
getting going easy:
https://github.com/strawberry-graphql/strawberry/i

[2020-11-19 22:54] #586 closed

[2020-11-19 23:41] patrick91 opened #589 "Return extensions results from our view"
Our `process_result` default function at the moment doesn't return `extensions`, we should return them when set :)

Also might be good to change the typing for  `GraphQLHTTPResponse` to allow to add more keys when needed :)

[2020-11-20 09:53] patrick91 opened #591 "Small list of federation bugs"
While using federation with @marcoacierno we found a couple of bugs that we should.

1. keys don't get camel cases, so you need to specify the camel case version ie:

[code]

the resulting directive should be `@key(fields:"myKey")`, but now we get `@key(fields:"my_key")`.

In a similar fashion when using `resolve_reference` we need to snake_case the arguments, as now we'd get `myKey`:

[code]

Add

[2020-11-22 19:41] #579 closed

[2020-11-26 20:12] MasterBiryer opened #600 "Cannot decorate @field method"
This code will fail with an error: Cannot query field 'itemCreate' on type 'Query'.

``
#
from strawberry import type, field, Schema
#
from .item import Item, ItemType, ItemInput
#
item = Item()

def printStarDecorator(func):
    def inner(*args: str, **kwargs: int):
        print("*" * 30)
        result = func(*args, **kwargs)
        print("*" * 30)
        return result

    return inner

@typ

[2020-11-26 20:12] MasterBiryer opened #601 "Cannot decorate @field method"
This code will fail with an error: Cannot query field 'itemCreate' on type 'Query'.

``
#
from strawberry import type, field, Schema
#
from .item import Item, ItemType, ItemInput
#
item = Item()

def printStarDecorator(func):
    def inner(*args: str, **kwargs: int):
        print("*" * 30)
        result = func(*args, **kwargs)
        print("*" * 30)
        return result

    return inner

@typ

[2020-11-26 20:13] MasterBiryer commented on #601
Sorry for the bad formatting: for some reasons the site will not let me edit my post... :-(

[2020-11-26 20:20] MasterBiryer commented on #601
This is unfortunate because it prevents from using other libraries that also requires decoration of some methods.

[2020-11-26 20:23] BryceBeagle commented on #600
Closing as duplicate of #601 🙂

[2020-11-26 20:23] #600 closed

[2020-11-26 20:33] patrick91 commented on #601
@MasterBiryer thanks for document this issue! This is something we want to solve, I'm not sure yet how though.

In the meantime would this help you? -> https://github.com/strawberry-graphql/strawberry/pull/473

[2020-11-26 22:22] MasterBiryer commented on #601
I am not sure this proposal would actually help because it indeed allows to _define_ a "strawberry-compatible" decorator whereas I need to _apply_ an existing decorator.

Is there a way to transcode an existing decorator into a "strawberry" one ?

[2020-11-26 22:23] BryceBeagle commented on #601
I believe if this proposal goes through, you'd be able to wrap your existing decorator in a strawberry-compatible decorator

[2020-11-26 22:25] MasterBiryer commented on #601
@BryceBeagle : ah ok, maybe. I do not see exactly how but I guess this will be documented.

[2020-11-26 22:26] MasterBiryer commented on #601
It starts to be really meta-meta... ;-)

[2020-11-26 22:30] MasterBiryer commented on #559
+1

[2020-11-26 23:07] BryceBeagle opened #602 "strawberry.utils.typing.get_optional_annotation fails when provided an `Optional[Union]`"
`strawberry.utils.typing.get_optional_annotation` fails when provided an `Optional[Union]`

[code]
This should return `Union[int, str]` instead

[2020-11-28 19:28] BryceBeagle opened #604 "Schema-basics documentation uses wrong field name for books query"
https://github.com/strawberry-graphql/strawberry/blob/a973af56317548925d0f57a7fac338adc6aef9fa/docs/01_general/01_schema-basics.md#L223-L231

This snippet should use `books` instead of `getBooks`

[2020-11-28 19:43] la4de commented on #566
I would propose following syntax. It's intuitive and easy to use.

[code]

[2020-11-28 19:48] la4de commented on #84
I have been missing django model integration so I started to prototype this feature. Please try and leave feedback. https://github.com/la4de/strawberry-graphql-django

There is sample projects which can be used for testing as well. https://github.com/la4de/strawberry-graphql-django/tree/main/examples/django

[2020-11-29 05:13] Paolo-Cosentino commented on #604
Hello!

Can I work on this issue? It will be my first open source contribution.

[2020-11-29 05:26] BryceBeagle commented on #604
Sure! Feel free to ask any questions (here or on our discord) if you have any

[2020-11-29 05:47] Paolo-Cosentino commented on #604
Just submitted the PR, thank you for letting me get my feet wet.

[2020-11-30 08:10] #604 closed

[2020-12-06 19:13] benwis opened #608 "Missing magic dependency prevents install"
pip and poetry won't install strawberry because magic does not exist. Perhaps it got renamed to python-magic?
I can't find where in this project it lists dependencies, otherwise I'd submit a pull request.

`[SolverProblemError]
Because no versions of strawberry match >3.0,<4.0
 and strawberry (3.0) depends on magic (>=0.1), strawberry (>=3.0,<4.0) requires magic (>=0.1).
So, because no versions of

[2020-12-06 19:30] patrick91 commented on #608
@benwis can you try with

`
pip install strawberry-graphql
`

?

It looks like you're trying to install the package `strawberry`, unfortunately we don't have access to it :)

[2020-12-06 19:33] benwis commented on #608
@patrick91 You are absolutely right. I totally missed that. It works fine now :+1:

Happy Holidays.

[2020-12-06 19:33] #608 closed

[2020-12-07 22:12] ossareh opened #610 "Question: when must you declare types on Schema?"
Related to #607 (where things like procs are created, etc):

[code]

will generate this error when I try to start strawberry:

[code]

That's fixable with `schema = Schema(types=[LogBlob])`. It's also fixable by changing the `AsyncIterator[LogBlob]` -> `AsyncGenerator[LogBlob, None]`.

If someone can help me understand why this happens I'm down to update the docs accordingly so that future me's do

[2020-12-07 22:19] BryceBeagle commented on #610
I'm guessing this is because the logic here is not triggered:
https://github.com/strawberry-graphql/strawberry/blob/ddb2cb77ae8df1ca7e7fc044531a2c6d1c237a92/strawberry/types/type_resolver.py#L89-L96

Note this this is function (`resolve_type`) is probably going to change drastically or even  be removed when [feature/strawberry_type](https://github.com/strawberry-graphql/strawberry/tree/feature/str

[2020-12-08 16:56] benwis commented on #565
This appears to be caused by an opentelemetry import in strawberry/extensions__init__.py

I commented out the import and it appears to start now.

[2020-12-10 20:39] #602 closed

[2020-12-11 20:00] kristofgilicze commented on #566
So this proposes making the **query and mutation argument type flexible**.
No need for extra tooling, _intuitive_ for the developer.

However it is little different from the `schema = strawberry.merge_schemas(a, b, c)` approach.
Not merging schemas, but the queries and mutations separately.

I like both approaches ¯\_(ツ)_/¯, though I have slight preference for the flex arg one.

[2020-12-17 10:17] jkimbo commented on #566
I am personally not a fan of overloading arguments to accept multiple types because I think it can get confusing. I think a better API would be to have a utility function that can just merge types together. E.g.

[code]

The benefit of this API is that it maintains the same Schema api and, by having a dedicated function, it allows us to support passing options to control how the types are merged (

[2020-12-25 12:06] patrick91 opened #624 "Websockets implementation tries to send message when connection is closed"
Sometimes a websockets/subscription connection gets closed by the browser and trying to send a message fails, we have a catch all exception that sends the error via GraphQL (useful for resolver exceptions), but we need to handle `websockets.exceptions.ConnectionClosedOK` and terminate the subscription (a return should be enough).

https://github.com/strawberry-graphql/strawberry/blob/master/strawb

[2020-12-26 12:26] tbarnier opened #626 "Importing Strawberry fails"
`bug.py`

[code]

error message:

[code]

[2020-12-26 13:26] jkimbo commented on #626
@tbarnier do you have a folder called `graphql` in your project?

[2020-12-26 16:22] tbarnier commented on #626
Yes :(

thanks for your help :)

[2020-12-26 16:35] tbarnier commented on #626
Apparently the `graphql.utilities.print_schema` module exists only since version 3.1.0, before then it was `schema_printer`

[2020-12-27 08:24] BryceBeagle commented on #626
I closed this issue as it appear to be solved. If this is incorrect feel free to reopen.

[2020-12-27 08:39] ulgens commented on #626
@BryceBeagle There is a PR to solve this issue, i don't think it's solved yet.

[2020-12-27 08:41] BryceBeagle commented on #626
Oh you're right. I think misread @tbarnier's response. I thought their problem was caused by a local directory, and that the `graphql.utilities.print_schema` was a separate issue. I'll repoen.

[2020-12-28 14:31] la4de commented on #566
@jkimbo, I see your point and it would be good to have possibility to give extra arguments as well.

Could we support both syntaxes? I don't see any problems if one could use more flexible API and one would use simpler and less verbose API. Library can internally use the same `merge_types` method. Most of the cases simpler API would be enough.

[2020-12-28 15:24] jkimbo commented on #566
@la4de possibly, though TBH I don't see much benefit to supporting the simplified API and I would rather there just be one way of doing it. To quote the Zen of Python "There should be one-- and preferably only one --obvious way to do it."

Regardless I'll have a go at creating a `merge_types` function first and see how it goes.

[2020-12-28 17:13] kristofgilicze commented on #566
I also agree that there should be a single API.

`merge_types()` is for sure absolutely needed.

My input is that  we should  consider keeping the direct way to  `merge_schemas()`.

Just seems weird that I would need to import my schema in multiple parts, since the original request was to stitch schemas not types.

[2021-01-06 10:23] jkimbo commented on #566
Update on this: I've been hacking around with a `merge_types` function (which will form the basis of a `merge_schemas` function and I've got some basic functionality working. However I don't think it's worth me spending more time on it until @BryceBeagle 's work on refactoring `StrawberryFields` is done because a lot is going to change so anything I do now will have to be rewritten.

[2021-01-09 07:39] AadamZ5 opened #653 "Implicit description from class docstring"
Long story short, in my opinion,

This, (my class used for example)
[code]

Should be equivalent to this,
[code]

We can gather this from the `__doc__` attribute on the class, or a clean sanitized string using `getdoc` from the `inspect` module,
[code]

I believe the description should be gathered from the docstring if no description parameter is explicitly set.

What do you think? I love the proj

[2021-01-09 11:12] patrick91 commented on #653
Hi @AadamZ5! That's something we did at the very beginning but we removed this functionality because it was easy to forget about and expose implementation details (something that happened at work if I'm honest 😊).

What about using a new property on the class?

[code]

Pinging @jkimbo, @BryceBeagle and @ulgens for more opinions on this :)

[2021-01-09 14:10] Ambro17 commented on #653
I like the new attribute a little more, since the docstring may be oriented to developers and leak some implementation details.
At work we had a similar discussion and agreed with the special attribute approach.
If you want to take the docstring as the field description you explicitly set `__description__ = __doc__` and you get the desired behavior, without the risk of doing it accidentally

[2021-01-09 20:10] AadamZ5 commented on #653
The extra attribute would work, but truly I see it as redundant to the `description=` parameter in the decorator. The only reason I thought it would be a good idea was because it is a straightforward and implicit way to specify the description without actually specifying any explicit parameters or attributes. I love me some implicit-ness.

I think that if the description is gathered from `__doc__`

[2021-01-09 20:14] BryceBeagle commented on #653
I disagree. You wouldn't want to potentially leak implementation details because you were unaware of a cool, but non-obvious, feature of the library. I think there should be a schema-wide toggle that enables the feature, but is disabled by default:

[code]

[2021-01-09 20:20] AadamZ5 commented on #653
I think this is a great idea @BryceBeagle. I thought of something along the lines of this, but wasn't sure of the best way to do it.

So since it seems like a lot of people use the docstring for implementation details, maybe I am using the docstring in an unconventional way. In other words, the docstring is probably not a suitable description. As I'm no employed or super experienced dev, what do y

[2021-01-09 20:24] BryceBeagle commented on #653
I can't speak for the other users here, but personally I don't _aim_ to have implementation details in my docstrings. But I also don't actively avoid doing so. It would require a bit of extra scrutiny to make sure that all the items I'm referring to in the comment are, in fact, public members. Someone that's unaware of the feature may not even think about doing this.

[2021-01-09 20:40] patrick91 commented on #653
That's a very good question, I think docstrings should be used as some sort of public documentation for classes, functions and modules, so ideally they'd work well for a GraphQL description. The problem is that it is too easy to do the wrong thing, personally I've seen docstrings used to explain how something was implemented (instead of how to use and when), I've done that too be honest.

As a aim

[2021-01-09 20:48] BryceBeagle commented on #653
I guess it depends on your definition of "public". Usually when I write docstrings, I'm documenting things for coworkers/other developers, i.e. those with access to the source. Not for the customers/users of the product.

There's something to be said for in-source documentation for end users (a lot of libraries do this, e.g. Qt), but not all. Those that do in-source documentation could definitely

[2021-01-11 00:02] AadamZ5 opened #654 "self parameter is None in resolver methods"
In an example like this,
[code]
I noticed while trying to use instance attributes that `self` isn't actually passed into the method. Are the Query, Mutation, and Subscription class instances actually passed back into the methods?

A couple things to note here,
- Notice I have no parameters on the `test_field2` resolver method.
- Notice the same behavior even with parameter(s) in `test_field3` reso

[2021-01-11 00:29] AadamZ5 commented on #654
Another quick note,

Actually taking an instance of `Query` actually does pass a `self` parameter, as expected.
[code]
This leads me to believe that the resolver engine doesn't actually use instances of classes while executing resolver methods. If I had to take one stab at a possible fix, it would be to pass instances into `strawberry.Schema(...)` instead of types. You can still gain types from in

[2021-01-11 11:00] jkimbo commented on #654
@AadamZ5 yep this is a known issue and it's because the resolver functions are actually static methods. It was discussed briefly here: https://github.com/strawberry-graphql/strawberry/discussions/515

You can "fix" it by setting the `root_value` parameter when executing a query as an instance of the `Query` type:

[code]

(for the framework integrations you can override the `get_root_value` functi

[2021-01-11 15:21] patrick91 commented on #654
I wonder if that might be a problem or not due to potential side effects 🤔

[2021-01-11 22:26] AadamZ5 commented on #654
As long as it's a shared instance, and not a newly generated one for each individual query. I think having the `self` parameter work as expected is important, otherwise it should be documented how these functions don't get a `self` parameter by default. If documenting, where should that information be put? The first instance `@strawberry.field` is used for a resolver is in [Schema basics | The Mut

[2021-01-12 16:38] jkimbo commented on #654
@AadamZ5 what do you mean by that? In my mind the Query instance would be created each time `execute` is called. I think that makes the most sense.

Ah yeah it's not possible to customise the root value when using the dev server. You will have to setup a custom view inside Flask to be able to do that.

---

Also I realised that defaulting the root value to an instance of Query will only work for q

[2021-01-12 18:44] AadamZ5 commented on #654
I was planning to use instance variables on the `Query` object for storing data and instances of services. I was trying to use it more as a python class rather than a GraphQL static query object. In my application, I tend to use instances of everything, rather than static objects, so that's just the idea that was in my head. My goal was to inject and retain my "device" service on to the Query _ins

[2021-01-13 08:54] patrick91 commented on #654
That's annoying, so basically there would always one root value? I wonder if can do that (and if we should). From what I understood the GraphQL spec don't specify what the very first root value should be, maybe we can see if there's any other framework that do things differently?

@AadamZ5 maybe you can use `info.context` for that?

This is something we discussed in another issue related to subscr

[2021-01-13 10:27] jkimbo commented on #654
As far as I'm aware yes, there will only be one root value. The root value can be anything you want it to be but I think it's fair for Strawberry to default it to something if it makes sense within the context of the library. I don't think other frameworks suffer from the same problem because they treat resolvers as static methods or they don't have the same python convention of `self`. Graphene s

[2021-01-14 22:36] patrick91 commented on #654
I'd avoid this, query, mutation and subscription are special types, but not that special enough to treat them different I think 🤔

Maybe I can try and see if I can find a way to pass the correct self to queries, mutations and subscriptions, even when sending multiple operations at once, if that's possible. What do you think?

[2021-01-20 20:39] patrick91 opened #671 "Docs: add comparison between strawberry, graphene and ariadne"
from @Abro17:

_Originally posted by @Ambro17 in https://github.com/strawberry-graphql/strawberry/pull/603#issuecomment-763912414_

[2021-01-22 21:59] AdamStrojek opened #676 "Access to selected attributes for type in info parameter for resolvers"
Currently, in resolvers, there is no possibility to retrieve a list of selected attributes in GraphQL query for type. This would be useful when using a database to limit query size

[2021-01-22 22:06] patrick91 commented on #676
Hi @AdamStrojek do you mean accessing the list of selected fields?

If you pass an info argument to a resolver you should be able to do that:

[code]

we haven't documented this yet as it is not properly typed yet, but you can use it already :)

[2021-01-23 16:14] AGASS007 opened #678 "Strawberry mypy plugin not working with new 0.800 mypy version"
Due to the new `info: TypeInfo` arg in `DataclassAttribute` (see [here](https://github.com/python/mypy/pull/9380/files#diff-1fdad80f805993800524fbb9b684cc3d09879f54a0e51c71f2a447c7d46c1eb4R38)), `DataclassAttribute` instantiation fails [here](https://github.com/strawberry-graphql/strawberry/blob/master/strawberry/ext/mypy_plugin.py#L476).

I do not have any solution to offer yet, but I guess it wi

[2021-01-23 16:20] patrick91 commented on #678
@AGASS007 thanks for the report! Will take a look at it now, hopefully it is something simple 😊

[2021-01-23 21:14] #678 closed

[2021-01-23 21:47] patrick91 opened #680 "Document info parameter and export type from strawberry"
Currently we can pass an info parameter to resolvers to get information about the GraphQL execution, it is exposed from graphql-core: https://github.com/graphql-python/graphql-core/blob/3359fe60d9940b174270426438a89d629b6cc6e2/src/graphql/type/definition.py#L547-L568

We should make our own version (a copy basically) and expose it from `strawberry.types`[1]

The reasoning behind this is that we ar

[2021-01-23 21:52] #626 closed

[2021-01-23 22:42] patrick91 opened #681 "Add safety checks around strawberry.type, strawberry.input and strawberry.interface"
I found a place where I had this:

[code]

I think we should add a safety check as we already for enums: https://github.com/strawberry-graphql/strawberry/blob/master/strawberry/enum.py#L24-L25

We should only allow to decorate classes with strawberry.type, strawberry.input and strawberry.interface

[2021-01-24 16:41] AadamZ5 commented on #654
I agree with this statement too. The query, mutation, and subscription types are important, and shouldn't just be a list IMO. The extra functionality of a class (even as a static one) might be important to a lot of users.

If the root-level query objects (query, subscription, mutation) get an instance of themselves in `self`, then that would be great. I think a lot of new users would expect it to

[2021-01-24 18:08] lijok opened #682 "Incorrect TypeDefinition at __init_subclass__ time of types implementing interfaces"
Any Type that implements an Interface, at __init_subclass__ time will have their TypeDefinition (._type_definition) set to that of the Interface

Example:

[code]

When Type gets defined, __init_subclass__ prints the following:
[code]

After defining it, if I check the _type_definition of Type, it's correct
[code]

[2021-01-31 21:14] marcoacierno opened #693 "Type definition of a Generic type is shared even if the TypeVar is different"
Using a generic to dynamically create two types reuses the type_definition of the first created type instead of creating a new one

`returned_type` here is returning the type of the first generic class, instead of the correct one

https://github.com/strawberry-graphql/strawberry/blob/master/strawberry/union.py#L72

(Pdb++) returned_type
<GraphQLObjectType 'LoginErrorsValidationError'>

I will try

[2021-02-04 00:26] lijok opened #702 "Add IDE support for strawberry.Private"
My apologies, not knowing the internals of pythons type hinting system, I can't articulate this issue well
Is there something that can be done to strawberry.Private to prevent this from happening?

![image](https://user-images.githubusercontent.com/28689084/106826807-90bb3600-667f-11eb-8e6a-a1e84e64d382.png)

[2021-02-04 00:44] BryceBeagle commented on #702
As discussed on Discord, `Private.__class_getitem__` is currently implemented like this:
[code]

PyCharm, unsurprisingly, does not understand that Strawberry change the field type behind the scenes.

I mentioned that something along the lines of
[code]
is probably necessary to convince a type system of what's going on. This might involve lying to the type system and still returning a `Private` ins

[2021-02-04 03:23] ogrodnek commented on #316
@patrick91 long overdue but thanks for adding this!!

[2021-02-05 15:36] marcoacierno opened #704 "Allow throwing a custom exception or expose a "code" when a permission check fails"
Right now any check that fails in the permission_fields of a field raise a `PermissionError`

https://github.com/strawberry-graphql/strawberry/blob/ceb555f8cfe6526bc9e7982d36e21bbe2b7b4a35/strawberry/resolvers.py#L91

in some cases it might useful to change the behaviour of the GraphQLView based on what permission error happened

E.g in our case when the token is not valid we have a `ValidTokenPer

[2021-02-05 23:52] msobas commented on #537
@patrick91 What do you mean by deprecating enums?
`GraphQLEnumType` doesn't have `deprecation_reason` - https://github.com/graphql-python/graphql-core/blob/3359fe60d9940b174270426438a89d629b6cc6e2/src/graphql/type/definition.py#L1044-L1052

I believe we already can deprecate field that is using enum.

[code]

[2021-02-06 09:17] patrick91 commented on #537
@msobas you can deprecate enum fields:

[code]

Apologies for not being clear in the issue description ☺️

[2021-02-08 21:10] patrick91 opened #709 "Convert graphql-core's ResolveInfo to strawberry's Info in resolvers"
Continuation of #680

We have exposes a new type called `Info` from `strawberry.types`, this type should be used for the info parameter in resolvers.

Currently, tho, we pass the info value from graphql-core, since it maps to ours, we should convert it to be of type `Info` to make it not confusing when debugging and also, in future, to abstract the info values, for example we could abstract the op

[2021-02-10 02:29] playfulpachyderm commented on #268
Any plan to have support for SQLAlchemy models?

[2021-02-10 08:26] patrick91 commented on #268
Maybe, but not for v1, we did some work for pydantic which might be useful for adding support for sqlalchemy too.

With sqlalchemy you could map strawberry types to tables though: https://docs.sqlalchemy.org/en/14/orm/mapping_styles.html#declarative-mapping-with-dataclasses-and-attrs

that might be a better alternative, what do you think?

[2021-02-10 19:52] playfulpachyderm commented on #268
Hm, this looks interesting.  It might be what I was looking for-- I'll have to experiment a bit.  Thank you for the tip.

[2021-02-11 16:52] sadielbartholomew commented on #537
Hi, sorry this fell off my radar after November, I'm happy to still give it a go in the next month or so, but if this is urgent then by all means someone else can step in to do this (not sure if that is the case now given these new comments in this thread), in which case please accept my apologies for not getting it done. (I was a over-optimistic with the time I would have to devote to other open-

[2021-02-11 16:55] patrick91 commented on #537
@sadielbartholomew no worries at all :) feel free to come back to this task when you have time, don't think it is urgent :)

[2021-02-11 19:47] msobas commented on #537
I looked at this a little bit before @patrick91 updated description and I implemented this kind of API:

[code]

What do you think about this approach?
If it's working for us, I could create pull request @sadielbartholomew (I'm only missing some better tests) if not, than it probably would be quite easy to covert to API suggested by @patrick91

[2021-02-11 19:53] BryceBeagle commented on #537
Hmm that feels a little heavy on the enum decorator. Personally, I'd like to keep the value metadata closer to the actual values

[2021-02-11 19:54] patrick91 commented on #537
@msobas oh, didn't realise you were working on it ☺️

I had a short chat with @BryceBeagle on discord and, while we have different preferences, we kinda settled on the api in the description, I think it's consistent with what we have at the moment :)

Feel free to join our discord too https://strawberry.rocks/discord

[2021-02-12 14:44] lijok opened #711 "Union inheritance/merging support for strawberry.union"
In python, typing.Union can be merged
[code]

Being able to merge StrawberryUnion's when creating a union with strawberry.union would be helpful in some cases and should be fairly cheap to implement
Example implementation in my project that adds that functionality by wrapping strawberry.union
[code]

[2021-02-12 18:48] msobas commented on #537
Well it was more of a case of I have a free evening :D and wanted to play around something. Sorry for not saying anything before ;) probably a good practice so we don't do stuff twice. I'll search for your discussion and think about API again :)

[2021-02-16 08:50] #680 closed

[2021-02-19 13:44] pablohenriq opened #714 "UploadFile causes ASGI application's exception when it is in debug mode"
Apparently when we use the ASGI application in debug mode, it cannot print the value of variables if they are not JSON serializable.

In my use case, when I tried to use the [file upload](https://strawberry.rocks/docs/features/file-upload) example in debug mode this issue ended up happening.

I believe it is because of this:

https://github.com/strawberry-graphql/strawberry/blob/de215370b247a417af

[2021-02-23 13:54] patrick91 commented on #714
Thanks for the report @pablohenriq, will try to fix this during the weekend :)

[2021-02-27 17:12] patrick91 opened #725 "Add support for renaming arguments using annotated"
We only support description at the moment :)

[code]

[2021-02-27 17:28] patrick91 opened #726 "Add better support for subscriptions with Django"
We should have a way for enabling subscriptions when using django:

https://github.com/strawberry-graphql/examples/blob/main/django-subscriptions/api/views.py#L31-L32

Or we should tell people to use the ASGI view even for non websockets GraphQL :)

[2021-02-27 17:30] patrick91 opened #727 "De-shadow resolver arguments that have the same name as builtin functions"
this:

[code]

should change the `id_` name to be `id` on the schema.

[2021-02-28 01:25] BryceBeagle commented on #727
This should also work with arguments with the same name as Python keywords

[2021-02-28 01:26] BryceBeagle commented on #727
Similar in function to #725. Potentially one of the solutions will rely on the other

[2021-02-28 07:50] jkimbo commented on #727
Not sure this is a good idea because it feels like too much magic to me. What if you want to have an argument with a trailing underscore? I think being able to override the name of an argument (#725) is a better solution than automagically renaming arguments.

[2021-02-28 15:08] BryceBeagle commented on #727
Would having this be a feature that can be enabled/disabled work?

[2021-02-28 15:10] patrick91 commented on #727
I think this might be a good trade-off.

By the way we should to the same for autoCamecasing, so we could do both at once (post-refactor I'd say).

What do you think @jkimbo?

[2021-02-28 18:29] jkimbo commented on #727
Being able to enable/disable would definitely be better but I worry that it’s something that could cause some confusion when someone comes across it for the first time since it’s not that obvious. Maybe it’s opt in behaviour?

[2021-02-28 18:33] patrick91 commented on #727
Yes, I’d make it opt-in :)

[2021-03-01 15:29] marcoacierno commented on #693
I am not able to replicate it anymore: https://glitch.com/edit/#!/deciduous-intriguing-accelerator?path=app.py%3A14%3A17

I am pretty sure the code is the same as when we first found out about the issue, but now it seems to be working correctly

[2021-03-02 23:03] #541 closed

[2021-03-04 14:55] sivy opened #738 "Add "return fields" to Info object"
When writing a query the user can provide a limited list of fields to retrieve for a given entity:

[code]

The docs explain [how to get execution info](https://strawberry.rocks/docs/types/resolvers#accessing-execution-information), and the `Info` object has a `field_name` attribute which (in this case) would contain `user`. But other than buried in the AST, there's no way to know what fields with

[2021-03-04 20:34] mecampbellsoup opened #739 "GraphiQL subscription websocket proxied to incorrect backend"
## Description

We are running what I suspect is a somewhat unique dev environment using strawberry with fast-api.

Additionally, in our development environment, we run webpack dev server so that we can quickly make changes to both our frontend SPA as well as our backend Python/GraphQL code - what's better than a tight iteration loop, right?! 😄

At the moment, we mount strawberry (with the debug s

[2021-03-04 21:35] patrick91 commented on #739
@mecampbellsoup have you tried proxying websockets as shown here?

https://stackoverflow.com/questions/31654239/proxy-websockets-connection-within-webpack-dev-server

[2021-03-04 21:42] mecampbellsoup commented on #739
@patrick91 thanks for getting back to me 😄

I figured it out - my WDS proxy config was invalid. Compare the following two:

### Bad

[code]

### Good

[code]
I blame JS/WDS for letting me pass a _slightly invalid but correct-seeming_ proxy configuration object!

[2021-03-04 21:42] #739 closed

[2021-03-04 21:45] patrick91 commented on #739
@mecampbellsoup no worries, I've been there too :D

[2021-03-09 19:55] mecampbellsoup opened #747 "Cannot use `datetime.datetime` for field?"
[code]

However, when querying:

[code]

[2021-03-09 20:01] mecampbellsoup commented on #747
I notice that very conspicuously the [Pydantic support docs](https://strawberry.rocks/docs/integrations/pydantic) seem to omit the `datetime.datetime` field from the Pydantic type declaration...

[2021-03-09 20:12] #714 closed

[2021-03-09 20:19] patrick91 commented on #747
@mecampbellsoup am I doing anything different from you?

[code]

[2021-03-09 20:35] #747 closed

[2021-03-09 20:37] patrick91 commented on #747
@mecampbellsoup oh I see, this might something we might want to improve, the generated type should have an init method that would fail when you aren't passing the right kwargs. /cc @marcoacierno

minimal example:

[code]

[code]

[2021-03-09 21:17] mecampbellsoup opened #748 "Set response headers in resolver?"
Hi @patrick91 is it possible to set a response header, e.g. `Set-Cookie foo=bar` inside of a resolver?

I'm implementing a login mutation resolver.

[2021-03-09 21:21] patrick91 commented on #748
@mecampbellsoup I think so, what framework are you using? the info parameter should have the request in it :)

[2021-03-09 21:29] mecampbellsoup commented on #748
@patrick91 we're using fastapi. But I specifically want to set a _response_ header, so that upon successful login the browser will ... you guess it, set a cookie! 😄

[2021-03-09 21:35] patrick91 commented on #748
@mecampbellsoup going to check that out in a bit 😊 will let you know

[2021-03-09 22:22] patrick91 commented on #748
@mecampbellsoup looks like this might require a bit of changes to our asgi app, I'll try to do a small prototype now

[2021-03-09 22:31] mecampbellsoup commented on #748
@patrick91 OK sounds good. I found some chatter about this topic for Ariadne, if it helps:

https://spectrum.chat/ariadne/general/return-cookie-in-response-headers-based-on-response-content~37893ad2-f66a-43ca-9313-201be05e765d
https://spectrum.chat/ariadne/general/response-headers~929d0eb0-d191-4a0c-b828-8121ff14f2fe

[2021-03-09 23:13] patrick91 commented on #748
@mecampbellsoup managed to do that, I used the same approach as Fastapi, basically they create a response object and merge them when returning it :)

To make it work for now you can create a custom ASGI app, as show below. I think we should merge this to master, but it's a bit late for me now (feel free to make a PR if you have time, or I'll do it in the next couple of days)

Proof:
![image](https

[2021-03-10 04:01] mecampbellsoup commented on #748
Wow, that was fast! 😅

Late here now as well but I can do it in the morning! Great job 👍

[2021-03-10 16:18] mecampbellsoup opened #751 "Examples for "Errors" docs"
Currently https://strawberry.rocks/docs/features/errors is an empty page.

I'm happy to include some examples but, I wanted to ask, which kind(s) of errors should this page describe?

* GraphQL server erros, e.g. invalid query syntax
* Resolver errors, e.g. a `strawberry.mutation` that performs an SQL `INSERT` which fails a DB constraint

Perhaps you intend to document some data class-based patter

[2021-03-10 16:20] BryceBeagle commented on #751
My assumption was that it would be a dedicated page to cover the exceptions that are currently collected [here](https://github.com/strawberry-graphql/strawberry/blob/d1ec87e9b5ca814f6f42a50632af035e36a4cb41/strawberry/exceptions.py), but maybe @patrick91 had different ideas?

[2021-03-10 16:23] patrick91 commented on #751
@mecampbellsoup thanks for wanting to take this on. I think we should document what happens with exception now, something I've noticed many people struggle with is the fact that exception are swallowed and returned in the graphql errors response.

Then I think it would be a good idea to document the best practise of using union types for modelling errors in the schema

Oh yes, that page was for de

[2021-03-10 16:34] jkimbo commented on #751
I think it's work separating out the "Exceptions" that strawberry could through from a guide on how to handle errors in a graphql server. For the guide I copied a list that @patrick91 came up with a while back into the description of this issue: https://github.com/strawberry-graphql/strawberry/issues/328 (under the features section).

[2021-03-12 14:01] Dotrox opened #754 "Support Dict type field"
I have the following pydantic model:

[code]
And use it to define Strawberry type:

[code]

But I get the following error:
[code]

Field `data` in my model is embedded document from MongoDB and is structure may varies (I get it from external source), so I can use only Dict for it.

In Graphene I use [GenericScalar](https://github.com/graphql-python/graphene/blob/master/graphene/types/generic.py) t

[2021-03-12 14:06] patrick91 commented on #754
@Dotrox I think we can implement that 😊 I might have some time over the weekend to do so.

I need to think a bit about the implication of doing this for the `Dict` type, as it might be confusing to some people.

Does Graphene convert to GenericScalar directly?

[2021-03-12 14:53] Dotrox commented on #754
I can`t use pydantic models with Graphene, so define all fields directly by myself:

[code]

With Strawberry I already use additional decorator for types because I use not pure pydantic BaseModel, but wrapped model class from ODMantic ODM.
This how it really looks now:

[code]

Only this way Strawberry can perfectly works with ODMantic models: I need support for MongoDB ObjectId and also ODMantic

[2021-03-12 14:55] patrick91 commented on #754
ok! thanks for the additional information, will take a look at it soon :)

[2021-03-12 21:53] lijok opened #756 "Crash on empty body"
If an empty body is sent to the server, it crashes with a json decode error on https://github.com/strawberry-graphql/strawberry/blob/master/strawberry/django/views.py#L43

should probably raise something akin to
https://github.com/strawberry-graphql/strawberry/blob/master/strawberry/django/views.py#L59

[2021-03-14 09:20] ts-rodgers opened #757 "Using arguments in a resolver on a generic type causes schema initialization to fail"
Take the following generic collection type:

[code]

Using it as follows yields the following error:

[code]

[code]

This error is caused by the `ArgumentDefinition` obj getting converted to a dict in this line: https://github.com/strawberry-graphql/strawberry/blob/6e4af5ba8f3908758c3de33b2711c37c30a25063/strawberry/types/generics.py#L77

Locally, I'm able to fix this by editing that to become:

[2021-03-14 16:04] BryceBeagle commented on #757
Did #758 solve this issue?

[2021-03-15 14:13] jkimbo opened #764 "Create guides on how to implement common features"
The current docs are mainly focused around the low level components to building a GraphQL server but they would benefit from having some more opinionated guides on how to implement common features.

E.g.

* [ ] Dealing with errors
* [ ] Authentication with JWTs
* [ ] Authentication with Django
* [ ] Implementing subscriptions

Related to #328

[2021-03-15 14:15] jkimbo opened #765 "Create FAQ page"
Some examples:

* [ ] Can I use asyncio with Strawberry and Django?

[2021-03-15 15:07] joeydebreuk opened #766 "File upload list is not supported"
When posting according to the spec https://github.com/jaydenseric/graphql-multipart-request-spec#curl-request-1 an error is raised.

uploadimage.sh
[code]

Mutation
[code]

Result:
[code]

[2021-03-15 22:09] mr-rodgers commented on #757
Yes, it did.

[2021-03-15 22:10] #757 closed

[2021-03-15 22:17] mr-rodgers opened #767 "mypy complains when using custom Scalars as described in the docs"
Using this:

[code]

I receive the following:
[code]

and similar errors wherever PostTitle is used as a Type.

[2021-03-16 07:59] jkimbo commented on #654
@patrick91 did you managed to achieve this? I think I might have been mistaken when I said that you can execute a mutation and a query at the same time. According to the spec a document can define multiple operations (query or mutation) but when executing you need to define which one to run: https://spec.graphql.org/June2018/#sec-Executing-Requests

I still think that the root types are different

[2021-03-16 13:27] mecampbellsoup opened #769 "Cannot use pydantic types w/ with postponed annotations"
Unless I'm doing something wrong (very possible!) it doesn't seem like the `@strawberry.experimental.pydantic.type` annotation/function works with [postponed Pydantic annotations](https://pydantic-docs.helpmanual.io/usage/postponed_annotations/)...

[code]

[code]

[2021-03-16 13:29] mecampbellsoup commented on #769
If I remove the `'organization'` field as follows, at least the app can run (although I would like to have that relationship field available so I can query fields on the user's organization via GraphQL):

[code]

[2021-03-19 20:20] mecampbellsoup opened #780 "Input type is not JSON serializable"
Hi @patrick91 -

I'm at a loss for what is going on here.

I've defined an object input type `SubscriptionForm` which I am using in a mutation resolver as follows:

[code]
However the graphql server is erroring with:

[code]

The object being sent to the server looks as follows:

[code]
Am I missing something obvious here?

[2021-03-19 20:25] mecampbellsoup commented on #780
@BryceBeagle @jkimbo maybe you guys can grok what I'm doing wrong?

[2021-03-19 22:21] patrick91 commented on #780
@mecampbellsoup I've tried this with both starlette and django, it seems to be working fine.

maybe there's something in your resolver that's causing the issue? or do you have a custom django view?

[2021-03-19 23:12] mecampbellsoup commented on #780
@patrick91 here is my resolver:

[code]

[2021-03-19 23:14] patrick91 commented on #780
oh yes, this is the line that's broken:

[code]

you can do instead (after importing dataclasses:

[code]

[2021-03-19 23:43] mecampbellsoup commented on #780
OMG, thank you so much Patrick!!

How did you know that was the issue? Is this something I could add to the docs?

[2021-03-19 23:56] patrick91 commented on #780
I've seen that error a few times :) but I think also we haven't really documented well the fact that we can convert strawberry types to dicts with `dataclasses.asdict` (it's implicit by the fact we use dataclasses). I wonder if we can do something better here (we could have our own asdict function or maybe a method on the types as well) 🤔

[2021-03-20 00:00] BryceBeagle commented on #780
We might just want to implement our own `JSONEncoder` that knows how to deal with Strawberry types

[2021-03-20 00:04] patrick91 commented on #780
@BryceBeagle do you prefer that to converting types to dicts?

[2021-03-20 00:07] BryceBeagle commented on #780
Probably, but only marginally

[2021-03-20 00:10] patrick91 commented on #780
Converting things to dicts might retain types like dates and so on, which might be useful in somecases (also it should be faster than converting things to json all the time).

[2021-03-20 00:12] BryceBeagle commented on #780
But here, the use case is explicitly for json, so I think it would be best to do the recursive conversion all the way down the object tree

[2021-03-20 00:21] patrick91 commented on #780
httpx will do the actual json conversion here: https://github.com/encode/httpx/blob/a3eb0f99dc112fb5b09c7d6fdb9d211f96a6e3c1/httpx/_content.py#L175

the json parameter expects a dict to be converted to json 😊

[2021-03-22 11:47] #756 closed

[2021-03-22 21:44] peniqliotuv commented on #559
+1 - this is especially problematic when we have resolvers that explicitly invoke another resolver and expect the result from that resolver to be typed - leading to a lot of `# type: ignore` comments.

[2021-03-23 17:19] peniqliotuv commented on #559
@patrick91  @BryceBeagle Here's a case I added to `tests/mypy/test_fields.yml`:
[code]
Output
[code]

[2021-03-23 18:32] la4de opened #788 "Field level data validators and pre/post processors"
It would be very useful to have possibility to define field level validators especially for those fields which do not have resolvers. My proposal is to add validators parameter to field to `strawberry.field` and validator decorator. This idea came to my mind when I was designing API for `strawberry-graphql-django` package (https://github.com/strawberry-graphql/strawberry-graphql-django/issues/10).

[2021-03-23 20:45] BryceBeagle commented on #788
I still think that maybe it's possible do add this functionality without first-classing support for validation, through other techniques such as function decorators (this gets a bit tricky with `input` types w/o resolvers, so maybe not?).

However, if we do want to first-class validation, I wonder if we should take a similar approach that Python's `@property` decorator does the `getter` and `sette

[2021-03-26 23:37] lijok commented on #702
Did another deep dive into this today, seems like this is not possible
https://stackoverflow.com/questions/48722835/custom-type-hint-annotation#comment84446327_48722879

[2021-03-26 23:42] BryceBeagle commented on #702
Thanks for looking into it some more.

As a PyCharm devotee, I'm very interested in making all the typing work properly at the IDE level. Do you have any potential alternatives to the current implementation that would allow us to mark a field as to be excluded from the Schema?

[2021-03-26 23:48] lijok commented on #702
Can't think of anything that's as clean and intuitive as strawberry.Private
A less clean solution could be to add another field to `strawberry.type` i.e `private_fields`

[code]

[2021-03-27 20:21] patrick91 commented on #702
+1 for making it just work with PyCharm :)

The other option would be to have `field_name: str = strawberry.field(private=True)`

but let’s see if we can make it work with PyCharm. I’ll see if I can reach out someone from PyCharm 😊

[2021-03-27 20:31] jkimbo commented on #702
If we can make this work I think we should go with:

`field_name: str = strawberry.private()`

(No need to make it an argument to .field because it wouldn't make sense to pass any of the other arguments to it)

[2021-03-27 20:37] lijok commented on #702
I believe this is also a mypy problem in general, as if I run mypy on my repo with any `strawberry.Private[whatever]` fields, it spits out the same error messages as seen in the ide

[2021-03-27 20:38] patrick91 commented on #702
oh, we can fix that too 😊

[2021-03-27 20:39] jkimbo commented on #702
I'm pretty sure I don't get that error and I use `.Private` quite a lot in my code.

[2021-03-27 20:41] patrick91 commented on #702
True, we have support for that in mypy 😊 https://github.com/strawberry-graphql/strawberry/blob/42b05b30d6177d5d54fd93c2dcec9bfaaf73a08b/strawberry/ext/mypy_plugin.py#L76-L80

[2021-03-27 20:42] lijok commented on #702
[code]

[code]

not being familiar with mypy, I'm just running `mypy src` on my service
what am I supposed to be doing to make use of the plugin?

[2021-03-27 20:43] patrick91 commented on #702
@lijok you need to add the plugin to mypy.ini:

[code]

:)

[2021-03-28 00:18] BryceBeagle commented on #702
How would you initialize this to a value?

[2021-03-28 06:23] jkimbo commented on #702
@BryceBeagle using a `defualt` value like the dataclass field?

Just noticed that `strawberry.field` doesn't implement the default param. Is that intentional or just an oversight?

[2021-03-28 13:00] patrick91 commented on #702
Definitely an oversight, we also need to implement default_factory :)

By the way, supporting strawberry.Private seems to be doable with a plugin: https://github.com/koxudaxi/pydantic-pycharm-plugin

[2021-03-30 05:38] la4de commented on #788
I added 3rd option. I think I personally would like implement both 2nd and 3rd. Any opinions?

[2021-03-30 06:12] BryceBeagle commented on #788
Unfortunately, I don't think you can use decorators around assignments/expressions, only function/class definitions.

[2021-03-30 06:31] la4de commented on #788
Decorator can add validator functions to the internal field definition structure. I think this should be doable. :)

[2021-03-30 09:30] patrick91 commented on #788
don't know if this helps, but attrs has a concept of validators: https://www.attrs.org/en/stable/init.html#validators

[2021-03-30 16:03] patrick91 opened #796 "Add support for PyCharm"
Currently PyCharm complains about a few things, namely Private types: https://github.com/strawberry-graphql/strawberry/issues/702

But also it seems it doesn't pickup constructors like it does for dataclasses. We should provide a plugin that let's PyCharm know about:

- __init__ method
- Private
- LazyTypes
- Arguments

so bringing PyCharm on par with our MyPy plugin. Unfortunately we can't use Py

[2021-03-30 16:03] patrick91 commented on #702
Going to close this in favour of https://github.com/strawberry-graphql/strawberry/issues/796 which has more details :)

[2021-03-30 16:03] #702 closed

[2021-03-30 16:23] jkimbo commented on #788
I like this API. I think it would be a nice feature if Strawberry implemented it as well. (It's option 1 and 2 in the examples)

[2021-03-30 18:16] peniqliotuv commented on #559
@patrick91 does the refactor of `StrawberryField` version 0.53.0 solve this?

[2021-03-31 12:12] Speedy1991 opened #800 "asgiref.sync sync_to_async not working in resolver"
First of all, thank your for this new package - looks awesome!
I'm not sure if I found a bug or just wrote some buggy code myself

Running:
Django==3.1.7
strawberry-graphql==0.53.1

[code]

[code]

[code]

Both fields lead to `You cannot call this from an async context - use a thread or sync_to_async.`

[2021-03-31 12:54] la4de commented on #800
We are using `sync_to_async` in https://github.com/strawberry-graphql/strawberry-graphql-django.

The problem is that `User.objects.all()` returns queryset objects which is then evaluated later in async context. Something like this should fix it.

[code]

[2021-03-31 13:14] #800 closed

[2021-04-01 13:37] patrick91 commented on #559
I think we chatted about this on discord, but for visibility, we need to update the MyPy plugin, but unfortunately that's blocked by this PR: https://github.com/python/mypy/pull/9925

Hopefully it gets merged and released soon :)

this is also useful: https://github.com/python/mypy/issues/3157

[2021-04-01 14:26] patrick91 commented on #559
ok, so I spent a bit more time on this, and it might be possible, but it might still be best to use a plugin for this anyway.

so when we do this:

[code]

we create a `StrawberryField`, but then dataclasses replaces it with the previous value, so after running `@strawberry.type` `cls.age` is the method again which is good as it allows us to call it, but also we kinda lose reference to the Strawbe

[2021-04-02 19:30] patrick91 commented on #767
Looks like I forgot to add support for that! Will try to make it work in the next couple of days :)

[2021-04-02 19:56] jkimbo commented on #327
@patrick91 I think we can close this now.

[2021-04-02 19:58] patrick91 commented on #327
I think sanic is missing upload support :)

[2021-04-02 20:00] jkimbo commented on #327
Ah ok. I've added it as a todo list to the description.

[2021-04-02 22:44] patrick91 opened #806 "Check that exports are correct"
https://github.com/strawberry-graphql/strawberry/pull/803#pullrequestreview-627237504

[2021-04-03 12:03] la4de commented on #788
I implemented prototype code and made draft pull request #809.

[2021-04-04 03:56] Dotrox commented on #754
Any news?

[2021-04-05 13:12] patrick91 commented on #754
@Dotrox haven't had time to look into this yet, is it blocking you?

[2021-04-05 13:19] #569 closed

[2021-04-05 14:13] peniqliotuv commented on #559
Thanks for getting back to me @patrick91 ! Would you recommend waiting until python/mypy#9925 is merged (i.e: is Strawberry planning on taking the mypy plugin approach or the strawberry field refactor approach?)

[2021-04-05 14:17] patrick91 commented on #559
I think the best option would be being able to use the mypy plugin, but I suspect we could already do something to make the experience better (for example we could change the signature of the property/method when the plugin hooks into `strawberry.type`) but not sure how much work that would be

[2021-04-05 14:37] peniqliotuv commented on #559
I see - given that it's blocking on the Mypy PR getting merged, would an appropriate approach right now maybe be to do a refactor in our own codebase of `@strawberry.field(...)` to some custom decorator that we can manually cast the return type by python/mypy#3157

[2021-04-05 14:41] patrick91 commented on #559
@peniqliotuv that would work I think 😊

[2021-04-06 06:57] Speedy1991 commented on #115
Hey @patrick91!

Any chance to get some docs on federation in the next time?
I would write some docs myself and give you a PR but I'm not sure, that I fully understand federation yet.
A minimal working example would be great with some introducing words to the decorators.

[2021-04-06 08:54] patrick91 commented on #115
Hi @Speedy1991 I have some docs here: https://github.com/strawberry-graphql/strawberry/pull/440

I wanted to make a full example[1], but didn't manage to make time, would you like to make one? We can put it in our strawberry-graphql/examples repo 😊

Feel free to join our discord and ask questions there too 😊 https://strawberry.rocks/discord

[1] https://github.com/patrick91/strawberry-federation-d

[2021-04-06 16:09] BryceBeagle commented on #796
Jetbrains plugin documentation is very detailed. This should be a good starting point.
https://plugins.jetbrains.com/docs/intellij/welcome.html

[2021-04-06 17:18] patrick91 opened #821 "Investigate how to make returning errors easier with Union types"
During our monthly call we had a great feature request related to returning errors. There's consensus in GraphQL around modelling errors in the schema (https://sachee.medium.com/200-ok-error-handling-in-graphql-7ec869aec9bc).

We can provide a way for "raising" errors anywhere in the resolver context and then strawberry would catch these exception and then strawberry would handle the exception and

[2021-04-06 17:22] eimantas-gecas-axomic commented on #821
The problem:
[code]

Those errors, I have to carry around all over my code, in type hints, and also return them back up the stack, catching them at each step and returning them back
2 nests deep it's already ugly, but this becomes much more nested than that

What would be great, is if I could instead of returning, raise those errors anywhere in my code and have strawberry catch them and return the

[2021-04-06 17:23] lijok commented on #821
The problem:
[code]

Those errors, I have to carry around all over my code, in type hints, and also return them back up the stack, catching them at each step and returning them back
2 nests deep it's already ugly, but this becomes much more nested than that

What would be great, is if I could instead of returning, raise those errors anywhere in my code and have strawberry catch them and return the

[2021-04-06 18:39] la4de commented on #821
I prototyped both error exception raising and error returning here: https://github.com/strawberry-graphql/strawberry/pull/809/files#diff-f4af792c09c482920e2b2bd23bd2d12a60402db2c0478b56ec5c7b369ca02807

[2021-04-06 22:37] marcoacierno opened #825 "Function-based queries/mutations"
The current approach of defining mutations and queries isn't scalable for any medium/large sized codebase, a possible solution would be to have Strawberry be able to register/discover queries and mutation in any file, an example of how it might look like:

[code]

[code]

[code]

This would be equivalent to today's code:

[code]

[2021-04-06 22:38] #693 closed

[2021-04-07 07:42] patrick91 opened #829 "Improve support for extending/overriding fields in Pydantic"
Currently this code is broken:

[code]

https://github.com/strawberry-graphql/strawberry/pull/826/files#diff-998cad7d53bd87d5dc5e6e4cf3c76e6757da8a4691b786cd76cfc8b3f63852daR175-R181

[2021-04-07 15:29] koxudaxi commented on #796
@patrick91
 Thank you for checking my repo.

PyCharm provides an interface(a.k.a extension point) for a third-party dataclass library.
If strawberry similar to python's dataclass then, we can implement it easily.
Otherwise, We implement for custom type-checker.
But, I have already done it for pydnatic's BaseModel.

 I will develop the plugin when you hope it.

[2021-04-07 15:32] patrick91 commented on #796
I think for now this could be a good start, but we will probably need to do custom things at some point, for example see this issue: https://github.com/strawberry-graphql/strawberry/issues/559

In addition to `strawberry.type` we'll need to support:

- `strawberry.input`
- `strawberry.scalar`
- `strawberry.enum`
- `strawberry.union`

and potentially more things, so I can see the plugin becoming mo

[2021-04-07 15:47] koxudaxi commented on #796
Thank you!!
I will try it when I can get the time this week 😄

[2021-04-07 15:55] patrick91 commented on #796
@koxudaxi awesome, I think @metaboy also wanted to work on this, maybe you could work together?

we also have a discord server if you have questions or want to chat 😊 https://strawberry.rocks/discord

[2021-04-07 16:14] koxudaxi commented on #796
Of course!!
If there is no repo, then I will create a repo.
But, If a community wants to manage the project then I will move it.

I have joined the chat!!

[2021-04-07 16:24] BryceBeagle commented on #796
Linked on Discord, but I figure I should do some public documentation:
The new plugin repo is located [here](https://github.com/strawberry-graphql/strawberry-pycharm).

[2021-04-07 22:04] patrick91 opened #830 "Add support for authentication"
I've opened a discussion on this, but I think it might be worth making an issue related to authentication.

I'd say we can split this work into multiple chunks, but let's think about what we want in ideal world.

- [ ] We should be able to use different ways of authentication[1]
- [ ] We should be able to have pluggable user types
- [ ] We should be able to generate login, logout and signup mutati

[2021-04-07 22:38] Dotrox commented on #754
I can't use Strawberry without this.
Maybe you can explain how I can implement this by myself (how add custom type to Strawberry)?

[2021-04-08 00:00] kristofgilicze commented on #830
I can see why this make sense for the django integration.
Common features working out-of-the-box (with a few lines of settings.py) is expected there.
[DRF style API](https://www.django-rest-framework.org/api-guide/authentication/
) would be pretty familiar to most django devs.

When using a minimal framework like Flask, this might feel a bit unusual since Flask has no built in auth.
Sanic is the s

[2021-04-08 08:00] jkimbo commented on #830
I agree with @kristofgilicze I think an authentication integration makes sense with Django because it's provided by the framework. Maybe we can build something into the Django integration @la4de ?

Something like that Sanic guide would be good for the other frameworks.

[2021-04-08 08:52] patrick91 commented on #830
I wonder though, if we build support for django, wouldn't be "easy" to make it pluggable and support multiple frameworks. The mutations and queries would be the same everywhere, no?

The implementation would change, so maybe we can provide some hooks for that?

[2021-04-08 09:28] la4de commented on #830
We have preliminary support already in `strawberry-graphql-django` package. It's still in very early stage but you can already generate graphql type from user model and login / logout with given auth mutations.

[2021-04-08 09:31] patrick91 commented on #830
@la4de that's awesome, so maybe we can keep this in strawberry-django and then when it is mature we can think of making more generic, what do you all think?

[2021-04-08 09:34] kristofgilicze commented on #830
core implementation should be reused between integrations.

The django way to configure stuff is in the `settings.py`.
I think it is already a little weird that I set the schema on the view.

[2021-04-08 09:41] patrick91 commented on #830
It's definitely different than django, but it allows to have multiple GraphQL views in one project (we do that at work for example).

[2021-04-08 10:45] kristofgilicze commented on #830
If you have multiple views, then I agree the 'global' setting does not make sense.

I had a closer look at how DRF handles the auth classes.

... there is also an option to set it on a per-view basis.

What I described before:
 in the settings.py you actually set / override the **default** auth classes.

see:
https://www.django-rest-framework.org/api-guide/authentication/#setting-the-authenticatio

[2021-04-08 12:14] joeydebreuk commented on #830
I think that it should remain framework specific. There are too many things to cover, too many different frameworks and too many different approaches. While within the context of a framework for a specific auth method, its really simple, you can see [here](https://github.com/strawberry-graphql/strawberry-graphql-django/blob/main/strawberry_django/mutations/auth.py).

I'd suggests to make it really

[2021-04-08 13:16] joeydebreuk commented on #830
@patrick91 I feel like we had a similar discussion regarding adding framework specific code to strawberry. I suppose its a matter of philosophy and defining the scope of strawberry.

I'm sure you can add some abstraction on the strawberry level, but I don't see how it would add a lot of value. Just more complexity. And more docs to write.

Already possible, and quite simple to do. Some documentati

[2021-04-08 13:49] patrick91 commented on #830
Could be! It's just that I see auth something used a lot and quite critical (auth should be implemented well and should secure), so it would be nice if we can help with that as a framework.

I'll see if I can come up with some examples of what I am thinking 😊

[2021-04-08 15:57] marcoacierno commented on #754
What should be the result of `data`? A JSON string?

[2021-04-08 18:42] jordangarside commented on #370
Is there any way to work around this at the moment?

We're looking to use the enum values for some enums.

[2021-04-08 19:34] Dotrox commented on #754
No, it must be an object. As Strawberry Object type, but without predefined fields.

[2021-04-08 22:13] patrick91 commented on #370
going to make a new release with support for this soon :)

[2021-04-09 09:26] patrick91 commented on #370
I totally missed this. We haven't made a decision on this, let's discuss it now (as we started a chat on discord).

We have some options for handling this[1]

A. add a parameter

[code]

benefits of this: similar to what we have, easy to implement and works with mypy (and also does autocompletion in various editors)
cons: confusing

B. new API that allows to pass the enum values:

[code]

benefits

[2021-04-09 14:53] peniqliotuv commented on #370
I'm a fan of using #1, as it reduces the number of ways to define an Enum. It also probably would reduce development and maintenance burden especially if the API around strawberry enum's change in the future. Given that strawberry is dataclasses first, it makes more sense to define things as classes IMO.

We can just get around this with better documentation with clear use cases. Thoughts?

[2021-04-09 15:04] BryceBeagle commented on #370
I'm a _much_ bigger fan of the class-oriented declaration style over the function-oriented style. It feels more Pythonic to me, and as @peniqliotuv says, it feels closer to the dataclass approach we've been going for. Much more declarative than imperative.

As far as controlling whether to use the Enum name vs value, can we make that an option on the schema instead of per-Enum? Similar to auto-cam

[2021-04-09 15:08] patrick91 commented on #370
that's an option, @jordangarside would that work for you?

[2021-04-09 19:27] patrick91 commented on #370
so we could this:

[code]

---

Reminder: if we use the values as names we should do validation, I've seen enums where the values had spaces in it at work, like:

[code]

[2021-04-10 07:30] jkimbo commented on #370
Good point with the cons here and they are probably enough to mean that we shouldn't go with this approach. It's a shame though because it more closely matches GraphQL. The GraphQL docs define enums as:

and Python enums are a mapping from members to values. So any kind of conversion is going to loose some information and potentially be confusing. Maybe `NamedTuple` is a better match? https://docs

[2021-04-10 07:40] BryceBeagle commented on #370
If this is a big deal, we could enforce only using `enum.auto()` as the values. That way there's only one item for a user to consider.

[2021-04-10 07:47] jkimbo commented on #370
True but then you pretty much loose the benefit of using Python enums. Anyway we would have to support a `strawberry.enum_value` value to support this case: https://github.com/strawberry-graphql/strawberry/issues/370#issuecomment-667676951

[2021-04-11 12:46] nat-n opened #834 "Support GET requests for queries?"
[Apollo client supports](https://www.apollographql.com/docs/react/networking/advanced-http-networking/) using GET instead of POST for GraphQL queries.

As far as I can tell strawberry doesn't seem to support this (at least [in the ASGI wrapper](https://github.com/strawberry-graphql/strawberry/blob/main/strawberry/asgi/__init__.py#L237)). Am I missing something? Is there already a plan to do so?

[2021-04-11 18:25] jkimbo commented on #834
Seems like a good thing to support! Maybe each view should take an "allowed_methods" argument? What do you think @patrick91 ?

[2021-04-11 18:32] patrick91 commented on #834
I think we can do this, but we should only allow queries over get. so maybe the configuration option should be `allow_queries_via_get` 😊

[2021-04-11 18:44] jkimbo commented on #834
Oh I've just looked up the option in the Apollo docs. In that case why don't we always just always allow it?

[2021-04-11 19:14] patrick91 commented on #834
We can, as long as we make sure we are only allowing queries via GET then we are good 😊

[2021-04-12 07:07] la4de opened #839 "Add default_resolver for strawberry.type"
I'd propose to add `default_resolver` for `strawberry.type`.

[code]

Following schema would use default resolver which would be overridable by field.
[code]

With that schema, following query
[code]
would return
[code]

That could be used by django integration for auto resolution of related objects as an example.

It would be nice if new resolver would have access to default resolver and could "e