[2021-04-12 11:42] patrick91 opened #840 "Improve errors logging"
Right now errors are being caught by GraphQL core and sent into the `errors` fields of the GraphQL response. Unfortunately that makes things harder to debug locally; we should print better exceptions locally, by using one of the following options:

[code]

[code]

[2021-04-12 11:49] Speedy1991 opened #841 "printing info.context leads to %d format: a number is required, not NoneType"
strawberry-graphql==0.56.2
django==3.1.7

schema2.py:
[code]

urls.py
[code]

example query (graphiql):
`{ hij }`

Leads to
[code]

Maybe this is only django related

## Upvote & Fund

- We're using [Polar.sh](https://polar.sh/strawberry-graphql) so you can upvote and help fund this issue.
- We receive the funding once the issue is completed & confirmed by you.
- Thank you in advance for helping p

[2021-04-12 14:27] la4de commented on #839
@patrick91, any comments? I created draft pull request for this: #842.

This would help us in django integration. Default resolver can be used to resolve relation fields of django types.

[2021-04-12 14:44] patrick91 commented on #839
I haven't seen the need of this, but if it can help the development of strawberry django then I'm for it.

I'm only worried about the name, `default_resolver` sounds like we are change the default resolver for this type's fields, what do you think?

Apollo federation has a resolve reference function, what if used a similar approach?
https://www.apollographql.com/docs/federation/api/apollo-federati

[2021-04-12 15:05] la4de commented on #839
With this the developer could just write type like this
[code]
and then just query all groups of requested user without need to worry about resolver. Default resolver would handle filters, relations and everything =)

Good point, it may mislead the reader.

Relation resolving is just one example. This should be generic in my opinion.

[2021-04-12 15:09] patrick91 commented on #839
Would something like this be ugly:

[code]
?

[2021-04-12 15:13] la4de commented on #839
That was my first proposal in discord django channel :), Then we started to think about if this could be defined through schema.

[2021-04-12 15:15] patrick91 commented on #839
By the way for federation we have this: https://github.com/strawberry-graphql/strawberry/blob/main/tests/federation/test_entities.py#L11-L13

so we already have some precedent for classmethods used by strawberry

[2021-04-12 15:17] patrick91 commented on #839
@BryceBeagle what do you think?

[2021-04-12 15:23] la4de commented on #839
Both works for me. Django code would use that internally so it would not be visible for the end user there.

[2021-04-12 15:49] patrick91 opened #843 "Private fields don't work as forward references"
this is currently broken as "strawberry.Private[str]" becomes a string

[code]

[2021-04-12 17:26] mcsheehan opened #844 "dataclasses metadata isn't copied"
[code]
This metadata information is a property of dataclasses, and is used for a few other software packages.
The above example uses marshmallow validation, this metadata field is not propagated through the strawberry field.

[2021-04-12 17:29] patrick91 commented on #844
@mcsheehan would be enough if we provided support for metadata on `strawberry.field`?

[2021-04-12 17:39] mcsheehan commented on #844
Hi @patrick91. I believe that should do it.

[2021-04-12 17:46] mcsheehan opened #845 "add support for aws chalice"
AWS Chalice is a python micro-services framework, which hosts endpoints using aws api gateway and aws lambdas.

https://github.com/aws/chalice

A class can be added to route requests and return appropriate responses in a similar manner to the strawberry flask framework.

[2021-04-13 04:54] la4de opened #847 "Log full back trace of error in unit tests"
GraphQL catches exceptions and shows very limited amount of information from the error. This makes debugging unit tests almost impossible. It would be much better to log full back traces from errors.

For example following error message does not help much to understand the actual problem:

[code]

The error message above was cause by this
[code]

[2021-04-13 10:50] patrick91 opened #849 "Internals restructure"
@BryceBeagle and I had an impromptu chat last Friday about restructuring the internals. Our current structure is a bit messy, and moving forwards we want to

<details>
<summary>Current structure</summary>

<img src="https://user-images.githubusercontent.com/667029/114539704-a7b47080-9c4c-11eb-8714-2787c6f47eb7.png">
</details>

<details>
<summary>Proposed structure</summary>

<img src="https://use

[2021-04-13 11:33] AndrewIngram commented on #370
FWIW, I do tend to think that `typing.Literal` (https://docs.python.org/3/library/typing.html#typing.Literal) is the closest starting point in Python's type system to GraphQL enums.

It's also closer to what the TypeScript community is starting to advocate for instead of using their enum construct, because it's more lightweight.

[2021-04-13 11:39] patrick91 commented on #370
Literal is nice, and supports annotated, if we'd need to add additional information

[code]

[2021-04-13 11:42] patrick91 commented on #370
thought we still need to do this:

[code]

which has the same as issue mentioned before

[2021-04-13 12:23] AndrewIngram commented on #370
I'm assuming wrapping Literal to have extra powers is back into custom mypy plugins again?

e.g.

[code]

where all the args get passed to an underlying `Literal`.

[2021-04-13 12:42] marcoacierno commented on #847
Implementing the solution explained in #840 should fix this problem and make debugging much more pleasant.

I agree with you that right now debugging errors in GraphQL is like finding a needle in a haystack

[2021-04-13 12:45] patrick91 commented on #847
The solution in #840 is related to the views, might not help our tests :)

[2021-04-13 12:47] patrick91 commented on #370
@AndrewIngram you'd still need to pass name, as we'd need it at runtime. And yes, we can make a plugin for mypy, but reusing Literal might be easier 😊

[2021-04-13 12:48] marcoacierno commented on #847
We could use the same solution that is in #840 but instead of doing it in the process_result, we could do it in `execute_sync` (or whatever is the first point where we get the errors from GraphQL) so that it's a generic/unique solution that solves the problem with errors everywhere? Is it possible? 🤔

[2021-04-13 13:01] patrick91 commented on #847
yes, that's probably a better idea, I wonder if there might be some downsides as you won't be able to  easily customise the behaviour, maybe we can do it on the schema class

[2021-04-13 13:07] patrick91 opened #850 "Introduce schema configurations"
We discussed this on discord and a few issues here on GitHub, we want to be able to provide configuration to the schemas, for example:

- disabling/enabling camel casing
- changing how enums are generated
- having a "strict mode" for resolvers (ie throwing and error when a resolver doesn't have a type defined)

I think this might also be a good way to allow us to handle backwards incompatible chan

[2021-04-13 13:57] jokull commented on #847
We subclassed GraphQL to get this working:

[code]

[2021-04-13 14:58] BryceBeagle commented on #839
Either works, but my preference is to not encourage the creation of module-scoped functions.

Could we combine this feature with #850 and have the default resolver defined alongside the other configuration options?

[2021-04-13 15:09] la4de commented on #839
How this configuration would work in practise?

In Django we need to add `default_resolver` only for those types which are generated from Django models.

[2021-04-13 15:28] BryceBeagle commented on #839
oh, so the default resolver will vary between different types?

[2021-04-13 15:49] la4de commented on #839
Correct, we need django specific resolver for django types. One may need another resolver for other types.

[2021-04-13 18:07] jkimbo commented on #847
@la4de this PR should resolve this: #851

[2021-04-13 18:11] la4de commented on #847
Excellent. Good job! :)

[2021-04-14 17:56] #840 closed

[2021-04-14 17:56] #847 closed

[2021-04-15 16:38] mcsheehan commented on #738
[code]

[2021-04-15 19:19] sivy commented on #738
Thanks @mcsheehan

[2021-04-15 19:23] mcsheehan commented on #738
Patrick helped point me in the right direction. It's worth noting that this doesn't traverse more than one layer of nodes deep, but you can get at those from this object. Might write an example of that soon.

[2021-04-16 19:39] ossareh opened #856 "Incompatibility between ExecutionResult and ASGI Result format"
A number of times lately I've been bitten by the following type of error:

[code]

This has been discussed on Discord: https://discord.com/channels/689806334337482765/773519351423827978/832696949656387645

The two cases I've seen this in are:

1. introspection query returned over a websocket
2. (as above) a malformed subscription query

### introspection query returned over websocket

Some clients

[2021-04-17 14:31] kriscode1 opened #859 "from_pydantic() converts False values to None"
When calling `from_pydantic()`, values consistent with `bool(value) == False` may be replaced with None.

This recreates the issue:
[code]

The output:
[code]
Both str2 and bool2 were converted to None.

Location of the bug: https://github.com/strawberry-graphql/strawberry/blob/main/strawberry/experimental/pydantic/conversion.py#L10

[2021-04-17 14:41] patrick91 commented on #859
@kriscode1 good timing, this is fixed in #858, will review and merge soon :)

[2021-04-17 14:44] kriscode1 commented on #859
@patrick91 awesome! Thanks!

[2021-04-17 14:59] #751 closed

[2021-04-17 15:01] #859 closed

[2021-04-17 15:02] patrick91 commented on #859
@kriscode1 release `0.57.1` should have a fix for this 😊

[2021-04-25 07:41] sarahhenkens opened #872 "Add support for implicit UNSET as a type annotation"
Currently, we need to set the default value to `strawberry.arguments.UNSET` to support optional arguments. This object has the `Any` annotation which hides itself from type checkers.

Example:
[code]
MyPy will consider `id` to be a `Union[ID, None]` while in reality, it's a `Union[ID, None, _Unset]`. This results in potential bugs in code where the type-checker would catch it.

For example, the fo

[2021-04-25 07:51] jkimbo commented on #872
I wonder if it's simpler to just make `Union[Optional[str], UNSET]` work rather than introduce a new type? What do you think @sarahhenkens ? My thinking is that even with a new type using a `Union` should also work so why not just make that the way to do it.

Note: `Union[str, None, UNSET]` should also work.

[2021-04-25 07:53] sarahhenkens commented on #872
I think it could, it does require you to explicitly set the default value to `UNSET` though

[2021-04-25 07:55] jkimbo commented on #872
Also what should happen if you define `Union[str, UNSET]`. Is that a valid state?

[2021-04-25 07:56] joeydebreuk commented on #872
I think that should be pretty easy to solve with a custom scalar?
https://strawberry.rocks/docs/types/scalars

[2021-04-25 07:57] sarahhenkens commented on #872
From a typing perspective, that is a valid value but it's impossible to reach there since this should be emitted into a `String!`.

When using the union method, I currently get the following error:
[code]

[2021-04-26 06:19] wuyuanyi135 opened #879 "How to programmatically create a schema?"
Hello! I wonder whether it is possible to create a schema programmatically?

For example, this code should generate a query class with two query fields. However, it ends up with an exception: `AttributeError: type object 'Query' has no attribute '_type_definition'`.
[code]

[2021-04-26 06:27] BryceBeagle commented on #879
I think you might be able to do this by passing your dynamic class to the `strawberry.type` function (use it as a function, not a decorator) before giving it to the `Schema`

[2021-04-26 06:35] wuyuanyi135 commented on #879
@BryceBeagle
Thank you for your lightning fast response: I can confirm it is working to register the dynamic schemas. Attaches the code below.
[code]

[2021-04-26 06:35] #879 closed

[2021-04-26 06:40] wuyuanyi135 opened #880 "Can the Query parameter in strawberry.Schema be optional?"
Hello,
I wonder why the Query is mandatory in `strawberry.Schema`? If I want to create a endpoint with only `Subscription` how could I bypass the Query schema?

Thanks !

[2021-04-26 06:47] BryceBeagle commented on #880
The `Query` type is mandated by the [GraphQL spec](https://spec.graphql.org/June2018/#sec-Root-Operation-Types):

[2021-04-26 06:51] wuyuanyi135 commented on #880
I see. Thanks a lot!

[2021-04-26 06:51] #880 closed

[2021-04-26 16:40] wuyuanyi135 opened #881 "How to catch when the websocket client disconnects?"
Hello,

I wonder whether it is possible to catch the event when a client unsubscribe from the subscription endpoint? For example, in the code below, I could not catch any exception that stops the asynchronous generator. Maybe the resolver just stops fetching more data from the generator instead of explicitly cancel it? If I would like to clean up after the client disconnect, what should I do?

Tha

[2021-04-26 16:47] la4de commented on #839
I'm feeling that it might be better to handle django specific resolvers through field instead of type. It is already possible to do that with fields. I close this issue now and go with fields.

[code]

[2021-04-26 16:47] #839 closed

[2021-04-26 16:47] wuyuanyi135 commented on #881
Possible solution:
https://github.com/strawberry-graphql/strawberry/blob/main/strawberry/asgi/__init__.py#L143 handles the disconnection by command but https://github.com/strawberry-graphql/strawberry/blob/main/strawberry/asgi/__init__.py#L147 does not handle the transport disconnection

[2021-04-26 17:09] wuyuanyi135 commented on #881
`except GeneratorExit` does the trick. It derives from `BaseException` so not caught by Exception.

[2021-04-26 17:09] #881 closed

[2021-04-28 15:52] mcsheehan opened #886 "Bug: Failure when returning List[List[int]] as a strawberry type in a query"
The follow code doesn't run

strawberry server schema
Then running a graphiql query is sufficient to reproduce this error.

error message TypeError: 'float' object is not iterable

[code]

[2021-04-28 16:13] patrick91 commented on #886
Thanks for the report! will take a look 😊

[2021-04-28 16:36] #886 closed

[2021-04-29 11:17] wuyuanyi135 opened #889 "subscription AsyncGenerator raises error during client disconnected finalization process"
Hello, I found a very weird problem (Python 3.8):
When run the following code and open the GraphiQL interface (http://127.0.0.1/graphql), then create a query `subscription { test }` and refresh, the console will give: cannot reuse already awaited coroutine and task (detailed trace back attached later)

This happens when the Queue is blocked for a while without new put into the queue, i.e. if you

[2021-04-29 11:23] wuyuanyi135 commented on #889
A similar issue in tartiflette that was triggered by the similar action was discussed in https://github.com/tartiflette/tartiflette-aiohttp/issues/76. I am not sure whether they are exactly same and if it is the root cause. I modified the finalization code accordingly but not helpful

[2021-04-29 11:38] wuyuanyi135 commented on #889
After switching Python to 3.7, the stack trace seems more detailed
[code]

[2021-04-29 11:54] wuyuanyi135 commented on #889
A possible cause due to the different behavior of asyncio in 3.8: https://bugs.python.org/issue38559

[2021-04-29 16:42] ossareh commented on #889
@wuyuanyi135 I think you're hitting a timeout or something. Can you update your logging config so that we can see timestamps please?

Here's my working theory using your second code snippet:

 * first loop through the code you yield 1.0
 * second loop through the code you block because there is nothing on the q

[from the docs about `asyncio.Queue.get()`](https://docs.python.org/3/library/asyncio-

[2021-04-29 19:40] wuyuanyi135 commented on #889
@ossareh Thank you!
I have updated my code for timestamp:
<details><summary>Code</summary>

[code]
</details>

The trace with time stamps:

[code]

From this trace, I basically end the websocket connection immediately when it start the infinite wait, so it does not seem like some time out.  If I let it hang for a while in `await queue.get()`, the same trace back is there.

Sorry my toy code snippe

[2021-04-29 21:02] wuyuanyi135 commented on #889
Reproducible repo: https://github.com/wuyuanyi135/strawberry-asyncio-queue-issue

[2021-04-29 22:37] wuyuanyi135 commented on #889
There is a catch in the asgi server:
https://github.com/strawberry-graphql/strawberry/blob/f31e6c17238ba4372129c4f291ddf336b4e6b901/strawberry/asgi/__init__.py#L187
This line catches Exception-derived exceptions but since 3.8 (https://docs.python.org/3.8/library/asyncio-exceptions.html#asyncio.CancelledError) it is now derived from BaseException, hence the different behavior in 3.7 and 3.8

[2021-04-30 12:15] mtszsobczak opened #894 "Adding nested resolver to pydantic based schema types is broken"
Hey, I discovered that this case is broken:

[code]

Field `full_name` is removed from the schema.

It looks like when creating data class we are only handling class attributes from `__annotations__` . Methods are not handled correctly.
https://github.com/strawberry-graphql/strawberry/blob/main/strawberry/experimental/pydantic/type.py#L104

I tried to add a quick fix:
![image](https://user-images.

[2021-05-01 10:00] wuyuanyi135 commented on #889
After play with this library and the upstream `graphql-core` framework, I could trace the cause of this problem.
## Client disconnect procedures
1. Websocket receiving task is interrupted by exception
https://github.com/strawberry-graphql/strawberry/blob/f31e6c17238ba4372129c4f291ddf336b4e6b901/strawberry/asgi/__init__.py#L92

2. Handle the exception for finalization. First, `aclose` the `MapAsync

[2021-05-01 15:09] DoctorJohn opened #898 "Schema export command"
For client code generation and editior autocompletion I regularely export my graphql schema from the server. I'm used to using a command to do so. As far as I can tell strawberry does not (yet) provide a command for it.

Alternatives to using a command would be programmatically exporting the schema or fetching the schema from a running server. IMHO both methods are incovenient (in my case the late

[2021-05-01 15:37] BryceBeagle commented on #898
It's not yet documented, but we do have a function to print out the schema:
 https://github.com/strawberry-graphql/strawberry/blob/f31e6c17238ba4372129c4f291ddf336b4e6b901/strawberry/printer.py#L107-123

I definitely think that this could be useful as a CLI tool.

[2021-05-01 15:38] BryceBeagle commented on #898
Ahaha great timing. Glad you found `print_schema`

[2021-05-01 15:39] DoctorJohn commented on #898
Furtunately I discovered the `print_schema` function yesterday. It made implementing the CLI command trivial

[2021-05-02 22:37] MeRuslan opened #902 "A way to compute/limit query complexity"
A basic protection against malicious requests / scraping.

I'd love to see some means to:
1. Set / control field/resolver complexity.
2. Limit whole query complexity (no idea on what to do in such a case, fail or limit response, maybe have it configured by the developer).

[2021-05-02 23:01] MeRuslan commented on #902
Let's say a default field complexity is 1.
For a custom field a user can annotate its complexity using absolute values, and in terms of the query complexity down the line (i.e. children might be ORM's related objects, thus leaving the current node as a source of complexity truth for them).

Seems to me that we'll have to understand pagination at the step of complexity computation. I don't think th

[2021-05-02 23:02] MeRuslan commented on #902
I'm a new one here, might be completely wrong ：D

[2021-05-02 23:02] jokull commented on #902
Good article on this topic: https://www.apollographql.com/blog/securing-your-graphql-api-from-malicious-queries-16130a324a6b/

[2021-05-04 15:13] patrick91 opened #905 "Generics broken when using multiple TypeVars"
While chatting with @BryceBeagle we found a bug with Generics, the following code should work:

[code]

but instead it crashes with the following error:

[code]

[2021-05-04 16:24] DoctorJohn commented on #825
Hi @marcoacierno I agree the "everything in one class approche" does not scale well. I had this problem myself and switched to the following notation which served me well so far:

[code]

[2021-05-04 16:36] patrick91 commented on #825
@DoctorJohn we recently released this, maybe it's something you can use too  😊

https://github.com/strawberry-graphql/strawberry/pull/884

Regarding this:

[code]

we are considering emitting a warning/error (maybe we can make this optional and configurable) when the field doesn't have a type or when the type doesn't match the resolver 😊

[2021-05-04 17:18] DoctorJohn commented on #898
The suggested command was implemented in #899

[2021-05-04 17:18] #898 closed

[2021-05-04 19:23] #327 closed

[2021-05-06 13:30] patrick91 opened #917 "Add docs for Private fields"
https://github.com/strawberry-graphql/strawberry/blob/main/tests/schema/test_private_field.py#L11

[2021-05-07 08:27] jkimbo opened #920 "Proposal: Custom fields"
## Objective

Allow developers to create custom fields to encapsulate common resolver logic, allow modification of field arguments and return types.

## Motivation

At the moment the only way to define a field is to use the `strawberry.field` function. There is no ability to modify arguments or types programmatically so defining common patterns in a schema means duplicating logic throughout the co

[2021-05-11 18:24] andeh575 opened #929 "Fetching client.js from CDN fails"
Attempting to load the `graphiql` client is currently producing errors. Strawberry and graphql itself are both responding fine - it's just the `graphiql` client that is failing to load.

It seems like attempting to get the `graphiql-subscriptions-fetcher client` [here](https://github.com/strawberry-graphql/strawberry/blob/e6b005ce98df53f923c477fc11ab69c0a8f58736/strawberry/static/graphiql.html#L39

[2021-05-15 17:53] Object905 commented on #825
In my experience, when you have a lot of fields, then it's better to nest them, like that:
[code]
There is one downside with this approach is that you have to unnest such fields on the frontend, which is relatively easy with react-query or apollo.

[2021-05-16 07:23] vstokarev opened #940 "Can't get DataLoader to work"
Hello! I'm trying examples from this page https://strawberry.rocks/docs/guides/dataloaders.
Running the following code on Python 3.8:
[code]
I get the following error message:
[code]

When I try my own code (which is pretty much the same, but the loader is real - it reads data from the db) I get this: "RuntimeError: await wasn't used with future".

I'm stuck, don't really know where to look. I tho

[2021-05-16 09:11] marcoacierno commented on #940
What are you using to run the server?

Just yesterday I implemented dataloaders in a project and it worked without any issue, some links as example:

dataloader: https://github.com/pythonitalia/pycon/blob/master/users-backend/users/api/dataloader.py
usage: https://github.com/pythonitalia/pycon/blob/master/users-backend/users/api/types.py#L58

[2021-05-16 14:55] vstokarev commented on #940
Whatever is used as a debug server in examples. I've just started using Strawberry and the fact that examples are not working is quite.. misleading. I'll try checking out your code, thanks.

[2021-05-17 19:15] la4de commented on #920
I like this concept. I'm already using this approach in `strawberry-graphql-django` package. I'm pretty sure other users may want to do the same :)

### Field composition

Would it make sense to use class inheritance in a such way that arguments, types and results of super class are all accessed through super object? This would allow composition and inheritance from multiple classes like this.

[c

[2021-05-17 19:49] DoctorJohn commented on #940
I think the problem is that a DataLoader object is created before the debug servers asyncio loop. This needs some extra research though. I agree examples in the documentation should work when copy pasted.

The following example might look a little inpractical but it works. Note that the docs recomment [creating the dataloader when creating the GraphQL context](https://strawberry.rocks/docs/guides/

[2021-05-18 00:43] vstokarev commented on #940
Thank you very much @DoctorJohn . Your example works, but as you said it's not very practical because it breaks the purpose of async code in this case and leads to calling data loader for every single entity. I will continue experimenting and try using something other than debug server.

[2021-05-19 01:46] taybenlor commented on #830
Weighing in here, I'm personally not at all interested in Django integrations so this discussion seems a bit too "heavyweight" for me. I'm providing a GraphQL alternative to a FastAPI endpoint, which is conceptually similar to people discussing Flask.

I'd like to be able to share some code between the two, but currently I'm most interested in Strawberry providing tools like hooks, helpers, and mi

[2021-05-19 08:43] patrick91 commented on #940
@vstokarev sorry for the issue! This will be fixed by @DoctorJohn's PR https://github.com/strawberry-graphql/strawberry/pull/945

I'll merge and release when the ci jobs are done :)

[2021-05-19 09:00] #940 closed

[2021-05-19 18:54] patrick91 commented on #160
Migration from circle ci to GitHub actions is done here: https://github.com/strawberry-graphql/strawberry/pull/954

[2021-05-20 04:46] vstokarev commented on #917
I found this `Private` class in the library recently and tried using it:
[code]

Couldn't even start the server due to the following error:
[code]

I ended up making this property protected:
[code]

[2021-05-20 07:58] jkimbo commented on #917
@vstokarev thats odd. What version of Strawberry are you using?

[2021-05-20 08:03] vstokarev commented on #917
@jkimbo 0.63.1

[2021-05-20 10:52] jkimbo commented on #917
@vstokarev it seems to work for me: https://replit.com/@jkimbo/Strawberry-issue-917

Can you reproduce the issue in a repl?

[2021-05-20 10:54] patrick91 commented on #917
@jkimbo I think the issue is the same as https://github.com/strawberry-graphql/strawberry/issues/843

@vstokarev do you have future annotations enabled by any chance?

[2021-05-20 10:57] jkimbo commented on #917
Ah yeah that looks like it might be whats going on. What can we do to fix that issue?

[2021-05-20 11:01] patrick91 commented on #917
not sure, shouldn't be difficult to fix, I _think_ something goes wrong here:
 https://github.com/strawberry-graphql/strawberry/blob/main/strawberry/types/type_resolver.py#L54

[2021-05-20 13:01] marcoacierno commented on #160
The only thing left here is running tests on windows?

[2021-05-21 05:38] vstokarev commented on #917
You're right, it works without future annotation.

[2021-05-21 09:11] patrick91 opened #960 "Add utilities for preventing malicious queries"
Some ideas here: https://www.apollographql.com/blog/graphql/security/securing-your-graphql-api-from-malicious-queries/

We can definitely implement some of those :)

[2021-05-21 12:37] jkimbo commented on #960
Because graphql-core is a direct port of graphql-js I think https://github.com/stems/graphql-depth-limit can be directly ported to Python.

[2021-05-23 16:06] Speedy1991 commented on #754
Just added some documentations about an example JSONScalar [here](https://strawberry.rocks/docs/types/scalars#example-jsonscalar)

[2021-05-23 16:36] patrick91 commented on #754
@Dotrox let me know if the docs written by @Speedy1991 are helpful; so we can close this issue 😊

[2021-05-24 01:46] Dotrox commented on #754
Json doesn't fit my needs, but this example show me how create a custom scalar. So I slightly modified it and get what I need:
[code]
Also I made a custom scalar for MongoDB ObjectId:
[code]
It may be helpful for somebody if it will be in docs.

[2021-05-24 01:46] #754 closed

[2021-05-26 00:19] klauer commented on #769
I ran into this as well, as a new strawberry user coming from Pydantic.

`update_forward_refs` works to update the original model, but it doesn't seem to affect the mechanism strawberry is using.

Looking a bit into the details, strawberry relies on `cls.__fields__["field"].outer_type_` (of type [ModelField](https://github.com/samuelcolvin/pydantic/blob/b718e8e62680c2d7a42f1cf946094e1c0fe28c1d/pyd

[2021-05-28 19:36] Kommandat commented on #404
Hey @patrick91, I'd like to start contributing to Strawberry and this looks like a good first issue to tackle. Any advice on how to get started and where to look?

My understanding is we would want to raise an exception if someone has duplicate types. A test could look like:

[code]

[2021-05-28 19:46] BryceBeagle commented on #404
Hi @Kommandat! Thanks for your interest. There's a big PR refactor coming down the pipeline (#906) that's going to completely change how the internal typing system is handled. It's been a long time coming, but I'm aiming to have it done really soon.

I'd hold off on this issue for now. There's a potential that PR ends up resolving this issue.

[2021-05-28 20:19] Kommandat commented on #404
Thanks @BryceBeagle! I'll hold off then. Let me know if there are any other issues you know of where I can lend a hand.

[2021-05-29 18:10] matclayton commented on #268
Would love to see some inbuilt support/best practice for Relay (relay.dev) and the node lookup + connections api. Seems like this is boiler plate which would be required for any Relay user.

[2021-05-31 18:50] elben10 opened #978 "Support for custom pydantic data types"
I would be really neat if it was possible to create custom data types as documented in pydantic [here](https://pydantic-docs.helpmanual.io/usage/types/#custom-data-types). The following examples defines a new data type named `OID` in the data model we specify how to serialize an `ObjectID`, which is returned by the `OID` validate class method. Right now the following example raised `TypeError: Que

[2021-06-01 16:46] #766 closed

[2021-06-01 16:53] patrick91 commented on #872
@sarahhenkens we (well @jkimbo :D) are going to work on this as discussed in our monthly meeting 😊 https://github.com/strawberry-graphql/strawberry/discussions/986

[2021-06-02 05:41] BryceBeagle opened #987 "Link to Strawberry Django repo in the docs on the main website"
Currently, https://strawberry.rocks/docs/integrations/django doesn't include a link to https://github.com/strawberry-graphql/strawberry-graphql-django. This would be helpful to people just getting started with the extension.

[2021-06-02 18:54] pgerlich commented on #844
Would love to see this. Am also seeing this issue, which requires me to basically just subtype the actual dataclass

[2021-06-03 03:44] Kommandat commented on #987
Hi @BryceBeagle,

Been eyeing a "good first issue" to help with (however small it may be). Let me know if this looks ok.

https://github.com/strawberry-graphql/strawberry/pull/992

Thanks,
Lakshay

[2021-06-03 10:04] #987 closed

[2021-06-03 15:55] patrick91 opened #996 "Improve error when parsing invalid decimal values"
This example:

[code]

throws this error:

[code]

which can definitely be made more user friendly

[2021-06-04 10:59] joeydebreuk opened #999 "Input values: Nullable fields and defaults"
Lets say we have a resolver with the input `orderBy: Order = created`, what should happen if we pass `{"orderBy": null}`?

### Example code

**Resolver**
[code]
**Mutation**
[code]

Expected cases:
1. orderBy is omitted: query with variables `{}` will use the default `Order.created`
2. orderBy is incorrect type: query with variables `{"orderBy": 1}` will return `Variable '$order' got invalid value

[2021-06-04 19:53] coady commented on #999
GraphQL supports distinguishing an explicit null from omission. For your use case - non-null with a default - it can be specified that way: `order_by: Order = Order.created` (no `Optional`). Then the usual validation will return the appropriate error.

[2021-06-09 13:32] #978 closed

[2021-06-09 14:06] #889 closed

[2021-06-09 19:06] Ambro17 opened #1006 "[BUG] Strawberry schema printer does not have the same order as graphql core"
When using the api SDL (Schema definition language) as a review tool for schema, changes it's really useful to print the root first, then the children nodes.
Graphql-core respects that, but strawberry's implementation does not

Minimal demo
[code]
After executing `python bug_demo.py` one can see that strawberry prints this
[code]
Instead of graphql-core output
[code]

## Versions
`strawberry-graph

[2021-06-10 12:20] mawiegand opened #1007 "Using an `Enum` as default value in resolver method raises `GraphQLError`"
I tried to use an `Enum` as default argument for a resolver method:

[code]
When accessing the GraphQL endpoint the following error is raised:
[code]
Querying without arguments seems to be working. Probably only the schema representation is affected.

Environment information:
Strawberry: `0.65.3`
Python: `[3.7, 3.9]`

[2021-06-11 23:33] Dotrox opened #1011 "@strawberry.input ignore Optional annotation"
My code:

[code]

My request:
[code]

And I've got the following error:
[code]

And the same with a mutation.

Also, when I tried make a whole `data` argument optional:
[code]
and query without it:
[code]
I've got this:
[code]

So it seems that Strawberry completely ignore `Optional` annotation.

[2021-06-11 23:37] BryceBeagle commented on #1011
In Strawberry, just as with standard Python typing, the `Optional` indicates that the value is `None`-able/nullable; not that it can be omitted. You need to give the field a default value.

[code]

[2021-06-12 02:41] Dotrox commented on #1011
It seems graphene_pydantic plugin misled me (I am migrating from Graphene). When I use Pydantic model with `Optional` and without any default value it works as I expected (no errors when value not provided).
And now I see that `strawberry.experimental.pydantic.input` works the same way, but I don't use it because I need custom scalars, so I made my own wrapper and use standard `strawberry.input`.

[2021-06-12 02:41] #1011 closed

[2021-06-14 23:08] 2malh opened #1017 "0.65.4 – possible breaking change – "partially initialized module 'strawberry' has no attribute 'type'" (circular import?)"
Hey, upgrading to 0.65.4 throws me the following error:
[code]

Downgrading back to 0.65.3 resolved this issue for me.

I take usage of the strawberry.django package, include auto from it and use the strawberry.django.type and field definitions

[2021-06-14 23:43] BryceBeagle commented on #1017
Something must have broken in #994. @la4de any ideas?

[2021-06-15 04:17] sky-code commented on #1017
Have the same problem with 0.65.4

[2021-06-15 05:15] la4de commented on #1017
I propose to revert my previous change. See PR #1019. We need to find out better solution for symbol resolution issue with IDEs.

[2021-06-15 05:16] la4de commented on #1017
Workaround is to use 0.65.3

[2021-06-15 12:19] #1007 closed

[2021-06-15 17:30] N-Maas opened #1020 "Forward types not working"
According to the changelog, I would expect strawberry to support forward types. However, I always get a `NameError` when trying to use them. Thus I looked for a minimal example:

Executing
[code]

I get

[code]

Strawberry version: 0.64.5

[2021-06-15 18:11] patrick91 commented on #1020
@N-Maas have you tried using:

[code]

or quoting ForwardType? :)

[2021-06-15 21:14] N-Maas commented on #1020
`from __future__ import annotations` fixes it, thanks! :D

[2021-06-15 21:14] #1020 closed

[2021-06-16 12:19] mawiegand opened #1022 "Make `starlette` an optional dependency"
Since `starlette` is only used for the debug server it should be an optional dependency in `pyproject.toml` like e.g. `uvicorn`.

[2021-06-16 12:52] peach-lasagna opened #1023 "subquery doesn't work"
[code]
![изображение](https://user-images.githubusercontent.com/59787538/122221327-62761e80-cedb-11eb-97d8-6384e19918dc.png)
![изображение](https://user-images.githubusercontent.com/59787538/122221526-8b96af00-cedb-11eb-8ec2-edaef5419493.png)

[2021-06-16 13:04] peach-lasagna commented on #1023
how about create book ?

[2021-06-16 13:05] jkimbo commented on #1023
You'll probably want to define a mutation to create a book. You can read more about how to define a mutation here: https://strawberry.rocks/docs/general/mutations

[2021-06-16 13:08] peach-lasagna commented on #1023
Sorry, I forgot about it

[2021-06-16 13:08] #1023 closed

[2021-06-17 17:05] leo6104 opened #1025 "Annotated doesn't work in field resolver function argument (below Python 3.8)"
In Python 3.8, `typings` doesn't support Annotated. I tried to use typing_extensions Annotated. But it doesn't work.

It has an error.

[code]

### Reproduction:

[code]

![image](https://user-images.githubusercontent.com/7777929/122442387-7bfd9000-cfd9-11eb-993d-4a27802a93e9.png)

[2021-06-21 08:00] hf-krechan commented on #268
@playfulpachyderm Did you make some good experience with the "declarative mapping with dataclasses and attrs" in combination with strawberry?

[2021-06-22 08:59] #1022 closed

[2021-06-22 16:46] peach-lasagna opened #1028 "Rewrite storage scalars"
if I create two Schemas, there may be scalars from both schemas.
https://github.com/strawberry-graphql/strawberry/blob/main/strawberry/custom_scalar.py#L21

[2021-06-23 03:24] taybenlor opened #1029 "GraphiQL sometimes fails to render due to CDN issue"
I have intermittently had issues where GraphiQL doesn't render because of an issue with a dependency from the CDN.

Right now I'm seeing a `404` on `https://cdn.jsdelivr.net/npm/graphiql-subscriptions-fetcher@0.0.2/browser/client.js`. The response is:

[code]

My understanding from reading [this thread](https://github.com/jsdelivr/jsdelivr/issues/18216) is that this happens when a cache of the sou

[2021-06-24 00:11] coady commented on #1022
A side-effect of this is it effectively demotes `asgi` from the default integration to a lesser one. `uvicorn` is optional in that the user could choose a different asgi server, but `import strawberry.asgi` fails without `starlette`. It's not meant to imply the `asgi` integration isn't suitable for production, right?

What do you think of adding `asgi = ["starlette"]` to `[tool.poetry.extras]`?

[2021-06-24 07:15] patrick91 commented on #1022
We should add the optional import :)

And no it doesn’t mean the ASGI integration isn’t good for production, we
still want that to work well :)

On Thu, 24 Jun 2021 at 01:11, A. Coady ***@***.***> wrote:

--
Patrick Arminio

[2021-06-24 16:30] joeydebreuk opened #1035 "Sending incorrect formatted DateTime results in ValueError, instead of GraphQLError"
Example:
[code]
where `dateTime` is of type `DateTime`.

What happens:
Sending incorrect formatted DateTime results in ValueError, raised by dateutil.

What I would expect:
Sending incorrect formatted DateTime results in GraphQLError, raised by strawberry

[2021-06-26 19:54] peniqliotuv commented on #542
@patrick91 is there an update on this :O

[2021-06-26 22:24] patrick91 commented on #542
sorry I've been quite busy in the last months, I'll make sure this happens over next week 😊

[2021-06-28 00:58] JosiasAurel commented on #996
Hey, i have checked and this seems to be an error at the level of `graphql-core` parsing the generated AST.
 If an error is raised at the level of GraphQL core, maybe listening to the error my help

[2021-06-28 11:45] jkimbo commented on #1035
After discussing this on Discord with @joeydebreuk we've come to the conclusion that all custom scalars in Strawberry should catch serialisation errors and raise a GraphQlError (without the original error) instead. This is the same behaviour that graphql-core has: https://github.com/graphql-python/graphql-core/blob/b80085385dd4f818abb38c27e84f6fd16289684a/src/graphql/type/scalars.py#L37-L61

@joey

[2021-06-29 17:54] rmzr7 commented on #521
@patrick91 has a new annotated version been released yet or is `Result = strawberry.union("Result", (A, B))` still the preferred way of using union types?

[2021-06-29 18:51] patrick91 commented on #521
we are keeping strawberry.union 😊

[2021-06-30 06:45] jkimbo commented on #902
Closing this in favour of #960

[2021-06-30 06:45] #902 closed

[2021-06-30 06:48] jkimbo commented on #806
@patrick91 is this still relevant?

[2021-06-30 06:49] #725 closed

[2021-06-30 06:52] #589 closed

[2021-06-30 06:53] jkimbo commented on #521
Can we close this issue then @patrick91 ?

[2021-06-30 07:44] patrick91 commented on #521
let's close for now, maybe we'll come back to it in future 😊

[2021-06-30 07:44] #521 closed

[2021-06-30 07:52] joeydebreuk commented on #999
@coady I tried your suggestion, but without success. Now the schema is `orderBy: Order! = default` while before it was `orderBy: Order = default`. Maybe you misunderstood my ticket.

Can you describe what would be expected if I send `{"orderBy": null}` while `orderBy: Order = default`? Shouldn't this result in incorrect type error on schema level?

[2021-06-30 07:54] patrick91 commented on #806
Let's close it! With Bryce we prepared a document on updating the internal structure, that will help with this too

[2021-06-30 07:54] #806 closed

[2021-06-30 14:05] Sergei-Rudenkov opened #1042 "Migration from Graphene to Strawberry"
I use graphene==3.0.0b6 (it uses graphql-core v3 under the hood). Could you, please, provide some migration guide?

## Upvote & Fund

- We're using [Polar.sh](https://polar.sh/strawberry-graphql) so you can upvote and help fund this issue.
- We receive the funding once the issue is completed & confirmed by you.
- Thank you in advance for helping prioritize & fund our backlog.

<a href="https://pol

[2021-06-30 16:05] jkimbo commented on #1042
@Sergei-Rudenkov at the moment unfortunately we don't have a migration guide other than rewriting your application 😢

I am however experimenting with something that might allow you migrate from Graphene incrementally. If you're willing to give it a try follow the instructions here: https://github.com/jkimbo/strawberry-graphene

Let me know how it goes! I haven't actually tried this on a large sche

[2021-07-02 00:32] coady commented on #999
`!` indicates the input is non-null:
* `orderBy: Order! = default` will error if `{"orderBy": null}` is sent
* `orderBy: Order = default` will allow it

[2021-07-02 07:17] joeydebreuk commented on #999
@coady No error is raised (by strawberry) for `{"orderBy": null}`, as described in my issue description:

[2021-07-02 07:19] joeydebreuk commented on #999
@coady  so sending `{"orderBy": null}` to `orderBy: Order = default`, and in runtime the value being `None` is expected?

Wouldn't it make sense to throw incorrect type error here?

[2021-07-02 10:29] jkimbo commented on #999
@joeydebreuk in your example I would expect the resolver to receive `None` because the value has been explicitly set to `null` by the client. It also matches the behaviour you would get with a plain Python function. i.e.:

[code]

[2021-07-02 14:06] joeydebreuk commented on #999
I understand how this works in plain Python, but personally I'd expect `null` not to be of valid type according to the schema. Don't the GraphQL specs describe how this case should be handled? I couldn't find it myself :thinking:

[2021-07-02 14:23] jkimbo commented on #999
I think the spec does make it quite clear:
https://spec.graphql.org/June2018/#sec-Null-Value

By passing `None` when `null` is passed we can differentiate between the 2 different cases.

[2021-07-02 14:38] joeydebreuk commented on #999
@jkimbo Thanks for your help. So if I understand correctly:
-  `orderBy: Order = default` means you can omit the value, in this case it will be defaulted
-  but will also allow `null`, in which case it will be `None`

And there is no way to make a distinction between these cases in the schema? So if I for example would want to disallow `null`, but omitting is allowed, I would have to handle this i

[2021-07-02 14:55] jkimbo commented on #999
Yep thats correct. As far as I'm aware there is no way to disallow null but allow omitting in the schema alone. You would have to do the checks in the resolver.

Related: I would consider that any field that has lots of optional fields should probably be split out into multiple fields. To make full use of the benefits of the GraphQL typing it's beneficial to be very specific with your fields and t

[2021-07-02 14:59] joeydebreuk commented on #999
Thanks a lot @jkimbo

[2021-07-02 16:02] coady commented on #999
It is allowed (just poorly documented). Having a default value also makes the input optional, regardless of whether the type is nullable.
* `orderBy: Order! = default`: doesn't allow nulls, sends default if omitted
* `orderBy: Order = default`: allows nulls, and sends default if omitted

[2021-07-02 17:50] jkimbo commented on #999
Oh yeah that looks like it should work @coady in which case this is a bug in Strawberry.

[2021-07-02 23:35] coady commented on #999
There's no bug that I'm aware of. It does work in strawberry:
strawberry | graphql | description
----------  | -------- | ------------
`order_by: Order = default` | `orderBy: Order! = default` | doesn't allow nulls, sends default if omitted
`order_by: Optional[Order] = default` | `orderBy: Order = default` | allows nulls, and sends default if omitted

[2021-07-02 23:42] MeRuslan commented on #902
Depth limiting would certainly help, it does not really secure you.
Perhaps I should have worded it better.

I would also like to be able to reject a query that would result in returning thousands of objects.
For that we'd need proper query analysis, not just a simple depth limit.

I.e.
`query {
  user(id: 1) {
    chats(first: 100) {
      message(first: 100) { ... }
    }
  }
}
`
would pass any

[2021-07-04 08:28] jkimbo commented on #960
@MeRuslan points out a another useful library to implement cost analysis: https://github.com/pa-bru/graphql-cost-analysis (ref: https://github.com/strawberry-graphql/strawberry/issues/902#issuecomment-873305453)

Note that graphql-js has decided not to support adding directives through code definitions: https://github.com/graphql/graphql-js/issues/1343

[2021-07-04 08:28] jkimbo commented on #902
Sorry @MeRuslan , by closing this issue I didn't mean to imply that we shouldn't implement cost query limits, just that I wanted to consolidate the different approaches to handling malicious queries into one issue. I've included your comment there.

[2021-07-05 18:33] zerocewl commented on #542
Any news?

[2021-07-05 18:38] patrick91 commented on #542
@zerocewl I'm aiming to finish it this week :) I made some changes to make this easier in #1044 so hopefully I won't find any blockers :)

[2021-07-05 18:47] zerocewl opened #1045 "How to use snake_case in graphql schema for propeties too?"
Is there a solution to use the `snake_case` as a **property name** inside a strawberry data class **and** the graphql schema?

My problem is, that my `snake_case` property name is always replaced by a `camelCase` one.

I searched inside the docs, but could only find the `name` setting for the class and field names.

Minimal example of what i'm trying:

[code]
graphql schema
[code]

[2021-07-05 18:49] patrick91 commented on #1045
this will be fixed when I merge https://github.com/strawberry-graphql/strawberry/pull/798

hopefully this week :)

[2021-07-06 08:43] zerocewl commented on #1045
Thx for the fast reply.

Is there any setting like a mapping for the class properties?

In another case our current schema uses python keywords like e.g. `global` which leads to an error if used as property in the strawberry class.

[2021-07-06 09:14] patrick91 commented on #1045
@zerocewl yes, the workaround is what you need 😊 it is recommended way to use python keywords as field names :)

[2021-07-06 09:18] zerocewl commented on #1045
Maybe it would be nice to add one example of this to the docs?

e.g. this one? https://github.com/strawberry-graphql/strawberry/blob/main/strawberry/field.py#L222-L224

[2021-07-06 09:24] patrick91 commented on #1045
@zerocewl we have documented it here: https://strawberry.rocks/docs/types/object-types#api

but it is probably hard to discover, 🤔 do you have any suggestion for how to make it more visibile?

[2021-07-06 09:30] zerocewl commented on #1045
ah ok.
i discovered this page but could not build the concrete examples in my mind =)

maybe add them from the docs?
[code]

[2021-07-06 09:36] patrick91 commented on #1045
ok, I'll think about adding those examples somewhere 😊

[2021-07-07 00:53] DoctorJohn commented on #1035
This issue was resolved via #1035

[2021-07-07 00:53] #1035 closed

[2021-07-11 05:49] jkimbo commented on #999
@joeydebreuk can verify that the options @coady has outlined work for you?

[2021-07-12 07:18] Speedy1991 opened #1055 "django TextChoices not working as strawberry enum"
[code]

and using it as strawberry enum type
[code]

Leads to
[code]

Expected behavior:
I guess this should work??

[2021-07-12 08:09] Speedy1991 commented on #1055
Ok - its working like this:
`VideoCopyrightEnum = strawberry.enum(Video.CopyrightChoices)`

[2021-07-12 08:09] #1055 closed

[2021-07-13 14:27] Speedy1991 opened #1058 "LazyType inside Union throws 'LazyType' object has no attribute '__name__'"
Using LazyTypes inside a Union throws an error, e.g:
[code]

Throws:
[code]

while `tpm: strawberry.LazyType["PressType", ".press"]` and `tpm: strawberry.LazyType["VideoType", ".video"]`

works without any exceptions

I did not test if this is a LazyType _only_ problem or a general problem with LazyTypes inside Union (e.g. mixing LazyTypes with "normal" Types)

[2021-07-13 18:42] Apakottur opened #1061 "Overriding parsers/serializers of existing scalars"
Is there a way to override parsers/serializers of existing scalars like `Date`, `DateTime` or `ID`?

For example, if I want to use the following function
[code]

Instead of `dateutil.parser.isoparse` for parsing datetimes, it would be awesome to have something along:

[code]

------

I didn't find a clean way of doing this so I ended up overriding `strawberry.schema.types.scalar.DEFAULT_SCALAR_REG

[2021-07-14 11:15] joeydebreuk commented on #999
Yes. Now I realize where I got mixed up.

I was doing
[code]
This runs fine, default work, but schema looks like
[code]

If I do
[code]
schema looks like
[code]
And everything works as expected.

[2021-07-14 11:15] #999 closed

[2021-07-14 19:06] jkimbo commented on #1061
I think this is related to #1028 - ideally scalars would be scoped to a schema and they could be overridden.

[2021-07-15 04:03] davidroeca commented on #268
Tried my hand at this as well, and came up empty handed. A more feasible approach may be [the imperative alternative for dataclasses](https://docs.sqlalchemy.org/en/14/orm/mapping_styles.html#imperative-mapping-with-dataclasses-and-attrs). However, my main issue is that strawberry types may contain additional information that is not relevant to the sqlalchemy types, so I would require a third inte

[2021-07-17 23:13] BryceBeagle opened #1065 "Throw an error when using a Union or Interface as an argument type"
[code]

Creating the `field` currently does not throw an error. The error is only thrown in `graphql-core` once a schema is created.

[2021-07-18 05:29] jkimbo commented on #1065
We should also throw an error if a union is used in an input field.

[2021-07-18 21:13] BryceBeagle opened #1067 "Add tests for calling `StrawberryResolver` directly"
Logic is very simple
https://github.com/strawberry-graphql/strawberry/blob/5b601be026a329ed5e04f48b2291b311efa79520/strawberry/types/fields/resolver.py#L21-L22

but it's not fully tested

[2021-07-19 03:09] JakeCover commented on #268
FWIW I would need some kind of sqlalchemy model import for me to really be able to use Strawberry, as I'd really prefer not to re-describe all my data models, so I'm throwing in a vote to prioritize that!

[2021-07-19 21:53] danwinkler opened #1072 "Compatibility with pydantic 1.4"
I'm trying to use strawberry in a project that has pydantic pinned at 1.4. I chatted with @patrick91 on discord about this, and he thought it would be reasonable to achieve compatibility with this version.

Pydantic appears to only be used in the [strawberry.experimental](https://github.com/strawberry-graphql/strawberry/blob/main/strawberry/experimental/__init__.py) module, which only gets loaded

[2021-07-20 22:50] jerber commented on #894
I'm also having this problem!

[2021-07-21 03:36] coady opened #1075 "Type refactoring has a regression with inheritance and explicit fields."
[code]
raises `TypeError: B fields cannot be resolved. unhashable type: 'StrawberryAnnotation'`.

`StrawberryAnnotation` has a custom `__eq__` without a `__hash__`, causing a set lookup to fail. However adding a suitable `__hash__` just lead to the next `TypeError`.

`StrawberryOptional` likely has the same problem.

[2021-07-21 04:40] coady commented on #1075
Looks like the missing `__hash__` function was just a symptom (although may be working fixing anyway).

The root cause is `StrawberryAnnotation` being called on its own instances.

[2021-07-23 06:42] #1075 closed

[2021-07-23 10:00] #542 closed

[2021-07-23 10:00] #850 closed

[2021-07-23 10:00] #1045 closed

[2021-07-23 10:14] patrick91 commented on #542
Sorry this took more than expected, we want to release a big refactor before doing it! Now it is done and should be released soon!

Thanks for waiting!

[2021-07-23 14:26] AntonOfTheWoods opened #1085 "Allow async `has_permission` methods for `permission_classes` on fields"
I am trying to use sqlalchemy async ORM everywhere but there is not currently support for async `has_permission` methods on permission classes. As the actual resolver can be async, I can simply check/raise at the beginning of each resolver, but it is a bit clumsy to do something in the resolver when there is a mechanism there for it. A brief look makes me think this will quite likely be a lot of w

[2021-07-28 15:48] jkimbo commented on #920
@la4de very sorry I haven't replied to you! I think I must have just done it in my head and not actually written it down 🤦

[2021-07-28 17:02] patrick91 commented on #920
I mostly like this, the only two things I don't like are, from this example:

[code]

1. `@PaginatedField()` this is mostly a personal preference, but I don't like using classes as decorators (mostly because it looks odd)
2. `List[str]` we are changing the field type, but we still use the old type in the method (which is fine); my only concern on this is that we are hiding the new field type

Have

[2021-07-28 18:37] jkimbo commented on #920
Yeah I agree that aesthetically lower case functions look better as decorators but I didn't want to have to define a wrapper function for every custom field. Any suggestions on how to avoid it?

Another alternative would be:

[code]

What do you think?

That is an interesting alternative API but wouldn't that require more mypy plugin magic and extra IDE integration? Also I'm not sure it's as obvio

[2021-07-28 18:45] patrick91 commented on #920
don't really like this option

[code]

maybe we can do what asgi ref does with sync_to_async? :D

https://github.com/django/asgiref/blob/main/asgiref/sync.py#L511-L512

[2021-07-28 18:47] jkimbo commented on #920
Sure thats fine. I think the built in custom fields we should expose as lower case but people are free to define their own custom fields with any kind of naming convention.

[2021-07-28 18:49] patrick91 commented on #920
Yes, that works for me :D

[2021-07-28 23:29] BryceBeagle commented on #920
This is also something the Python standard library does. Easiest example is `@property` (although it's implemented in C, not pure Python)

[2021-07-30 06:18] codebyaryan opened #1093 "integrate subscriptions with elixir"
First of all, I would like to thank the maintainers of this amazing library!
I really like my experience with it.

I would like to integrate python with elixir (on a graphQL server).
Basically, I want python to handle mutations and queries, but I want elixir to handle subscriptions (because it is better at the job).
I am planning to make both python and elixir microservices communicate with each o

[2021-07-30 08:45] patrick91 commented on #1093
Hi @codebyaryan, that's a very interesting question! I'm pretty sure you can do something like by using a proxy, like so:

[code]

The proxy would use either the python or the elixir downstream based on the protocol HTTP for Python WS for Elixir.

The annoying thing with this approach is that the introspection is broken, as you're not merging the two schemas.

The downside of this is that you can'

[2021-07-30 09:59] codebyaryan commented on #1093
thanks for the reply @patrick91
I did further reading on this topic and found out that

having python only handle queries and mutations,
and letting elixir letting all of subscriptions is a better idea.

So, in this case, there would be two microservices we need
to stitch together in order to get a complete API and schema.

Apollo federation allows such tools in the javascript ecosystem.
So I am w

[2021-07-30 10:57] patrick91 commented on #1093
The schema looks ok, let me summarise the options you have here:

# 1 - Apollo Federation

Apollo federation is pretty cool and easy to implement, but doesn't support subscriptions (without additional tools) at the moment

There's some ways of using federation and subscriptions: https://www.apollographql.com/blog/backend/federation/using-subscriptions-with-your-federated-data-graph/

The solution

[2021-07-30 11:30] codebyaryan commented on #1093
thank you so much for your help, I think that I can get my GraphQL server running with the help of these services.
I picked this stack because Discord did (python + elixir for realtime networking), but I wanted to go with GraphQL instead of REST. I'll let you know if I can get this to work in some time!

[2021-07-30 11:30] #1093 closed

[2021-07-30 11:33] patrick91 commented on #1093
@codebyaryan awesome! yes, please let me know how you get on with it! Happy to chat on discord too!

[2021-07-31 07:45] aalexei commented on #1029
Just hit the same problem when trying out the basic example in "Getting Started". Server starts, but visiting url just produces a blank page.
`https://cdn.jsdelivr.net/npm/graphiql-subscriptions-fetcher@0.0.2/browser/client.js` returns `Failed to fetch version info for npm.`

[2021-08-01 09:30] codebyaryan commented on #764
I am planning on writing documentation for the authentication part (Django, JWT and even Flask, maybe).
Will send a PR ASAP!

[2021-08-01 10:07] codebyaryan opened #1098 "allow docstrings to be field descriptions"
when writing and documenting my schema, I noticed this pattern evolve.
My sample mutation type looks like this.
[code]
as you can see, the syntax and code doesn't really look nice when you have very detailed descriptions.
For a better developer experience, I propose the following solution:

allow docstrings to be the description for the fields.
In practice, the same code would look like this.
[cod

[2021-08-01 10:46] patrick91 commented on #1098
@codebyaryan thanks for the suggestion! we already have a ticket for this here: https://github.com/strawberry-graphql/strawberry/issues/653

I'll close this since it is duplicated 😊

[2021-08-01 10:46] #1098 closed

[2021-08-01 10:55] timsavage commented on #1029
Has been resolved in #1096 was merged and the fix released in 0.70.1

[2021-08-01 11:33] #1029 closed

[2021-08-01 11:33] taybenlor commented on #1029
Thanks @timsavage

[2021-08-02 06:35] jkimbo commented on #764
@codebyaryan That would be really great! Let me know if you need any help.

[2021-08-02 06:37] codebyaryan commented on #764
I have a doubt, @jkimbo , shouldn't the authentication system be based on the existing permissions system?
You should pass the user through the context, and check for the user in the context through a `BasePermission` subclass right?

[2021-08-02 07:01] codebyaryan commented on #268
+1 . This is the one factor which makes it really hard to switch from other libraries like Graphene to SQLAlchemy.

[2021-08-02 14:17] nilsdet opened #1101 "Add support for interfaces with django types"
It seems as if types created with strawberry.django.type cannot be used with interfaces currently.

Consider the following models and types:

[code]

[code]

When trying to query the diary entries the following error would be raised:
`"Abstract type 'DiaryEntry' must resolve to an Object type at runtime for field 'Query.diary'. Either the 'DiaryEntry' type should provide a 'resolve_type' function

[2021-08-03 17:35] daironmichel opened #1104 "Generic input type broken from 0.69.0 onward"
Generic input types were working correctly until version `0.68.4` but after `0.69.0` it's throwing a type error.
here's a test for it
[code]
output error
[code]

[2021-08-03 21:33] patrick91 opened #1106 "Broken duck typing when type implements an interface"
This is currently broken (and it has been for a while apparently) due to how we handle `is_type_of`.

If we change it to none it works: https://github.com/strawberry-graphql/strawberry/blob/main/strawberry/schema/schema_converter.py#L265-L269

[code]

[2021-08-04 02:00] DoctorJohn commented on #1085
Just spend some hours on it, got a working solution, I'll clean it up and open a PR soonish :)

[2021-08-04 08:58] patrick91 opened #1108 "Remove `hupper` from debug server"
Looks like uvicorn has a reload option that we can use instead of building our own reload mechanism: https://github.com/encode/uvicorn/blob/b5af1049e63c059dc750a450c807b9768f91e906/uvicorn/main.py#L410-L431

[2021-08-04 16:22] x0y-gt opened #1109 "Type resolver not called when extending from pydantic model"
I have 2 types, Category and Articles, and I want the Category type to return its related Articles(I have tried with other simpler types too), but when defining a resolver in the Category type its not being called:

[code]

Query type:
[code]

Always returns `null`:
[code]

**I works when I don't extend from a pydantic model**

[2021-08-04 21:24] DoctorJohn commented on #1108
Nice find! Unfortunately using it isn't as straightforward as I expected. The uvicorn reload feature requires us to pass the ASGI application as an import string. This makes it harder to dynamically configure the ASGI app with the schema the user provided via the `strawberry server` command.

I read some of the uvicorn code and it appears that there is no way around passing the ASGI app as an impo

[2021-08-04 21:29] patrick91 commented on #1108
oh, nice one! do you think we could improve uvicorn to make this easier for us?

[2021-08-05 21:19] txan2 opened #1115 "Async extension runners?"
As in this example from the docs:
[code]

Is it an architectural decision that the extension runner doesn't support coroutines?

[2021-08-05 22:19] patrick91 commented on #1115
I think we should support that, similar to this https://github.com/strawberry-graphql/strawberry/issues/1085

[2021-08-05 23:46] DoctorJohn commented on #1108
I thought about it but the way there reloader works there isn't much one can do. But I guess thats fine.

I did some extra testing with the CLI argument based approche outlined before. While the approach itself worked it felt too error-prone to me. I ended up using an environment variable to pass the schema import string supplied by the user via the CLI to the asgi app. This approche works very we

[2021-08-06 08:53] Markcial commented on #1085
@DoctorJohn How is that PR going? I ve been testing out on how to use my async authentication and got something out too. Do you mind me pushing my PR? It's only 4LOC and I don't mind closing it if there is a better solution. I would like to be able to use async there. Thanks

[2021-08-06 16:39] #1072 closed

[2021-08-06 23:29] DoctorJohn commented on #1085
Thanks for sharing your approche! I'm suprised it worked for you since that's the first thing I tried and I had some issues with it. Namely python complaining about already running event loops when exeuting the schema asynchronous.

I will draft a PR to make it's progress more transparent. At it's current state it's already working, but I discovered some flaws in the code around it which I want to

[2021-08-08 07:59] jkimbo commented on #960
Another simple thing would be to add an extension that prevents introspection queries. That way you can add/enable it on production only to prevent people from introspecting your schema.

[2021-08-08 08:19] Speedy1991 commented on #960
Maybe this is also a thing to note:
https://www.apollographql.com/docs/react/api/link/persisted-queries/

Obviousy only useful for closed API's - it makes a gql scheme more "static" with the precalculated hashes

[2021-08-08 08:47] jkimbo commented on #960
Persisted queries is the ultimate way to protect against malicious queries because it means you can’t execute a query that isn’t trusted. It’s very powerful but requires some effort with tooling to make it work well.

We should provide an extension that lets you implement persisted queries like envelop has: https://www.envelop.dev/plugins/use-persisted-operations

[2021-08-09 18:40] rmzr7 opened #1135 "Type checking support for PyRight"
Hi,

Given the following type

[code]

PyRight throws an error on `Person(3, "Rob")`: `Expected no arguments to Person Constructor`. The way to get around this is to create an `__init__` function. However, when classes are decorated with @strawberry.type the fields within the Strawberry type cannot be selected. If an ```__init__``` is provided, the following gql requests will fail

[code]

With `A

[2021-08-09 20:14] patrick91 commented on #1135
I want to add support for PyRight here: https://github.com/strawberry-graphql/strawberry/pull/922

but I wanted to get in touch with PyRight's maintainer to get some feedback first

Anyway, the error from PyRight is a false positive. You should be able to use the constructor provided by default by Strawberry :)

[2021-08-10 14:04] navyamehta opened #1141 "Inability to access parent resolver params in child resolver"
I've read the documentation extensively to find any mention of this, but my use-case is the following:
[code]
The docs state that parameters in the execution context are available in the info parameter. However, info.variable_values seems to be an empty dictionary. Is this feature not implemented or am I reading the docs incorrectly?

[2021-08-10 14:12] patrick91 commented on #1141
how are you querying the data?

`info.variable_values` should represent the variables passed to the operation, if I remember correctly

[2021-08-10 14:32] navyamehta commented on #1141
For more detail, in my main query schema:
[code]
Then, the definition of MyObject goes as:
[code]

[2021-08-10 15:01] patrick91 commented on #1141
Here's an example how how variable_values work:

[code]

They will only return variables passed to the operation. So if you pass a literal directly, like so:

[code]

your variable values will be empty :)

hope this make sense. Maybe you can put the variables on the context object? /cc @jkimbo is this something you ever needed to do?

[2021-08-10 17:13] jkimbo commented on #1141
@navyamehta what might help you is `strawberry.Private` which lets you attach extra information to your `MyObject` type without it being exposed in the schema (we really need to document this).

So your example becomes:

[code]

The benefit of this is that your `MyObject` doesn't need to be explicitly aware of context "above" it in the graph and it could be reused somewhere else in the graph.

---

[2021-08-10 18:47] peniqliotuv commented on #370
Hey, circling back and was wondering if this is going to be on the roadmap any time soon!

[2021-08-11 12:37] #1109 closed

[2021-08-11 12:38] jkimbo commented on #1109
@x0y-gt this should be fixed now.

[2021-08-11 16:15] jkimbo commented on #1141
@navyamehta can we close this issue now?

[2021-08-11 19:54] DoctorJohn commented on #1115
I'll take a look

[2021-08-12 16:45] Vichoko opened #1145 "GraphQL Federation guidance"
Hi! I'm very happy with Strawberry so far.

I've been trying to implement a federated schema where I want to delegate some part of the query to another GraphQL server.

I noted that there is the intention to provide support for this kind of requirements (there're [some code](https://github.com/strawberry-graphql/strawberry/issues?q=federation) regarding federation, and a [place holder on the docs]

[2021-08-12 16:55] jkimbo opened #1146 "Add query string to Info"
In some circumstances it would be useful to be able to access the query inside the resolver. We should add it to the info object that we pass to resolvers.

[2021-08-12 17:00] patrick91 commented on #1145
Hi there, the feature is fully functional, we use it in production at [pollen](https://pollen.co/team)

I was writing some docs, but never managed to finish them: https://github.com/strawberry-graphql/strawberry/pull/440

I should pick up them again at some point 😊

@marcoacierno did a test repo here, you can use it as a reference -> https://github.com/strawberry-graphql/e2e-federation

Here's how

[2021-08-14 19:08] patrick91 opened #1149 "Validate resolver types against field types"
Current we don't throw errors in cases like this:

[code]

We should raise an error when this happens. We should also maybe allow to change the error to a warning, to make it easier to upgrade.

We could also prevent this (maybe as opt-in/out behaviour):

[code]

[2021-08-16 20:52] HealYouDown commented on #268
I tinkered a little bit with runtime inspection of SQLAlchemy models to create strawberry.type classes. If you're interested, you can check it out here: [https://github.com/HealYouDown/sqlalchemy-strawberry-mapper-proof-of-concept](https://github.com/HealYouDown/sqlalchemy-strawberry-mapper-proof-of-concept)

I doubt it will be any useful, but I got kinda carried away doing it. Maybe its useful to

[2021-08-16 20:58] patrick91 commented on #268
@HealYouDown that's pretty cool! Have you seen https://github.com/strawberry-graphql/strawberry-graphql-django?

it would be amazing to standardise on an API and implement official support for multiple ORMs.

Do you think we could do something like strawberry django for sqlalchemy? Like this:

[code]

(we want to use this same approach for Pydantic too)

[2021-08-16 22:12] scratchmex commented on #996
What about
[code]

[2021-08-17 05:59] HealYouDown commented on #268
I will look into it, can't promise anything though.

New to working with GraphQL in general, but would like to try working on the sqlalchemy orm implementation. Will see if I can come up with something.

[2021-08-17 08:45] jkimbo commented on #996
@scratchmex thanks for you improvement in #1152 , it's great!

For this issue I was thinking more that we would do something similar to what we did with datetime parsing: https://github.com/strawberry-graphql/strawberry/pull/1040

[2021-08-17 13:21] scratchmex commented on #996
I didn't know there was an API to handle those. I will give it a check and maybe I make a PR. Thanks!

[2021-08-17 19:34] #1145 closed

[2021-08-17 19:36] Vichoko commented on #1145
Thank you for the guidance! Finally, my use case was a little more complex than what a federation scheme would help.
But your explanation helped me a lot to know better how to approach it.

[2021-08-17 19:37] Vichoko commented on #1146
FYI I managed to achieve this access with the following lines:
[code]

[2021-08-17 19:57] marcoacierno commented on #1145
@Vichoko feel free to also use PyCon repo as reference: https://github.com/pythonitalia/pycon this is a bit more complex (but not too much) to follow but it is a real world usage of federation

From your question, I feel like what you want is something like:

Library type implemented in service A, with `@strawberry.federation.type(keys=["id"])`

In the other service, you can define the Library typ

[2021-08-17 19:59] Vichoko opened #1153 "Retrieve parent resolver context into sub-query resolver"
## TL;DR
**The use case I'm facing is that I want access to some data computed on the parent resolver in the child resolver.**

## Description
If we have a query like this:

[code]
The computation of this single query is resolved from an outside-inside fashion. Where the parent `library` object type is resolved first, then the `books` child object types are resolved at last.

In this child `books`

[2021-08-17 23:22] patrick91 opened #1154 "Allow to add extensions to errors"
GraphQL (and GraphQL-core) support passing extensions to errors (see: https://github.com/graphql-python/graphql-core/blob/b80085385dd4f818abb38c27e84f6fd16289684a/src/graphql/error/graphql_error.py#L12-L67)

We don't have a strawberry way of doing that at the moment :)

We can introduce a StrawberryError exception maybe

[2021-08-18 07:57] jkimbo commented on #1153
@Vichoko what might help you is `strawberry.Private` which lets you attach extra information to types without it being exposed in the schema (documentation is coming #450 ).

So your query might be implemented like this:

[code]

By using `strawberry.Private` you can avoid having to store anything on the `context` object. As you rightly point out it could lead to some weird bugs.

Another thing to

[2021-08-18 07:58] #1141 closed

[2021-08-18 08:02] #1085 closed

[2021-08-18 16:53] Vichoko commented on #1153
This is wonderful. It was exactly what I needed!
Thank you so much. ^^

[2021-08-18 17:34] patrick91 opened #1155 "Add `process_errors` hook to extensions"
It could enable us to ship plugins like this: https://github.com/dotansimha/envelop/blob/94db02d9ecabcf2b77f7694ad1495db644b77965/packages/core/src/plugins/use-masked-errors.ts

See also the conversation on discord: https://discord.com/channels/689806334337482765/750088532479180840/877569440114430002

This might be better than doing https://github.com/strawberry-graphql/strawberry/issues/1154

[2021-08-19 05:24] paul-sud commented on #894
This works in the latest release. I think it was fixed in [release `0.71.3`](https://github.com/strawberry-graphql/strawberry/releases/tag/0.71.3)

[2021-08-19 06:05] jkimbo commented on #894
Yep this should be fixed now. Closing this issue.

[2021-08-19 06:05] #894 closed

[2021-08-19 09:09] jkimbo commented on #1153
Glad I could help!

[2021-08-19 09:09] #1153 closed

[2021-08-19 13:40] moshir opened #1158 "circular imports, Lazytype, Generics"
## Issue
Can't seem to get simple model working involving

1. a Generic type (Collection)

[code]
2. A simple strawberry type with one Collection field referencing a type (Bar) in another file using string annotation to avoid circular imports

[code]
3. a simple strawberry type

[code]

When defining the schema as follows:
[code]

it breaks with  :
[code]
## failing workarounds

### using LazyType

[2021-08-19 14:03] patrick91 commented on #1158
It seems we might have a bug, I tested this code locally and it works with this change:

[code]

@BryceBeagle does this change make sense to you? I can send a PR if so :D

[2021-08-19 14:40] jerber commented on #829
This is broken for me too

[2021-08-19 14:42] jerber commented on #829
I think this was fixed in a recent version, this is working for me now.

[2021-08-19 16:13] Vichoko commented on #1153
It works smoothly. But I wanted to note that I found a bug that causes the app to crash when using any field with strawberry.Private together with `from  __future__ import annotations`.

It throws the following stack trace:

`Error
Traceback (most recent call last):
  File "/Users/vicenteoyanedel/opt/miniconda3/envs/main/lib/python3.9/unittest/loader.py", line 34, in testFailure
    raise self._ex

[2021-08-19 16:41] jkimbo commented on #1153
Ah yeah there is a bug open for that: https://github.com/strawberry-graphql/strawberry/issues/843

[2021-08-20 09:26] lecuivre-alban opened #1160 "Working offline with GraphiQL"
Hi,

My question is maybe not really related to strawberry but here it is:

**Is it possible to use GraphiQL offline ?**

I wanted to try strawberry but once I tried loading up GraphiQL I realized that it calls a bunch of online ressources (stylesheets and scripts). Unfortunately I need to be able to use GraphiQL offline so I wanted to know if it's possible to somewhere configure it to work with l

[2021-08-20 11:47] jkimbo commented on #1160
@lecuivre-alban I would recommend using one of these standalone graphiql desktop clients like:

* [postman](https://www.postman.com/)
* [insomnia](https://insomnia.rest/)
* [graphql-playground](https://github.com/graphql/graphql-playground)
* [altair](https://altair.sirmuel.design/)

[2021-08-20 13:18] lecuivre-alban commented on #1160
I was hoping for a better solution using the integrated GraphiQL but thanks anyway.

[2021-08-20 13:18] #1160 closed

[2021-08-20 13:36] jkimbo commented on #1160
@lecuivre-alban out of curiosity what is wrong with using a standalone graphiql desktop client?

To get the Strawberry hosted graphiql working offline we would have to include the JS files in the library which I'd like to avoid because it just increases the size of the library. We can't make it PWA either because that needs to be served over https. I can't think of another way to make it work offl

[2021-08-20 14:27] lecuivre-alban commented on #1160
@jkimbo
Using the integrated GraphiQL is a way to read the schema/docs easly without needing additionnal software.
It's good for the backend developpers to test the api but having worked previously on the frontend part on projects with a GQL API, I found tools like GraphiQL/ GQL Playground really helpfull  for frontend devs because of the access to the docs.

If only backend developpers would need

[2021-08-20 15:15] jkimbo commented on #1160
Ok thanks for expanding, that's very interesting.

Is this what you do to get fastapi working offline https://fastapi.tiangolo.com/advanced/extending-openapi/ ? We could probably support something like that with the default being the CDN.

[2021-08-21 00:43] ulgens commented on #1160
I'm a bit lost there. There are multiple frontend developers that need access to GQL API docs, but they don't have an internet connection. They don't want to install additional tools, so I assume they didn't install the backend application on their machines. Then how do they access the API in the first place? Are we talking about some isolated office network or sth?

[2021-08-21 14:33] lecuivre-alban commented on #1160
@ulgens  Yes.

They access the API by running the server on their local machine. So yes they need some backend tools to setup everything but once installed they don't really need to use those. But this workflow is bound to change as it is not ideal.

I found that the main issue is not really about installing additional tools but rather using additional tools. I think that keeping things simple, to

[2021-08-22 15:12] #1108 closed

[2021-08-22 22:22] #1115 closed

[2021-08-23 08:48] calpaterson opened #1164 "`strawberry.ID` as as newtype, or not"
Strawberry currently uses a newtype for `ID` (from `str`).

I'm not very familiar with graphql but I can see the reasoning behind this choice: [`IDs` are supposed to be opaque values](http://spec.graphql.org/June2018/#sec-ID) that you don't look inside of, but which are serialised as strings.

The drawback of a newtype is that it causes a lot of manual casting when using Strawberry if you have typ

[2021-08-23 10:09] patrick91 commented on #1164
Thanks for open this @calpaterson :) I'm not sure how we can do this, I've done some reproductions here, to make the issue a bit clearer:

https://mypy-play.net/?mypy=latest&python=3.10&gist=3998a16ec5116f267ffd6346e13ec501

I also noticed that we only allow strings when using `ID(something)`, while I think we should also allow integers :)

Treating NewTypes as aliases has been discussed here: htt

[2021-08-23 10:55] patrick91 opened #1166 "Make sure benchmarks are running and we can detected regressions"
See discussion here: https://github.com/strawberry-graphql/strawberry/pull/1165#issuecomment-903656315

[2021-08-23 12:20] #1106 closed

[2021-08-26 04:08] paul-sud opened #1172 "Cannot use strawberry.Private with Pydantic types"
Hello,

I am getting an error trying to using `strawberry.Private` fields with types created from Pydantic. If I specify a private field on the class it isn't added to the dataclass definition. Non-private fields work fine. This code below fails with `TypeError: __init__() got an unexpected keyword argument 'baz'`:

[code]

I think the issue occurs when [obtaining the fields from the wrapped datac

[2021-08-26 19:36] Vichoko opened #1177 "LazyType on resolver type-hint collides with return type"
## Description

While using LazyTypes on function-based resolvers, the IDE code inspector goes crazy with the return type and type-hint mismatch.

## Context

I've been trying to define an extensible and modular project file structure. After some iterations, I came up with the following:
* schema.py
* types.py
* resolvers.py

This structure became pretty comfortable as query and type contain very

[2021-08-26 20:20] peniqliotuv opened #1178 "Custom directives don't work with extensions"
I have a directive like:
[code]
and a schema like this
[code]
and when I make a query like such in GraphiQL
[code]
the value printed in the console is `<coroutine object ApolloTracingExtension.resolve at 0x115095bc0>`
However, the value is correctly printed if I remove the extension.

[2021-08-27 08:08] #1178 closed, assigned to nobody

[2021-08-27 08:12] patrick91 opened #1180 "Refactor directives and introduce schema directives"
We should:

- [ ] introduce a new DirectivesExtensions (enabled by default) that will replace the DirectivesMiddleware(s)
- [ ] rename DirectiveDefinition to StrawberryDirective
- [ ] introduce a new schema directive (directives that are printed in the schema)
- [ ] replace the federation directives internal logic with the new schema directives.
- [ ] add support for list arguments in directives

[2021-08-28 15:55] karolzlot commented on #830
It would be great if strawberry would be able to reuse FastAPI's `Depends(deps.get_current_active_user)` and `Depends(deps.get_current_active_superuser)` as demonstrated in these links:

https://github.com/tiangolo/full-stack-fastapi-postgresql/blob/master/%7B%7Bcookiecutter.project_slug%7D%7D/backend/app/app/api/api_v1/endpoints/items.py

https://github.com/tiangolo/full-stack-fastapi-postgresql/

[2021-08-29 13:11] jkimbo opened #1185 "Create integrate with SQLModel"
SQLModel is a new library that allows you define DB models in SQlAlchemy with Pydantic like data structures. It should be quite easy to do since it looks like the current Pydantic integration might just work with SQLModel: https://github.com/strawberry-graphql/strawberry/discussions/1183#discussioncomment-1249751

### Discussed in https://github.com/strawberry-graphql/strawberry/discussions/1183

[2021-08-29 13:18] jkimbo commented on #830
@karolzlot I personally like the dependency injection API that FastAPI has and I'd like to see something similar implemented in Strawberry. It's unlikely that we would be able to use FastAPI dependencies directly though because it's quite paradigm. For example in the `get_current_active_user` dependency that you linked it raises an HTTP error if there isn't a current user which is not something we

[2021-08-29 22:21] BryceBeagle commented on #1177
It might be the case that the [PyCharm plugin](https://github.com/strawberry-graphql/strawberry-pycharm-plugin) needs to be updated to support `LazyType` return annotations

[2021-08-30 01:54] BryceBeagle commented on #1158
Hmm, that specific change breaks `LazyType` in cyclical import scenarios (try running the `test_cyclic_import` test with that patch applied). I'll look into a further situation.

[2021-08-30 09:11] patrick91 opened #1186 "Implement our own "dataclass" logic"
I think we discussed a few times to remove dataclasses and implement our own solution, this is mostly because:

1. Extending an existing type that has default doesn't work -> https://stackoverflow.com/questions/51575931/class-inheritance-in-python-3-7-dataclasses
2. Dataclasses internals are complicating our code (we have a couple of hacks due do that)
3. Slots are not supported (might be useful f

[2021-08-30 09:23] jkimbo commented on #1186
Would vendoring dataclasses break any editor integration?

[2021-08-30 10:56] patrick91 commented on #1186
don’t think so :) for mypy we vendorize the dataclasses plugin already (with our changes)
for pyright we are implementing the proposed dataclass transform decorator (which only tells pyright we follow dataclass’ semantics)

for pycharm i’m not sure 🤔

[2021-08-30 18:11] paul-sud commented on #1172
This is now fixed in [0.73.9](https://github.com/strawberry-graphql/strawberry/releases/tag/0.73.9)

[2021-08-30 18:11] #1172 closed

[2021-08-30 18:26] patrick91 commented on #829
@jerber thanks! will close this issue now :)

[2021-08-30 18:26] #829 closed

[2021-08-30 18:30] patrick91 opened #1192 "Update Pydantic integration to match Django's integration"
@la4de proposed a great way of integrating strawberry with Django:

[code]

This is better than what we have with Pydantic as you might get a better autocomplete, better type definition (if we add mypy support for it) and it makes it easier to override fields (even when you only want to override the name or description, as you can use `auto as the type`).

We should do the same thing[1] for Pydant

[2021-08-31 14:40] edouardruiz opened #1193 "Return union of Django objects"
Hi,

Return an union of Django models isn't supported at the moment (`strawberry-graphql==0.74.1` and `strawberry-graphql-django==0.2.5`).

This example will fail:

[code]
[code]

with this error:

[code]

One workaround is to set `_type_definition` on the retuned type like this:

[code]

It would be great if we could return the Django objects directly.

[2021-08-31 14:44] patrick91 commented on #1193
Thanks @edouardruiz! Just wanted to add that this is issue is not just for Django but also for any other integration.

At the moment when using unions you need to return a Strawberry Type. We should allow to return any type, by either allowing to pass a function to unions that finds the correct type or by finding the right type automatically (not sure I like this option though)

[2021-08-31 22:19] ThirVondukr opened #1195 "TypeVar locking in types inherited from generics"
Currently it's impossible to inherit from generic types and lock/fix their type variables
According to python docs it should be possible to do so:
[code]

I created a repository with a reproducable example:
https://github.com/ThirVondukr/strawberry-generics-issue
[code]
Expected behavior: `specificEdge` on schema having `{node: String!, cursor: String!}` type,
currently error occurs.

[2021-08-31 22:32] BryceBeagle commented on #1195
Similar test: https://github.com/strawberry-graphql/strawberry/blob/86eba966b112c43e6e05e1cc3c030741648b75bc/tests/schema/test_generics.py#L708-L745

However, no field on `Node` uses the generic. Note that the `_resolve` is not marked with `@strawberry.field`. Perhaps this test has a bug

[2021-09-01 06:55] jkimbo commented on #1193
It feels like it should be possible to solve this in strawberry-Django. @la4de is there a way to find the strawberry type from a Django model?

[2021-09-01 07:48] patrick91 commented on #1193
@jkimbo are you suggesting that create a `resolve_type` for unions in strawberry django?

[2021-09-01 08:33] jkimbo commented on #1193
@patrick91 no, I was thinking that you could implement some logic in the strawberry-django resolver to look up the right StrawberryType from the Django instance. Something like this:

[code]

What do you think?

[2021-09-01 08:35] patrick91 commented on #1193
@jkimbo that sounds a like a good plan, we would still need to do a generic solution in future I think (for when you return dicts or other instances) :)

[2021-09-01 10:18] #1028 closed

[2021-09-01 11:11] jkimbo commented on #1061
@Apakottur you should now be able to override the built in scalar implementations in [v0.75.0](https://github.com/strawberry-graphql/strawberry/releases/tag/0.75.0)

Let me know if you have any issues with it.

[2021-09-01 11:11] #1061 closed

[2021-09-01 15:36] cbergmiller opened #1197 "Selected fields are not available in Info for Fragments"
The following test shows that the selected fields for the Fragment `frag` are not available in `Info.selected_fields`:
[code]

`selected_fields` is `[SelectedField(name='hello', directives={}, alias=None, arguments={}, selections=[FragmentSpread(name='frag', directives={})])]`
Is this the intended behaviour? I am in the process of rewriting [graphene-django-optimizer](https://github.com/tfoxy/grap

[2021-09-01 17:50] Skeen commented on #769
This is also an issue with self-referential types, where this works:
[code]
With query:
[code]
But this does not:
[code]
With query:
[code]
The latter fails with:
[code]

[2021-09-02 15:45] edouardruiz opened #1201 "Mypy plugin crashes when converting Django choices to strawberry enums"
Hi,

I'm passing a Django `TextChoices` to `strawberry.enum` to convert my models enums to GraphQL but it makes mypy plugin crash... Using a regular `enum.Enum` works fine (no crash).

This is the traceback:

[code]

As discussed I tried to debug without success and the GitHub version of mypy doesn't help.

[2021-09-02 18:13] coady opened #1204 "Regression using custom scalars with schema scoping."
v0.75 changed the scope of custom scalars from global to schema specific, but it's caused a subtle regression. Using the given example:
[code]
the user could always `EpochDateTime` as an annotation, but the point of the example was to override `datetime` behavior - still using `datetime` as the annotation.

The problem now is using builtins _only_ works for overrides. I think it was implied that u

[2021-09-02 18:32] jkimbo commented on #1204
Thanks for the bug report @coady . I would expect both cases to work, is that what you're expecting?

[2021-09-02 19:06] jkimbo commented on #1204
@coady I can't seem to reproduce part of your example. This fails for me:

[code]

[2021-09-02 19:10] jkimbo commented on #1204
Ok nvm, I think I see the issue. I'll try and come up with a fix tomorrow.

[2021-09-03 12:05] #1201 closed

[2021-09-05 07:48] MAM-SYS commented on #1065
Hello friends @BryceBeagle @jkimbo
I wrote some lines of code for this issue
Is it ok to send them to you to take a look at them?

[2021-09-05 12:14] jkimbo commented on #1204
@coady #1212 should fix this issue.

[2021-09-05 12:22] jkimbo commented on #1197
@cbergmiller I've created a PR to fix this: #1213

[2021-09-06 05:45] cbergmiller commented on #1197
@jkimbo i ran the test and inspected `Info.selected_fields` - looks great, thanks!

[2021-09-06 10:34] Apakottur opened #1214 "Gracefully handling invalid JSON input from a client"
## How to reproduce
Given the file `app.py` with the following code (from the main README):

[code]

Run the server with
[code]

And then run the following command:
[code]

This will result in the JSON decode error: `json.decoder.JSONDecodeError: Expecting value: line 1 column 1 (char 0)`  (which neither Starlette nor Strawberry gracefully handle).

When running a full setup (with Uvicorn, for exa

[2021-09-06 10:52] patrick91 commented on #1214
We should probably return an error 400 😊

[2021-09-06 11:44] jkimbo commented on #1214
Btw there is now a draft GraphQL over HTTP spec: https://github.com/graphql/graphql-over-http/blob/main/spec/GraphQLOverHTTP.md

We should follow that (and it says that the server should return 400 for a malformed input)

[2021-09-06 11:49] jkimbo commented on #1065
@MAM-SYS that would be great!

[2021-09-06 17:36] lijok opened #1216 "context on Subscription Info object does not support dot notation"
for mutations/queries you can access request object like so
[code]

subscriptions are inconsistent as you need to access the request old style
[code]

[2021-09-06 23:12] DoctorJohn commented on #726
This issue has been resolved via #1215

[2021-09-06 23:12] #726 closed

[2021-09-07 02:13] DoctorJohn opened #1217 "Add support for the graphql-transport-ws GraphQL over WebSocket Protocol"
Currently our ASGI and AIOHTTP integrations only support [the "legacy" `graphql-ws` websocket subprotocol](https://github.com/apollographql/subscriptions-transport-ws/blob/master/PROTOCOL.md). Its repository states:

Just for clarification: the legacy `graphql-ws` websocket subprotocols library is called "subscriptions-transport-ws", while the newer `graphql-transport-ws`websocket subprotocols lib

[2021-09-07 08:23] zerocewl opened #1218 "Fix typo in schema-configurations docs import statement"
fix a typo in the docs of schema-configurations

the import of `StrawberryConfig` is missing a `b`

change from `from strawberry.schema.config import StrawerryConfig`

to `from strawberry.schema.config import StrawberryConfig`

see docs in https://strawberry.rocks/docs/types/schema-configurations

[2021-09-07 08:31] michal-cech opened #1220 "Custom scalar parse_value does not appear to be called"
Hi,
it is possible that I am missing something but custom scalars are not behaving in the way I would expect them to. Let's look at the example from the documentation:

[code]

Normally, I would expect that I should be able to deserialize the serialized value. This means that I would expect something like this:
[code]
instead of this:
[code]
I think that this functionality should be provided by `p

[2021-09-07 09:08] michal-cech commented on #1220
Nevermind, I see my error now!

[2021-09-07 09:08] #1220 closed

[2021-09-07 13:25] N-Maas opened #1221 "Allow to configure exception catching for schema execution"
Currently, any exception that is raised in a resolver is catched and converted to a `GraphQLError`, which is returned in the errors part of the result (see `strawberry/schema/execute.py`).

However, this is not always desirable. For example, the error message might contain sensitive information about the server that should not be accessible to a client. Instead, the server should return a 500 HTTP

[2021-09-09 05:04] Tushant commented on #1058
Is it not possible to use List type inside union? I mean the following one

[code]
This throws similar issue of AttributeError.

This works though

[code]

Sorry, didn't want to create a separate issue so I am commenting here as it is related to Union type. It might be my lack of knowledge on it.

[2021-09-09 16:02] jkimbo opened #1224 "Add instructions on how to setup the mypy plugin"
Should be part of the install process and maybe part of each of the integration guides as well.

[2021-09-09 22:19] nemmiz opened #1227 "Running the FastAPI integration example yields lots of WebSocket connection failures in the log"
By running the small example for integrating with FastAPI and visiting the GraphiQL page, I see lots of 403 Forbidden issues from WebSocket in the log. The example still works as expected, but getting the lots of failures in the log is confusing. Changing `app.add_route` to `app.mount` seems to fix the issue.

Example of how the log looks:
[code]

The example code:
[code]

Steps to reproduce:
* St

[2021-09-10 09:26] #1218 closed

[2021-09-10 15:43] Matt343 opened #1228 "Pydantic conversion fails for Optional[List[x]]"
If you have a field that's an Optional[List[x]], conversion from Pydantic fails when that field is None. This seems like it should be valid, but the code doesn't check for None before iterating over the data object.

[2021-09-10 18:37] patrick91 commented on #1228
This was fixed in #1229 :D

[2021-09-10 18:37] #1228 closed

[2021-09-10 19:16] Matt343 opened #1230 "Pydantic conversion fails for Union types"
If you include a field in a Pydantic object with a `Union[A, B]` type, where A and B are Pydantic objects, then conversion fails with `AttributeError: 'StrawberryUnion' object has no attribute '_type_definition'`. We need to handle the branches of the union separately to get the right behavior here.

[code]

[2021-09-10 19:55] Matt343 opened #1232 "The export-schema command fails when trying to import local modules"

[2021-09-11 01:17] rabbittsoup opened #1234 "Mutable input field required even with default_factory defined"
[code]
[code]
The expectation would be that Parameters.things has a default, an empty list, and providing the argument would be optional.  But an error occurs because Parameters.things is not recognized as having a default and would be optional.

Changing the annotation of Parameters.things to Optional[List[str]] is not correct, either, as this allows you to pass null in as the value, which is not

[2021-09-11 08:22] #1232 closed

[2021-09-11 08:25] patrick91 commented on #1234
@rabbittsoup thanks for the report! I'll try to have a look at it in the next couple of days :)

[2021-09-11 08:36] #1230 closed

[2021-09-11 19:52] BryceBeagle commented on #1158
@moshir, this should be fixed in #1235. Can you make sure that it fixes your issues?

[2021-09-11 20:21] jkimbo commented on #1221
@N-Maas I there are 2 issues that you have outlined here and they are slightly different:

### 1. Error messages might contain sensitive information about the server

This is true and we'd like to make it easier to hide error messages using extensions (see https://github.com/strawberry-graphql/strawberry/issues/1155). Until then here is a custom extension that only allows certain errors to be incl

[2021-09-12 19:13] ZeroIntensity opened #1236 "Interfaces should not work with input types"
based on this [stackoverflow question](https://stackoverflow.com/questions/41921137/can-a-graphql-input-type-inherit-from-another-type-or-interface), graphql doesn't support interfaces with input types, and yet strawberry allows this:

[code]

[2021-09-12 20:33] scratchmex commented on #1236
I think this could be implemented when #489 is done

[2021-09-12 23:08] BryceBeagle commented on #1236
Changes might be similar to https://github.com/strawberry-graphql/strawberry/pull/1222, but for input types instead of arguments

[2021-09-13 00:05] scratchmex commented on #849
So far the structure seems very nice. I only have one question, why is the core module inside types? Should not be swapped? `strawberry.core.types`?

[2021-09-13 00:09] BryceBeagle commented on #849
IIRC, these were supposed to be the "core" types of strawberry. The other things in the `strawberry.types` directory aren't things that go on the schema and were to be just related to typing (e.g. `unset` and `private`). I don't remember why there's both a `strawberry.types.scalar` and a `strawberry.types.core.StrawberryScalar`, though. Maybe @patrick91 does?

[2021-09-13 02:03] BryceBeagle commented on #1195
Here's a more minimal reproduction of the issue:
[code]

Trying to find a fix now...

[2021-09-13 07:53] Speedy1991 commented on #1217
we use `graphql-transport-ws` in combination with starlette & django - works really nice. I'm not sure if supporting the old library/spec makes sense, because the backend code is so much different and there is not much in common.

I _think_ many downloads on the old library are coming from the very first tutorials with subscriptions (which ar quite popular).
A good subscription example with the ne

[2021-09-13 08:39] jkimbo commented on #1217
@Speedy1991 out of curiosity why are you using starlette instead of Django channels? I'm assuming you're just using starlette for subscriptions only?

[2021-09-13 14:26] #1197 closed

[2021-09-13 15:48] Matt343 opened #1238 "Enum values don't convert correctly from Pydantic models"
Calling `from_pydantic` on a class with an enum field returns `AttributeError: 'EnumDefinition' object has no attribute '_type_definition'`

[2021-09-13 15:49] Matt343 opened #1239 "Interface values don't convert correctly from Pydantic models"
When calling `from_pydantic` on a class with an interface field, the field value is always converted into an instance of the base class, no matter what its starting type is. The expected behavior should probably be to convert to the corresponding subtype class instead. See here for an example: https://gist.github.com/Matt343/fbce0cdffe1523bb22016bed6f65473f

[2021-09-13 23:15] paul-sud opened #1244 "Interfaces don't work for Pydantic types"
If you try to use interfaces with types converted from Pydantic:

[code]

you get the following error:

[code]

This example is adapted from https://github.com/strawberry-graphql/strawberry/blob/5dbbb04c8542526387d353fb871307ce61bd6546/tests/schema/test_interface.py#L9

I believe the issue is that the bases of `Italian` and `Swiss`, in this case `Cheese`, are not propagated to the dataclass during

[2021-09-14 00:02] paul-sud commented on #1244
PR: https://github.com/strawberry-graphql/strawberry/pull/1245

[2021-09-14 00:55] paul-sud commented on #1244
This issue is being handled in https://github.com/strawberry-graphql/strawberry/pull/1241

[2021-09-14 10:39] g-as opened #1248 "Undefined variable issue in 0.77.6"
With the latest release of #1213, this [line](https://github.com/strawberry-graphql/strawberry/blob/main/strawberry/types/nodes.py#L40) raises a KeyError when a variable is used in a query, but not defined in the payload under the key `variables`.

This used to work, and, I guess, is ok when the variable/argument is optional.

I do not know what the specs are, meaning if variable definition should

[2021-09-14 10:42] patrick91 commented on #1248
@jkimbo do you know what the spec says?

I think I've seen other frameworks fail in this case, but I might be wrong

[2021-09-14 10:45] jkimbo commented on #1248
Hmm I'm not sure. I would have assumed validation would have failed if you were not passing a variable that was defined in the query but I could be wrong. Will check.

[2021-09-14 11:29] jkimbo commented on #1248
Can't find anything explicit about it in the spec but @g-as makes a good point that if variable/arguments are optional then you shouldn't have to pass them in the variable payload. So I'll make the change to `.get(name)`

[2021-09-14 11:51] #1104 closed

[2021-09-14 11:51] #1158 closed

[2021-09-14 12:11] #1248 closed

[2021-09-14 12:11] jkimbo commented on #1248
@g-as should be fixed in the latest version. Thanks for reporting the bug!

[2021-09-14 12:26] g-as commented on #1248
Cheers.

[2021-09-15 13:33] navyamehta opened #1252 "AttributeError: 'str' object has no attribute 'isoformat' for Pydantic Models"
I'm using a strawberry model defined from an underlying Pydantic model that has a date field. However, when I try to initialize the model with a `string` for the date (say "2020-09-17") instead of a datetime object, it errors out with `AttributeError: 'str' object has no attribute 'isoformat'`.

[2021-09-15 13:57] scratchmex opened #1253 "Should we have a base class exception? `StrawberryException`"
As the title says, should we have a base class exception to inherit from? Instead of inheriting from `Exception`. This facilitates catching strawberry-only exceptions.

[code]

## Upvote & Fund

- We're using [Polar.sh](https://polar.sh/strawberry-graphql) so you can upvote and help fund this issue.
- We receive the funding once the issue is completed & confirmed by you.
- Thank you in advance for

[2021-09-15 14:31] jkimbo commented on #1253
I think this is a great idea! Can you create a PR @scratchmex ?

[2021-09-16 09:32] patrick91 commented on #1252
@navyamehta do you have a small reproduction case? :)

[2021-09-16 09:33] #1238 closed

[2021-09-16 09:33] #1239 closed

[2021-09-16 11:32] DoctorJohn commented on #1227
Thanks for the detailed report @nemmiz and your patience waiting for a response :)

The issue can be resolved by changing `app.add_websocket_route("/subscriptions", graphql_app)` to `app.add_websocket_route("/graphql", graphql_app)`.

The underlying problem here is that graphiql expects one endpoint that handles all requests (both http and websockets). I'm not sure why we decided to have a separat

[2021-09-16 13:06] basvandriel commented on #36
Even though it's closed; [find the merged PR here](https://github.com/strawberry-graphql/strawberry/pull/798)

[2021-09-16 15:29] paul-sud commented on #1244
Fixed in 0.77.9, closing: https://github.com/strawberry-graphql/strawberry/releases/tag/0.77.9

[2021-09-16 15:29] #1244 closed

[2021-09-16 21:43] navyamehta commented on #1252
A basic example is this:
[code]
And the query can be:
[code]
When interacting with this via Postman, my query errors out with `AttributeError: 'str' object has no attribute 'isoformat'`, presumably since Strawberry tries to format dates before returning to client. Hope this makes sense!

[2021-09-16 22:23] patrick91 commented on #1252
This is expected, you need to pass a datetime instance, for example:

[code]

[2021-09-17 01:08] navyamehta commented on #1252
Oh I was under the impression therr was auto type casting when such casts were feasible. Thanks for the clarification!

[2021-09-17 12:52] N-Maas commented on #1221
@jkimbo Thank you, that should probably work for us!

I was not aware of the error handling definition in the GraphQL spec, in this case it is of course better to adhere to the spec.

[2021-09-17 13:34] jkimbo opened #1258 "Standardise context creation and access"
At the moment the Django and Sanic integrations return a custom dataclass from the default implementation of `get_context`. This allows gives a nicer developer experience because you can access properties via dict or attribute notation. However if you override the `get_context` method to customise the context and return a dictionary (which is what the docs recommend) it can break assumptions made

[2021-09-17 14:07] jkimbo opened #1259 "Errors in subscriptions don't get logged"
At the moment if an error is raised in a subscription it doesn't go through the `process_error` function on the schema and so doesn't get logged. The `process_error` function should be called whenever there is an error in subscriptions.

[2021-09-17 22:07] BryceBeagle commented on #1253
I petitioned for this with @patrick91 a while back, but he was opposed to it. @patrick91, do you remember why?

[2021-09-17 23:47] BryceBeagle commented on #1258
I think this is a great idea.

Can you elaborate on what makes typing this complicated?

[2021-09-18 07:07] jkimbo commented on #1258
So if we take the example I posted you might want to type your context object like this:

[code]

If you have that it's unclear how we could tell Mypy that this is ok:

[code]

[2021-09-18 12:26] jkimbo commented on #1155
So I'm not sure that adding a `process_errors` hook is necessary because you can just do it in the `on_request_end` hook we currently have. That also gives you an easy way to modify or hide errors that you don't want to show end users. I created a `MaskErrors` extension that does exactly that in issue #1221 and it's pretty straightforward: https://github.com/strawberry-graphql/strawberry/issues/12

[2021-09-19 20:33] BryceBeagle commented on #1058
This issue seems related to #1104 and #1158

[2021-09-21 14:35] SergeyKapshuchenko opened #1267 "None as default value"
[code]

Error: graphql.error.graphql_error.GraphQLError: String cannot represent value: `<class NULLABLE>`

if it has no default value, I need a placeholder value to signify this. I can't use None, because then I can't distinguish between no default value and default value is None.

somebody know solution to this ?

[2021-09-21 14:49] SergeyKapshuchenko commented on #1267
Examples:

[code]
First case:
[code]
Second case:
[code]

[2021-09-21 15:41] chadhamre opened #1268 "Update graphiql version"
Update GraphiQL page to use newer graphiQL, specifically version:

- https://unpkg.com/graphiql@1.4.2
- https://unpkg.com/graphiql@1.4.2

From current version:

- https://unpkg.com/graphiql-with-extensions@0.14.3/

Old Build:
![Screen Shot 2021-09-21 at 9 39 52 AM](https://user-images.githubusercontent.com/1864797/134202333-9b467492-86ee-4015-bcd8-081cbca449c3.png)

New Build (includes Merge and R

[2021-09-21 19:25] jkimbo commented on #1268
Does [GraphiQL explorer](https://github.com/OneGraph/graphiql-explorer) work with the new version?

[2021-09-21 19:27] jkimbo commented on #1155
Actually there is a 4th option which is to just run the `process_errors` function before the end of the `on_request` extension hook. It's not the nicest solution code wise but its the least disruptive one. Probably should just do that.

[2021-09-22 16:39] basvandriel opened #1270 "Why isn't there the GraphQL playground instead of GraphiQL?"

[2021-09-22 17:11] marcoacierno commented on #1270
Hello @basvandriel!

GraphQL Playground is being deprecated (https://github.com/graphql/graphql-playground/issues/1143) and GraphiQL will soon have all the features of GraphQL Playground and even more.

If you want to still use GraphQL Playground you can override the GraphQL view and use a custom template.

[2021-09-22 18:36] ossareh opened #1272 "OpenTelemetry Extension Should Create Spans for Parsing and Validation"
While looking into performance related characteristics of my stack @jkimbo has pointed out that the current OpenTelemetry extension should create spans for other time intensive steps such as:

* parsing
* validation

Context is on discord: https://discord.com/channels/689806334337482765/890275147955703831/890304451338989670

I'm happy to do this work since I've a setup which allows me to verify it

[2021-09-22 21:54] DoctorJohn commented on #1267
Hello @SergeyKapshuchenko, assuming I understood your problem correctly, using Strawberrys special `UNSET` value instead of your `NULLABLE` value should solve the problem:

[code]

[2021-09-22 22:02] DoctorJohn commented on #1252
Looks like this has been resolved 🎉 I'll close this issue now :)

[2021-09-22 22:02] #1252 closed

[2021-09-22 22:05] DoctorJohn commented on #1214
Apparently this has been fixen in #1260, so I'll close this issue now :)

[2021-09-22 22:05] #1214 closed

[2021-09-22 22:24] DoctorJohn commented on #1135
PyRight support has been added in #922 🎉, I'll close this issue for now. Feel free to reopen if needed :)

[2021-09-22 22:24] #1135 closed

[2021-09-23 23:35] ossareh opened #1275 "Opentelemetry spans should be nested"
While working on https://github.com/strawberry-graphql/strawberry/pull/1274 I noticed that when we dispatch the resolver we do not correctly nest the resolver span.

This can be seen here:

![image](https://user-images.githubusercontent.com/260015/134597079-bc15909d-58c6-472d-85cb-eafa6d511eb1.png)

`axis_home` should nest the calls below it. Like this:

![Screen Shot 2021-09-23 at 6 33 36 PM](htt

[2021-09-24 07:20] SergeyKapshuchenko commented on #1267
Hello @DoctorJohn, thank you for the answer. It's not working with datetime :(
Error: "<strawberry.arguments._Unset object at 0x1092cc130> cannot be converted to a datetime object."

[2021-09-24 09:20] #1267 closed

[2021-09-25 21:29] patrick91 commented on #144
Closing as we have this https://github.com/strawberry-graphql/strawberry-graphql-django :D

[2021-09-25 21:29] #144 closed

[2021-09-25 21:32] patrick91 commented on #363
closing this, if someone needs a way to convert graphene into strawberry they can check @jkimbo's project -> https://github.com/jkimbo/strawberry-graphene

[2021-09-25 21:32] #363 closed

[2021-09-25 21:38] patrick91 commented on #437
Closing this as it was done in #895

[2021-09-25 21:38] #437 closed

[2021-09-25 21:42] patrick91 commented on #449
Closing this as we have #489 that has better way of improving the internal structure :)

[2021-09-25 21:42] #449 closed

[2021-09-25 21:44] patrick91 commented on #540
I think we support this already :)

[2021-09-25 21:44] #540 closed

[2021-09-25 21:51] patrick91 commented on #676
This is supported now :)

https://strawberry.rocks/docs/types/resolvers#api

[2021-09-25 21:51] #676 closed

[2021-09-25 21:53] patrick91 commented on #709
This should be done :)

https://strawberry.rocks/docs/types/resolvers#api

[2021-09-25 21:53] #709 closed

[2021-09-25 21:54] patrick91 commented on #738
I'll close this as it seems to be resolved :D

[2021-09-25 21:54] #738 closed

[2021-09-27 19:08] jkimbo commented on #1272
Closing this now since #1274 has been merged.

[2021-09-27 19:08] #1272 closed

[2021-09-27 21:27] cyril-moreau opened #1279 "How to create a custom authentication backend"
Hello,

Description :

I have integrated Strawberry with django.
I would like to integrate a third party identity server such as keycloak to authenticate my user  :
- user send a query with bearer token in the header
- Django auth backend send a request to keycloak to identify the user
- if user is valid info.context.request user get a user object
- user retrieves the data he expected from the que

[2021-09-28 02:19] Matt343 commented on #1192
I'm wondering if it would be possible to provide a shortcut for types where we just want to copy all of the fields without modification. Right now using the existing method I can sort of do this by passing `list(MyPydanticType.schema()["properties"].keys())` to the fields argument in the decorator, and that's removed quite a bit of boilerplate from my project where I have lots of models I just wan

[2021-09-28 09:50] patrick91 commented on #1192
yes, I think we can allow that 😊

[code]

something like this, or maybe more explicit `expose_all_fields=True` :)

[2021-09-28 10:04] jkimbo commented on #1192
Another option:

[code]

[2021-09-28 10:06] patrick91 commented on #1192
would that allow this:

[code]

?

[2021-09-28 10:39] jkimbo commented on #1192
Yeah, `fields` take either a list or a string.

[2021-09-28 10:53] patrick91 commented on #1192
This is what wee do already though 😊 not sure I like the idea how having two ways of declaring fields (auto vs fields list)

[2021-09-28 10:58] jkimbo commented on #1192
Oh I see what you mean, I was just thinking about the current API. For the new API `all_fields` is probably better.

[2021-09-29 08:56] #1275 closed

[2021-09-29 14:24] marcoacierno commented on #1279
Hello!

Have you tried debugging TPABackend when trying the GraphQL view? maybe adding a breakpoint it?

The authentication is handled by Django via middlewares (so even before the Strawberry view is loaded) and so using Strawberry shouldn't change anything.

You might also want to look up if the way you are calling the GraphQL endpoint is correct and fit he headers are there (open the network ins

[2021-09-30 12:38] #1217 closed

[2021-09-30 15:39] cyril36 commented on #1279
Hello,

I have read the documentation a second time :D
Django Auth Backend and DRF Auth Backend are not the same.
One is returning a User and the other a tuple (User, None)
and I was using the same Auth Backend implementation for both of them

Also I have found this oidc library that does what i need , so it is all good https://github.com/mozilla/mozilla-django-oidc/

Thank you for your answer.

[2021-09-30 16:42] Speedy1991 commented on #1217
@jkimbo sorry for the late reply:
I use Django3 async stuff with uvicorn and an starlette app
Subscriptions just works ootb with starlette, there is no more need for django channels with async support

[2021-09-30 16:44] jkimbo commented on #1217
Interesting thanks @Speedy1991 . So you're not using Django views at all?

[2021-09-30 16:55] Speedy1991 commented on #1217
well maybe this was missleading:
My stack looks simelar to this:
Uvicorn -> starlette -> Handle some routes directly with starlette (e.g. fast async views which don't need the whole django boilerplate middleware, orm stuff) and yes also delivering the websockets (handling `django.setup` myself and mount some websocket middlewares)

Everything not matching a route in starlette is forwarded into the

[2021-09-30 17:06] Speedy1991 commented on #1217
I should also mention with starlette you already get an working graphql [example + endpoint](
https://www.starlette.io/graphql/) with starlette

[2021-09-30 20:27] Kludex opened #1284 "[DOCS] Can we add Starlette on on Integrations section?"
Hi! :wave:

I'm part of [encode](https://github.com/encode), and we're going to remove the native GraphQL from Starlette, check [here](https://github.com/encode/starlette/pull/1198).

Currently, it's already deprecated, and [we recommend](https://www.starlette.io/graphql/) a set of packages that can be used to work with GraphQL, which strawberry is one of them. And... I'm planning on refactoring t

[2021-09-30 20:30] patrick91 commented on #1284
@Kludex why not! we have the [ASGI section](https://strawberry.rocks/docs/integrations/asgi) that is basically that (our ASGI integration is based on Starlette :D)

Do you think we should rename that or just create a new page and link to the asgi section for further information?

btw happy to review and merge the PR :)

[2021-09-30 20:47] Kludex commented on #1284
Hmmm... I'm not sure. What I had in mind is to see the integration explicitly.

Maybe importing `Starlette` here and changing some wording?

![image](https://user-images.githubusercontent.com/7353520/135527402-bf987efc-50cd-4f5c-b9c1-3fd5772c6661.png)

Like "Once that's done, you can use Strawberry with ASGI, see the example with [`Starlette`](https://www.starlette.io/):"

Or just a page... :sweat

[2021-09-30 21:03] patrick91 commented on #1284
let’s go with a page, we can figure later what to do with the ASGI page 😊

[2021-10-01 10:55] patrick91 opened #1285 "Investigate if we can/should allow returning dictionaries in `load_fn` for dataloaders"
Currently we allow to return list in load functions for dataloaders, as shown in our example:

[code]

we could allow returning dictionaries too:

[code]

[2021-10-01 11:57] codebyaryan commented on #1285
dictionaries help avoiding duplicates, so this might be worth investigating?

[2021-10-01 13:33] jkimbo commented on #1285
From discord:

https://discord.com/channels/689806334337482765/750088532479180840/893486642499846224

[2021-10-01 19:29] memark commented on #175
Any progress on this?

[2021-10-01 22:43] #1284 closed

[2021-10-02 13:22] #1227 closed

[2021-10-02 13:55] jkimbo commented on #1217
Thats a really interesting setup, thanks @Speedy1991

[2021-10-03 05:14] akhilputhiry commented on #175
waiting for this to implement in my project

[2021-10-03 08:53] Shashwat-05 commented on #1224
Can I be assigned with this? I'm interested.

[2021-10-03 09:14] patrick91 commented on #1224
@Shashwat-05 done :)

[2021-10-03 09:29] Shashwat-05 commented on #1224
thanks. I'll start working now.

[2021-10-03 13:45] Shashwat-05 commented on #1224
@patrick91 This is my very first document contribution so can you please tell me shall I create a separate mypy-setup guide inside /docs/guides/ or directly append it into the README.md as it has a section for type-checking (the setup guide is around 20 lines).

[2021-10-03 13:46] patrick91 commented on #1224
I'd say maybe we can make a new section under "Editor integration", like we did for vs code and pylance -> https://github.com/strawberry-graphql/strawberry/blob/main/docs/editors/vscode.md

[2021-10-03 13:50] Shashwat-05 commented on #1224
ok Cap.

[2021-10-03 17:01] estyxx commented on #681
*Think the code change a bit meanwhile, here there is now the reference:
https://github.com/strawberry-graphql/strawberry/blob/50684a7ca74af876441438351daf6de5ca22a394/strawberry/enum.py#L40-L41

[2021-10-04 07:28] Shashwat-05 commented on #1224
@patrick91 what should I do now, It's waiting for a Review on PR!! It's my first experience...

[2021-10-04 07:29] patrick91 commented on #1224
Nice 👏 I'll do a review later today 😊

thank you!

[2021-10-04 10:48] patrick91 opened #1294 "Update documentation code snippets to run as is"
As suggested by @Kludex we should be allow to copy a snippet of code from our documentation and run it as is, without code changes. Pydantic does this in their docs :)

I think this might be a good first issue, if you want to work on this feel free to choose any code snippet and send a PR for it, no need to convert all of them at once 😊

[2021-10-04 10:50] patrick91 opened #1295 "Add action to test code snippets in documentation"
[As suggested here](https://github.com/strawberry-graphql/strawberry/issues/1294) we should allow to have code blocks that can run as is, to make it easier to check them we should have github action that runs them.

Not sure if we should check the output of the snippets, I think for now we can just check if they run as python scripts :)

[2021-10-04 11:03] patrick91 commented on #1295
This **might** be a tool we could use https://github.com/anko/txm

[2021-10-04 11:08] sighclone commented on #1294
Hi! I'd like to do this

[2021-10-04 11:12] patrick91 commented on #1294
@sighclone sure, feel free to send a PR :)

[2021-10-04 11:22] sighclone commented on #1294
@patrick91 Raised PR #1296 🙌

[2021-10-04 13:27] sighclone commented on #1294
@patrick91 could you please add the hacktoberfest-accepted label since this has been resolved in PR #1296 😁

[2021-10-04 14:36] estyxx opened #1298 "Create Exceptions page in the docs that shows all the errors strawberry can throw"

[2021-10-04 16:37] rounit08 commented on #1294
@patrick91 Can I do this?

[2021-10-04 16:38] patrick91 commented on #1294
sure, send a PR :)

[2021-10-04 21:43] marcoacierno commented on #681
I think we can close this? :)

[2021-10-04 21:43] #681 closed

[2021-10-04 21:45] marcoacierno commented on #1270
Closing this issue, please let me know if my answer above isn't clear enough and feel free to join our Discord if you need more!

Thanks!

[2021-10-04 21:45] #1270 closed

[2021-10-05 08:37] patrick91 commented on #175
@memark not yet, are you interested in a Relay pagination or basic pagination?

[2021-10-05 08:48] memark commented on #175
@patrick91 Basic pagination would be just fine!

[2021-10-05 08:51] patrick91 commented on #175
@memark cool! maybe I can write a guide, it shouldn't be too difficult to roll your own since we have support for generics. Would that help?

I wouldn't commit to an API design for basic pagination just yet 😊

[2021-10-05 09:24] memark commented on #175
@patrick91 Yes, that would be very helpful!

[2021-10-05 13:43] jkimbo opened #1308 "Create extension to run pyinstrument"
We should create an extension that allows you to profile your request using https://github.com/joerick/pyinstrument

Should probably an argument that lets you specify the path for the profile report.

Example API:

[code]

[2021-10-06 10:37] codebyaryan opened #1310 "add schema to the info object/parameter"
we need to add the schema as an attribute (on the resolver info parameter).
Here's one use case I stumbled upon which needed this.

[code]
I was creating a Node interface type, when I needed to resolve the relevant schema type based on the global ID passed. From the resolver, the only way to do this was to get the type from schema.

I had also asked @patrick91 who confirmed we needed this, I'll ma

[2021-10-06 13:45] patrick91 opened #1312 "Add warnings when adding properties without any type hint"
The code below works fine but it might not be what the user expects, maybe abc was supposed to be a string on the type.

[code]

we should raise a warning when we see something like this (if possible).

The warning should mention to add the type and also that the user can use `strawberry.Private` if they want to have a property that's not exposed on the schema

[2021-10-06 15:10] jkimbo commented on #1308
@chinmaym07 that would be great!

So you can use one of the other extensions as a base to start with: https://github.com/strawberry-graphql/strawberry/blob/main/strawberry/extensions/add_validation_rules.py and make sure you take a look at the docs to see what hooks you can use: https://strawberry.rocks/docs/guides/custom-extensions#request (the request hooks are probably the ones to use here).

A

[2021-10-06 18:12] omarzouk opened #1314 "opentelemetry fails to register inputs that are not primitives"
When the input to a GQL Query is an object, telemetry fails to register the `graphql.param` attribute because this line doesn't account for the input being an object instead of a primitive. I suggest we consider applying a `json.dump` if `value` is seen to be a dict:

https://github.com/strawberry-graphql/strawberry/blob/main/strawberry/extensions/tracing/opentelemetry.py#L100

I get this error:
`

[2021-10-06 20:13] askalik commented on #1268
Could I give this one a try?

[2021-10-07 12:45] RedjinaldCray opened #1318 "Strawberry with Python3.10"
Hi, everybody

I decided to upgrade the python version from 3.9 to 3.10

I have an Errorcode with the following fields

[code]

I also have a more extended scheme

The question is what:

When launching the application:
`uvicorn services.main:app --host 0.0.0.0 --port 8000`

I get such an error (previously there was no error with python 3.9)
[code]

Is Strawberry compatible with Python 3.10 at the

[2021-10-07 13:03] #1318 closed, assigned to nobody

[2021-10-09 10:22] estyxx commented on #1268
I'm not sure whether the new version supports subscriptions or not... The [GraphiQL's examples](https://github.com/graphql/graphiql/blob/main/examples/graphiql-cdn/index.html) do not include subscriptions neither they are not mentioned in the [README.md](https://github.com/graphql/graphiql)...
Also looking at the reply [to this question in the GraphiQL Discord](https://discord.com/channels/6254006

[2021-10-09 18:10] RedjinaldCray commented on #1268
Sorry, is there any instruction on how to use these builds in your GraphiQL schema in the browser, so that there would be a headers section next to Query Variables.

I can't find anything on this topic at all

I have my customharhiss returnHTML Response

in GraphQL(BaseGraphQL)
[code]

Static file html for page GraphiQL
[code]

And he is dont work

Please, tell me how I can make a headers section

[2021-10-10 09:03] RedjinaldCray commented on #1318
@patrick91

I am facing such a problem that I cannot override the basic functions of BaseGraphQL

He does not see them and does not read them as an overload of functions

Could you tell me what the problem is?

There was no such thing in the previous version

Example:
[code]

This is the problem of the new version of strawberry
Python 3.10 problem
Or am I stupid?

[2021-10-10 14:23] ryou90 opened #1325 "Error when converting pydantic classes with nested subclasses to strawberry types"
Hi,
when the strawberry.experimental.pydantic.type decorator tries to convert a Pydantic class to a strawberry type, an error occurs if one of the attributes of the Pydantic class is a nested subclass that has not yet been converted.

[code]

[code]

**Error:**
strawberry.experimental.pydantic.exceptions.UnregisteredTypeException: Cannot find a Strawberry Type for <class 'api_gateway.model.pydanti

[2021-10-10 17:05] marcoacierno commented on #222
Thanks for this, we will keep it in mind once we start designing the website.

Strawberry (and GraphQL in general) is about APIs (think for example REST) and how to expose to the UI (e.g Frontends, or other BEs) information or allow users to do actions (e.g. create an account).
It is independent on how you store said data (you can use Postgres, Mongo, a json file, anything) and doesn't force you t

[2021-10-10 17:05] #222 closed

[2021-10-10 17:09] marcoacierno commented on #825
I am closing this since I can use `create_type` to have my queries/mutations in separate files and then merge them together

[2021-10-10 17:09] #825 closed

[2021-10-10 17:12] marcoacierno commented on #1017
We merged and released a fix for this.

Closing this, let us know if it still an issue with recent Strawberry versions.

[2021-10-10 17:12] #1017 closed

[2021-10-10 17:26] marcoacierno commented on #1279
No problem, and if you need more help, feel free to ask on our [Discord](https://strawberry.rocks/discord)!

Closing for now

[2021-10-10 17:26] #1279 closed

[2021-10-10 21:16] ryou90 commented on #1325
@jerber thx for the hint. I hadn't seen this issue.
Closing this in favor of #769

[2021-10-11 00:35] DoctorJohn commented on #1318
The ASGI app (`BaseGraphQL` in your code) has been refactored. The `execute` method has been moded into the ASGH HTTPHandler. You would fix your code doing something like this:

[code]

[2021-10-11 02:02] ajhynes7 opened #1326 "Add quotes around Pip extra installs in `README`/docs to support ZSH shells"
Hello, I wanted to try out this package but I can't install the extra dependency `debug-server`.

`pip install strawberry-graphql` is successful, but `pip install strawberry-graphql[debug-server]` is not.

[code]

**Environment**
- Python version: 3.10.0 (installed with pyenv)
- OS: Fedora 34
- Shell: zsh

[2021-10-11 11:07] patrick91 opened #1327 "`Annotated` is not supported"
The following snippets

[code]

Raises the following error when used in a schema:

[code]

We should add support for `Annotated`

[2021-10-11 11:27] #1192 closed

[2021-10-11 14:26] jkimbo commented on #1326
@ajhynes7 it's a zsh thing: https://zsh.sourceforge.io/Doc/Release/Expansion.html#Glob-Operators

[2021-10-11 18:05] sumitsharansatsangi opened #1329 "How to disable GraphQL Introspection in Strawberry-graphql?"
I have tried the following to achieve it, but didn't get success.

```graphql_app = GraphQL(schema, graphiql=False, debug=False)```

I am using Fastapi. Maybe in other framework syntax will be different.

It is related to the security concern and must be taken in high preference.
Thank you.

[2021-10-11 21:45] ossareh opened #1331 "Evaluate rich for use with our CLI"
As discussed here: https://github.com/strawberry-graphql/strawberry/pull/1321#discussion_r726507452

tldr:

- Emoji's do not work by default on Windows
- https://github.com/willmcgugan/rich provides a cross platform way of interacting with terminals
- Eval it, see if it helps with emoji on windows

## Upvote & Fund

- We're using [Polar.sh](https://polar.sh/strawberry-graphql) so you can upvote an

[2021-10-12 06:59] jkimbo commented on #1329
GraphQL-Core already has a no introspection validation rule: https://github.com/graphql-python/graphql-core/blob/v3.1.6/src/graphql/validation/rules/custom/no_schema_introspection.py

So using the [`AddValidationRule`](https://strawberry.rocks/docs/extensions/add-validation-rules) extension you can disable introspection like this:

[code]

I think we should probably package this up into a `Disable

[2021-10-12 14:35] jkimbo opened #1333 "[Internal] Move `convert_arguments` function into the schema convertor"
As discussed here https://github.com/strawberry-graphql/strawberry/pull/1212#discussion_r711809679 the `convert_arguments` function is quite dependant on the schema for options and the scalar registry. Because it's so coupled we should move it into the schema convertor class.

[2021-10-12 17:19] ossareh opened #1334 "Correctly set windows path during CI"
We disable the pyright related tests during CI on windows because globally installed npm tools (`pyright` in this case) are not discoverable via the configured path.

Details at: https://github.com/strawberry-graphql/strawberry/pull/1321#discussion_r727342683

## Upvote & Fund

- We're using [Polar.sh](https://polar.sh/strawberry-graphql) so you can upvote and help fund this issue.
- We receive th

[2021-10-12 22:17] #160 closed

[2021-10-13 16:12] g-as opened #1347 "`merge_type` `types` type hint"
https://github.com/strawberry-graphql/strawberry/blob/main/strawberry/tools/merge_types.py#L9

The current `Tuple[Type]` produces:
[code]

According to [mypy](https://mypy.readthedocs.io/en/stable/kinds_of_types.html#tuple-types), we should either change it to `Tuple[Type, ...]` or follow mypy's suggestion and go with a generic `Sequence`.

[2021-10-14 12:56] vemonet opened #1352 "Strawberry unconsistently handle async resolvers to MongoDB"
Hi, I implemented a small GraphQL endpoint with Strawberry on top of FastAPI, but Strawberry is returning inconsistent results with async systems.

I defined 3 methods:
* 1 non async to get a hard-coded example `user` object (as a placebo to show Strawberry works with the non async function in all cases)
* 2 async functions to retrieve data from MongoDB

Those 3 functions work well and return the

[2021-10-14 13:23] patrick91 commented on #1352
`Future <Future pending> attached to a different loop` this makes me think that some of the objects have been created in a different part of the code.

Where is this coming from?

[code]

When do instanciate db?

[2021-10-14 13:37] patrick91 commented on #1352
btw my guess is that db is created in the wrong place, I think it should created once per request (inside your view's get_context, see https://strawberry.rocks/docs/integrations/asgi#get_context)

you can use context by using the `info` param: https://strawberry.rocks/docs/types/resolvers#accessing-execution-information

but this is just a guess 😊

[2021-10-15 18:45] memark commented on #1227
@DoctorJohn I'm not using subscriptions at all. Does this mean I still have to add a subscriptions route for this error to disappear?

[2021-10-15 19:41] DoctorJohn commented on #1227
@memark I would consider it a bug if you get the warning without using subscriptions at all. That would mean that we do not configure the graphiql template correctly.

[2021-10-16 03:42] lovetoburnswhen opened #1357 "Support for FastAPI dependencies"
There doesn't seem to be a straightforward way to integrate FastAPI's dependency injection with the existing ASGI integration.

As far as I know, there's currently no way to do something like this (SQLAlchemy/SQLModel):

[code]

where the entire request is wrapped in a transaction that can be automatically rolled back/committed.

The ideal solution would be an ASGI/FastAPI app that makes it easier

[2021-10-16 09:14] jkimbo commented on #1326
Fixed in #1356

[2021-10-16 10:00] jkimbo commented on #1259
Fixed by #1316

[2021-10-16 10:00] #1259 closed

[2021-10-16 13:01] BryceBeagle commented on #1326
I'm not sure this is entirely resolved in #1356 because that just updated the README. We still have the docs to update

[2021-10-16 13:05] jkimbo opened #1358 "Changes to main should trigger a docs deployment"
So that the docs are always up to date. We can use the vercel GitHub  action for it: https://github.com/marketplace/actions/vercel-action

[2021-10-16 19:02] 2malh opened #1361 "Linting problems with VS Code & Pylance"
Using VS Code and Pylance for type linting I get this error when using arguements on the decorator

![grafik](https://user-images.githubusercontent.com/42282368/137599173-8c0c7107-fa5d-4206-8264-a82b489f6913.png)

Error:
[code]

No error:
[code]

[2021-10-16 19:09] holtergram opened #1362 "VS Code/Pylance: 'Expected no type arguments for class "Private"'"
Adding type argumetents to strawberry.Private fields throws the following error.

![grafik](https://user-images.githubusercontent.com/42282368/137599353-6b3dfc9a-254a-4e79-9929-b8b853e0cbe0.png)

Assigning a value to given fiield throws this:

![grafik](https://user-images.githubusercontent.com/42282368/137599471-6c2e94b6-cdb6-4ba6-a16c-0438b4c7986c.png)

[2021-10-17 01:26] leo6104 opened #1364 "`dacite` library doesn't compatible after 0.69.0 strawberry-graphql. (unhasable type 'StrawberryOptional' problem)"
I have a regression issue with StrawberryOptional (breaking changes in 0.69.0)
When I use dacite library to convert dict to strawberry.type class instance, it works in 0.67.x version.

[code]

`dacite.from_dict` method convert `dict(**attributes)` to `Tag(tag_id=~, ...)` automatically.
It makes ORM model instance <-> Strawberry type instance conversion easily.

After upgrade, it occur an error unh

[2021-10-17 07:44] #1347 closed, assigned to nobody

[2021-10-17 15:04] rockyburt opened #1365 "Installing Strawberry 0.84.1 pulls in unnecessary Fastapi and Starlette packages"
Updated `pyproject.yaml` of a personal project to use:

[code]
Subsequent `poetry update` on personal project pulls in fastapi and starlette (and their deps) which are unnecessary.

[code]

[2021-10-17 16:01] estyxx commented on #1149
I was looking at this a bit. I think I found the place where introduce the change but looking at [this question](https://stackoverflow.com/questions/55503673/how-do-i-check-if-a-value-matches-a-type-in-python) think can be complicated, especially for complex type annotation... as far I can see there isn't a built-in way to do it.

Did we already have an idea about how to check this? Or there are a

[2021-10-17 16:03] BryceBeagle commented on #1195
After investigation, we're going to defer solving this issue until we've implemented `StrawberryObject`. At that point we can make `StrawberryObject.__class_getitem__` directly return a new concrete `StrawberryObject` generic copy.

[2021-10-17 16:34] BryceBeagle commented on #1149
The good news is that this is a bit easier because we don't need to interact with raw Python types. You can make use of `StrawberryType.__eq__`. I think the types should exactly match, (i.e. `-> int` should not satisfy `-> float`), so `__eq__` should be enough.

[2021-10-17 16:46] #1365 closed, assigned to nobody

[2021-10-18 06:06] aryaniyaps opened #1368 "re-organize integration code"
Right now, we have a lot of integrations in our codebase, so I think it would be nice to re-organize and clean it up a bit!
I was thinking whether we should move all the integrations into a `strawberry/contrib` folder, so that users can import integrations from `strawberry/contrib/integration_name`.

Therefore, the current project structure would turn into:
[code]

If you're okay with this, I coul

[2021-10-18 15:39] memark commented on #1227
@DoctorJohn My bad. I was using the old ASGI integration, not the new FastAPI one.

[2021-10-18 22:56] patrick91 opened #1370 "Extensions don't receive our version of the `info` object"
Pretty much the title, when creating an extension:

[code]

`info` here is not actually `Info` it is still the GraphQL core version of `info`, we should fix this :)

[2021-10-19 10:20] jkimbo commented on #1358
Oh yep I misread the code. It does revaluate every 5 mins 😅

[2021-10-19 10:20] #1358 closed, assigned to nobody

[2021-10-19 10:23] jkimbo commented on #1258
Dataclasses would be good but how would you allow extra things to be added outside of the "get_context" call? For example adding things to context through extensions.

[2021-10-19 10:27] patrick91 commented on #1258
do you have any use case in mind? You can always add new property, but it might be that clean

[2021-10-19 10:48] patrick91 commented on #1258
uh, interesting, yeah, that might be better. Not sure how to type it then if you have multiple extensions providing context.

I guess this could be where `typing.Intersection` could be handy (doesn't exist yet) you could do this in resolvers:

[code]

[2021-10-19 17:09] #1361 closed

[2021-10-19 18:20] estyxx commented on #1149
That would be a nice strategy, but I was trying to put the check [here](https://github.com/strawberry-graphql/strawberry/blob/main/strawberry/object_type.py#L71) as the TODO suggest, something like: `if field_.type != field_.base_resolver.type:` but these two types are not StrawbarryType always, because [`StrawberryField.type`](https://github.com/strawberry-graphql/strawberry/blob/main/strawberry/

[2021-10-19 19:43] patrick91 commented on #1294
Sure, send a PR :)

[2021-10-23 09:57] patrick91 opened #1374 "Improve client directives and schema directives"
We should probably make multiple issues, but let's just have this one for now.

For client directives we should:

1. Add documentation
2. Add support for lists
3. Improve typing

For schema directives (after https://github.com/strawberry-graphql/strawberry/pull/815):

1. Improve printer
2. Print schema directive definition
3. Print schema directive arguments and inputs
4. Improve typings

We shoul

[2021-10-23 19:28] 2malh opened #1375 "Feature request: Django debug toolbar integration"
Hey Strawberrians,

it'd be great to have some kind of toolbar to inspect and benchmark queries and mutations like with the
[Django debug toolbar](https://github.com/jazzband/django-debug-toolbar). Unfortunately I cannot get it to work with GraphiQL.

Apparently there is a port for [Graphene](https://github.com/flavors/django-graphiql-debug-toolbar) available. Maybe this can be a starting point?

[2021-10-26 14:17] ChandanChainani opened #1378 "Add quotes around Pip extra installs in CHANGELOG"
Hello, I was checking the Changelog and wanted to try out some packages mentioned in the Changelog but I wan't able to install asgi mention in the Changelog.

`pip install strawberry-graphql` is successful, but `pip install strawberry[asgi]` is not.

[code]
Environment
- Python version: 3.8.10 (installed with venv)
- OS: Ubuntu 20
- Shell: zsh

[2021-10-27 06:13] basvandriel opened #1380 "Mocking for testing queries/mutations"
[from here](https://www.apollographql.com/docs/apollo-server/testing/mocking/)

[2021-10-27 07:13] jkimbo opened #1381 "Update errors doc with new way to disable validation"
The errors guide (https://strawberry.rocks/docs/guides/errors#graphql-validation-errors) still refers to the `validate_queries` parameter that was removed recently. It should be updated to recommend using the DisableValidation extension instead.

[2021-10-28 10:03] Speedy1991 opened #1383 "support batched queries"
It would be awesome if strawberry would support [batched queries](https://www.apollographql.com/docs/react/api/link/apollo-link-batch-http/)

I already spend some time into this and this is my very first working example
The error handling is garbage but I hope you get the idea:

[code]

[code]

[2021-10-28 13:08] karandashek opened #1384 "Is it possible disable websockets for strawberry.asgi?"
Hi!
I'm using starlette and based on documentation i get GraphQL class from strawberry.asgi (graphiql enabled). I don't use subscriptions (just only queries and mutations), but i see graphiql tries send ws requests. I checked code in strawberry repo and found ```template.replace("{{ SUBSCRIPTION_ENABLED }}", "true")``` in strawberry/strawberry/asgi/utils.py
Based on that code line it seems subscri

[2021-10-28 16:45] bikeshedder opened #1385 "'StrawberryList' object has no attribute '__name__'"
The following code...

[code]

...causes this error:

[code]

If I change that to just `strings: Value[str]` it generates a `StrValue` type in the GraphQL schema.
`List[str]` results in a `[String!]` and doesn't have a name on its own. (Would probably be `StrList` if it needed a name?)
So I guess the correct behavior would be for `Value[List[str]]` to generate a `StrListValue` type?

[2021-10-30 14:22] navyamehta opened #1396 "Feature Request: Cost-based Validators"
Hey all! Thank you for such an amazing repo! I noticed there exists support for max-depth validation etc., and was wondering if there was any plan to support cost-based validation? Maybe we place a decorator on each resolver that accepts the parameters passed to the resolver and outputs a floating point cost? Javascript has some amazing libraries for query cost computation that could be ported ove

[2021-10-30 14:24] navyamehta opened #1397 "Feature Request: 'Rejecting' Requests in Extensions"
Is it possible to extend the extensions class in strawberry such that we can 'reject' a request in on_request_start? Maybe we wish to perform rate-limiting etc. and not service the request at all. This is connected to https://github.com/strawberry-graphql/strawberry/issues/1396 since we can rate-limit not by requests but by the cost of the query. Potentially, we should be able to throw exceptions

[2021-10-31 08:57] #1378 closed

[2021-10-31 09:08] jkimbo commented on #1326
I think we've successfully resolved this now.

[2021-10-31 09:08] #1326 closed

[2021-10-31 10:07] ehsanonline commented on #1396
related to #960

[2021-10-31 14:36] ajhynes7 commented on #1326
Ok thank you!

[2021-10-31 16:58] #1381 closed

[2021-10-31 21:14] jkimbo commented on #1397
@navyamehta it's possible to do this already actually if you just want to raise an exception if the request hits the rate limit:

[code]

Then you can catch that exception in FastAPI.

I've also created a PR to allow you to reject a request with a GraphQL error instead: #1400

[2021-11-01 22:50] lovetoburnswhen commented on #1011
Still getting this error with `default=UNSET`. `default=None` seems to work but is not preferred since we can't differentiate between an actual `null` argument vs one that wasn't passed

[2021-11-01 23:33] coady commented on #1011
Yeah, it's unintuitive that `name: Optional[str] = strawberry.field(default=UNSET)` is not omissible given that `name: Optional[str] = UNSET` is omissible. The root problem is that `UNSET` is now overloaded as both a user's default and a core lib default. I'm not sure there's a clean - or at least backwards-compatible - fix.

The workaround I've been using is: `name: Optional[str] = strawberry.fie

[2021-11-02 04:02] coady commented on #653
Another issue to consider is whether the current way discourages documentation, or at least lengthy documentation. An advantage of docstrings is the builtin paragraph formatting. I'm curious how users handle line wrap and indentation using `description=`. Even with the `argument` ⬆️ proposal, a long description would end up black-formatted as:
[code]
which seems less readable to me, particularly a

[2021-11-02 07:20] aryaniyaps commented on #653
even FastAPI does this to produce OpenAPI docs, I don't see any harm in having the same feature in strawberry.
Both FastAPI routes and strawberry resolvers are meant to be lightweight transport layers, apart from the business logic anyways.

Here's a FastAPI route with a docstring based description:
[code]

[2021-11-02 19:58] realbrianstern opened #1402 "strawberry.Private gives type errors with Pylance"
Example class:
[code]
In the above example, there is a a Pylance error given on the type argument:
[code]

In addition, when instantiating the class (or a subclass thereof), the following Pylance error is given:
[code]

[2021-11-03 20:49] MeRuslan opened #1403 "Error validating return types when using a Generic in Union"
There seems to be an issue with types.
Generics worked fine and dandy until I've tried to use them in a Union.

[code]
Here returning an ErrorNode in "result" field fails type check.
Fails with strawberry.exceptions.UnallowedReturnTypeForUnion: The type "<class 'strawberry_sample.ErrorNode'>" of the field "result" is not in the list of the types of the union: "['CodesErrorNode', 'Pet']"

Returning

[2021-11-04 20:52] mtszsobczak commented on #1403
Might be helpful: this also fails in the same way when generic type is just a field of parent type in union.

[code]

[2021-11-05 11:02] AlecRosenbaum opened #1405 "No way to resolve type of non-strawberry types returned for an interface"
This comment is correct: https://github.com/strawberry-graphql/strawberry/blob/feb6edee0df8cac3aeb663f67a169035a0271f40/strawberry/schema/schema_converter.py#L235-L244

It's correctly [reflected in the docs](https://strawberry.rocks/docs/types/interfaces#resolving-an-interface), but still does pose a pretty bad limitation for implementations that resolve to non-strawberry types.

The following tes

[2021-11-05 12:45] AlecRosenbaum commented on #1405
I was wrong about the graceful failure on `resolve_type`. `graphene` doesn't provide a `resolve_type` function by default. It seem that `resolve_type` takes precedence over `is_type_of` if it's present, regardless of what it returns.

If I understand correctly, it seems that `graphene` forces the presence of a user-defined `is_type_of` function on implementing types, a `resolve_type` function on t

[2021-11-07 11:09] LucidDan opened #1408 "Channels Integration for Strawberry"
It would be great to have built-in support for Channels. Even though closely related to Django, Channels can stand largely on its own, and certainly has a number of features that can make Subscriptions implementation much simpler, especially in a large project by leveraging the Channel Layers and Groups communication features.

What I would like to see in a complete Channels implementation (spoile

[2021-11-07 12:14] LucidDan commented on #1408
Thoughts on the high-level API for subscriptions:

In a Django application there's every chance you have sync views, and you want to be able to hand off events to the subscription asyncgenerator for delivery to the client.

In Channels, the way to do this is probably to use Layers and groups. Each websocket consumer has its own channel name in Layers. The most logical approach to publishing an eve

[2021-11-07 22:50] oryba commented on #1268
For those who heed an updated or custom Graphiql instead of the one provided by Strawberry by default, you can override GraphQLRouter to return a custom static HTML. Here's the example of how to do that with **FastAPI** router, but I believe it can be easily adopted to other integrations.

**Q: do you think it would be general enough to allow overriding static with router parameter?**
I'd be happy

[2021-11-08 18:19] AlecRosenbaum commented on #1042
We tried to use https://github.com/jkimbo/strawberry-graphene, but found that it only worked up until version `strawberry-graphql==0.68.0`.

We made a few modifications and have it mostly working on `strawberry-graphql==0.85.1`. Most of our schema is still `graphene`-based (and we're still running into issues around enums and interfaces), but our root `Schema` object is strawberry-based. Here it i

[2021-11-08 20:44] jkimbo commented on #1042
@AlecRosenbaum this is awesome thanks for sharing! Do you mind if I update the repo with your changes?

Also what issues are you finding with enums and interfaces? Would be happy to help you debug them.

[2021-11-08 20:45] jkimbo commented on #1408
@LucidDan I like it! Do you think we could use [ContextVariables](https://docs.python.org/3/library/contextvars.html) to access the `receive_subscription` method inside a subscription resolver?

[2021-11-08 21:13] AlecRosenbaum commented on #1042
Credit for that goes to @tsx 🙂 I just stumbled across this issue and posted it.

Sure!

For interfaces we're running into issues around type resolution of non-strawberry types (https://github.com/strawberry-graphql/strawberry/issues/1405). I proposed https://github.com/strawberry-graphql/strawberry/pull/1406 to address it.

For enums we were also having issues updating to the latest graphene versi

[2021-11-08 22:18] LucidDan commented on #1408
Hmm, maybe? To be honest, I've never looked at contextvars much. I've done some research and reading just now, and it intrigues me, particularly in that it guarantees to be local to the eventloop task, but I'm not sure what concrete value we'd get from it in this scenario. I'll keep it in mind as I build this bit out though.

Also, thinking about this, a more logical interface might be more like:

[2021-11-09 13:35] MeRuslan commented on #1403
Okay, the problem is in how internal type checks are performed.
The problem arises from the fact that enums are wrapped in an EnumDefinition when used in a generic typevar.

But the returned value is checked as is, with no preprocessing, and obviously the types do not match.
When using a strawberry type instead of an enum, everything checks out, ie
`python
@strawberry.type
class FaultyType:
    co

[2021-11-09 17:21] mecampbellsoup opened #1409 "Cannot use dict or JSON types in Pydantic models as attributes"
## Description

I'm trying to define a GQL Pydantic model w/ a JSON scalar attribute:

[code]

However I can't get Pydantic to comply:

[code]

## Refs

* [`dict` is not considered a type?](https://discord.com/channels/689806334337482765/902305532084383824/902454615889555466)

[2021-11-09 21:24] yeus opened #1411 "[Feature Request] translate GraphQL Queries & Mutations into Cypher Queries"
it would be great to have automatic access to graph-dbs through strawberry..  similar to this js library:

- https://neo4j.com/developer/graphql/#_the_neo4j_graphql_library
- https://www.npmjs.com/package/@neo4j/graphql

it would translate GraphQL Queries into Cypher Queries.

It might also make sense to derive OGM classes from strawberry.types (for example using the "neomodel" library). or the ot

[2021-11-10 21:56] yeus opened #1413 "experimental pydantic support for nested pydantic models?"
hi, I am trying out the experimental support of pydantic models. When I do this:

[code]

I get the following error:

`TypeError: ProjectType fields cannot be resolved. Field type must be an output type.`

Is this intended behavior for security reasons?  it works if I leave out the `all_fields=True`

and declare the class with strawberry.auto fields...

[code]

would be great do be able to use the

[2021-11-12 09:06] #1397 closed

[2021-11-12 14:17] #1384 closed

[2021-11-13 00:03] peniqliotuv commented on #1413
Encountering this as well. It also seems to happen to Enums

[2021-11-13 22:20] mbdnk opened #1416 "Question: FastApi integration. Set response headers."
Hi!
How can I set response headers if the context object does not contain the response key? I need to set a  httpOnly cookie when a user authenticates in the system. For db injection I used Extension.
[code]

 object info does not contain a response key

[2021-11-13 22:26] patrick91 commented on #1416
@mbdnk I think this is a missing feature, we do this for Django, but it looks like it missing for fastapi: https://github.com/strawberry-graphql/strawberry/blob/main/strawberry/fastapi/router.py#L32-L36

I think we should add this to FastAPI as well 😊

[2021-11-14 10:05] yeus commented on #1413
Duplicate of #1325

[2021-11-14 10:05] #1413 closed

[2021-11-15 11:16] #1385 closed

[2021-11-15 19:30] AlecRosenbaum commented on #1405
Not sure why this closed...

[2021-11-15 19:49] lovetoburnswhen commented on #1409
Here's what I needed to do to get `JSONScalar` working with inline values
[code]

[2021-11-15 19:49] lovetoburnswhen commented on #754
Here's what I needed to do to get `JSONScalar` working with an inline input value
[code]

[2021-11-16 15:07] patrick91 opened #1425 "Introduce custom GraphQL-core ExecutionContext"
I'm opening this issue to introduce a custom `ExecutionContext`. The goal is to remove some of our logic around converting `GraphQLResolveInfo` to our `Info` object and also standardise the `info` object, as current `info` inside extensions is `GraphQLResolveInfo` and not `Info`.

I think we can introduce a custom `ExecutionContext` and override `build_resolve_info` as shown here: https://github.c

[2021-11-16 19:52] navyamehta commented on #565
Was wondering if there would be a fix for this (maybe not importing those extensions in __init__) for the issue?

[2021-11-16 20:38] patrick91 commented on #565
@navyamehta I think we need a custom [`__getattr__` for the module](https://www.python.org/dev/peps/pep-0562/), so we don't break backwards compatibility :D

[2021-11-17 02:32] leandroluk opened #1426 "Able to create a custom "NameConverter" in StrawberryConfig"
Hi, I'm trying to create a new NameConverter like in the code below for maintain first underline and ignore capitalize when exists double underlines:

[code]

The idea is to get the results below:

- _id → _id
- name → name
- _id__like →_id__like
- _created__gte → _created__gte
- _created_at__gte → _createdAt__gte
- _created_at__gte_hadouken → _createdAt__gteHadouken

But when I try to overwrite t

[2021-11-17 09:57] patrick91 commented on #1426
Hi @leandroluk, I think you have an error where you set the name converter instance, this:

[code]

should become this:

[code]

or even this:

[code]

[2021-11-18 21:06] mnshn commented on #1416
@mbdnk Thanks for bringing up this issue, I am currently facing the exact same challenge.
@patrick91 is there a recommended workaround before this is resolved?

[2021-11-19 22:23] mnshn opened #1431 "> @mbdnk I think this is a missing feature, we do this for Django, but it looks like it missing for fastapi: https://github.com/strawberry-graphql/strawberry/blob/main/strawberry/fastapi/router.py#L32-L36"
@mbdnk Thanks for bringing up this issue, I am currently facing the exact same challenge.
@patrick91 is there a recommended workaround before this is resolved?

_Originally posted by @mnshn in https://github.com/strawberry-graphql/strawberry/issues/1416#issuecomment-973271229_

I resolved the issue on my end. For me I did not realize that `schema.execute` sets the context to `None`. Now I'm just s

[2021-11-19 22:23] #1431 closed

[2021-11-20 12:41] la4de opened #1432 "strawberry-graphql package dependency cleanup"
I had a fun week with pyodide. I implemented simple playground demo few days ago and proper version later during the weekend. It really was fun! Strawberry GraphQL Playground is available here https://la4de.github.io/strawberry-playground/.

During that work I noticed that `strawberry-graphql` package has many dependencies which are not actually used by the core. I removed most of them manually fo

[2021-11-20 15:32] patrick91 commented on #1432
all the ones that are removed seems to be optional, with the exception of python-multipart

does pyodide try to install the optional ones too? 🤔

[2021-11-20 19:47] la4de commented on #1432
You are right. Optional packages are not installed by `micropip` from `pyodide`. I went through only the package names and did not read versions or other attributes.

`python-multipart` is actually pure python package. Installation of `python-multipart` still fails because there is only source dist version in pypi. `micropip` can install only pure python 3 wheel packages.

There is a ticket under

[2021-11-20 19:47] #1432 closed

[2021-11-22 16:50] nina-j opened #1434 "Pydantic integration: pydantic.type(model=..., all_fields=True) fails when one or more fields are Literal["str"]"
Minimal example:

[code]
throws

[code]

I'm fairly sure this is because the `__args__` of Literal are just the strings,

[code]

because, to continue the example

[code]
will throw the error above

I will look into a fix - any help from the original author would be appreciated, however :)

## Upvote & Fund

- We're using [Polar.sh](https://polar.sh/strawberry-graphql) so you can upvote and help f

[2021-11-22 17:37] patrick91 commented on #1434
@nina-j for pydantic you might want to take a look at https://github.com/strawberry-graphql/strawberry/blob/0189005ca46487c0ec2847956b15d4cf02ef325f/strawberry/experimental/pydantic/object_type.py#L53-L61

but I'm not 100% sure that's the right place to do it 🤔 I wonder if we should support literal in strawberry directly or not, if we do, do we map literals to `String` or to a custom scalar?

[2021-11-22 18:05] nina-j commented on #1434
@patrick91 I think you're right - since literal is not a pydantic type, we can probably catch it in `get_basic_type` to return the Literal parent type.

I don't think it's correct to map Literals as `String` - `Literal[3]` is perfectly valid and will be a subtype of `int`. It must be possible to test the parent type of `Literals` and use that instead. Maybe. Just thinking out loud.

(Apologies for

[2021-11-23 13:33] illia-v opened #1439 "Parsing errors are not handled gracefully when `ParserCache` is used"
There is this block of code:
https://github.com/strawberry-graphql/strawberry/blob/24c0f288634fb7bd39348b84d42c3dadd1bc47db/strawberry/schema/execute.py#L138-L158

If `parse_document(query)` fails on line 141, the error is handled gracefully.

But if the `ParserCache` extension is used, a parsing error leads to the 500 error, because `parse_document(query)` runs as a part of `extensions_runner.par

[2021-11-23 16:47] cnicodeme opened #1441 "Sanic implementation with Websockets?"
Hi!

I'm starting to set up Strawberry with Sanic, and followed the documentation on https://strawberry.rocks/docs/integrations/sanic, but when I try to use Apollo with Subscriptions, it fails to connec to my endpoint using websockets.

Sanic is a ASGI framework, so it works great with Websockets, but it seems that the current implementation of Sanic on Strawberry is not compatible with websockets

[2021-11-23 19:42] patrick91 commented on #1441
Hi @cnicodeme! We don't support subscription with sanic just yet :) I think it should be easy to add support since we do support it for ASGI already, would you be able to try that? ^^

[2021-11-23 21:24] patrick91 commented on #1426
@leandroluk I'll close this, let me know if you need more help :)

[2021-11-23 21:24] #1426 closed

[2021-11-24 00:33] #845 closed

[2021-11-24 02:52] sowri1 opened #1444 "TypeError: Query fields cannot be resolved. Unexpected type '<class 'dict'>'"
Greetings all,
I have just started to use strawberry and i find it quiet fascinating and easy to use. But i have been facing a small issue.
I have decorators which I need to use to almost all the queries and mutations.
I am defining the queries and mutations as
[code]
But when I try to run the server, I get
```TypeError: Query fields cannot be resolved. Unexpected type '<class 'list'>'.```
I canno

[2021-11-24 12:42] cnicodeme commented on #1441
@patrick91 Unfortunately I lack the knowledge to implement this and the time too :/

[2021-11-24 12:54] ryou90 opened #1446 "from_pydantic error if pydantic models contains contains fields that are resolver field in strawberry type"
Hi :),
i have a pydantic model that i want to convert to strawberry type using from_pydantic() method. The pydantic model contains fields that are resolver field in the strawberry type model.

[code]

[code]

**Actual Behavior**
----------------------------------
__init__() got an unexpected keyword argument user

**Steps to Reproduce the Problem**
----------------------------------
pydantic_post

[2021-11-25 01:12] bikeshedder commented on #1149
I'm generating some of my resolvers dynamically. I don't define the return type or use `Any` in this case. If you implement this feature please don't forget this case as a resolver might return the right type at runtime but is unknown at the time it's created.

[2021-11-25 03:39] bikeshedder opened #1448 "Resolvers imported from another modules break the type of fields"
Strawberry breaks when you try to use a resolver from a different module than where the type is defined in. e.g. the following code does not work:

[code]

It fails with the following error:
[code]

[2021-11-25 15:19] rossm6 commented on #175
I'm looking to move to strawberry from graphene but don't want to before pagination is supported.  How far off is it?  I see basic looks to be done.  What about cursor based?

[2021-11-25 16:46] estyxx commented on #1149
Maybe can you post here a little example? So we can include in the tests :)

[2021-11-25 17:05] #1402 closed

[2021-11-25 17:54] bikeshedder commented on #1149
In my code it looks somewhat like that:
[code]

In #1449 I added a unit test for that. The PR is about resolvers in different modules, but the test also includes the part of a generic resolver (no type annotation).

[2021-11-25 18:41] nina-j opened #1450 "Types from Pydantic models break if fields with resolvers are added."
This works as expected
[code]
[code]
I'm not quite sure *where* things go wrong - or why? I'm guessing maybe Strawberry doesn't expect resolved fields to be instantiated, and this still tries to do so in error. Maybe?

[2021-11-25 23:32] ryou90 commented on #1450
Looks like this error is related to my issue #1446

[2021-11-26 01:10] Casyfill opened #1452 "Bulk Mutations"
Hey! A newbie to graphql here. I have a case where I need to get and set multiple objects at once, and I'd really prefer to do that via one endpoint, each. There is no problem getting bulk objects, but I am a bit lost with bulk upserts.

Here are two attempts I made:
[code]

I tried running API with both approaches (commenting out one or the other), but in each case got ` TypeError: Mutation field

[2021-11-26 07:34] jkimbo commented on #1452
@Casyfill The inputs to your mutations need to be input types. They can't be ordinary object types. You can read more about why here: https://strawberry.rocks/docs/types/input-types

[2021-11-26 10:45] patrick91 commented on #1452
@Casyfill Jon is correct, [here's an example based on your code](https://la4de.github.io/strawberry-playground/#UEsDBAoAAAAAAJFVelMb6i/pvwMAAL8DAAAJAAAAc2NoZW1hLnB5ZnJvbSBkYXRldGltZSBpbXBvcnQgZGF0ZXRpbWUKZnJvbSB0eXBpbmcgaW1wb3J0IE9wdGlvbmFsLCBMaXN0CgpAc3RyYXdiZXJyeS50eXBlCmNsYXNzIFByZW1pdW06CiAgICAjIHByb3BlcnR5X2lkOiBpbnQKICAgIHVwZGF0ZWRfYXQ6IGRhdGV0aW1lCiAgICB0eXBlOiBzdHIKICAgIGFtb3VudDogaW50CiAg

[2021-11-26 11:02] #1446 closed

[2021-11-26 11:02] #1450 closed

[2021-11-26 15:02] Casyfill commented on #1452
Thank you both! Somehow missed the input part.
it all "works" now, but I noticed that the mutation does not allow list of premiums, and itself generates an example that does not work:
[code]
which results in :
`"message": "type object argument after ** must be a mapping, not PremiumInput",`

The attempts below do not work either:
#### try 1
[code]

#### try 2
[code]

Does it mean that `List[Premiu

[2021-11-26 15:40] patrick91 commented on #1452
@Casyfill [this works](https://la4de.github.io/strawberry-playground/#UEsDBAoAAAAAAPR8elMb6i/pvwMAAL8DAAAJAAAAc2NoZW1hLnB5ZnJvbSBkYXRldGltZSBpbXBvcnQgZGF0ZXRpbWUKZnJvbSB0eXBpbmcgaW1wb3J0IE9wdGlvbmFsLCBMaXN0CgpAc3RyYXdiZXJyeS50eXBlCmNsYXNzIFByZW1pdW06CiAgICAjIHByb3BlcnR5X2lkOiBpbnQKICAgIHVwZGF0ZWRfYXQ6IGRhdGV0aW1lCiAgICB0eXBlOiBzdHIKICAgIGFtb3VudDogaW50CiAgICBub3RlOiBPcHRpb25hbFtzdHJdID0gTm9uZQoKQH

[2021-11-26 16:58] Casyfill commented on #1452
strawberry-graphql==0.89.2

[code]

[2021-11-26 17:00] Casyfill commented on #1452
P.S. awesome strawberry playground, but it raises
[code]
for me.  is it something with my chrome, or playground is still in the works?

[2021-11-26 17:04] patrick91 commented on #1452
you need to import strawberry in the playground too :)

[2021-11-26 17:58] Casyfill commented on #1452
thanks! Yeah, issue persist for me. I refactored the code to have better graphql mutation structure, but issue persists
[code]

[2021-11-26 18:10] patrick91 commented on #1452
would you be able to send me a dm on Discord? might be easy to help you  😊 http://strawberry.rocks/discord

[2021-11-26 18:50] Casyfill commented on #1452
Thanks @patrick91 , all works now that I use
[code]
as FastAPI user, I keep failing to remember strawbery objects are not Pydantic objects 😢

[2021-11-26 18:50] #1452 closed

[2021-11-28 00:26] BryceBeagle opened #1456 "Reorganize testing code"
Currently the tests are really disorganized. Many concepts are untested, while many other tests are redundant.

I propose we start with the following structure for tests. We shoiuld end up with something fairly similar to the actual codebase structure in #849

- [ ] types
	- [ ] resolving
	- [ ] enums
	- [ ] scalars
- [ ] fields (#1457)
- [ ] resolvers
- [ ] objects
- [ ] schema
  - [ ] federation

[2021-11-28 20:46] patrick91 opened #1460 "Move non-core dependencies to dedicated groups"
@la4de has made a very useful playground for Strawberry, available (for now) here -> https://la4de.github.io/strawberry-playground/

Unfortunately some of the default dependencies aren't uploaded as wheels (see https://github.com/la4de/strawberry-playground/issues/1).

Maybe it could time to move some of these deps to specific groups, we definitely don't need python-multipart installed by default

[2021-11-30 16:23] MeRuslan commented on #1403
Hello..

[2021-11-30 16:25] BryceBeagle commented on #1403
Hey, this somehow slipped past my attention. I'll take a look at this tonight to see what's up.

[2021-12-01 18:02] patrick91 commented on #1403
@mtszsobczak can you provide a full example (with a query too) I think that should work, but me and @BryceBeagle also made a fix based on @MeRuslan's code :)

[2021-12-02 04:28] sarahhenkens commented on #872
A minor fix to the annotation parser to allow for stricter type annotation for optional and unsettable field args https://github.com/strawberry-graphql/strawberry/pull/1467

[2021-12-02 13:49] BryceBeagle opened #1468 "Add unit tests for Union type look-up during queries"
With the recent bug-fix in #1463, I noticed a lack of tests directly testing `UnionDefinition.get_type_resolver` and the function that it returns. We should add these.

[2021-12-02 13:51] patrick91 commented on #1468
I'm marking this as a potential good first issue, but I'm happy to help if someone wants to take this and they are stuck with something ^^

[2021-12-02 13:51] #1403 closed

[2021-12-02 19:09] BryceBeagle opened #1470 "Switch from Codecov to Coveralls"
Codecov is very flaky, so we should give Coveralls a shot before completely [ditching](https://hynek.me/til/ditch-codecov-python/) such workflows altogether.

## Upvote & Fund

- We're using [Polar.sh](https://polar.sh/strawberry-graphql) so you can upvote and help fund this issue.
- We receive the funding once the issue is completed & confirmed by you.
- Thank you in advance for helping prioritiz

[2021-12-03 06:19] aadityasinha-dotcom commented on #1468
Can I work on this issue?

[2021-12-03 19:14] AlecRosenbaum commented on #388
I've run into trouble with this as well and have been using a pattern like this to work around it for the time being:

[code]

[2021-12-04 14:50] patrick91 commented on #1468
@aadityasinha-dotcom sure! feel free to ping me on discord if you need some help :)

[2021-12-04 14:51] patrick91 opened #1473 "Explore if we can improve the typing for UNSET"
See https://github.com/strawberry-graphql/strawberry/pull/1467 for context

We should check if can allow using `UNSET` directly as a type so we don't have to deal with both `_Unset` and `Unset` :)

## Upvote & Fund

- We're using [Polar.sh](https://polar.sh/strawberry-graphql) so you can upvote and help fund this issue.
- We receive the funding once the issue is completed & confirmed by you.
- Tha

[2021-12-04 16:18] aadityasinha-dotcom commented on #1468
Ok

[2021-12-05 18:14] m-yakovenko commented on #539
Hi there. I am not sure, that is an issue, that's why I hope to find out this here. I have a similar issue about skipping a field, but on the schema level.

I haven't found mentions about this feature in the doc. Here is the thing, I have a Query class with its internal dependencies which are declared as class variables. However, they are not the part of the schema. Here is the snippet:
[code]
Par

[2021-12-06 12:04] patrick91 commented on #539
@m-yakovenko you can use strawberry.Private for that :)

[code]

[2021-12-06 15:18] YogiLiu opened #1475 "Feature Request: Add `python -m` support."
It is very useful when debugging programs with PyCharm or VSCode.

[2021-12-06 15:34] BryceBeagle commented on #1475
What would the expected behavior of this be?

[2021-12-06 23:55] YogiLiu commented on #1475
Sorry for my poor English expression skills, I will submit a PR on this feature later.

[2021-12-07 17:33] patrick91 opened #1483 "Support for non-scalar default values is broken"
thanks to @cache-missing for the report!

This:

[code]

Results in an error when not passing anything to `data`:

[code]

GraphQL supports non scalar types as input (they also show up in the schema), while in python you'd usually use `None/UNSET` as default. We should support this use case, by either adding direct support for default values or by providing a default factory.

Here's an [example o

[2021-12-08 09:56] 12306hujunjie commented on #1444
you can define a "strawberry-compatible" decorator with this [#601 ](https://github.com/strawberry-graphql/strawberry/issues/601#issuecomment-734469660)

[2021-12-08 16:58] patrick91 opened #1486 "Improve type checker support for strawberry.enum"

[2021-12-08 18:02] g-as opened #1488 "Wrong dependency specification for Django"
I don't know if I messed up in #1484, or if poetry is to blame, but Django ended up as a direct dependency in 0.93.1

<img width="595" alt="Capture d’écran 2021-12-08 à 19 02 05" src="https://user-images.githubusercontent.com/2004696/145259961-b5303304-69c0-4f2c-84d9-8d4c50447350.png">

Here's the METADATA
[code]

[2021-12-08 18:04] g-as commented on #1488
Somehow, the `extra` only applies to the first spec.
[code]

[2021-12-08 19:31] #1488 closed

[2021-12-08 19:51] patrick91 commented on #1488
Found the issue: https://github.com/python-poetry/poetry/issues/4872 the workaround you submitted should be fine for now :)

[2021-12-08 20:02] g-as commented on #1488
good job. thanks

[2021-12-09 19:19] estyxx commented on #1298
I thought this one should close itself automatically...

[2021-12-09 20:08] patrick91 commented on #1298
@estyxx we might have used the wrong syntax :D I’ll close :)

[2021-12-09 20:08] #1298 closed, assigned to nobody

[2021-12-11 00:22] #1475 closed

[2021-12-11 16:41] tsmith023 opened #1493 "Custom context_getter function overrides default context behaviour thus removing 'request'"
Hello strawberry devs. I've recently come across this package when desiring to move away from Graphene+Flask to Strawberry+FastAPI.

However, when I define a custom context_getter function like:
[code]
and call it in:
[code]
then the default context values of `'request'` and `'background_tasks'` are overwritten by the custom context. Since I see no other way of passing `request` down to the `info.

[2021-12-11 21:52] patrick91 commented on #1493
@tsmith023 sounds like something we should do, especially since we don't have a way to get the request from the context getter.

Do you agree @Kludex?

[2021-12-11 22:45] Kludex commented on #1493
We'll need to perform some magic here if we want to inject information.

[code]
Then on the `__init__()`:
[code]
Notice that `context_getter` needs to be a callable, so we need to either change the default to `lambda: None`, or internally map `None` -> `lambda: None`, or on the `__get_context_getter` make the change before injecting into the signature.

FastAPI will look at the signature to resolv

[2021-12-12 10:30] tsmith023 commented on #1493
@Kludex and @patrick91, thank you for your rapid response to this issue, especially on a Saturday evening!

@Kludex, your solution works well in my application and I will leave that minimal solution for now while I proceed with the rest of the migration. Can I assume that this change will be integrated into the stack in a further feature update?

[2021-12-12 11:01] Kludex commented on #1493
@patrick91 is the one to ask that.

[2021-12-12 17:45] patrick91 commented on #1493
I don't see why not 😊 would be able to send a PR for this? 😊

[2021-12-13 12:03] tsmith023 commented on #1493
Absolutely, I'd love to! I'll make sure the above solution works on my fork and then open the PR to be reviewed :)

[2021-12-16 04:17] jploskey-apl commented on #1416
We're currently extending GraphQLRouter as a workaround. Not the prettiest solution, but it works.

[code]

[2021-12-16 20:03] deknowny opened #1500 "Unexpected type 'ForwardRef('ProductCategory')'. Postponed annotations bug"
I have a model `Product` and a model `Wholesaler` with cross-referenced themselves in fields definitions. My `Product` model code:

[code]
My `Wholesaler` model (another file)
[code]

And I get a error:
[code]
***
Suppose strawberry can't resolve postponed annotations when the model defined in another module. I also try removing quotes in the typing, but just get the same error with `None` instead

[2021-12-16 20:17] patrick91 commented on #1500
Hi @deknowny! Can you try with LazyType? It allows to pass the module name too: https://github.com/strawberry-graphql/strawberry/blob/main/tests/types/test_lazy_types.py#L20

[2021-12-16 20:26] deknowny commented on #1500
@patrick91 Can you please explain how correctly use in such case? Like this?
[code]
Unfortunately
[code]

[2021-12-16 20:27] deknowny commented on #1500
My `ProductCategory`:
[code]

[2021-12-16 20:29] patrick91 commented on #1500
@deknowny that should work 🤔 can you replicate with a couple of files? maybe the module path is wrong?

[2021-12-16 20:33] deknowny commented on #1500
@patrick91 I guess if it wasn't a correct module path it couldn't be resolved to an enum at all.

Sorry, what do you mean in "replicate with a couple of files"?

***
Now I specially try to pass invalid path and I got `TypeError: Product fields cannot be resolved. 'ProductCategory'` or `TypeError: Product fields cannot be resolved. No module named 'src.view.product.categor'` and it is not such erro

[2021-12-16 20:34] deknowny commented on #1500
By the way, `amount: strawberry.LazyType["Amount", "src.view.amount"]` works correctly. Seem like the bug with enums only

[2021-12-16 20:42] deknowny commented on #1500
@patrick91 I traced it with breakpoint and see this:
In line where lazy type resolved: https://github.com/strawberry-graphql/strawberry/blob/a08b8beddcb7564c4b55fadbcb7a4caba8fbbc70/strawberry/schema/schema_converter.py#L458
This condition is `False`: https://github.com/strawberry-graphql/strawberry/blob/a08b8beddcb7564c4b55fadbcb7a4caba8fbbc70/strawberry/schema/schema_converter.py#L441

[2021-12-16 20:45] patrick91 commented on #1500
@deknowny I just did a test locally and seems to be working fine, but maybe you have something different than me 🤔

what is `type_` in your case? :) PS. we can chat on discord if it is easier :D

[2021-12-16 20:48] deknowny commented on #1500
@patrick91 `LazyType(type_name='ProductCategory', module='src.view.product.category', package=None)` in first call and `<enum 'ProductCategory'>` in the second

Jle4enka#3075

[2021-12-16 23:36] #1500 closed

[2021-12-17 14:33] fkromer commented on #327
@patrick91 ASGI does include support with Starlette/FastAPI, right?

[2021-12-17 14:39] patrick91 commented on #327
@fkromer ASGI can be used for both starlette (https://strawberry.rocks/docs/integrations/starlette) FastAPI

but for FastAPI we have a better integration -> https://strawberry.rocks/docs/integrations/fastapi

[2021-12-17 20:09] bbsbb opened #1504 "Pydantic - Usage of nested models with explicitly defined types/inputs- regression in Strawberry 0.92.0"
Morning,

Thanks for the awesome library! :+1:

As of Strawberry 0.92 defining both, an input and a type for a nested pydantic model produces a confusion error on QUERY side:

e.g.

[code]

This may be a regression in behavior(the error got caught and exposed), rather than implementation.

Would be willing to contribute a PR if you could confirm that this is unexpected behaviour and not something

[2021-12-17 20:36] patrick91 commented on #1504
@bbsbb can you provide a full example with the query you used to get the error? 😊

[2021-12-18 10:37] bbsbb commented on #1504
Reproduction:

https://github.com/bbsbb/strawberry-graphql-1504

Reason: https://github.com/bbsbb/strawberry-graphql-1504/blob/main/strawberry_graphql_1504/schema.py#L7

Order was not significant pre 0.92. Let me know if anything else is needed.

[2021-12-18 15:58] #1493 closed

[2021-12-21 21:39] patrick91 opened #1510 "Add support for `Private` for resolver arguments"
This came up from discord, we should discuss it a bit and understand the potential use cases.

We should probably force a `Private` argument to have a default too.

[2021-12-26 14:04] Ambro17 commented on #920
Hello, what's the status of this proposal?

[2021-12-27 19:37] jkimbo commented on #920
@Ambro17 unfortunately the PR that I created is pretty out of date at this point and needs updating. I still think the proposal is a good idea though. I might be able to find time to update it but if anyone else wants to pick this up that would be very helpful!

[2021-12-27 19:48] Ambro17 commented on #920
I can do it when i have some free time, but i'd like to know if it's still regarded as a proposal subject to approval or a feature that still needs to be added.
In other words, given a working implementation of this, is there a chance is not merged because it's deemed not useful?

[2021-12-27 20:20] jkimbo commented on #920
@strawberry-graphql/core what do you think? Any objections to this feature?

[2021-12-28 12:48] jykae opened #1519 "Pydantic conversion"
## Model
[code]

## Causes
```TypeError: TableType fields cannot be resolved. type object 'float' has no attribute 'type_params'```

Is there something wrong with my model is this bug ?

[2021-12-28 16:22] patrick91 commented on #1519
Hi @jykae!

Union types don't support scalars (you can have a union of String and Float), this is why the code is crashing :)

We should provide a better error for this though :)

You can fix this in two ways:

1. use a custom scalar in the strawberry type that supports both float and str
2. wrap the float and str into types

:)

[2021-12-29 08:43] jykae commented on #1519
Thanks for fast answer @patrick91 !
I improved my model and got through TypeErrors.

Data returned from DB controller as Pydantic type has None values and results error on Query in conversion using from_pydantic
[code]
Any idea about this ?

[2021-12-29 09:25] patrick91 commented on #1519
@jykae this might be a bug! do you have a small reproduction case I can use to check? ☺️

[2021-12-30 12:32] bbsbb commented on #1504
@patrick91  - Morning! Just wondering if you have had a moment to take a look and consider if this would be addressed?

[2021-12-31 18:12] fkromer opened #1532 "Prevent from GraphQL endpoints displayed in FastAPI Swagger UI"
When adding support for GraphQL to FastAPI using the [FastAPI integration](https://strawberry.rocks/docs/integrations/fastapi) one get's missleading output in the Swagger UI (`/docs`):

![image](https://user-images.githubusercontent.com/10199742/147835056-a308e47d-13f2-4762-b7e6-4b4ef666d152.png)

`/docs` should show this instead:

![image](https://user-images.githubusercontent.com/10199742/147835

[2022-01-01 20:40] movabo opened #1533 "Pydantic: Allow inheritance without additional auto class variables"
### Problem
Currently, when trying to inherit from a class which was wrapped by `strawberry.experimental.pydantic.type` or `-.input` without any additional class variables with the `strawberry.auto`-annotation, a `strawberry.experimental.pydantic.exceptions.MissingFieldsListError` arises.

The reason is the check here:
https://github.com/strawberry-graphql/strawberry/blob/main/strawberry/experimen

[2022-01-02 19:21] fkromer opened #1535 "Can child types be queried using the FastAPI + pydantic integration?"
I'm re-implementing the [SWAPI GraphQL API](https://github.com/strawberry-graphql/strawberry-swapi) in a minimal fashion using strawberry, fastapi and the experimental pydantic integration [here](https://github.com/fkromer/fastapi-microservice-patterns/tree/graphql-api/graphql-api). My approach is similar to the one in the [docs about the pydantic integration](https://strawberry.rocks/docs/integra

[2022-01-02 19:40] patrick91 commented on #1535
@fkromer do you have the full stack trace? there should be one in the terminal output :)

[2022-01-02 20:18] fkromer commented on #1535
@patrick91 Here we go...

[code]

[2022-01-02 20:44] patrick91 commented on #1535
@fkromer if you're using interfaces you might need implement `is_type_of`, see: https://github.com/strawberry-graphql/strawberry/pull/1406/files#diff-d7173ce27c6eabcab0b92f00c4769d9fd8ae63d119e70707aeb6174db72b9edeR155

[2022-01-03 00:31] aryaniyaps commented on #175
Cursor based pagination can already be implemented in strawberry, the docs need to be updated (#1345)

[2022-01-03 10:17] fkromer commented on #1535
If I add `is_type_of` to all types in [`types.py`](https://github.com/fkromer/fastapi-microservice-patterns/blob/graphql-api/graphql-api/app/api/types.py#L5-L19) like following

[code]

nothing changes.

[2022-01-03 10:55] patrick91 commented on #1535
@fkromer would you be able to paste the whole code for the schema? Or a minimal reproduction case :)

[2022-01-03 14:32] fkromer commented on #1535
Isn't it easier to reproduce with the overall code? It's available [here](https://github.com/fkromer/fastapi-microservice-patterns/tree/graphql-api/graphql-api).

[2022-01-04 08:59] bbsbb commented on #1535
Hey @fkromer  you are running into the same issue as reported here https://github.com/strawberry-graphql/strawberry/issues/1504 (for which I have also provided an example).

Since 0.92 order of definition(import) is significant. As a workaround, downgrading strawberry to 0.91 restores the ability to use pydantic with strawberry in a somehow reliable way.

[2022-01-04 10:17] fkromer commented on #1535
@bbsbb Thanks a lot for that hint!

[2022-01-04 13:36] Apakottur opened #1539 "Using Python 3.10 union notation with StrawberryUnion"
Consider the following simple example:
[code]

Trying to run this file with Python 3.10 gives the following error on the last line where we use the 3.10 union syntax:
[code]

The error does not occur when using one of the other syntaxes:
[code]

Am I missing something, or is this a bug? Perhaps I should use `"Animal | None"` (with quotes)?

[2022-01-04 16:13] #1539 closed

[2022-01-04 16:43] bbsbb opened #1541 "FastAPI router Dependency Context regression - Mapping required."
Hey there,

We use a typed object as dependency context with FastAPI( https://fastapi.tiangolo.com/tutorial/dependencies/classes-as-dependencies/ )

After the merge of:  #1494, we are affected by a regression - there is an implicit assumption that the context is limited to Mapping ( https://github.com/strawberry-graphql/strawberry/blob/0.93.16/strawberry/fastapi/router.py#L46 ).
This is not actual

[2022-01-04 19:42] zifeo commented on #1364
@leo6104 Can you retry with `@strawberry.field` instead of `@strawberry.field()`?

[2022-01-05 13:46] tsmith023 commented on #1541
Hi Boyan,

If I understand you correctly, you have a custom-defined context dependency in the form of a class rather than a simple dictionary. Then the line that you linked causes your code to break with an error like: ``TypeError: argument must be a mapping, not 'CustomContext'``, as a result. Is this analysis correct?

Since the default context object from previous versions was also a dictionary

[2022-01-05 14:34] bbsbb commented on #1541
Hey Tommy,

This is spot on and your understanding is correct. The default was indeed always dictionary, but it worked seamlessly with objects.

The suggested implementation seems interesting. It would resolve the underlying issue as far as we are concerned!

[2022-01-06 10:25] patrick91 commented on #1541
@tsmith023 that sounds good! would you be able to send a PR for that? 😊

[2022-01-07 03:42] aryaniyaps commented on #1368
With new integrations like aws chalice dropping in is it a good time to revisit this issue? 🤔

[2022-01-07 04:38] aryaniyaps commented on #1532
@fkromer when including routers in FastAPI you can set the include_in_schema parameter to false to exclude it from the openAPI schema.

[2022-01-07 04:44] aryaniyaps commented on #1441
@patrick91 I could make a PR on this!

[2022-01-07 09:56] patrick91 commented on #1441
@aryaniyaps sure! that'd be awesome!

[2022-01-07 10:01] patrick91 commented on #1368
I think we should work with @BryceBeagle proposal (#849) but keep the imports nice 😊

I prefer `import strawberry.django` to `import strawberry.contrib.django` :D

[2022-01-07 10:51] aryaniyaps commented on #1368
That sounds good!

[2022-01-07 10:51] #1368 closed

[2022-01-07 22:31] tsmith023 commented on #1541
@bbsbb, I notice in your initial comment that opened this issue that you describe you custom context dependency as a 'typed object'. Do you mean an instance of a class that has been decorated with @strawberry.type or just a normal class, perhaps even a Pydantic one given your recent PR :)?

[2022-01-08 01:55] aryaniyaps commented on #1383
@patrick91 should this be added to the roadmap? Graphene has this feature and it is simple to implement IMO.

[2022-01-08 08:37] bbsbb commented on #1541
Hey @tsmith023 ,

Good catch. We use a concrete **_instance_** of a class that is a mix of properties passed at instantiation and derived python properties. We use the approach to be able to provide a consistent context between different application entry points (e.g. request, cli etc)

There is no strawberry or pydantic involved. I said typed, simply because we remove some of the brittleness by n

[2022-01-10 07:22] bellini666 commented on #1375
Hey, just a quick heads up. I created the integration in this lib: https://github.com/strawberry-graphql/strawberry-graphql-django

[2022-01-11 16:35] N-Maas opened #1572 "GraphQLTestClient doesn't handle variables correctly if files are present"
If at least one file is used, the `query` method of the test client interprets all variables as if they were a file upload, although the query may contain other variables that are not files.

I think the cause is the implementation of `BaseGraphQLTestClient._build_multipart_file_map` in `strawberry.test.client` which behaves as if each variable is a file.

[2022-01-11 16:37] estyxx commented on #1572
Oh I will have a look at this!

[2022-01-12 13:46] bellini666 commented on #268
Hey guys,

I saw that `relay` support is something planned here and I have created a relay implementation that I would like to know if you would be interested as a contribution.

You might have seen that I posted on discord at django channel about this lib I wrote: https://github.com/blb-ventures/strawberry-django-plus. In it I created a generic relay implementation:

- https://github.com/blb-vent

[2022-01-12 14:25] patrick91 commented on #268
Let's make a new issue with the proposal so we can keep track of it better 😊

[2022-01-12 15:04] bellini666 opened #1573 "Relay implementation proposal"
Hey guys,

I saw that `relay` support is something planned here and I have created a relay implementation that I would like to know if you would be interested as a contribution.

You might have seen that I posted on discord at django channel about this lib I wrote: https://github.com/blb-ventures/strawberry-django-plus. In it I created a generic relay implementation:

- https://github.com/blb-vent

[2022-01-12 15:04] bellini666 commented on #268
It's done: https://github.com/strawberry-graphql/strawberry/issues/1573

[2022-01-13 03:39] zy7y opened #1575 "Variable '$user' of type 'AddUserInput' used in position expecting type 'AddUserInput!"
code
[code]
error:  Variable '$user' of type 'AddUserInput' used in position expecting type 'AddUserInput!
![image](https://user-images.githubusercontent.com/67154681/149260888-25a6fe17-0a21-40ff-889d-8228269a6494.png)

suceess
![image](https://user-images.githubusercontent.com/67154681/149261243-2bb4a1f4-d1df-4ea9-8959-a57f3c9d227a.png)

I don't know what's wrong

[2022-01-13 03:58] BryceBeagle commented on #1575
In your Python code, you annotated the function as being non-nullable (or rather, you _didn't_ use `Optional`), but in your query you made it nullable (by not using `!`).

That's what the error message is complaining about.

[2022-01-13 05:06] zy7y commented on #1575
Thank you. It has been modified and the result I expected is normal
[code]

[2022-01-13 05:06] #1575 closed

[2022-01-13 14:13] bellini666 commented on #1573
Thank you! :)

What do you mean specifically by "explicitly declaring connections"? Don't know if I fully understood the comment.

Oh yeah, I went that road for the "v0.1" lets say. Adding an optional name should not be hard though, maye an optional `input_name: Optional[str]` in the `@input_connection`, which fallback to the `MutationName` + `Input` if not provided?

[2022-01-13 15:33] aryaniyaps commented on #1573
Or what about not transforming the inputs at all? We could leave it as it is so that everything becomes simple to the user. We dont need to create inputs implicitly

[code]

[2022-01-13 16:04] bellini666 commented on #1573
@aryaniyaps ohhh, I see what you mean now. The idea of the `input_mutation` was to provide a shortcut for that, but if that isn't the desire of the user, he can simply use a `strawberry.mutation` instead. All the input mutation does is convert the arguments from the function to an input type, and convert them back to args to send to the resolver on `get_result`, other than that it is the same as `

[2022-01-13 21:27] #1375 closed

[2022-01-15 11:01] patrick91 opened #1578 "Replace `cached_property` with `backports.cached_property`"
A minor one, but I'm getting typing errors due to `cached_property` not being type annotated.

I've tested https://github.com/penguinolog/backports.cached_property and the types are working fine so I'd say we can move to that library instead.

Unless there's any reason not to move 😊

[2022-01-15 11:06] patrick91 opened #1579 "Unify how we allow to set headers and status code"
So at the moment we have a few integrations and they have a slightly different way to setting headers and status code.

The general idea is the same, we provide a `response` object in `info.context`. This object is based on the current integration, this is where the differences between integrations come into play.

I think we should provide a new object (unfortunately we can't replace the current

[2022-01-15 12:31] basvandriel opened #1580 "Type not registering having circular dependency"
I have a simple `User` type, having a bi-directional relation to a `Practice` type;

[code]

The relation works, as tested with SQLAlchemy.

[code]

Same thing goes for the `Practice` just a simple `created_by` relation. When running, or trying too export the schema; I get this error;

[code]

What's wrong?

## Upvote & Fund

- We're using [Polar.sh](https://polar.sh/strawberry-graphql) so you can

[2022-01-15 14:07] RishiKumarRay commented on #1578
I would like to do it, can you tell where i can find the code

[2022-01-15 15:42] patrick91 commented on #1578
We have it in a couple of places: https://github.com/strawberry-graphql/strawberry/search?q=cached_property

You need to remove the old dependency with `poetry remove cached_property`, add the new one and then replace the imports :)

[2022-01-15 15:46] patrick91 commented on #1580
hi @basvandriel!

We probably need a better error message for this, the issue it that in your file you have this:

[code]

this tells **only** type checkers where to find `Practice`, but it won't affect runtime behaviour
so when running strawberry Practice is not defined.

One way to fix this is to use lazy types, which is a way to tell strawberry where a class comes from:

[code]

[2022-01-15 16:50] RishiKumarRay commented on #1578
Assign it to me , i will do this

[2022-01-15 17:06] patrick91 commented on #1578
Done :)

[2022-01-15 17:25] basvandriel commented on #1580
Well, it definitly worked while using that ` LazyType`, thanks @patrick91 !
However, I tried this, found in countless tutorials/articles regarding circular imports

[code]

This results in this error;

[code]

What seems to cause this? And why isn't it possible like this?

[2022-01-15 20:25] estyxx commented on #1253
It wouldn't hurt anybody... will make catching strawberry exceptions more flexible. The clients can choose to catch any StrawberryException or only the specific ones.

[2022-01-15 21:45] patrick91 commented on #1253
I'm not 100% sure I was opposed, but I don't really see how it can be useful, the exceptions we raise aren't really meant to be caught, no?

[2022-01-15 21:47] patrick91 commented on #1580
Have you tried with just `import src.practice`?

To be honest I'm not 100% sure how the python import system works when you import something like that :D

[2022-01-15 22:30] basvandriel commented on #1580
I'll check tommorow! Aren't there any example apps using this lib with bi-directional relationships?

[2022-01-15 22:45] patrick91 commented on #1580
I think so, but I've mostly seen LazyTypes being used in that case, for example we use it here: https://github.com/pythonitalia/pycon/search?q=lazytype

[2022-01-16 10:05] basvandriel commented on #1580
Hey @patrick91 , I tried using only `import src.authentication`, unfortunately, the same error showed up;

`AttributeError: module 'src.practice' has no attribute 'graphql_type'`

The `LazyType` thing works as expected. Is this still fixable with the "only-python", I'm trying to understand why it's possible like that.

[2022-01-16 13:01] jkimbo commented on #1579
Maybe providing some methods on context? `set_status_code`, `add_headers` etc.

Also can we be sure that we can abstract away different server implementations? I know for example that ASGI running background tasks but Django doesn't.

[2022-01-16 15:05] patrick91 commented on #1579
I was thinking of having a new property that had those methods

I'd just go for headers and status code for now, we can keep access to the framework's request object if people need to do something more specific :)

[2022-01-16 16:18] jkimbo commented on #1579
Had a thought: if we construct our own info object then we could attach this object/method to the info object rather than through context? I think that makes more sense because context is defined mostly in user land.

[2022-01-16 21:59] patrick91 commented on #1579
something like:

[code]
?

[2022-01-16 22:51] patrick91 commented on #1579
We should do this for cookies as well (even if they are just headers :))

[2022-01-17 01:52] RishiKumarRay commented on #1578
Please do review , I have updated as you suggested

[2022-01-17 05:02] RishiKumarRay commented on #1578
@BryceBeagle  Hi, Actually while discussing the issue i thought i have to just update the references wherever cached_property is present , first I removed cached-property with poetry remove cached-property then added backports.cached_property with poetry added  backports.cached_property and the renamed everywhere where cached_property was present.

but now i understood how to import , i would like

[2022-01-17 06:09] RishiKumarRay commented on #1578
@patrick91 @BryceBeagle I have done the changes can you review the PR now and let me know

[2022-01-17 08:09] jkimbo commented on #1579
Yes I think that looks good.

[2022-01-17 15:55] atiberghien opened #1583 "`export-schema` not working in Django projects"
When running `strawberry export-schema core.schema:schema` in a django project, we get this error:

[code]

To fix this we should create a management command (so that the django settings are properly configured before exporting the schema).

The management command should have the same API as `export-schema` :)

## Upvote & Fund

- We're using [Polar.sh](https://polar.sh/strawberry-graphql) so you

[2022-01-17 16:37] patrick91 commented on #1583
Hi @atiberghien, thanks for the bug report, I'll edit the issue so that it is clear we need a management command for django 😊

[2022-01-18 11:44] #1578 closed

[2022-01-18 13:40] N-Maas commented on #767
Has there been any progress on this? We have a bunch of custom scalars in our code and currently try to work around this issue by defining a second type for MyPy, but it is rather annoying to handle

[2022-01-19 10:40] arunchandrapant commented on #1580
Thanks @patrick91. LazyType works for me too. Also importing module completely does not work for me. It would be good if 'LazyType' was present in the docs. I couldn't find it and spent quiet some time searching for this.